{% import 'Front/Content/Product/filterFormMacro.html.twig' as productFilterForm %}

<input type="hidden" id="js-product-list-ajax-filter-current-url" value="{{ url(getRoute(), getAllRequestParams()) }}">
<input type="hidden" id="js-product-list-ajax-category-title" value="{{ categoryTitle }}">
<input type="hidden" id="js-disable-indexing" value="{{ disableIndexing }}">

<div class="box-list__wrap">
    <div class="box-list__panel js-product-list-panel">
        <div class="box-filter js-product-filter">
            {% if isSaleCategory %}
                {% set categoryUrl = url('front_sale_product_list', { id: category.id }) %}
            {% elseif isNewsCategory %}
                {% set categoryUrl = url('front_news_product_list', { id: category.id }) %}
            {% else %}
                {% set categoryUrl = url('front_product_list', { id: category.id }) %}
            {% endif %}
            {{ productFilterForm.filterForm(
                filterForm,
                categoryUrl,
                categoryUrl,
                null,
                'product_list',
                productFilterCountData,
                priceRange,
                filterFormSubmitted,
                allowBrandLinks
            ) }}
        </div>
    </div>
    <div class="box-list__content js-product-list-ajax-filter-products-with-controls">
        {% if visibleChildren is not empty %}
            {% include 'Front/Content/Category/categoryList.html.twig' with {'categories': visibleChildren, 'currentCategory': category} %}
        {% endif %}
        {{ render(controller('App\\Controller\\Front\\ProductController:selectOrderingModeForListAction')) }}
        <div class="box-list__products">
            {% include 'Front/Content/Product/productsWithControls.html.twig' with {paginationResult: paginationResult, filterFormSubmitted: filterFormSubmitted} %}
        </div>
    </div>
</div>
