{% macro productBox(product, youtubeVideoIds, accessories, accessoriesHeadline, productVisibleProductCategoryDomains, registrationDiscountExclusionText, promoDiscountExclusionText, allDiscountExclusionText, parentSetViews, showCofidisBanner) %}
    {% import _self as self %}
    {% import 'Front/Inline/Product/productFlagsMacro.html.twig' as productFlags %}
    {% import 'Front/Content/Product/productListMacro.html.twig' as productList %}
    {% import 'Front/Content/Product/productGalleryImagesMacro.html.twig' as productImages %}
    {% import 'Front/Inline/Common/discountExclusionNoticeMacro.html.twig' as discountExclusion %}
    {% import 'Front/Inline/Product/productStickersMacro.html.twig' as stickersMacro %}

    {% set domain = getDomain() %}
    {% set showGalleryMaxCount = 3 %}
    {% set showFlagsMaxCount = 3 %}
    {% set maxVisibleVariants = 3 %}
    {% set typeSet = product.pohodaProductType is same as(5) %}
    {% set typeSupplierSet = product.supplierSet is same as(true) %}
    {% set typeSetOrSupplierSet = typeSet or typeSupplierSet %}
    {% set variantsCount = product.getVariantsCount(domain.id) %}
    {% set stickers = getImages(product, 'sticker') %}
    {% set productUrl = url('front_product_detail', {id: product.id}) %}

    <meta itemprop="url" content="{{ productUrl }}">
    {% if product.ean %}
        <meta itemprop="gtin" content="{{ product.ean }}">
    {% endif %}
    {% if product.catnum %}
        <meta itemprop="sku" content="{{ product.id }}">
    {% endif %}

    <div class="box-detail">
        <div class="web__line">
            <div class="web__container">
                <div class="box-detail__product{% if typeSetOrSupplierSet %} box-detail__product--small-gap{% endif %}{% if product.isMainVariant %} box-detail__product--variant{% endif %}">
                    {# @var \App\Model\Product\Pricing\ProductPrice sellingPrice #}
                    {% set sellingPrice = getProductSellingPrice(product) %}

                    <div class="box-detail__left">
                        {% if not typeSetOrSupplierSet %}
                            <div class="box-detail__image">
                                {% set galleryImages = getImages(product) %}
                                {% set showGallery = galleryImages|length > 1 or youtubeVideoIds %}

                                <div class="box-detail__image__main">
                                    {% if imageExists(product) %}
                                        <a href="{{ imageUrl(product, 'original') }}"
                                        class="{{ showGallery ? 'js-gallery-main-image' : 'js-popup-image' }}">
                                            {{ image(product, { itemprop: 'image' }) }}
                                        </a>
                                    {% else %}
                                        {{ noimage({ alt: product.name }) }}
                                    {% endif %}

                                    {{ stickersMacro.list(product, stickers, 'box-detail__image__main__sticker') }}
                                </div>

                                {{ productFlags.list(getProductFlagsWithFreeTransportAndPaymentFlag(sellingPrice, product, showFlagsMaxCount), 'in-flag--detail', false, sellingPrice, variantsCount) }}

                                {% if showGallery %}
                                    {{ productImages.loadGalleryImages(product, galleryImages, showGalleryMaxCount, youtubeVideoIds, typeSetOrSupplierSet) }}
                                {% endif %}

                                {% if product.isMainVariant %}
                                    <div class="display-none-tablet">
                                        <p class="box-detail__left__description">{{ product.getShortDescription(domain.id)|raw }}</p>
                                        <p class="box-detail__left__subtitle">
                                            <span class="box-detail__left__subtitle__info">{{ 'Popis'|trans }}</span>
                                            {{ product.getSeoH1(domain.id)|default(product.name) }}
                                        </p>
                                        <div class="in-user-text" itemprop="description">
                                            {% if product.getDescription(domain.id) %}
                                                <p>
                                                    {{ product.getDescription(domain.id)|raw }}
                                                </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="box-detail__description">
                                <div class="box-detail__description__wrap">
                                    <h2 class="box-detail__description__title" itemprop="name">
                                        {{ product.getSeoH1(domain.id)|default(product.name) }}
                                    </h2>
                                    <div class="box-detail__description__flags">
                                        {{ productFlags.list(getProductFlagsWithFreeTransportAndPaymentFlag(sellingPrice, product, showFlagsMaxCount), 'in-flag--detail in-flag--in-set', false, sellingPrice, variantsCount) }}
                                    </div>
                                </div>

                                <p class="box-detail__description__code">
                                    {{ product.catnum }}
                                </p>
                                <p class="box-detail__description__subtitle">{{ product.getShortDescription(domain.id) }}</p>

                                <div class="box-gallery">
                                    {% set galleryImages = getProductSetImages(product) %}
                                    {% set showGallery = galleryImages|length > 0 %}
                                    {% if showGallery %}
                                        {{ productImages.loadGalleryImages(product, galleryImages, showGalleryMaxCount, youtubeVideoIds, typeSetOrSupplierSet) }}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="box-detail__info">
                        {% if not typeSetOrSupplierSet %}
                            <h2 class="box-detail__info__title{% if product.isMainVariant %} box-detail__info__title--big-gap{% endif %}" itemprop="name">
                                {{ product.getSeoH1(domain.id)|default(product.name) }}
                            </h2>
                        {% endif %}

                        {% set productGift = product.firstActiveInStockProductGiftByDomainId(domain.id) %}
                        {% if productGift is not empty %}
                            {% set gift = productGift.gift %}
                            {% if gift.shownOnDomain(domain.id) is same as (true)
                                and gift.calculatedSellingDenied is same as (false) and gift.sellingDenied is same as (false) %}
                                <a class="box-detail__gift" href="{{ url('front_product_detail', { id: gift.id }) }}">
                                    <strong>{{ 'DÁREK'|trans }}</strong> {{ gift.name }}
                                </a>
                            {% endif %}
                        {% endif %}

                        <div class="box-detail__add-basket{% if product.isMainVariant %} box-detail__add-basket--variant{% endif %}">
                            <div class="box-detail-add">
                                {% if not product.isMainVariant %}
                                    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="box-detail-add__prices">
                                        {{ discountExclusion.discountExclusionNotice(product, registrationDiscountExclusionText, promoDiscountExclusionText, allDiscountExclusionText) }}
                                        {{ self.productPrice(product) }}
                                        <meta itemprop="priceCurrency" content="{{ currencyCode(domain.id) }}">
                                        <meta itemprop="price" content="{{ sellingPrice.priceWithVat|moneyFormat }}">
                                        <meta itemprop="url" content="{{ productUrl }}">
                                        <link itemprop="availability"
                                            href="{{ product.calculatedSellingDenied ? 'http://schema.org/OutOfStock' : 'http://schema.org/InStock' }}">
                                    </div>
                                {% endif %}

                                {% if product.isMainVariant %}
                                    <ul {% if getProductSellingPrice(product) is not null %}itemprop="offers"
                                        itemscope
                                        itemtype="http://schema.org/AggregateOffer" {% endif %}
                                        class="list-variants"
                                        id="list-variants">
                                        {% for variant in filterOnlyVisibleVariants(product) %}
                                            {{ loop.index0 == maxVisibleVariants ? '<div class="display-none" id="listVariantsHidden">' : '' }}
                                            <li class="list-variants__item">
                                                <div class="list-variants__item__info">
                                                    <div class="list-variants__item__description">
                                                        <div class="list-variants__item__description__image">
                                                            {% if shouldVariantImageBeDisplayed(variant) %}
                                                                <a href="{{ imageUrl(variant, 'original') }}"  data-original-image="{{ imageUrl(variant, 'largeThumbnail') }}" class="js-popup-image js-hover-image">
                                                                    {{ image(variant, { size: 'thumbnail' }) }}
                                                                </a>
                                                            {% else %}
                                                                {{ noimage() }}
                                                            {% endif %}
                                                        </div>
                                                        <div class="list-variants__item__description__name">
                                                            <div class="list-variants__item__description__name__text">
                                                                {% if variant.variantAlias is not null %}
                                                                    {{ variant.variantAlias }}
                                                                {% else %}
                                                                    {{ variant.name }}
                                                                {% endif %}
                                                                <span class="list-variants__item__description__name__code">{{ 'Kód produktu'|trans }}: {{ variant.catnum }}</span>
                                                            </div>
                                                            <div class="list-variants__item__description__name__availability">
                                                                {% include 'Front/Inline/Product/detailAvailability.html.twig' with { product: variant, variants: {} } %}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    {% set productParameterValues = getProductParameterValues(variant) %}
                                                    {% if productParameterValues|length > 0%}
                                                        <div class="list-variants__item__parameters">
                                                            <div class="list-variants__item__parameters__wrap">
                                                                {% for productParameterValue in productParameterValues %}
                                                                    <div class="list-variants__item__parameters__item">
                                                                        <span class="list-variants__item__parameters__item__name">{{ productParameterValue.parameter.name }}</span>
                                                                        <span class="list-variants__item__parameters__item__value">{{ productParameterValue.value.text }}</span>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                {{ discountExclusion.discountExclusionNotice(variant, registrationDiscountExclusionText, promoDiscountExclusionText, allDiscountExclusionText, 'in-discount-message--variant') }}
                                                <div class="list-variants__item__prices" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                                    {% if getProductSellingPrice(product) is not null %}
                                                        <meta itemprop="priceCurrency"
                                                            content="{{ currencyCode(domain.id) }}"
                                                        >
                                                        <meta itemprop="lowPrice"
                                                            content="{{ getProductSellingPrice(product).priceWithVat|moneyFormat }}"
                                                        >
                                                        <link itemprop="availability"
                                                            href="{{ product.calculatedSellingDenied ? 'http://schema.org/OutOfStock' : 'http://schema.org/InStock' }}"
                                                        >
                                                    {% endif %}
                                                    {{ self.productPrice(variant, 'detailVariant') }}
                                                </div>
                                                <div class="list-variants__item__actions">
                                                    {{ render(controller('App\\Controller\\Front\\CartController:addProductFormAction', {product: variant, type: 'detailVariant'})) }}
                                                </div>

                                                <div class="list-variants__item__bottom">
                                                    {{ include('/Front/Content/WatchDog/watchDogLink.html.twig', {product: variant, type: 'variant'}) }}
                                                    
                                                    {% if showCofidisBanner %}
                                                        <div class="box-detail-add__payments box-detail-add__payments--variant">
                                                            <img class="box-detail-add__payments__image" src="{{ asset('public/frontend/images/cofidis-logo.png')}}" alt="{{ 'Cofidis'|trans }}">
                                                            {{ 'Na splátky ještě dnes již od'|trans}} {{ sellingPrice.monthlyCofidisBasePayment|price }} {{ 'měsíčně'|trans }}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </li>
                                            {{ loop.last and loop.length > maxVisibleVariants ? '</div>' : '' }}
                                        {% endfor %}
                                    </ul>

                                    {% if filterOnlyVisibleVariants(product)|length > maxVisibleVariants %}
                                        <div class="box-detail-add__show-more">
                                            <a class="box-detail-add__show-more__button btn btn--big js-responsive-toggle js-scroll-to-position" 
                                                href="#list-variants" 
                                                data-space-above-position="60" 
                                                data-element="listVariantsHidden">
                                                <span class="box-detail-add__show-more__button__more">
                                                    {% set variantsCount = filterOnlyVisibleVariants(product)|length - maxVisibleVariants %}
                                                    {% transchoice variantsCount with {'%count%': variantsCount} %}
                                                    {1} NAČÍST DALŠÍ %count% VARIANTU |[2,4] NAČÍST DALŠÍ %count% VARIANTY |[5,Inf] NAČÍST DALŠÍCH %count% VARIANT
                                                    {% endtranschoice %}
                                                </span>
                                                <span class="box-detail-add__show-more__button__less">
                                                    {{ 'Skrýt varianty'|trans }}
                                                </span>
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endif %}

                                {% if not product.isMainVariant %}
                                    <div class="js-product-detail-main-add-to-cart-wrapper">
                                        {{ render(controller('App\\Controller\\Front\\CartController:addProductFormAction', {product: product, type: 'large' })) }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        {% if not product.isMainVariant %}
                            {{ include('/Front/Content/WatchDog/watchDogLink.html.twig', { product: product, type: '' }) }}
                        {% endif %}

                        <div class="in-stickers">
                            {% if not typeSetOrSupplierSet %}
                                {% if product.recommended and product.warranty > 24 %}
                                    <div class="in-stickers__item">
                                        {% if isSlovakDomain() is same as (true) %}
                                            <img src="{{ asset('public/frontend/images/extended-warranty-sk.png') }}" alt="{{ 'Nálepka Predĺžená záruka'|trans }}" loading="lazy">
                                        {% else %}
                                            <img src="{{ asset('public/frontend/images/extended-warranty.png') }}" alt="{{ 'Nálepka Prodloužená záruka'|trans }}" loading="lazy">
                                        {% endif %}
                                    </div>
                                {% endif %}

                                {% for sticker in stickers %}
                                    {% if not loop.first or product.recommended or product.warranty > 24 %}
                                        <div class="in-stickers__item">
                                            {{ image(sticker) }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% if product.recommended %}
                                    <div class="in-stickers__item">
                                        {% if isSlovakDomain() is same as (true) %}
                                            <img src="{{ asset('public/frontend/images/recommended-sk.png') }}" alt="{{ 'Nálepka Tropic doporučuje'|trans }}" loading="lazy">
                                        {% else %}
                                            <img src="{{ asset('public/frontend/images/recommended.png') }}" alt="{{ 'Nálepka Tropic doporučuje'|trans }}" loading="lazy">
                                        {% endif %}
                                    </div>
                                {% endif %}

                                {% if product.warranty > 24 %}
                                    <div class="in-stickers__item">
                                        {% if isSlovakDomain() is same as (true) %}
                                            <img src="{{ asset('public/frontend/images/extended-warranty-sk.png') }}" alt="{{ 'Nálepka Predĺžená záruka'|trans }}" loading="lazy">
                                        {% else %}
                                            <img src="{{ asset('public/frontend/images/extended-warranty.png') }}" alt="{{ 'Nálepka Prodloužená záruka'|trans }}" loading="lazy">
                                        {% endif %}
                                    </div>
                                {% endif %}

                                {% for sticker in stickers %}
                                    <div class="in-stickers__item">
                                        {{ image(sticker) }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        {% if product.isMainVariant %}
                            <div class="wrap-gradient wrap-gradient--with-gap">
                                <div class="wrap-gradient__in">
                                    <div class="box-detail__tags">
                                        <div class="box-detail__tags__title">{{ 'Produkt se nachází v kategoriích'|trans }}</div>
                                        {% import 'Front/Content/Product/boxTabs.html.twig' as boxTabsMacro %}
                                        {{ boxTabsMacro.productCategoryDomains(productVisibleProductCategoryDomains) }}
                                    </div>
                                </div>
                            </div>
                            <ul class="list-params list-params--big list-params--with-gap">
                                {% if product.brand %}
                                    <li class="list-params__item">
                                        <span class="list-params__item__text">
                                            <span class="list-params__item__text__name">
                                                {{ 'Výrobce'|trans }}
                                            </span>
                                            <span class="list-params__item__text__value">
                                                <a href="{{ url('front_brand_detail', { id: product.brand.id }) }}">
                                                    <span itemprop="brand">{{ product.brand.name }}</span>
                                                </a>
                                            </span>
                                        </span>
                                    </li>
                                {% endif %}
                                <li class="list-params__item">
                                    <span class="list-params__item__text">
                                        <span class="list-params__item__text__name">
                                            {{ 'Záruka'|trans }}
                                        </span>
                                        <span class="list-params__item__text__value">
                                            {% if product.warranty and product.supplierSet is same as (false) %}
                                                {% transchoice product.warranty with {'%count%': product.warranty} %}
                                                    {1} %count% měsíc  | [2,4] %count% měsíce | [5,Inf] %count% měsíců
                                                {% endtranschoice %}
                                            {% else %}
                                                {{ '24 měsíců'|trans }}
                                            {% endif %}
                                        </span>
                                    </span>
                                </li>
                            </ul>

                            {{ boxTabsMacro.files(product) }}
                        {% endif %}
                    </div>
                </div>

                {% if product.isMainVariant %}
                    <div class="box-detail__videos" id="video-variant-desktop">
                        {{ self.productYoutubeVideo(youtubeVideoIds) }}
                    </div>
                {% endif %}
            </div>
        </div>

        {% if typeSetOrSupplierSet %}
            <div class="web__line">
                <div class="web__container">
                    {% import 'Front/Content/Product/productAvailabilityMacro.html.twig' as availability %}

                    <div class="box-set">
                        <h3 class="box-set__title">{{ 'Set obsahuje toto zboží'|trans }}</h3>
                        <div class="box-set__wrap">
                            {% if typeSupplierSet %}
                                {% include 'Front/Content/Product/supplierSetDetailItems.html.twig' with { product: product } %}
                            {% else %}
                                <ul class="list-set list-set--{{ product.productSets|length }} js-list-set-container" data-is-supplier-set="false">
                                    {% for productSet in sortProductSetsByPrice(product.productSets) %}
                                        {% set productSellingPrice = getProductSellingPrice(productSet.item) %}
                                        <li class="list-set__item{% if loop.first %} active{% endif %} js-list-set-item" data-product-set-item-id="{{ productSet.item.id }}">
                                            <div class="list-set__item__in">
                                                <div class="list-set__item__image">
                                                    {{ image(productSet.item, { size: 'listSet' }) }}
                                                    {% if productSet.itemCount > 1 %}
                                                        <div class="list-tags list-tags--secondary list-tags--sets-detail">
                                                            <div class="list-tags__tag">{{ productSet.itemCount ~ 'ks'|trans }}</div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <div class="list-set__item__content">
                                                    <div class="list-set__item__name">
                                                        {{ productSet.item.name }}
                                                    </div>
                                                    <div class="list-set__item__price">
                                                        {% if productSellingPrice is not null %}
                                                            {% if productSellingPrice.priceFrom %}
                                                                {{ 'from %price%'|trans({'%price%': productSellingPrice.priceWithVat|price}) }}
                                                            {% else %}
                                                                {{ productSellingPrice.priceWithVat|price }}
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                    <div class="in-availability in-availability--without-gap">
                                                        {% if productSet.item.isMainVariant %}
                                                            {{ 'Dostupnost dle varianty'|trans }}
                                                        {% else %}
                                                            {{ availability.productAvailability(productSet.item) }}
                                                        {% endif %}
                                                    </div>
                                                    <div class="list-set__item__info">
                                                        {{ 'Níže je popis tohoto produktu'|trans }}
                                                    </div>
                                                    <div class="list-set__item__plus">
                                                        <i class="svg svg-plus-big"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if accessories|length > 0 and not typeSetOrSupplierSet %}
            <div class="web__line js-tabs-button js-tabs-content" data-tab-id="accessories">
                <div class="web__container web__container--no-padding">
                    <div class="box-products-slider">
                        <h2 class="box-products-slider__title box-products-slider__title--secondary">
                            {{ accessoriesHeadline }}
                        </h2>
                        {{ productList.horizontalList(accessories, '', 'h3', 'accessories-products', true, false, true) }}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="web__line {% if product.isMainVariant %}display-block-tablet display-none{% endif %}">
            <div class="web__container js-box-tabs">
                {% if not typeSet %}
                    {% set productId = product.id %}
                {% else %}
                    {% set firstProductSet = sortProductSetsByPrice(product.productSets)|first %}
                    {% set productId = firstProductSet.item.id %}
                {% endif %}
                {{ render(controller('App\\Controller\\Front\\ProductController:boxTabsAction', { productId: productId })) }}
            </div>
        </div>

        {% if parentSetViews is not empty %}
            {% import 'Front/Content/Product/productSetViewMacro.html.twig' as productSetMacro %}

            <div class="web__line">
                <div class="web__container">
                    <div class="box-products-slider box-products-slider--big-gap">
                        <h2 class="box-products-slider__title">
                            {{ 'Nakupte produkt ve výhodném setu'|trans }}
                        </h2>

                        <ul class="list-products js-list js-product-list">
                            {% for parentSetView in parentSetViews %}
                                {{ productSetMacro.productSetView(parentSetView) }}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if accessories|length > 0 and typeSetOrSupplierSet %}
            <div class="web__line js-tabs-button js-tabs-content" data-tab-id="accessories">
                <div class="web__container web__container--no-padding">
                    <div class="box-products-slider">
                        <h2 class="box-products-slider__title box-products-slider__title--secondary">
                            {{ accessoriesHeadline }}
                        </h2>
                        {{ productList.horizontalList(accessories, '', 'h3', 'accessories-products', true, false, true) }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro productPrice(product, type) %}
    {# @var sellingPrice \App\Model\Product\Pricing\ProductPrice #}
    {% set sellingPrice = getProductSellingPrice(product) %}
    {# @var defaultPrice \App\Model\Product\Pricing\ProductPrice #}
    {% set defaultPrice = sellingPrice.defaultProductPrice %}
    {# @var standardPrice \App\Model\Product\Pricing\ProductPrice #}
    {% set standardPrice = sellingPrice.standardPrice %}
    {# @var registeredCustomerPrice \App\Model\Product\Pricing\ProductPrice #}
    {% set registeredCustomerPrice = getProductRegisteredCustomerPrice(product) %}

    {% if type == "detailVariant" %}
        {% if sellingPrice.hasHigherStandardPrice %}
            <div class="list-variants__item__prices__item list-variants__item__prices__item--old">
                {{ standardPrice.priceWithVat|price }}
            </div>
        {% endif %}

        <div class="list-variants__item__prices__item{% if sellingPrice.hasHigherStandardPrice %} list-variants__item__prices__item--main{% endif %}">
            {{ sellingPrice.priceWithVat|price }}
        </div>

        {% if registeredCustomerPrice and sellingPrice.priceWithVat.greaterThan(registeredCustomerPrice.priceWithVat) and not product.isInAnySaleStock() %}
            <div class="list-variants__item__prices__item list-variants__item__prices__item--info">
                {{ 'Nebo <strong>%price%</strong> po přihlášení'|transHtml({'%price%': registeredCustomerPrice.priceWithVat|price}) }}
            </div>
        {% elseif defaultPrice and sellingPrice.priceWithVat.lessThan(defaultPrice.priceWithVat) and not product.isInAnySaleStock() %}
            <div class="list-variants__item__prices__item list-variants__item__prices__item--info">
                {{ 'Cena pro nepřihlášené zákazníky: <strong>%price%</strong>'|transHtml({'%price%': defaultPrice.priceWithVat|price}) }}
            </div>
        {% endif %}
    {% else %}
        {% if sellingPrice.hasHigherStandardPrice %}
            <div class="box-detail-add__prices__item box-detail-add__prices__item--old">
                {{ standardPrice.priceWithVat|price }}
            </div>
        {% endif %}

        <div class="box-detail-add__prices__item box-detail-add__prices__item--main">
            {{ sellingPrice.priceWithVat|price }}
        </div>

        {% if sellingPrice.hasHigherStandardPrice %}
            <div class="box-detail-add__prices__item box-detail-add__prices__item--save">
                {{ 'ušetříte '|trans }} {{ sellingPrice.standardPriceDifference|price }}
            </div>
        {% endif %}

        {% if registeredCustomerPrice and sellingPrice.priceWithVat.greaterThan(registeredCustomerPrice.priceWithVat) and not product.isInAnySaleStock() %}
            <div class="box-detail-add__prices__item box-detail-add__prices__item--info">
                {{ 'Nebo <strong>%price%</strong> po přihlášení'|transHtml({'%price%': registeredCustomerPrice.priceWithVat|price}) }}
            </div>
        {% elseif defaultPrice and sellingPrice.priceWithVat.lessThan(defaultPrice.priceWithVat) and not product.isInAnySaleStock() %}
            <div class="box-detail-add__prices__item box-detail-add__prices__item--info">
                {{ 'Cena pro nepřihlášené zákazníky: <strong>%price%</strong>'|transHtml({'%price%': defaultPrice.priceWithVat|price}) }}
            </div>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro productYoutubeVideo(youtubeVideoIds) %}
    {% if youtubeVideoIds %}
        <div class="in-user-text" itemprop="videos">
            <h3 class="in-user-text__title">
                {{ 'Videa'|trans }}
            </h3>

            <div class="in-user-text__videos">
                {% for youtubeVideoId in youtubeVideoIds %}
                    <div class="in-user-text__videos__item">
                        <iframe
                                width="100%"
                                height="315"
                                src="https://www.youtube.com/embed/{{ youtubeVideoId }}"
                                frameborder="0"
                                allowfullscreen
                        ></iframe>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endmacro %}
