{% macro productBox(product, productMainCategory, visible, youtubeDetails, productSizeArticleId, loyaltyProgramArticle, accessories, accessoriesHeadline, productVisibleProductCategoryDomains, registrationDiscountExclusionText) %}
    {% import _self as self %}
    {% import 'Front/Inline/Product/productFlagsMacro.html.twig' as productFlags %}
    {% import 'Front/Content/Product/boxTabs.html.twig' as boxTabs %}
    {% set domain = getDomain() %}
    {% set showGalleryMaxCount = 3 %}
    {% set showFlagsMaxCount = 3 %}

    <div class="box-detail {% if visible == false %}display-none{% endif %}">
        <div class="box-detail__product">
            <div class="box-detail__image">
                {% set galleryImages = getImages(product) %}
                {% set showGallery = galleryImages|length > 0 or youtubeDetails %}
                {# @var sellingPrice \App\Model\Product\Pricing\ProductPrice #}
                {% set sellingPrice = getProductSellingPrice(product) %}

                <div class="box-detail__image__main">
                    {% if imageExists(product) %}
                        <a href="{{ imageUrl(product, 'original') }}"
                        class="{{ showGallery ? 'js-gallery-main-image' : 'js-popup-image' }}">
                            {{ image(product, { itemprop: 'image' }) }}
                        </a>
                    {% else %}
                        {{ noimage({ alt: product.name }) }}
                    {% endif %}
                </div>
                {{ productFlags.list(getProductFlagsWithFreeTransportAndPaymentFlag(sellingPrice, product, showFlagsMaxCount), 'in-flag--detail') }}

                {% if showGallery %}
                    <div class="box-gallery dont-print js-gallery">
                        <div class="box-gallery__images">
                            {% for galleryImage in galleryImages %}
                                <div class="box-gallery__item {% if loop.index > showGalleryMaxCount %} display-none{% endif %} js-gallery-item">
                                    <a href="{{ imageUrl(galleryImage, 'original') }}"
                                    class="box-gallery__item__link js-gallery-slide-link">
                                        {{ image(galleryImage, {size: 'thumbnail'}) }}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="box-gallery__links">
                            {% if galleryImages|length > showGalleryMaxCount %}
                                <div class="box-gallery__item box-gallery__item--more js-gallery-item-more">
                                    <a href="#" class="box-gallery__item__link">
                                        {{ 'Další'|trans }} ({{ galleryImages|length - showGalleryMaxCount }})
                                    </a>
                                </div>
                            {% endif %}
                            {% if youtubeDetails %}
                                <div class="box-gallery__item box-gallery__item--video">
                                    <a
                                        href="#video"
                                        class="box-gallery__item__link js-anchor-link"
                                    >
                                        <img src="{{ youtubeDetails|first.getThumbnailUrl() }}"
                                            alt="{{ youtubeDetails|first.getVideoTitle() }}"
                                            title="{{ youtubeDetails|first.getVideoTitle() }}">
                                        <div class="box-gallery__item__link__play">
                                            <div class="box-gallery__item__link__play__icon"></div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="box-detail__info">
                <h2 class="box-detail__info__title" itemprop="name">
                    {{ product.getSeoH1(domain.id)|default(product.name) }}
                </h2>

                <div class="box-detail__info__code">
                    {% if not product.isMainVariant %}
                        <span class="padding-right-10">
                            {{ 'Kód produktu'|trans }}: {{ product.catnum }}
                        </span>
                        {% if product.brand %}
                            |
                            <span class="padding-left-10">
                                {{ 'Brand'|trans }}:
                                <a href="{{ url('front_brand_detail', { id: product.brand.id }) }}">
                                    <span itemprop="brand">{{ product.brand.name }}</span>
                                </a>
                            </span>
                        {% endif %}
                    {% elseif product.brand %}
                        {{ 'Brand'|trans }}:
                        <a href="{{ url('front_brand_detail', { id: product.brand.id }) }}">
                            <span itemprop="brand">{{ product.brand.name }}</span>
                        </a>
                    {% endif %}
                </div>

                {% if product.isGiftCertificate %}
                    <div class="in-message--info">{{ 'Tento produkt je dárkovým kupónem, tudíž na něj nelze aplikovat žádné slevy.' }}</div>
                {% endif %}

                <div class="box-detail__wrap">
                    <div class="box-detail__add-basket">
                        <div>
                            {% if not product.isMainVariant and product.calculatedAvailability %}
                                {% include 'Front/Inline/Product/detailAvailability.html.twig' with { product: product } %}
                            {% endif %}
                            {% if product.isRegistrationDiscountDisabled and registrationDiscountExclusionText is not empty %}
                                <div class="in-message--info">
                                    {{ registrationDiscountExclusionText }}
                                </div>
                            {% endif %}
                            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="box-detail-add__prices">
                                {% if not product.isMainVariant %}
                                    {{ self.productPrice(product) }}
                                    <meta itemprop="priceCurrency" content="{{ currencyCode(domain.id) }}">
                                    <meta itemprop="price" content="{{ sellingPrice.priceWithVat|moneyFormat }}">
                                {% endif %}
                                <link itemprop="availability"
                                    href="{{ product.calculatedSellingDenied ? 'http://schema.org/OutOfStock' : 'http://schema.org/InStock' }}">
                            </div>
                            {% if product.isMainVariant and not product.calculatedSellingDenied %}
                                <table {% if getProductSellingPrice(product) is not null %}itemprop="offers"
                                    itemscope
                                    itemtype="http://schema.org/AggregateOffer" {% endif %}
                                    class="table-variants"
                                >
                                    <thead>
                                    <tr class="table-variants__row">
                                        <th class="table-variants__cell table-variants__cell--image"></th>
                                        <th class="table-variants__cell table-variants__cell--name">{{ 'Name'|trans }}</th>
                                        <th class="table-variants__cell table-variants__cell--price">
                                            {{ 'Price including VAT'|trans }}
                                            {% if getProductSellingPrice(product) is not null %}
                                                <meta itemprop="priceCurrency"
                                                    content="{{ currencyCode(domain.id) }}"
                                                >
                                                <meta itemprop="lowPrice"
                                                    content="{{ getProductSellingPrice(product).priceWithVat|moneyFormat }}"
                                                >
                                                <link itemprop="availability"
                                                    href="{{ product.calculatedSellingDenied ? 'http://schema.org/OutOfStock' : 'http://schema.org/InStock' }}"
                                                >
                                            {% endif %}
                                        </th>
                                        <th class="table-variants__cell">{{ 'Dostupnost'|trans }}</th>
                                        <th class="table-variants__cell">{{ 'Kód produktu'|trans }}</th>
                                        <th class="table-variants__cell">{{ 'Parametry'|trans }}</th>
                                        <th class="table-variants__cell table-variants__cell--action"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for variant in filterOnlyVisibleVariants(product) %}
                                        <tr class="table-variants__row">
                                            <td class="table-variants__cell table-variants__cell--image">
                                                <div class="table-variants__cell__image">
                                                    {% if imageExists(variant) %}
                                                        <a href="{{ imageUrl(variant, 'original') }}" class="js-popup-image">
                                                            {{ image(variant, { size: 'thumbnail' }) }}
                                                        </a>
                                                    {% else %}
                                                        {{ noimage() }}
                                                    {% endif %}
                                                </div>
                                            </td>
                                            <td class="table-variants__cell table-variants__cell--name">
                                                {% if variant.variantAlias is not null %}
                                                    {{ variant.variantAlias }}
                                                {% else %}
                                                    {{ variant.name }}
                                                {% endif %}
                                            </td>
                                            <td class="table-variants__cell table-variants__cell--price">
                                                {{ self.productPrice(variant) }}
                                            </td>
                                            <td class="table-variants__cell">
                                                {% include 'Front/Inline/Product/detailAvailability.html.twig' with { product: variant, variants: {} } %}
                                            </td>
                                            <td class="table-variants__cell">
                                                {{ variant.catnum }}
                                            </td>
                                            <td>
                                                {% set productParameterValues = getProductParameterValues(variant) %}
                                                {% for productParameterValue in productParameterValues %}
                                                    {{ productParameterValue.parameter.name }}:
                                                    {{ productParameterValue.value.text }}
                                                {% endfor %}
                                            </td>
                                            <td class="table-variants__cell table-variants__cell--action">
                                                {{ render(controller('App\\Controller\\Front\\CartController:addProductFormAction', {product: variant, type: 'small'})) }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                            {% if not product.isMainVariant %}
                                <div class="box-detail-add js-product-detail-main-add-to-cart-wrapper">
                                    {% if not product.calculatedSellingDenied %}
                                        {{ render(controller('App\\Controller\\Front\\CartController:addProductFormAction', {product: product, type: 'large' })) }}
                                    {% else %}
                                        <div>
                                            {{ 'This product is no longer available for purchase. Have a look at similar products <a href="%url%">here</a>.'|transHtml({"%url%": url('front_product_list', { id: productMainCategory.id })}) }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% for gift in product.gifts(domain.id) %}
                        {% if gift.calculatedHidden is same as (false) and gift.hidden is same as (false)
                            and gift.calculatedSellingDenied is same as (false) and gift.sellingDenied is same as (false) %}
                            <div class="box-detail__gift">
                                <div class="box-detail__gift__image">
                                    {% if imageExists(gift.productForCreatingImageAccordingToVariant) %}
                                        {{ image(gift.productForCreatingImageAccordingToVariant, { size: 'gift' }) }}
                                    {% else %}
                                        {{ noimage({ alt: gift.name }) }}
                                    {% endif %}
                                </div>
                                <div class="box-detail__gift__info">
                                    <a href="{{ url('front_product_detail', { id: gift.id }) }}"
                                       class="box-detail__gift__info__title">
                                        {{ 'Dárek'|trans }}
                                        {{ gift.name }}
                                    </a>
                                    <div class="box-detail__gift__info__text">
                                        {{ 'Vyberte si dárek'|trans }} <span class="box-detail__gift__info__text-colored">{{ 'zdarma'|trans }}</span> {{ 'v hodnotě'|trans }}
                                        <strong> {{ getProductSellingPrice(gift).priceWithVat|price }}</strong>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        {{ boxTabs.productTabs(
            product,
            productMainCategory,
            visible,
            youtubeDetails,
            productSizeArticleId,
            accessories,
            accessoriesHeadline,
            productVisibleProductCategoryDomains
        ) }}
    </div>

{% endmacro %}

{% macro productPrice(product) %}
    {# @var sellingPrice \App\Model\Product\Pricing\ProductPrice #}
    {% set sellingPrice = getProductSellingPrice(product) %}
    {# @var defaultPrice \App\Model\Product\Pricing\ProductPrice #}
    {% set defaultPrice = getDefaultPrice(product) %}
    {# @var registeredCustomerPrice \App\Model\Product\Pricing\ProductPrice #}
    {% set registeredCustomerPrice = getProductRegisteredCustomerPrice(product) %}
    <div class="box-detail-add__prices__item box-detail-add__prices__item--main">
        {{ sellingPrice.priceWithVat|price }}
    </div>
    {% if sellingPrice.isActionPrice %}
        <div class="box-detail-add__prices__item box-detail-add__prices__item--old">
            {{ sellingPrice.defaultProductPrice.priceWithVat|price }}
        </div>
        <div class="box-detail-add__prices__item box-detail-add__prices__item--save">
            {{ 'ušetříte '|trans }} {{ sellingPrice.actionPriceDifference|price }}
        </div>
    {% endif %}
    {% if registeredCustomerPrice and sellingPrice.priceWithVat.greaterThan(registeredCustomerPrice.priceWithVat) %}
        <div class="box-detail-add__prices__item box-detail-add__prices__item--registered">
            {{ 'Nebo <strong>%price%</strong> po přihlášení'|transHtml({'%price%': registeredCustomerPrice.priceWithVat|price}) }}
        </div>
    {% elseif defaultPrice and sellingPrice.priceWithVat.lessThan(defaultPrice.priceWithVat) %}
        <div class="box-detail-add__prices__item box-detail-add__prices__item--not-registered">
            {{ 'Cena pro nepřihlášené zákazníky: <strong>%price%</strong>'|transHtml({'%price%': defaultPrice.priceWithVat|price}) }}
        </div>
    {% endif %}
{% endmacro %}
