{% macro productAvailabilityWithDeliveryDate(product) %}
        {% set domain = getDomain() %}
        {% set deliveryDate = getDeliveryDate(product) %}

        {% set showDeliveryDate = product.usingStock
            and product.realStockQuantity > 0
            and deliveryDate is not null  %}

        {% set showNotAvailable = product.usingStock
            and product.realStockQuantity < 1
            and not product.outOfStockAction is same as(constant('OUT_OF_STOCK_ACTION_SET_ALTERNATE_AVAILABILITY', product)) %}

    {% if product.calculatedSellingDenied %}
        <span class="in-availability__date in-availability__date--out-of-stock">{{ 'Product no longer on sale'|trans }}</span>
    {% elseif showDeliveryDate %}
        {% set expectedDeliveryDate = deliveryDate %}
        {% set friendlyDayInterval = expectedDeliveryDate.diff(date()) %}
        <span class="in-availability__date">
                {{ expectedDeliveryDate|friendlyDay }}
            {% if friendlyDayInterval.days >= 2 %}
                {{ expectedDeliveryDate|formatDateCore('j. n.') }}
            {% endif %}
            {{ 'u&nbsp;tebe'|trans|raw }}
            </span>
    {% elseif showNotAvailable %}
        <span class="in-availability__date in-availability__date--not-available">{{ 'Momentálně nedostupné'|trans }}</span>
    {% else %}
        <span class="in-availability__date" style="color: {{ product.calculatedAvailability.rgbColor }}">{{ product.calculatedAvailability.name }}</span>
    {% endif %}
{% endmacro %}
