{% extends 'Front/Layout/layoutWithoutPanel.html.twig' %}
{% import 'Front/Inline/Product/productFlagsMacro.html.twig' as productFlags %}
{% import 'Front/Content/Product/boxDetail.html.twig' as boxDetail %}

{% set domain = getDomain() %}
{% set accessoriesHeadline = 'K produktu budete potřebovat'|trans %}

{% block meta_description %}
    {{- product.getSeoMetaDescription(domain.id)|default(getSeoMetaDescription()) -}}
{% endblock %}

{% block title %}
    {{ product.getSeoTitle(domain.id)|default(product.name) }}
{% endblock %}

{% block breadcrumbDetail %}
    {{ render(controller('App\\Controller\\Front\\BreadcrumbController:indexAction', { routeName: getRoute(), routeParameters: getRouteParams() } )) }}
{% endblock %}

{% block pageStyles %}
    {% set entryDirectoryPage = 'frontend-style-product-' ~ getDomain().currentDomainConfig.stylesDirectory %}
    {{ encore_entry_link_tags( entryDirectoryPage ) }}
{% endblock %}

{% block main_content %}
    <div itemscope itemtype="http://schema.org/Product">
        {{ boxDetail.productBox(product, youtubeVideoIds, accessories, accessoriesHeadline, productVisibleProductCategoryDomains, registrationDiscountExclusionText, promoDiscountExclusionText, allDiscountExclusionText, parentSetViews, showCofidisBanner) }}
    </div>

    {% if productBlogArticles|length > 0 %}
        <div class="web__line">
            <div class="web__container web__container--border-radius web__container--dark">
                {% include 'Front/Content/Article/index.html.twig' with { blogArticles: productBlogArticles, articleClassModification: 'list-articles--white' } %}
            </div>
        </div>
    {% endif %}

    <div class="web__line">
        <div class="web__container">
            {% include 'Front/Content/ReasonsToBuy/index.html.twig' %}
        </div>
    </div>

    <div class="web__line">
        <div class="web__container">
            {% include 'Front/Content/Heureka/reviews.html.twig' with { reviews: heurekaReviews } %}
        </div>
    </div>

    {% block last_visited_products %}
        {{ render(controller('App\\Controller\\Front\\LastVisitedProductsController:showAction')) }}
    {% endblock %}

{% endblock %}
