{% extends 'Front/Layout/layoutWithoutPanel.html.twig' %}
{% import 'Front/Inline/Paginator/paginator.html.twig' as paginator %}
{% import 'Front/Content/Product/filterFormMacro.html.twig' as productFilterForm %}
{% import 'Front/Content/Blog/Article/blogArticleInCategoryMacro.html.twig' as blogArticleList %}
{% import 'Front/Content/Category/categoryTip.html.twig' as categoryTip %}

{% set domain = getDomain() %}

{% block meta_robots %}
    {{ paginator.metaRobots(paginationResult, disableIndexing, disableIndexingAndFollowing) }}
{% endblock %}
{% block meta_rel_links %}
    {{ paginator.relLinks(paginationResult) }}
{% endblock %}

{% block meta_description %}
    {{- category.getSeoMetaDescription(domain.id)|default(getSeoMetaDescription()) -}}
{% endblock %}

{% block title %}
    {{ categoryTitle }}
    {{ paginator.titleAddon(paginationResult) }}
{% endblock %}

{% block pageStyles %}
    {% set entryDirectoryPage = 'frontend-style-category-' ~ getDomain().currentDomainConfig.stylesDirectory %}
    {{ encore_entry_link_tags( entryDirectoryPage ) }}
{% endblock %}

{% block main_content %}
    <div class="box-list">
        <div class="web__line">
            <div class="web__container">
                <h1 class="box-list__title js-category-title">
                    {{ categoryTitle }}
                    {{ paginator.titleAddon(paginationResult) }}
                </h1>

                {{ render(controller('App\\Controller\\Front\\AdvertController:boxAction', {'advert' : category.getAdvert()})) }}

                {% if visibleChildren is not empty %}
                    {% include 'Front/Content/Category/categoryList.html.twig' with {'categories': visibleChildren, 'currentCategory': category} %}
                {% endif %}
            </div>
        </div>

        <div class="web__line">
            <div class="web__container">
                <div class="box-list__wrap js-product-list-with-filter js-tabs-content" data-tab-id="products">
                    {% if paginationResult.results|length > 0 or filterFormSubmitted %}
                        <div class="box-list__panel js-product-list-panel">
                            <div class="box-filter js-product-filter">
                                {% if isSaleCategory %}
                                    {% set categoryUrl = url('front_sale_product_list', { id: category.id }) %}
                                {% elseif isNewsCategory %}
                                    {% set categoryUrl = url('front_news_product_list', { id: category.id }) %}
                                {% else %}
                                    {% set categoryUrl = url('front_product_list', { id: category.id }) %}
                                {% endif %}
                                {{ productFilterForm.filterForm(
                                    filterForm,
                                    categoryUrl,
                                    categoryUrl,
                                    null,
                                    'product_list',
                                    productFilterCountData,
                                    priceRange,
                                    filterFormSubmitted,
                                    allowBrandLinks
                                ) }}
                                <div class="box-list__filter-opener">
                                    <span class="box-list__filter-opener__button  btn btn--large active js-product-filter-display-result">{{ 'Zobrazit výsledky'|trans }}</span>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="box-list__content js-product-list-ajax-filter-products-with-controls">
                        {{ render(controller('App\\Controller\\Front\\BestsellingProductController:listAction', {'category': category, 'type': constant('App\\Controller\\Front\\BestsellingProductController::TYPE_VERTICAL'), routeName: getRoute()})) }}

                        {{ categoryTip.categoryTip(category, domain.id) }}

                        <div class="box-list__ordering">
                            {{ render(controller('App\\Controller\\Front\\ProductController:selectOrderingModeForListAction', {'news': category.newsType or isNewsCategory})) }}
                            {% if paginationResult.results|length > 0 %}
                                <div class="box-list__ordering__pagination">
                                    {% set entityName = 'products'|trans %}
                                    {% if paging is not defined %}
                                        {% set paging = true %}
                                    {% endif %}
                                    {{ paginator.paginatorNavigation(paginationResult, entityName, 'page', false, paging) }}
                                </div>
                            {% endif %}
                        </div>

                        <div class="box-list__products">
                            {% include 'Front/Content/Product/productsWithControls.html.twig' with {paginationResult: paginationResult, filterFormSubmitted: filterFormSubmitted} %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="web__line">
            <div class="web__container">
                <div class="box-list__bottom">
                    <div class="box-list__bottom__description{% if categoriesBlogArticles is empty %} box-list__bottom__description--full-width{% endif %}">
                        <h3 class="box-list__bottom__title">
                            {{ category.name }}
                        </h3>
                        <div class="box-list__bottom__description__text in-user-text js-category-description ">
                            {{ category.getDescription(domain.id)|raw }}
                        </div>
                    </div>
                    {% if categoriesBlogArticles|length > 0 %}
                        <div class="box-list__bottom__article">
                            <h3 class="box-list__bottom__article__title">
                                {{ 'Mohlo by vás zajímat'|trans }}
                            </h3>
                            {% include 'Front/Content/Article/list.html.twig' with { blogArticles: categoriesBlogArticles, cssClass: 'list-articles--product-list list-articles--white' } %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="web__line">
            <div class="web__container">
                {% include 'Front/Content/ReasonsToBuy/index.html.twig' %}
            </div>
        </div>

        {% if heurekaReviews|length > 0 %}
            <div class="web__line">
                <div class="web__container">
                    {% include 'Front/Content/Heureka/reviews.html.twig' with { reviews: heurekaReviews } %}
                </div>
            </div>
        {% endif %}

        {% block last_visited_products %}
            {{ render(controller('App\\Controller\\Front\\LastVisitedProductsController:showAction')) }}
        {% endblock %}

    </div>
{% endblock %}
