{% extends 'Front/Layout/layoutWithoutPanel.html.twig' %}
{% import 'Front/Content/Product/productListMacro.html.twig' as productList %}
{% import 'Front/Content/Blog/Article/blogArticleInCategoryMacro.html.twig' as blogArticleList %}

{% set domain = getDomain() %}

{% block meta_description %}
    {{- category.getSeoMetaDescription(domain.id)|default(getSeoMetaDescription()) -}}
{% endblock %}

{% block title %}
    {{ category.getSeoTitle(domain.id)|default(category.name) }}
{% endblock %}

{% block main_content %}
    <div class="web__line">
        <div class="web__container">
            <div class="box-prelist">
                <h1 class="box-prelist__title">
                    {{ category.getSeoH1(domain.id)|default(category.name) }}
                </h1>

                {{ render(controller('App\\Controller\\Front\\AdvertController:boxAction', {'advert': category.getAdvert(), 'sizeInfoName': 'category' })) }}

                {% include 'Front/Content/Benefits/list.html.twig' %}

                {% include 'Front/Content/Category/categoryList.html.twig' with {'categories': visibleChildren, 'currentCategory': category, 'type': 'prelist'} %}
            </div>
        </div>
    </div>

    {{ render(controller('App\\Controller\\Front\\TopProductController:listAction')) }}
    {{ render(controller('App\\Controller\\Front\\BestsellingProductController:listAction', {'category': category})) }}

    {# TODO CODER: style blogArticles (Zeny na cestach in inVision) #}
    {% if categoriesBlogArticles|length > 0 %}
        <div class="web__line">
            <div class="web__container web__container--border-radius web__container--dark">
                {% include 'Front/Content/Article/index.html.twig' with { blogArticles: categoriesBlogArticles, articleClassModification: 'list-articles--white' } %}
            </div>
        </div>
    {% endif %}

    <div class="web__line">
        <div class="web__container">
            {% include 'Front/Content/ReasonsToBuy/index.html.twig' %}
        </div>
    </div>

    {% block last_visited_products %}
        {{ render(controller('App\\Controller\\Front\\LastVisitedProductsController:showAction')) }}
    {% endblock %}

{% endblock %}
