{% macro list(productViews, listCssClass, productHeadingTagName) %}

    <ul class="list-products js-list js-product-list {{ listCssClass|default('') }}">
        {% for productView in productViews %}
            <li class="list-products__item
                js-list-products-item">
                <div class="list-products__item__in">
                    {% set productSellingPrice = productView.sellingPrice %}
                    <div class="list-products__item__block">
                        <a href="{{ productView.action.detailUrl }}" class="list-products__item__image-wrap">
                            <div class="list-products__item__image dont-print">
                                {{ image(productView.image, { size: 'list', alt: productView.name, lazy: true }) }}
                                {% set productFlagIds = productView.flagIds %}
                                {% set freeTransportAndPaymentFlagId = getFreeTransportAndPaymentFlagIdIfShouldBeDisplayed(productView) %}
                                {% if freeTransportAndPaymentFlagId is not null %}
                                    {% set productFlagIds = { 0: freeTransportAndPaymentFlagId } %}
                                {% endif %}
                                {{ renderFlagsByIds(productFlagIds, 'in-flag--in-list') }}
                            </div>
                        </a>
                        <div class="list-products__item__info">
                            <a href="{{ productView.action.detailUrl }}">
                                <{{ productHeadingTagName|default('h2') }} class="list-products__item__info__title">
                                    {{ productView.name|striptags|raw }}
                                <{{ '/' ~ productHeadingTagName|default('h2') }}>

                                {% if productSellingPrice is not null %}
                                    <div class="list-products__item__info__price">
                                        <div class="list-products__item__info__price__item__main">
                                            {% if productSellingPrice.priceFrom %}
                                                {{ 'from %price%'|trans({'%price%': productSellingPrice.priceWithVat|price}) }}
                                            {% else %}
                                                {{ productSellingPrice.priceWithVat|price }}
                                            {% endif %}
                                            {% if (productSellingPrice.isActionPrice and not productSellingPrice.priceFrom) %}
                                                <div class="list-products__item__info__price__item__old">
                                                    {{ productSellingPrice.defaultProductPrice.priceWithVat|price }}
                                                </div>
                                                <div class="list-products__item__info__price__item__discount">
                                                    -{{ productSellingPrice.pricePercentageDifference|formatPercent }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}

                                <div class="list-products__item__info__availability">
                                    <div class="list-products__item__info__availability__spacer"></div>
                                    {% if productView.action.sellingDenied %}
                                        <div class="list-products__item__info__availability__text" style="color: #6d6868;">
                                            {{ 'Product no longer on sale'|trans }}
                                        </div>
                                    {% else %}
                                        <div class="list-products__item__info__availability__text" style="color: {{ getAvailabilityColor(productView.availability) }};">
                                            {{ productView.availability }}
                                        </div>
                                    {% endif %}
                                </div>

                                {% if productView.getRandomGiftName() is not null %}
                                    <div class="list-products__item__info__gift">
                                        <span class="list-products__item__info__gift__icon">
                                            <i class="svg svg-gift"></i>
                                        </span>
                                        <span class="list-products__item__info__gift__text-colored">{{ 'Dárek'|trans }}:</span>
                                        {{ productView.getRandomGiftName() }}
                                    </div>
                                {% endif %}
                            </a>

                            <div class="list-products__item__hover">
                                <div class="list-products__item__hover__wrap">
                                    {{ render(controller('App\\Controller\\Front\\CartController:productActionAction', { productActionView: productView.action, type: 'small' } )) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro horizontalList(productViews, listCssClass = 'list-products', productHeadingTagName, type, showButton = false) %}
    {% import 'Front/Inline/Product/productFlagsMacro.html.twig' as productFlags %}
    <div class="{{ listCssClass }} js-horizontal-list" data-type="{{ type }}" data-count-of-product="{{ productViews|length }}">

        <span class="{{ listCssClass }}__arrow {{ listCssClass }}__arrow--prev js-horizontal-list-action-prev">
            <i class="svg svg-slider-arrow"></i>
        </span>

        <div class="{{ listCssClass }}__in">
            <div class="{{ listCssClass }}__list js-horizontal-list-slides">
                {% for productView in productViews %}
                    <div class="{{ listCssClass }}__item">
                        <div class="{{ listCssClass }}__item__in">
                            <a href="{{ productView.action.detailUrl }}" class="{{ listCssClass }}__item__block">
                                <div class="{{ listCssClass }}__item__image dont-print">
                                    {{ image(productView.image, { size: 'list', alt: productView.name, lazy: true }) }}
                                    {% set productFlagIds = productView.flagIds %}
                                    {% set freeTransportAndPaymentFlagId = getFreeTransportAndPaymentFlagIdIfShouldBeDisplayed(productView) %}
                                    {% if freeTransportAndPaymentFlagId is not null %}
                                        {% set productFlagIds = { 0: freeTransportAndPaymentFlagId } %}
                                    {% endif %}
                                    {{ renderFlagsByIds(productFlagIds, 'in-flag--in-list', true) }}
                                </div>

                                <{{ productHeadingTagName|default('h2') }} class="{{ listCssClass }}__item__title">
                                    {{ productView.name|striptags|raw }}
                                <{{ '/' ~ productHeadingTagName|default('h2') }}>

                                <div class="{{ listCssClass }}__item__info">
                                    {% set productSellingPrice = productView.sellingPrice %}

                                    {% if productSellingPrice is not null %}
                                        <div class="{{ listCssClass }}__item__info__price">
                                            <div class="{{ listCssClass }}__item__info__price__item__main">
                                                {% if productSellingPrice.priceFrom %}
                                                    {{ 'from %price%'|trans({'%price%': productSellingPrice.priceWithVat|price}) }}
                                                {% else %}
                                                    {{ productSellingPrice.priceWithVat|price }}
                                                {% endif %}
                                                {% if productSellingPrice.isActionPrice and not productSellingPrice.priceFrom %}
                                                    <div class="{{ listCssClass }}__item__info__price__item__old">
                                                        {{ productSellingPrice.defaultProductPrice.priceWithVat|price }}
                                                    </div>
                                                    <div class="{{ listCssClass }}__item__info__price__item__discount">
                                                        -{{ productSellingPrice.pricePercentageDifference|formatPercent }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}

                                    <div class="{{ listCssClass }}__item__info__availability">
                                        <div class="{{ listCssClass }}__item__info__availability__spacer"></div>
                                        {% if productView.action.sellingDenied %}
                                            <div class="list-products__item__info__availability__text" style="color: #6d6868;">
                                                {{ 'Product no longer on sale'|trans }}
                                            </div>
                                        {% else %}
                                            <div class="{{ listCssClass }}__item__info__availability__text" style="color: #7bbd70;">
                                                {{ productView.availability }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                            {% if showButton %}
                                <div class="{{ listCssClass }}__item__add-button">
                                    {# TODO KOD US-7670 #}
                                    {{ render(controller('App\\Controller\\Front\\CartController:productActionAction', {productActionView: productView.action, showAmountInput: false})) }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <span class="{{ listCssClass }}__arrow {{ listCssClass }}__arrow--next js-horizontal-list-action-next">
            <i class="svg svg-slider-arrow"></i>
        </span>
    </div>

{% endmacro %}

{% macro verticalList(products, listCssClass, productHeadingTagName) %}
    {% import 'Front/Inline/Product/productFlagsMacro.html.twig' as productFlags %}
    {% import 'Front/Content/Product/deliveryDateMacro.html.twig' as deliveryDate %}
    <div class="{{ listCssClass }}" data-count-of-product="{{ products|length }}">
        {% for product in products %}
            <div class="{{ listCssClass }}__item">
                <div class="{{ listCssClass }}__item__in">
                    {% set productSellingPrice = getProductSellingPrice(product) %}
                    <a href="{{ url('front_product_detail', {'id': product.id}) }}">
                        <div class="{{ listCssClass }}__item__image dont-print">
                            {{ image(product.productForCreatingImageAccordingToVariant, { size: 'list', alt: product.name, lazy: true }) }}
                        </div>
                    </a>

                    <div class="{{ listCssClass }}__item__info">
                        <{{ productHeadingTagName|default('h2') }} class="{{ listCssClass }}__item__info__title" href="{{ url('front_product_detail', {'id': product.id}) }}">
                            {{ product.name|striptags|raw }}
                        </{{ productHeadingTagName|default('h2') }}>

                        {% set productSellingPrice = getProductSellingPrice(product) %}

                        {% if productSellingPrice is not null %}
                            <div class="{{ listCssClass }}__item__info__price">
                                <div class="{{ listCssClass }}__item__info__price__item__main">
                                    {% if productSellingPrice.priceFrom %}
                                        {{ 'from %price%'|trans({'%price%': productSellingPrice.priceWithVat|price}) }}
                                    {% else %}
                                        {{ productSellingPrice.priceWithVat|price }}
                                    {% endif %}
                                    {% if productSellingPrice.isActionPrice and not productSellingPrice.priceFrom %}
                                        <div class="{{ listCssClass }}__item__info__price__item__old">
                                            {{ productSellingPrice.defaultProductPrice.priceWithVat|price }}
                                        </div>
                                        <div class="{{ listCssClass }}__item__info__price__item__discount">
                                            -{{ productSellingPrice.pricePercentageDifference|formatPercent }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}

                        <div class="{{ listCssClass }}__item__info__availability">
                            {{ deliveryDate.productAvailabilityWithDeliveryDate(product) }}
                        </div>
                    </div>
                    <div class="{{ listCssClass }}__item__add-button">
                        {# TODO KOD US-7670 #}
                        {{ render(controller('App\\Controller\\Front\\CartController:addProductForm', {product: product, showAmountInput: false})) }}
                    </div>
            </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}
