{% macro productAvailability(product) %}
    {% import 'Front/Content/Product/saleStockQuantityMacro.html.twig' as saleStockQuantity %}
    {% if product.isMainVariant %}
        <span class="in-availability__date">
            {{ 'Dostupnost dle varianty'|trans }}
        </span>
    {% elseif product.inAnySaleStock and not product.sellingDenied %}
        <span class="in-availability__date">
            {{ saleStockQuantity.showInfo(product.realSaleStocksQuantity, product.unit.name) }}
        </span>
    {% elseif product.isAvailableInDays %}
        <span class="in-availability__date in-availability__date--available-in-days">
            {% if product.deliveryDays == 1 %}
                {{ 'Dostupné do %days% dne'|trans({ '%days%': product.deliveryDays }) }}
            {% else %}
                {{ 'Dostupné do %days% dní'|trans({ '%days%': product.deliveryDays }) }}
            {% endif %}
        </span>
    {% else %}
        <span class="in-availability__date" style="color: {{ getAvailabilityColor(product.calculatedAvailability.name) }};">
            {{ product.calculatedAvailability.name }}
        </span>
    {% endif %}
{% endmacro %}