{% macro list(productViews, listCssClass, productHeadingTagName) %}
    {% import 'Front/Content/Product/productSetViewMacro.html.twig' as productSetMacro %}
    {% import 'Front/Inline/Product/productStickersMacro.html.twig' as productStickersMacro %}

    {% if productViews|length > 0 %}
        <ul class="list-products js-list js-product-list {{ listCssClass|default('') }}">
            {% for productView in productViews %}
                {% set productSellingPrice = productView.sellingPrice %}

                {% if productView.setItems is not empty %}
                    {{ productSetMacro.productSetView(productView) }}
                {% else %}
                    <li class="list-products__item js-list-products-item js-maximum-amount-container">
                        <div class="list-products__item__in">
                            <div class="list-products__item__block">
                                <a href="{{ productView.action.detailUrl }}" class="list-products__item__image-wrap">
                                    <div class="list-products__item__image dont-print">
                                        {{ image(productView.image, { size: 'list', alt: productView.name, lazy: true }) }}
                                        {{ productStickersMacro.list(productView) }}
                                    </div>

                                    {% set productFlagIds = productView.flagIds %}
                                    {% set freeTransportAndPaymentFlagId = getFreeTransportAndPaymentFlagIdIfShouldBeDisplayed(productView) %}
                                    {% if freeTransportAndPaymentFlagId is not null %}
                                        {% set productFlagIds = { 0: freeTransportAndPaymentFlagId } %}
                                    {% endif %}
                                    {{ renderFlagsByIds(productFlagIds, 'in-flag--product-list', false, productSellingPrice, productView.variantsCount) }}
                                </a>

                                <div class="list-products__item__info">
                                    <a class="list-products__item__info__link" href="{{ productView.action.detailUrl }}">
                                        <{{ productHeadingTagName|default('h2') }} class="list-products__item__info__title">
                                            {{ productView.name|striptags|raw }}
                                        <{{ '/' ~ productHeadingTagName|default('h2') }}>

                                        {% if productSellingPrice is not null %}
                                            <div class="list-products__item__info__price">
                                                {% if productSellingPrice.hasHigherStandardPrice %}
                                                    <div class="list-products__item__info__price__old">
                                                        {{ productSellingPrice.standardPrice.priceWithVat|price }}
                                                    </div>
                                                {% endif %}
                                                <div{% if productSellingPrice.hasHigherStandardPrice %} class="list-products__item__info__price__main"{% endif %}>
                                                    {% if productSellingPrice.priceFrom %}
                                                        {{ 'from %price%'|trans({'%price%': productSellingPrice.priceWithVat|price}) }}
                                                    {% else %}
                                                        {{ productSellingPrice.priceWithVat|price }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}

                                        <div class="in-availability">
                                            <div class="in-availability__text" style="color: {{ getAvailabilityColor(productView.availability) }};">
                                                {% include 'Front/Content/Product/productViewAvailability.html.twig' %}
                                            </div>
                                        </div>

                                        {% if productView.getGiftsCount() > 0 %}
                                            <div class="list-products__item__info__gift">
                                                {% set giftCount = productView.getGiftsCount() %}
                                                {% if giftCount is same as (1) %}
                                                    <span class="list-products__item__info__gift__title">{{ 'Dárek'|trans }}</span>
                                                    {{ productView.getFirstGiftLabel() }}
                                                {% else %}
                                                    <span class="list-products__item__info__gift__count">
                                                        {% transchoice giftCount with {'%count%': giftCount} %}
                                                            [2,4] %count% dárky zdarma |[5,Inf] %count% dárků zdarma
                                                        {% endtranschoice %}
                                                    </span>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </a>

                                    {% set outOfStock = productView.stockQuantity <= 0 or productView.action.sellingDenied %}
                                    {% if outOfStock is same as (false) %}
                                        <div class="in-message in-message--warning js-maximum-amount-warning display-none">
                                            {{ 'Větší množství není možné nakoupit'|trans }}
                                        </div>
                                    {% endif %}

                                    <div class="list-products__item__hover">

                                        {{ render(controller('App\\Controller\\Front\\CartController:productActionAction', { listedProductView: productView } )) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro horizontalList(productViews, listCssClass, productHeadingTagName, type, showButton = false, onlyRefresh = false, showAmountInput = false) %}
    {% import 'Front/Inline/Product/productStickersMacro.html.twig' as productStickersMacro %}

    <div class="list-products-slider {% if showButton %}list-products-slider--with-button{% endif %} {{ listCssClass|default('') }} js-horizontal-list" data-type="{{ type }}" data-count-of-product="{{ productViews|length }}">

        <span class="list-products-slider__arrow list-products-slider__arrow--prev js-horizontal-list-action-prev">
            <i class="svg svg-slider-arrow"></i>
        </span>

        <div class="list-products-slider__in">
            <div class="list-products-slider__list js-horizontal-list-slides">
                {% for productView in productViews %}
                    {% set productSellingPrice = productView.sellingPrice %}

                    <div class="list-products-slider__item js-maximum-amount-container">
                        <div class="list-products-slider__item__in">
                            <div class="list-products-slider__item__block">
                                <a class="list-products-slider__item__image-wrap" href="{{ productView.action.detailUrl }}">
                                    <div class="list-products-slider__item__image dont-print">
                                        {{ image(productView.image, { size: 'listSlider', alt: productView.name, lazy: true }) }}
                                        {{ productStickersMacro.list(productView) }}
                                    </div>

                                    {% set productFlagIds = productView.flagIds %}
                                    {% set freeTransportAndPaymentFlagId = getFreeTransportAndPaymentFlagIdIfShouldBeDisplayed(productView) %}
                                    {% if freeTransportAndPaymentFlagId is not null %}
                                        {% set productFlagIds = { 0: freeTransportAndPaymentFlagId } %}
                                    {% endif %}
                                    {{ renderFlagsByIds(productFlagIds, 'in-flag--slider', true, productSellingPrice, productView.variantsCount) }}
                                </a>

                                <div class="list-products-slider__item__info">
                                    <a class="list-products-slider__item__info__link" href="{{ productView.action.detailUrl }}">
                                        <{{ productHeadingTagName|default('h2') }} class="list-products-slider__item__info__title">
                                            {{ productView.name|striptags|raw }}
                                        <{{ '/' ~ productHeadingTagName|default('h2') }}>

                                        {% if productSellingPrice is not null %}
                                            <div class="list-products-slider__item__info__price">
                                                {% if productSellingPrice.hasHigherStandardPrice %}
                                                    <div class="list-products-slider__item__info__price__old">
                                                        {{ productSellingPrice.standardPrice.priceWithVat|price }}
                                                    </div>
                                                {% endif %}

                                                <div class="{% if productSellingPrice.hasHigherStandardPrice %}list-products-slider__item__info__price__main{% endif %}">
                                                    {% if productSellingPrice.priceFrom %}
                                                        {{ 'from %price%'|trans({'%price%': productSellingPrice.priceWithVat|price}) }}
                                                    {% else %}
                                                        {{ productSellingPrice.priceWithVat|price }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}

                                        <div class="in-availability">
                                            <div class="in-availability__text" style="color: {{ getAvailabilityColor(productView.availability) }};">
                                                {% include 'Front/Content/Product/productViewAvailability.html.twig' %}
                                            </div>
                                        </div>
                                    </a>
                                    {% if showButton %}
                                        {% set outOfStock = productView.stockQuantity <= 0 or productView.action.sellingDenied %}
                                        {% if outOfStock is same as (false) %}
                                            <div class="in-message in-message--warning js-maximum-amount-warning display-none">
                                                {{ 'Větší množství není možné nakoupit'|trans }}
                                            </div>
                                        {% endif %}
                                        <div class="list-products-slider__item__hover">
                                            {{ render(controller('App\\Controller\\Front\\CartController:productActionAction', {listedProductView: productView, showAmountInput: showAmountInput, onlyRefresh: onlyRefresh, type: 'slider'})) }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <span class="list-products-slider__arrow list-products-slider__arrow--next js-horizontal-list-action-next">
            <i class="svg svg-slider-arrow"></i>
        </span>
    </div>

{% endmacro %}

{% macro lastVisitedList(productViews, productHeadingTagName, type, onlyRefresh = false) %}
    <div class="list-last-visited js-horizontal-list" data-type="{{ type }}" data-count-of-product="{{ productViews|length }}">

        <span class="list-last-visited__arrow list-last-visited__arrow--prev js-horizontal-list-action-prev">
            <i class="svg svg-triangle"></i>
        </span>

        <div class="list-last-visited__in">
            <div class="list-last-visited__list js-horizontal-list-slides">
                {% for productView in productViews %}
                    <div class="list-last-visited__item">
                        <a href="{{ productView.action.detailUrl }}" class="list-last-visited__item__block">
                            <div class="list-last-visited__item__image dont-print">
                                {{ image(productView.image, { size: 'list', alt: productView.name, lazy: true }) }}
                            </div>

                            <div class="list-last-visited__item__info">
                                <{{ productHeadingTagName|default('h2') }} class="list-last-visited__item__info__title">
                                    {{ productView.name|striptags|raw }}
                                <{{ '/' ~ productHeadingTagName|default('h2') }}>

                                {% set productSellingPrice = productView.sellingPrice %}
                                {% if productSellingPrice is not null %}
                                    <div class="list-last-visited__item__info__price">
                                        {% if productSellingPrice.hasHigherStandardPrice %}
                                            <div class="list-last-visited__item__info__price__old">
                                                {{ productSellingPrice.standardPrice.priceWithVat|price }}
                                            </div>
                                        {% endif %}
                                        <div class="list-last-visited__item__info__price__main">
                                            {{ productSellingPrice.priceWithVat|price }}
                                        </div>
                                    </div>
                                {% endif %}

                                <div class="list-last-visited__item__info__availability">
                                    <div class="list-last-visited__item__info__availability__text" style="color: {{ getAvailabilityColor(productView.availability) }};">
                                        {% include 'Front/Content/Product/productViewAvailability.html.twig' %}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <span class="list-last-visited__arrow list-last-visited__arrow--next js-horizontal-list-action-next">
            <i class="svg svg-triangle"></i>
        </span>
    </div>
{% endmacro %}

{% macro verticalList(productViews, listCssClass, productHeadingTagName) %}
    {% import 'Front/Content/Product/productAvailabilityMacro.html.twig' as availability %}
    <div class="{{ listCssClass }}" data-count-of-product="{{ productViews|length }}">
        {% for productView in productViews %}
            <div class="{{ listCssClass }}__item">
                <a class="{{ listCssClass }}__item__image dont-print" href="{{ productView.action.detailUrl }}">
                    {{ image(productView.image, { size: 'mediumThumbnail', alt: productView.name, lazy: true }) }}
                </a>

                <div class="{{ listCssClass }}__item__info">
                    <div class="{{ listCssClass }}__item__info__content">
                        <div class="{{ listCssClass }}__item__info__content__left">
                            <{{ productHeadingTagName|default('h2') }} class="{{ listCssClass }}__item__info__title" href="{{ productView.action.detailUrl }}">
                                {{ productView.name|striptags|raw }}
                            <{{ '/' ~ productHeadingTagName|default('h2') }}>
                        </div>

                        <div class="{{ listCssClass }}__item__info__content__right">
                            {% set productSellingPrice = productView.sellingPrice %}

                        {% if productSellingPrice is not null %}
                            <div class="{{ listCssClass }}__item__info__price">
                                <div class="{{ listCssClass }}__item__info__price__main">
                                    {% if productSellingPrice.priceFrom %}
                                        {{ 'from %price%'|trans({'%price%': productSellingPrice.priceWithVat|price}) }}
                                    {% else %}
                                        {{ productSellingPrice.priceWithVat|price }}
                                    {% endif %}

                                    {% if productSellingPrice.hasHigherStandardPrice %}
                                        <div class="{{ listCssClass }}__item__info__price__old">
                                            {{ productSellingPrice.standardPrice.priceWithVat|price }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}

                            {% include 'Front/Content/Product/productViewAvailability.html.twig' %}
                        </div>
                    </div>
                    <div class="{{ listCssClass }}__item__add-button">
                        {{ render(controller('App\\Controller\\Front\\CartController:productActionAction', {
                            listedProductView: productView,
                            type: 'detailArticle',
                            showAmountInput: false
                        } )) }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro productsBomb(productViews, productHeadingTagName) %}
    {% import 'Front/Inline/Product/productStickersMacro.html.twig' as productStickersMacro %}

    <ul class="list-products-bomb">
        {% for productView in productViews %}
            {% set productSellingPrice = productView.sellingPrice %}
            <li class="list-products-bomb__item">
                <a class="list-products-bomb__item__block" href="{{ productView.action.detailUrl }}">
                    <div class="list-products-bomb__item__flags">
                        {% set productFlagIds = productView.flagIds %}
                        {% set freeTransportAndPaymentFlagId = getFreeTransportAndPaymentFlagIdIfShouldBeDisplayed(productView) %}
                        {% if freeTransportAndPaymentFlagId is not null %}
                            {% set productFlagIds = { 0: freeTransportAndPaymentFlagId } %}
                        {% endif %}
                        {{ renderFlagsByIds(productFlagIds, 'in-flag--bomb', true, productSellingPrice, productView.variantsCount) }}
                    </div>

                    <{{ productHeadingTagName|default('h2') }} class="list-products-bomb__item__title">
                        {{ productView.name|striptags|raw }}
                    <{{ '/' ~ productHeadingTagName|default('h2') }}>

                    <div class="list-products-bomb__item__image dont-print">
                        {{ image(productView.image, { size: 'biggerThumbnail', alt: productView.name, lazy: true }) }}
                        {{ productStickersMacro.list(productView) }}
                    </div>

                    {% if productSellingPrice is not null %}
                        <div class="list-products-bomb__item__price">
                            {% if productSellingPrice.hasHigherStandardPrice %}
                                <div class="list-products-bomb__item__price__old">
                                    {{ productSellingPrice.standardPrice.priceWithVat|price }}
                                </div>
                            {% endif %}

                            <div class="{% if productSellingPrice.hasHigherStandardPrice %}list-products-bomb__item__price__main{% endif %}">
                                {% if productSellingPrice.priceFrom %}
                                    {{ 'from %price%'|trans({'%price%': productSellingPrice.priceWithVat|price}) }}
                                {% else %}
                                    {{ productSellingPrice.priceWithVat|price }}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                    {% if productView.getGiftsCount() > 0 %}
                        <div class="list-products-bomb__item__gift">
                            {% set giftCount = productView.getGiftsCount() %}
                            {% if giftCount is same as (1) %}
                                <span class="list-products-bomb__item__gift__title">{{ 'Dárek'|trans }}</span>
                                {{ productView.getFirstGiftLabel() }}
                            {% else %}
                                <span class="list-products-bomb__item__gift__title">
                                    {% transchoice giftCount with {'%count%': giftCount} %}
                                        [2,4] %count% dárky zdarma |[5,Inf] %count% dárků zdarma
                                    {% endtranschoice %}
                                </span>
                            {% endif %}
                        </div>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>

{% endmacro %}
