{% extends 'Front/Layout/layoutWithoutPanel.html.twig' %}
{% import 'Front/Inline/Paginator/paginator.html.twig' as paginator %}
{% import 'Front/Content/Product/filterFormMacro.html.twig' as productFilterForm %}
{% import 'Front/Content/Product/productListMacro.html.twig' as productList %}

{% block title %}
    {{ 'Search results for "%searchText%"'|trans({ '%searchText%': searchText }) }}
    {{ paginator.titleAddon(paginationResultProducts) }}
{% endblock %}

{% block meta_robots %}
    <meta name="robots" content="noindex, follow">
{% endblock %}
{% block meta_rel_links %}
    {{ paginator.relLinks(paginationResultProducts) }}
{% endblock %}

{% block pageStyles %}
    {% set entryDirectoryPage = 'frontend-style-category-' ~ getDomain().currentDomainConfig.stylesDirectory %}
    {{ encore_entry_link_tags( entryDirectoryPage ) }}
{% endblock %}

{% block main_content %}
    {% include 'Front/Content/Product/luigisBoxSearchResultsTemplates.html.twig' with {isRegisteredCustomer: isRegisteredCustomer} %}

    <div id="search-ui-data" class="display-none" data-tracker-id="{{ luigisTrackerId }}" data-locale="{{ isSlovakDomain() ? 'sk' : 'cz' }}"
         data-currency-symbol="{{ ' ' ~ currencySymbolByDomainId(getDomain().id) }}"></div>
    <div id="search-ui"></div>
    <script src="https://cdn.luigisbox.com/search.js"></script>

    <div class="web__line">
        <div class="web__container">
            {% include 'Front/Content/ReasonsToBuy/index.html.twig' %}
        </div>
    </div>

    {% if heurekaReviews|length > 0 %}
        <div class="web__line">
            <div class="web__container">
                {% include 'Front/Content/Heureka/reviews.html.twig' with { reviews: heurekaReviews } %}
            </div>
        </div>
    {% endif %}

    {% block last_visited_products %}
        {{ render(controller('App\\Controller\\Front\\LastVisitedProductsController:showAction')) }}
    {% endblock %}
{% endblock %}
