{% extends 'Front/Layout/layoutWithoutPanel.html.twig' %}
{% import 'Front/Inline/Paginator/paginator.html.twig' as paginator %}
{% import 'Front/Content/Product/filterFormMacro.html.twig' as productFilterForm %}
{% import 'Front/Content/Product/productListMacro.html.twig' as productList %}

{% block title %}
    {{ 'Search results for "%searchText%"'|trans({ '%searchText%': searchText }) }}
{% endblock %}

{% block meta_robots %}
    {{ paginator.metaRobots(paginationResultProducts) }}
{% endblock %}

{% block main_content %}
    <div class="box-search">
        <div class="web__line">
            <div class="web__container">
                <h1 class="box-search__title">{{ 'Vyhledávání výrazu'|trans }} <strong>„{{ searchText }}“</strong></h1>
            </div>
        </div>

        {% if
            foundCategories|length > 0
            or paginationResultProducts.results|length > 0
            or paginationResultSets.results|length > 0
        %}
            <div class="web__line">
                <div class="web__container">
                    <div class="box-search__navigation">
                        {% if foundCategories|length > 0 %}
                            <a href="#categories" data-space-above-position="0" class="box-search__navigation__item js-scroll-to-position" data-tab-id="categories">
                                {{ 'Kategorie'|trans }} ({{ foundCategories|length }})
                            </a>
                        {% endif %}
                        {% if paginationResultProducts.results|length > 0 %}
                            <a href="#products" data-space-above-position="0" class="box-search__navigation__item js-scroll-to-position" data-tab-id="products">
                                {{ 'Produkty'|trans }} ({{ paginationResultProducts.totalCount }})
                            </a>
                        {% endif %}
                        {% if paginationResultSets.results|length > 0 %}
                            <a href="#sets" data-space-above-position="0" class="box-search__navigation__item js-scroll-to-position" data-tab-id="sets">
                                {{ 'Sety'|trans }} ({{ paginationResultSets.totalCount }})
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if foundCategories|length > 0 %}
            <div class="web__line" id="categories">
                <div class="web__container">
                    <h3 class="box-search__subtitle">{{ 'Nalezené kategorie'|trans }}</h3>
                    {% include 'Front/Content/Category/categoryList.html.twig' with {'categories': foundCategories, 'cssClass': 'list-categories--four-on-row', 'title': 'Nalezené kategorie'|trans, 'showText': false } %}
                </div>
            </div>
        {% endif %}

        <div class="web__line">
            <div class="web__container">
                <h3 class="box-search__subtitle" id="products">{{ 'Nalezené produkty'|trans }}</h3>
                <div class="box-list box-list--search">
                    <div class="box-list__wrap js-product-list-with-filter js-tabs-content">
                        {% if paginationResultProducts.results|length > 0 or filterFormSubmitted %}
                            <div class="box-list__panel js-product-list-panel">
                                <div class="box-filter js-product-filter">
                                    {{ productFilterForm.filterForm(
                                        filterForm,
                                        url('front_product_search'),
                                        url('front_product_search', { (SEARCH_TEXT_PARAMETER) : searchText }),
                                        searchText,
                                        'search',
                                        productFilterCountData,
                                        priceRange,
                                        filterFormSubmitted,
                                        allowBrandLinks
                                    ) }}
                                </div>
                            </div>
                        {% endif %}

                        <div class="box-list__content{% if paginationResultProducts.results|length < 0 or not filterFormSubmitted %} box-list__content--full-width{% endif %} js-product-list-ajax-filter-products-with-controls">
                            <div class="box-list__products box-list__products--without-gap">
                                {{ render(controller('App\\Controller\\Front\\ProductController:selectOrderingModeForSearchAction')) }}
                                {% include 'Front/Content/Product/productsWithControls.html.twig' with {paginationResult: paginationResultProducts, filterFormSubmitted: filterFormSubmitted, searchText: searchText, paging: false} %}
                            </div>
                        </div>
                    </div>

                    <div class="box-list__wrap box-list__wrap--wrapped js-tabs-content" id="sets">
                        {{ render(controller('App\\Controller\\Front\\ProductController:renderSetsBySearchTextAction', {paginationResultSets: paginationResultSets, searchText: searchText})) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="web__line">
        <div class="web__container">
            {% include 'Front/Content/ReasonsToBuy/index.html.twig' %}
        </div>
    </div>

    {% block last_visited_products %}
        {{ render(controller('App\\Controller\\Front\\LastVisitedProductsController:showAction')) }}
    {% endblock %}
{% endblock %}
