{% extends '@ShopsysShop/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block title %}
    {{- blogArticle.getSeoTitle(domainId)|default(blogArticle.name) -}}
{% endblock %}

{% block meta_description %}
    {{- blogArticle.getSeoMetaDescription(domainId)|default(getSeoMetaDescription()) -}}
{% endblock %}

{% block main_content %}
<div class="web__line">
    <div class="web__container web__container--big-padding">
        <div class="box-blog">
            <h1 class="in-title in-title--big in-title--center">
                {% if blogArticle.getSeoH1(domainId) is not null %}
                    {{ blogArticle.getSeoH1(domainId) }}
                {% else %}
                    {{ blogArticle.name }}
                {% endif %}
            </h1>
            <div class="box-blog__content">
                <div class="box-blog__list">
                    {% if imageExists(blogArticle) %}
                        {{ image(blogArticle, { itemprop: 'image', lazy:true }) }}
                    {% else %}
                        {{ noimage({ alt: blogArticle.name }) }}
                    {% endif %}

                    <div class="in-article__date">{{ blogArticle.createdAt|date('j.n.Y') }}</div>

                    <div class="in-article__text in-user-text">
                        {{ blogArticle.description|raw }}
                    </div>
                </div>
                <div class="box-blog__panel">
                    <div class="box-blog__section">
                        {{ render(controller('ShopsysShopBundle:Front/BlogCategory:list')) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block last_visited_products %}
        {{ render(controller('ShopsysShopBundle:Front/LastVisitedProducts:show')) }}
    {% endblock %}

    <div class="web__line">
        <div class="web__container">
            {% cache getInstagramCacheId() {time: getInstagramCacheTime()} %}
                {{ instagramFeed() }}
            {% endcache %}
        </div>
    </div>

    <div class="web__line">
        <div class="web__container web__container--dark web__container--big-padding">
            {% include '@ShopsysShop/Front/Content/Motto/line.html.twig' %}
        </div>
    </div>
{% endblock %}
