<div class="web__line">
    <div class="web__container">
        <div class="box-special-offer">
            {% if advert is not null %}
                <div class="box-special-offer__colored">
                    <span class="box-special-offer__colored__title-small">
                        {{ advert.smallTitle }}
                    </span>

                    <span class="box-special-offer__colored__title">
                        {{ advert.bigTitle }}
                    </span>
                    <a href="{{ advert.link }}" class="box-special-offer__colored__button btn">{{ advert.name }}</a>
                </div>
                <div class="box-special-offer__grayscale">
                    <div class="box-special-offer__grayscale__image">
                        {{ image(advert, { size: 'bigBanner', alt: advert.smallTitle, lazy: true }) }}
                    </div>
                    <div class="box-special-offer__grayscale__title">
                        <span class="box-special-offer__grayscale__title__text double-lined">
                            {{ advert.productTitle }}
                        </span>
                    </div>
                    <ul class="box-special-offer__products">
                        {% for advertProduct in advertProducts %}
                            {% set sellingPrice = getProductSellingPrice(advertProduct) %}
                            {% set url = url('front_product_detail', {'id': advertProduct.id}) %}
                            <li class="box-special-offer__products__item">
                                <a class="box-special-offer__products__item__image" href="{{ url }}" title="{{ advertProduct.name }}">
                                    {{ image(advertProduct, { size: 'biggerThumbnail', alt: advertProduct.name, lazy: true }) }}
                                </a>
                                <div class="box-special-offer__products__item__content">
                                    <a href="{{ url }}" title="{{ advertProduct.name }}">
                                        <div class="box-special-offer__products__item__content__title" href="{{ url }}" title="{{ advertProduct.name }}">{{ advertProduct.name }}</div>
                                        <span class="box-special-offer__products__item__content__price"> {{ sellingPrice.priceWithVat|price }}
                                            {% if sellingPrice.isActionPrice %}
                                                <span class="box-special-offer__products__item__content__price__old">{{ sellingPrice.defaultProductPrice.priceWithVat|price }}</span>
                                                ({{ sellingPrice.pricePercentageDifference|formatPercent }})
                                            {% endif %}
                                        </span>
                                        <span class="box-special-offer__products__item__content__size">
{#                                            {{ 'Vaše velikost'|trans }}#}
                                            {% if variantsIndexedByMainVariantId|length > 0 and advertProduct.id in variantsIndexedByMainVariantId|keys %}
                                                {% set secondDistinguishingParameters = distinguishingParameterValuesForProducts(variantsIndexedByMainVariantId[advertProduct.id]) %}
                                                {% if advertProduct.id in secondDistinguishingParameters|keys %}
                                                    {% for parameterValue, variantId in secondDistinguishingParameters[advertProduct.id] %}
                                                        <span class="in-badge">{{ parameterValue }}</span>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endif %}
{#                                            {{ advertProduct.calculatedAvailability.name }}#}
                                        </span>
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</div>
