{% import 'Front/Content/Product/productListMacro.html.twig' as productList %}
<div class="box-popup-add">
    <div class="box-popup-add__content">
        <div class="box-popup-add__content__title">
            <span class="box-popup-add__content__title__text">
                {{ 'Do košíku přidáno %quantity%&nbsp;%unit%<br>celkem za %price%'|transHtml({
                    '%quantity%': addedQuantity|formatNumber,
                    '%unit%': addedUnit.name,
                    '%price%': addedPrice|price
                }) }}
            </span>
        </div>
        {% for cartItem in addedItems %}
            <div class="box-popup-add__content__product{% if cartItem.product.isPohodaProductTypeSet or cartItem.product.isSupplierSet %} box-popup-add__content__product--sets{% endif %}">
                {% if cartItem.product.isPohodaProductTypeSet %}
                    <div class="box-popup-add__content__product__wrap-image">
                        {% for productSet in cartItem.product.productSets %}
                            <div class="box-popup-add__content__product__image box-popup-add__content__product__image--sets svg svg-plus-big">
                                {{ image(productSet.item, {size: 'thumbnail', lazy: false}) }}
                            </div>
                        {% endfor %}
                    </div>
                {% elseif cartItem.product.isSupplierSet %}
                    <div class="box-popup-add__content__product__wrap-image">
                        {% for image in getSupplierSetItemsImages(cartItem.product) %}
                            <div class="box-popup-add__content__product__image box-popup-add__content__product__image--sets svg svg-plus-big">
                                {{ image(image, {size: 'thumbnail', lazy: false}) }}
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="box-popup-add__content__product__image">
                        {{ image(cartItem.product, {size: 'thumbnail', lazy: false}) }}
                    </div>
                {% endif %}
                <div class="box-popup-add__content__product__name">
                    <span class="box-popup-add__content__product__name__title">
                        {% if cartItem.saleItem %}{{ 'Výprodej'|trans }} - {% endif %}{{ cartItem.product.name }}
                    </span>
                    {% if quantifiedItemPricesIndexedByCartItemId[cartItem.id] is defined %}
                        {% set quantifiedItemPrice = quantifiedItemPricesIndexedByCartItemId[cartItem.id] %}
                        <span class="box-popup-add__content__product__name__price">
                            <span class="box-popup-add__content__product__name__price__main">
                                {{ quantifiedItemPrice.unitPrice.priceWithVat|price }}
                            </span>
                            {% if quantifiedItemPrice.unitPrice.hasHigherStandardPrice %}
                                <span class="box-popup-add__content__product__name__price__old">
                                    {{ quantifiedItemPrice.unitPrice.standardPrice.priceWithVat|price }}
                                </span>
                            {% endif %}
                        </span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {{ render(controller('App\\Controller\\Front\\FlashMessageController:indexAction')) }}
    </div>
    <div class="box-popup-add__action">
        <div class="box-popup-add__action__buttons">
            <div class="box-popup-add__action__buttons__back">
                <i class="svg svg-triangle"></i>
                <a href="#" class="box-popup-add__action__buttons__back__link js-window-button-close">
                    {{ 'Zpět do e-shopu'|trans }}
                </a>
            </div>
            <a href="{{ url('front_cart') }}" class="btn btn--success btn--large">
                {{ 'Přejít do košíku'|trans }}
            </a>
        </div>
        <div class="box-popup-add__action__transport">
            {# https://shopsys.atlassian.net/browse/TROPIC-203
            {% if isFreeTransportAndPaymentActive %}
                {% if isPaymentAndTransportFree %}
                    <div class="in-free-transport">
                        <span class="in-free-transport__title__important">{{ 'Máte dopravu zdarma!'|trans }}</span>
                        <div class="in-free-transport__pipe">
                            <div class="in-free-transport__pipe__line" style="width: 100%;"></div>
                        </div>
                    </div>
                {% else %}
                    <div class="in-free-transport">
                        <div class="in-free-transport__title">
                            {{ 'Nakupte ještě za '|trans }} <span class="in-free-transport__title__price">{{ remainingPriceWithVat|price }}</span>&nbsp;{{ 'a'|trans }} {{ 'máte'|trans }} <br>
                            <span class="in-free-transport__title__important">{{ 'dopravu zdarma!'|trans }}</span>
                        </div>
                        <div class="in-free-transport__pipe">
                            <div class="in-free-transport__pipe__line" style="width: {{ percentsForFreeTransportAndPayment }}%;"></div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            #}
        </div>
    </div>
</div>


{% if isModuleEnabled(ACCESSORIES_ON_BUY) %}
    {% if accessories|length > 0 %}
        <div class="wrap-box margin-top-20 margin-bottom-0">
            <h3 class="wrap-box__title">
                {{ 'Our customers who bought this bought also'|trans }}
            </h3>
            <div class="wrap-box__in">
                {{ productList.list(accessories, 'list-products--in-window') }}
            </div>
        </div>
        <span class="js-add-product-wide-window" data-wide="true"></span>
    {% endif %}
{% endif %}
<span class="js-add-product-url-cart" data-url="{{ url('front_cart') }}"></span>
