<div id="js-cart-box" data-reload-url="{{ url('front_cart_box') }}">
    {% set cartIsEmpty = productsCount is same as(0) %}
    <div class="box-dropdown box-dropdown--min-width box-dropdown--open-light js-dropdown js-cart-box-dropdown
        {% if not cartIsEmpty %}js-hover-intent{% else %}box-dropdown--without-arrow{% endif %}"
        data-type="{% if not cartIsEmpty %}link{% else %}link-on-mobile{% endif %}"
        data-after-callback-url="{{ url('front_cart_content') }}"
        data-after-replace-selector=".js-cart-box-content"
        data-replaced-content-selector="#js-cart-box-content-inside"
        >

        <a {% if not cartIsEmpty %}href="{{ path('front_cart') }}"{% endif %} class="box-dropdown__select">
            <div class="cart__icon">
                {% include 'Front/Svg/cart.svg' %}
                {% if not cartIsEmpty %}
                    <span class="cart__icon__count">
                        {{ productsCount }}
                    </span>
                {% endif %}
            </div>
            <span class="cart__info js-cart-info">
                {% if cartIsEmpty %}
                    {{ 'Prázdný'|trans }}
                {% else %}
                    <span class="cart__info__currency">{{ productsPrice|price }}</span>
                {% endif %}
            </span>
            {% if not cartIsEmpty %}
                <i class="box-dropdown__select__arrow box-dropdown__select__arrow--up">
                    <i class="svg svg-triangle"></i>
                </i>
                <i class="box-dropdown__select__arrow box-dropdown__select__arrow--down">
                    <i class="svg svg-triangle"></i>
                </i>
            {% endif %}
        </a>
        {% if not cartIsEmpty %}
            <div class="display-none">
                {% if renderFlashMessages %}
                    {{ render(controller('App\\Controller\\Front\\FlashMessageController:indexAction')) }}
                {% endif %}
            </div>
            <div class="box-dropdown__options box-dropdown__options--basket js-dropdown-options">
                <div class="js-cart-box-content" style="min-height: 100px"> {# TODO KOD - I need the min-height of this element so the loader is displayed properly #}
                </div>
            </div>
        {% endif %}
    </div>
</div>
