{% extends '@ShopsysFramework/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Migrace - import CSV'|trans }}{% endblock %}
{% block h1 %}{{ 'Migrace - import CSV'|trans }}{% endblock %}
{% block main_content %}
	{{ form_start(form) }}
	{{ form_errors(form) }}
	{{ form_end(form) }}

	<br/>

	<style>
		td {border: 1px solid black;}
		thead {font-weight: bold;}
	</style>

	<table>
		<thead>
			<tr>
				<td>Typ migrace</td>
				<td>Sql dotaz pro SS5 databázi</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Zákazníci - importujte soubor s názvem "customers.csv"</td>
				<td>
					Pozor, na ostré verzi musí být u cenových skupin správně nastaveny ID cenových skupin z nového eshopu
					SELECT C.`id`, C.`jmeno`, C.`prijmeni`, C.`email`, C.`telefon`,
					C.ulice, C.`mesto`, C.`psc`, SCF.`code` AS `stat`, C.`firma`,
					C.`firma_ic`, C.`firma_dic`, C.`dod_jmeno`, C.`dod_prijmeni`, C.`dod_ulice`,
					C.`dod_mesto`, C.`dod_psc`, SCD.`code` AS `dod_stat`, C.`login_name`, C.`dod_firma`,
					C.`domain`, PC.`new_eshop_id`
					FROM `clientele` C
					LEFT JOIN `setting_country` SCF ON C.`stat` = SCF.`id`
					LEFT JOIN `setting_country` SCD ON C.`dod_stat` = SCD.`id`
					LEFT JOIN `pe_pricecategory` PC ON C.`sleva` = PC.`id`
					LEFT JOIN `orders` O ON C.`id` = O.`client`
					WHERE C.`regtime` > 1531472936 OR O.`id` IS NOT NULL
					GROUP BY C.`id`
				</td>
			</tr>
		</tbody>

	</table>

	<br/>
	<br/>

	<table>
		<thead>
			<tr>
				<td>Název importovaného souboru</td>
				<td>Velikost souboru</td>
				<td>Datum poslední změny</td>
			</tr>
		</thead>
		<tbody>
			{% for uploadedFile in uploadedFiles %}
				<tr>
					<td>{{ uploadedFile.name }}</td>
					<td>{{ uploadedFile.size }}</td>
					<td>{{ uploadedFile.last_updated }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}