{% extends '@ShopsysFramework/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Migrace - import CSV'|trans }}{% endblock %}
{% block h1 %}{{ 'Migrace - import CSV'|trans }}{% endblock %}
{% block main_content %}
	{{ form_start(form) }}
	{{ form_errors(form) }}
	{{ form_end(form) }}

	<br/>

	<style>
		td {border: 1px solid black;}
		thead {font-weight: bold;}
	</style>

	<table>
		<thead>
			<tr>
				<td>Typ migrace</td>
				<td>Sql dotaz pro SS5 databázi</td>
				<td>Důležité informace</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Zákazníci - importujte soubor s názvem "customers.csv"</td>
				<td>
					Pozor, na ostré verzi musí být u cenových skupin správně nastaveny ID cenových skupin z nového eshopu
					SELECT C.`id`, C.`jmeno`, C.`prijmeni`, C.`email`, C.`telefon`,
					C.ulice, C.`mesto`, C.`psc`, SCF.`code` AS `stat`, C.`firma`,
					C.`firma_ic`, C.`firma_dic`, C.`dod_jmeno`, C.`dod_prijmeni`, C.`dod_ulice`,
					C.`dod_mesto`, C.`dod_psc`, SCD.`code` AS `dod_stat`, C.`login_name`, C.`dod_firma`,
					C.`domain`, PC.`new_eshop_id`
					FROM `clientele` C
					LEFT JOIN `setting_country` SCF ON C.`stat` = SCF.`id`
					LEFT JOIN `setting_country` SCD ON C.`dod_stat` = SCD.`id`
					LEFT JOIN `pe_pricecategory` PC ON C.`sleva` = PC.`id`
					LEFT JOIN `orders` O ON C.`id` = O.`client`
					WHERE C.`regtime` > 1531472936 OR O.`id` IS NOT NULL
					GROUP BY C.`id`
				</td>
                <td></td>
			</tr>
			<tr>
				<td>Objednávky - importujte soubor s názvem "orders.csv" a "ordersgoods.csv"</td>
				<td>
                    <h4>Objednávky</h4>
                    SELECT
                    o.`id` AS oId,
                    o.`status`,
                    o.`client`,
                    o.`clientComment`,
                    o.`objednano`,
                    o.`hash`,
                    o.`varsymbol`,
                    o.domain,
                    ad.id AS adId,
                    ad.jmeno AS adJmeno,
                    ad.prijmeni AS adPrijmeni,
                    ad.firma AS adFirma,
                    ad.telefon AS adTelefon,
                    ad.ulice AS adUlice,
                    ad.mesto AS adMesto,
                    ad.psc AS adPsc,
                    ad.stat AS adStat,
                    af.id AS afId,
                    af.jmeno AS afJmeno,
                    af.prijmeni AS afPrijmeni,
                    af.email AS afEmail,
                    af.telefon AS afTelefon,
                    af.ulice AS afUlice,
                    af.mesto AS afMesto,
                    af.psc AS afPsc,
                    af.firma AS afFirma,
                    af.firma_ic AS afFirmaIc,
                    af.firma_dic AS afFirmaDic,
                    af.stat AS afStat,
                    af.vat_payer AS afVatPayer,
                    t.nazev AS nazevDopravy,
                    pt.name AS nazevPlatby,
                    adc.code AS adKodStatu,
                    afc.code AS afKodStatu,
                    p.type AS typPlatby,
                    o.price_info_rounding_wo_vat,
                    o.price_info_rounding_w_vat,
                    o.price_info_total_wo_vat,
                    o.price_info_total_w_vat
                    FROM
                    `orders` o
                    JOIN domains d ON d.id = o.domain
                    JOIN languages l ON l.id = d.language
                    LEFT JOIN `orders_address_dod` ad ON ad.id = o.address_dod
                    LEFT JOIN `setting_country` adc ON adc.id = ad.stat
                    LEFT JOIN `orders_address_fak` af ON af.id = o.address_fak
                    LEFT JOIN `setting_country` afc ON afc.id = af.stat
                    LEFT JOIN `setting_trans` t ON t.id = o.transporter
                    LEFT JOIN `setting_paym` p ON p.id = o.paymant
                    LEFT JOIN `setting_paym_translate` pt ON pt.id = p.id
                    AND pt.language = l.id
                    WHERE (o.`client` = 0 AND o.`objednano` > 1483225201) OR o.`client` <> 0
                    ORDER BY objednano
					<br><br>

                    <h4>Položky objednávek</h4>
                    SELECT og.*
                    FROM `ordersgoods` og
                    JOIN `orders`o ON og.order = o.id
                    WHERE (o.`client` = 0 AND o.`objednano` > 1483225201) OR o.`client` <> 0
                    ORDER BY `order`
				</td>
                <td>
                    Objednávkám se nastaví, že byly již exportovány do Pohody - <strong>Je tedy třeba objednávky nejprve exportovat do Pohody</strong>
                    <br>
                    <br>
                    Po dokončení migrace je potřeba spustit <pre>php bin/console shopsys:import:legacy-orders-pohoda-id</pre> pro provázání objednávek z posledních 30 dnů s Pohodou.
                </td>
			</tr>
			<tr>
				<td>Slovenské popisy - importujte soubor s názvem "descriptions.csv"</td>
				<td>
					SELECT G.catnum
					FROM goods G
					JOIN goods_translate GT ON GT.id = G.id
					WHERE GT.language = 2
					AND GT.long_desc NOT LIKE "%--sk--%"
				</td>
				<td></td>
			</tr>
			<tr>
				<td>Slevové kupony - importujte soubor s názvem "promo_codes.csv" a "gift_certificates.csv"</td>
				<td>
					SELECT C.code, C.value, C.uses_remain, C.uses_total, C.valid_from, C.expire, C.domain, C.min_order_price, C.client, C.type
					FROM `coupone` C
					WHERE C.used = 'n'
					AND C.expire >= UNIX_TIMESTAMP()
					ORDER BY C.id
					<br><br>
					SELECT code, value, validity_days, currency, created, activated, used, name
					FROM `gift_certificates`
					WHERE used IS NULL
					AND (created + validity_days * 24 * 60 * 60) >= UNIX_TIMESTAMP()
					ORDER BY id
				</td>
				<td></td>
			</tr>
			<tr>
				<td>SEO atributy - importujte soubor s názvem "seo.csv"</td>
				<td>
					SELECT G.catnum, GT.title, GT.metadescription, GT.nazev_feed_heureka, GT.language
					FROM goods G
					JOIN goods_translate GT ON GT.id = G.id
					WHERE GT.title != '' OR GT.metadescription != '' OR GT.nazev_feed_heureka != ''
					ORDER BY G.id, GT.language
				</td>
				<td></td>
			</tr>
			<tr>
				<td>Automatické přesměrování URL produktů - importujte soubor s názvem "product_urls.csv"</td>
				<td>
					SELECT G.catnum, U.url, U.domain
					FROM `url` U
					JOIN goods G ON G.id = U.id
					WHERE U.page = 'product_detail'
					AND G.catnum != ''
				</td>
				<td></td>
			</tr>
		</tbody>

	</table>

	<br/>
	<br/>

	<table>
		<thead>
			<tr>
				<td>Název importovaného souboru</td>
				<td>Velikost souboru</td>
				<td>Datum poslední změny</td>
			</tr>
		</thead>
		<tbody>
			{% for uploadedFile in uploadedFiles %}
				<tr>
					<td>{{ uploadedFile.name }}</td>
					<td>{{ uploadedFile.size }}</td>
					<td>{{ uploadedFile.last_updated }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
