{% extends '@!ShopsysFramework/Admin/Form/theme.html.twig' %}

{% block product_widget %}
    <span class="js-product-picker-container{% if attr.containerClass is defined %} {{ attr.containerClass }}{% endif %}" data-placeholder="{{ placeholder }}">
        <span class="form-line__item">
            <input
                    class="input js-product-picker-label"
                    value="{{ productName|default(placeholder) }}"
                    disabled="disabled"
                    readonly="readonly"
            />
        </span>
        <span class="form-line__item">
            <button
                    type="button"
                    data-product-picker-url="{{ url('admin_productpicker_picksingle', {allowMainVariants: allow_main_variants, allowVariants: allow_variants}) }}"
                    class="js-product-picker-create-picker-button btn btn--default"
                    title="{{ 'Click to go to product section'|trans }}"
                    type="button"
            >
                ...
            </button>
        </span>
        {% if enableRemove %}
            <a href="#" class="js-product-picker-remove-button display-none">
                {{ 'Remove'|trans }}
            </a>
        {% endif %}
        {{- form_widget(form, {attr: {class: 'js-product-picker-input'}}) -}}
    </span>
{% endblock product_widget %}

{% block products_widget %}
    {% import _self as self %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' js-products-picker')|trim}) %}
    <div
            {{ block('widget_attributes') }}
            data-products-picker-prototype="{{ self.productsWidgetItem(null, form.vars.prototype, form.vars.sortable)|e }}"
            data-products-picker-url="{{ url('admin_productpicker_pickmultiple', {jsInstanceId: '__js_instance_id__', allowMainVariants: allow_main_variants, allowVariants: allow_variants, isMainVariantGroup: is_main_variant_group}) }}"
            data-products-picker-main-product-id="{{ form.vars.main_product ? form.vars.main_product.id : '' }}"
    >
        <table class="table-form margin-bottom-20">
            <thead class="js-products-picker-header">
            <tr class="table-form__row">
                <td class="table-form__cell">{{ 'Name'|trans }}</td>
                <td class="table-form__cell table-form__cell--actions"></td>
            </tr>
            </thead>
            <tbody class="js-products-picker-items">
            {% for key, productForm in form %}
                {{ self.productsWidgetItem(form.vars.products[key], productForm, form.vars.sortable) }}
            {% endfor %}
            </tbody>
        </table>
        <a href="#" class="btn btn--plus js-products-picker-button-add">
            <i class="btn__icon">+</i>
            {{ label_button_add }}
        </a>
    </div>
{% endblock products_widget %}

{% macro productsWidgetItem(product, form, sortable) %}
    <tr class="js-products-picker-item table-form__row">
        <td class="table-form__cell">
            {% if sortable %}
                <span class="js-products-picker-item-handle table-form__cell__move">
                    <span class="in-icon in-icon--move svg svg-move"></span>
                </span>
            {% endif %}
            <span class="js-products-picker-item-product-name">
                {% if product is not null %}
                    <a href="{{ url('admin_product_edit', {id: product.id}) }}" target="_blank" class="btn-link-style btn-link-style--iconic-l">
                        <span>{{ product.name }}</span>&nbsp;<i class="svg svg-forward-page"></i>
                    </a>
                {% endif %}
            </span>
        </td>
        <td class="table-form__cell table-form__cell--actions">
            <span class="cursor-pointer js-products-picker-item-button-delete">
                <span class="svg svg-circle-cross in-icon"></span>
                {{ form_widget(form, {attr: {class: 'js-products-picker-item-input'}}) }}
            </span>
        </td>
    </tr>
{% endmacro %}
