{% import 'Front/Content/Product/productAvailabilityMacro.html.twig' as availability %}

{% macro availabilityDetail(product, setDisplayNone) %}
    <div class="{% if setDisplayNone is same as (true) %}display-none {% endif %}in-availability in-availability--big js-detail-availability js-detail-availability-{{ product.id }}">
        <div class="in-availability__status">
            {{ availability.productAvailability(product) }}
        </div>

        {% if product.isInAnySaleStock and product.realNonSaleStocksQuantity > 0 and not product.sellingDenied %}
            <span class="in-availability__text-big">
                {{ 'a další za běžnou cenu'|trans }}
            </span>
        {% endif %}
    </div>
{% endmacro %}

{% if product.variants|length > 0 %}
    <div class="in-availability in-availability--big js-product-variant-detail-select-info">
        <div class="in-availability__status">
            <span class="in-availability__date">
                {% if product.isMainVariant %}
                    {{ 'Pro zobrazení dostupnosti vyberte variantu'|trans }}
                {% else %}
                    {{ availability.productAvailability(product) }}
                {% endif %}
            </span>
        </div>
    </div>
    {% for variant in product.variants %}
        {{ _self.availabilityDetail(variant, true) }}
    {% endfor %}
{% else %}
    {{ _self.availabilityDetail(product, false) }}
{% endif %}
