{% macro list(productFlags, classAddition, onlyFirst, sellingPrice, variantsCount, discountDisplayType = 'percentage') %}
    {% set processedFlags = 0 %}

    {% if productFlags|length > 0 or (sellingPrice is not null and sellingPrice.hasHigherStandardPrice) or variantsCount > 0 %}
        <div class="in-flag dont-print {{ classAddition }}">
            {% for productFlag in productFlags %}
                {% if not onlyFirst or (onlyFirst and processedFlags < 1) %}
                    {{ _self.detail(productFlag.name, productFlag.rgbColor) }}
                    {% set processedFlags = processedFlags + 1 %}
                {% endif %}
            {% endfor %}

            {% if not onlyFirst or (onlyFirst and processedFlags < 1) %}
                {% if variantsCount > 0 %}
                    {{ _self.detail('Počet variant'|transchoice(variantsCount, {'%variantsCount%': variantsCount}), constant('App\\Model\\Product\\Flag\\Flag::VARIANTS_FLAG_COLOR')) }}
                    {% set processedFlags = processedFlags + 1 %}
                {% endif %}
            {% endif %}

            {% if not onlyFirst or (onlyFirst and processedFlags < 1) %}
                {% if sellingPrice.hasHigherStandardPrice
                    and sellingPrice.pricePercentageDifference > 0
                    and discountDisplayType is same as(constant('App\\Twig\\FlagsExtension::DISCOUNT_DISPLAY_TYPE_PERCENTAGE'))
                %}
                    {{ _self.detail('%discountValue%% sleva'|trans({'%discountValue%': sellingPrice.pricePercentageDifference}), '#d53030') }}
                    {% set processedFlags = processedFlags + 1 %}
                {% elseif sellingPrice.hasHigherStandardPrice
                    and discountDisplayType is same as(constant('App\\Twig\\FlagsExtension::DISCOUNT_DISPLAY_TYPE_NOMINAL')) %}
                    {{ _self.detail('Ušetříte %price%'|trans({'%price%': sellingPrice.standardPriceDifference|price }), '#d53030') }}
                    {% set processedFlags = processedFlags + 1 %}
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}

{% macro detail(name, color) %}
    <span class="in-flag__item" style="background-color: {{ color }};">
        {{ name }}
    </span>
{% endmacro %}
