{% macro list(productFlags, classAddition, onlyFirst) %}

    {% if productFlags|length > 0 %}
        <div class="in-flag dont-print {{ classAddition }}">
            {% for productFlag in productFlags %}
                {% if onlyFirst %}
                    {% if loop.first %}
                        <span
                            class="in-flag__item"
                            style="background-color: {{ productFlag.rgbColor }};"
                        >
                            {{ productFlag.name }}
                        </span>
                    {% endif %}
                {% else %}
                    <span
                        class="in-flag__item"
                        style="background-color: {{ productFlag.rgbColor }};"
                    >
                        {{ productFlag.name }}
                    </span>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

{% endmacro %}
