{% extends '@!ShopsysFramework/Admin/Content/Pricing/Groups/listGrid.html.twig' %}

{% block grid_action_cell %}
    {% if actionColumn.type == 'edit' %}
        {% set icon = 'pencil' %}
    {% elseif actionColumn.type == 'delete' %}
        {% set icon = 'trash' %}
    {% else %}
        {% set icon = actionColumn.type %}
    {% endif %}
    {% if actionColumn.type != 'delete' or row.pg.internalId is null %}
        <a
                class="in-icon in-icon--{{ actionColumn.type }} svg svg-{{ icon }} table-action{% if actionColumn.classAttribute %} {{ actionColumn.classAttribute }}{% endif %}{% if actionColumn.ajaxConfirm %} js-ajax-confirm{% endif %}"
                {% if actionColumn.ajaxConfirm %}
                    data-ajax-confirm-on-open="Shopsys.createConfirmDelete(this);"
                {% endif %}
                href="{{ actionColumn.targetUrl(row) }}"
                title = "{{ actionColumn.title }}"
                {% if actionColumn.confirmMessage is not empty -%}
                    onclick="
                        Shopsys.window({
                            content: '{{ actionColumn.confirmMessage }}',
                            buttonCancel: true,
                            buttonContinue: true,
                            urlContinue: '{{ actionColumn.targetUrl(row) }}'
                        });
                        return false;
                    "
                {%- endif %}
        ></a>
    {% endif %}
{% endblock %}
