{% set isFirstLevel = isFirstLevel is not defined ? true: isFirstLevel %}

{% if categoriesWithLazyLoadedVisibleChildren|length > 0 %}
    <div class="list-menu">
        {% for categoryWithLazyLoadedVisibleChildren in categoriesWithLazyLoadedVisibleChildren %}
            {% set category = categoryWithLazyLoadedVisibleChildren.category %}
            <ul class="list-menu__column">
                {% if category.level == 1 %}
                    <li class="list-menu__title">
                        <a href="{{ url('front_product_list', { id: category.id }) }}"
                        class="list-menu__title__link underline">
                            {{ category.name }}
                        </a>
                    </li>
                {% endif %}
                <li class="list-menu__item">
                    <a href="{{ url('front_product_list', { id: category.id }) }}"
                    class="list-menu__item__link list-menu__item__link--level-{{ category.level }}">
                        {{ category.name }}
                    </a>
                    {% set categoriesWithLazyLoadedVisibleChildren = categoryWithLazyLoadedVisibleChildren.children %}

                    {% set isFirstLevel = false %}
                </li>
                {% include _self %}
            </ul>
        {% endfor %}
    </div>
{% endif %}
