{% extends '@ShopsysFramework/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Detail promo produktu'|trans }}{% endblock %}
{% block h1 %}{{ 'Detail promo produkt'|trans }}{% endblock %}

{% block main_content %}

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {% embed '@ShopsysFramework/Admin/Inline/FixedBar/fixedBar.html.twig' %}
        {% block fixed_bar_content %}
            <a href="{{ url('admin_promoproduct_list') }}" class="btn-link-style">{{ 'Back to overview'|trans }}</a>
            {{ form_save(promoProduct|default(null), form) }}
        {% endblock %}
    {% endembed %}
    {{ form_end(form) }}

{% endblock %}
