<ul class="list-languages">
    <li class="list-languages__item">
        <img class="list-languages__item__image" src="{{ asset('/assets/frontend/images/flags/slovakia.png') }}">
        <a class="list-languages__item__link underline" href="https://www.bushmanoriginal.sk/">
            {{ 'Slovensko'|trans }}
        </a>
    </li>
    <li class="list-languages__item">
        <img class="list-languages__item__image" src="{{ asset('/assets/frontend/images/flags/poland.png') }}">
        <a class="list-languages__item__link underline" href="https://de.bushmanwear.com/">
            {{ 'Polska'|trans }}
        </a>
    </li>
    <li class="list-languages__item">
        <img class="list-languages__item__image" src="{{ asset('/assets/frontend/images/flags/germany.png') }}">
        <a class="list-languages__item__link underline" href="https://de.bushmanwear.com/">
            {{ 'Deutschland'|trans }}
        </a>
    </li>
    <li class="list-languages__item">
        <img class="list-languages__item__image" src="{{ asset('/assets/frontend/images/flags/austria.png') }}">
        <a class="list-languages__item__link underline" href="https://de.bushmanwear.com/">
            {{ 'Österreich'|trans }}
        </a>
    </li>
    <li class="list-languages__item">
        <img class="list-languages__item__image" src="{{ asset('/assets/frontend/images/flags/italy.png') }}">
        <a class="list-languages__item__link underline" href="https://de.bushmanwear.com/">
            {{ 'Italia'|trans }}
        </a>
    </li>
    <li class="list-languages__item">
        <img class="list-languages__item__image" src="{{ asset('/assets/frontend/images/flags/netherlands.png') }}">
        <a class="list-languages__item__link underline" href="https://de.bushmanwear.com/">
            {{ 'Nederland'|trans }}
        </a>
    </li>
    <li class="list-languages__item">
        <img class="list-languages__item__image" src="{{ asset('/assets/frontend/images/flags/belgium.png') }}">
        <a class="list-languages__item__link underline" href="https://de.bushmanwear.com/">
            {{ 'Belgien'|trans }}
        </a>
    </li>
    <li class="list-languages__item">
        <img class="list-languages__item__image" src="{{ asset('/assets/frontend/images/flags/luxembourg.png') }}">
        <a class="list-languages__item__link underline" href="https://de.bushmanwear.com/">
            {{ 'Lëtzebuerg'|trans }}
        </a>
    </li>
    <li class="list-languages__item">
        <img class="list-languages__item__image" src="{{ asset('/assets/frontend/images/flags/hungary.png') }}">
        <a class="list-languages__item__link underline" href="https://de.bushmanwear.com/">
            {{ 'Magyarország'|trans }}
        </a>
    </li>
    <li class="list-languages__item list-languages__item--inactive">
        <img class="list-languages__item__image" src="{{ asset('/assets/frontend/images/flags/united-kingdom.png') }}">
        <a class="list-languages__item__link underline">
            {{ 'Great britain'|trans }}
        </a>
    </li>
    <li class="list-languages__item list-languages__item--inactive">
        <img class="list-languages__item__image" src="{{ asset('/assets/frontend/images/flags/russia.png') }}">
        <a class="list-languages__item__link underline">
            {{ 'БЪЛГАРИЯ'|trans }}
        </a>
    </li>
</ul>
