{% set locale = app.request.locale %}
<ul class="list-languages">
    {% if locale != constant('Shopsys\\ShopBundle\\Component\\Domain\\DomainHelper::CZECH_LOCALE') %}
        <li class="list-languages__item">
            <img class="list-languages__item__image" src="{{ asset('/assets/frontend/images/flags/czech.png') }}" alt="{{ 'Slovensko'|trans }}">
            <a class="list-languages__item__link underline" href="{{ findUrlByDomainId('front_homepage', [], 1)}}">
                {{ 'Česko'|trans }}
            </a>
        </li>
    {% endif %}
    {% if locale != constant('Shopsys\\ShopBundle\\Component\\Domain\\DomainHelper::SLOVAK_LOCALE') %}
        <li class="list-languages__item">
            <img class="list-languages__item__image" src="{{ asset('/assets/frontend/images/flags/slovakia.png') }}" alt="{{ 'Slovensko'|trans }}">
            <a class="list-languages__item__link underline" href="https://www.bushmanoriginal.sk/">
                {{ 'Slovensko'|trans }}
            </a>
        </li>
    {% endif %}
    <li class="list-languages__item">
        <img class="list-languages__item__image" src="{{ asset('/assets/frontend/images/flags/poland.png') }}" alt="{{ 'Polska'|trans }}">
        <a class="list-languages__item__link underline" href="https://de.bushmanwear.com/">
            {{ 'Polska'|trans }}
        </a>
    </li>
    {% if isGermanyDomain() is same as (false) %}
        <li class="list-languages__item">
            <img class="list-languages__item__image" src="{{ asset('/assets/frontend/images/flags/germany.png') }}" alt="{{ 'Deutschland'|trans }}">
            <a class="list-languages__item__link underline" href="https://de.bushmanwear.com/">
                {{ 'Deutschland'|trans }}
            </a>
        </li>
    {% endif %}
    <li class="list-languages__item">
        <img class="list-languages__item__image" src="{{ asset('/assets/frontend/images/flags/austria.png') }}" alt="{{ 'Österreich'|trans }}">
        <a class="list-languages__item__link underline" href="https://de.bushmanwear.com/">
            {{ 'Österreich'|trans }}
        </a>
    </li>
    <li class="list-languages__item">
        <img class="list-languages__item__image" src="{{ asset('/assets/frontend/images/flags/italy.png') }}" alt="{{ 'Italia'|trans }}">
        <a class="list-languages__item__link underline" href="https://de.bushmanwear.com/">
            {{ 'Italia'|trans }}
        </a>
    </li>
    <li class="list-languages__item">
        <img class="list-languages__item__image" src="{{ asset('/assets/frontend/images/flags/netherlands.png') }}" alt="{{ 'Nederland'|trans }}">
        <a class="list-languages__item__link underline" href="https://de.bushmanwear.com/">
            {{ 'Nederland'|trans }}
        </a>
    </li>
    <li class="list-languages__item">
        <img class="list-languages__item__image" src="{{ asset('/assets/frontend/images/flags/belgium.png') }}" alt="{{ 'Belgien'|trans }}">
        <a class="list-languages__item__link underline" href="https://de.bushmanwear.com/">
            {{ 'Belgien'|trans }}
        </a>
    </li>
    <li class="list-languages__item">
        <img class="list-languages__item__image" src="{{ asset('/assets/frontend/images/flags/luxembourg.png') }}" alt="{{ 'Lëtzebuerg'|trans }}">
        <a class="list-languages__item__link underline" href="https://de.bushmanwear.com/">
            {{ 'Lëtzebuerg'|trans }}
        </a>
    </li>
    <li class="list-languages__item">
        <img class="list-languages__item__image" src="{{ asset('/assets/frontend/images/flags/hungary.png') }}" alt="{{ 'Magyarország'|trans }}">
        <a class="list-languages__item__link underline" href="https://de.bushmanwear.com/">
            {{ 'Magyarország'|trans }}
        </a>
    </li>
    <li class="list-languages__item list-languages__item--inactive">
        <img class="list-languages__item__image" src="{{ asset('/assets/frontend/images/flags/united-kingdom.png') }}" alt="{{ 'Great britain'|trans }}">
        <a class="list-languages__item__link underline">
            {{ 'Great britain'|trans }}
        </a>
    </li>
    <li class="list-languages__item list-languages__item--inactive">
        <img class="list-languages__item__image" src="{{ asset('/assets/frontend/images/flags/russia.png') }}" alt="{{ 'БЪЛГАРИЯ'|trans }}">
        <a class="list-languages__item__link underline">
            {{ 'БЪЛГАРИЯ'|trans }}
        </a>
    </li>
</ul>
