{% extends '@!ShopsysFramework/Admin/Content/Customer/edit.html.twig' %}

{% block main_content %}

    {{ form_start(form) }}
        {{ form_errors(form) }}

        {% embed '@ShopsysFramework/Admin/Inline/FixedBar/fixedBar.html.twig' %}
            {% block fixed_bar_content %}
                <a href="{{ url('admin_customer_list') }}" class="btn-link-style">{{ 'Back to overview'|trans }}</a>
                {{ form_save(user|default(null), form) }}
            {% endblock %}
        {% endembed %}

        <div class="wrap-divider">
            <h2>{{ 'Bushman club - body'|trans }}</h2>

            <table class="table-main">
                <thead>
                <tr>
                    {% for bushmanClubPointPeriod in bushmanClubPointPeriods %}
                        <th>
                            {{ bushmanClubPointPeriod.dateFrom|formatDate }} -
                            {{ bushmanClubPointPeriod.dateTo|formatDate }}
                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for bushmanClubPointPeriod in bushmanClubPointPeriods %}
                        <td>
                            {{ bushmanClubPoints(user.id, bushmanClubPointPeriod) }}
                        </td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>

        <div class="wrap-divider">
            <h2>{{ 'Zákaznická ID a eany'|trans }}</h2>

            <table class="table-main">
                <thead>
                    <tr>
                        <th>
                            {{ 'ID zákazníka'|trans }}
                        </th>
                        <th>
                            {{ 'ean'|trans }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for transferIdAndEan in user.userTransferIdAndEan %}
                    <tr>
                        <td>
                            {{ transferIdAndEan.transferId }}
                        </td>
                        <td>
                            {{ transferIdAndEan.ean }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {{ form_end(form) }}

{% endblock %}
