{# TODO PRG: hidden by design, bcs we dont need to show message,
- but I only hide it due to future implementation
- message contains some information we need in this window #}
{#{ render(controller('ShopsysShopBundle:Front/FlashMessage:index')) }#}
{% import '@ShopsysShop/Front/Content/Product/productListMacro.html.twig' as productList %}
{# TODO PRG: 31870 - join data #}
<div class="box-popup-add">
    <div class="box-popup-add__content">
        <div class="box-popup-add__content__title">
            <span class="box-popup-add__content__title__text double-lined">
                {{ 'Do košíku jste přidali'|trans }}
            </span>
        </div>
        <div class="box-popup-add__content__product js-not-implemented-yet">
            <div class="box-popup-add__content__product__image">
                <img src="https://placeimg.com/101/101/any">
            </div>
            <div class="box-popup-add__content__product__pieces display-none">
                1 ks
            </div>
            <div class="box-popup-add__content__product__name">
                <span class="box-popup-add__content__product__name__title">
                    Košile Indiana
                </span>
                <span class="box-popup-add__content__product__name__price">
                    <span class="box-popup-add__content__product__name__price__main">
                        1699 Kč
                    </span>
                    <span class="box-popup-add__content__product__name__price__old">
                        3099 Kč
                    </span>
                </span>
                <span class="box-popup-add__content__product__name__text js-not-implemented-yet">
                    {{ 'Barva'|trans }}: Light Olive
                </span>
                <span class="box-popup-add__content__product__name__text">
                    {{ 'Velikost'|trans }}: <span class="in-badge in-badge--outline js-not-implemented-yet">36</span>
                </span>
            </div>
        </div>
    </div>
    <div class="box-popup-add__action">
        <div class="box-popup-add__action__buttons">
            {# TODO PRG: bind same function like to cross sign at right top #}
            <div class="box-popup-add__action__buttons__back js-window-button-close js-not-implemented-yet">
                <i class="svg svg-triangle"></i>
                <a href="#" class="box-popup-add__action__buttons__back__link underline-small">
                    {{ 'Zpět do e-shopu'|trans }}
                </a>
            </div>
            <a href="{{ url('front_cart') }}" class="btn btn--success btn--large">
                {{ 'Přejít do košíku'|trans }}
            </a>
        </div>
        <div class="box-popup-add__action__transport">
            <div class="in-free-transport">
                <div class="in-free-transport js-not-implemented-yet">
                    <div class="in-free-transport__title">
                        {{ 'Nakupte ještě za '|trans }} <span class="in-free-transport__title__price">1000</span>&nbsp;{{ 'a'|trans }}
                        {{ 'máte'|trans }} <span class="in-free-transport__title__important">{{ 'dopravu zdarma!'|trans }}</span>
                    </div>
                    <div class="in-free-transport__pipe in-free-transport__pipe--fat">
                        <div class="in-free-transport__pipe__line" style="width: 60%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% if isModuleEnabled(ACCESSORIES_ON_BUY) %}
    {% if accessories|length > 0 %}
        <div class="wrap-box margin-top-20 margin-bottom-0">
            <h3 class="wrap-box__title">
                {{ 'Our customers who bought this bought also'|trans }}
            </h3>
            <div class="wrap-box__in">
                {{ productList.list(accessories, null, null, 'list-products--in-window') }}
            </div>
        </div>
        <span class="js-add-product-wide-window" data-wide="true"></span>
    {% endif %}
{% endif %}
<span class="js-add-product-url-cart" data-url="{{ url('front_cart') }}"></span>
