<div id="js-cart-box" data-reload-url="{{ url('front_cart_box') }}">

    <div class="box-dropdown box-dropdown--no-right-gap js-hover-intent {% if cart is null %}box-dropdown--without-arrow{% endif %}"
         data-hover-intent-intrval="200"
         data-hover-intent-timeout="200"
         data-hover-intent-class-for-open="open"
    >

        <a href="{{ path('front_cart') }}" class="box-dropdown__select">
            <div class="cart__icon">
                <i class="svg svg-cart"></i>
                {% if cart is not null %}
                    <span class="cart__icon__count">
                        {{ cart.itemsCount }}
                    </span>
                {% endif %}
            </div>
            <span class="cart__info js-cart-info">
                {% if cart is null %}
                    {{ 'Prázdný'|trans }}
                {% else %}
                    {{ productsPrice.priceWithVat|price }}
                {% endif %}
            </span>
            {% if cart is not null %}
                <i class="box-dropdown__select__arrow box-dropdown__select__arrow--up"></i>
                <i class="box-dropdown__select__arrow box-dropdown__select__arrow--down"></i>
            {% endif %}
        </a>
        <div class="box-dropdown__options js-dropdown-options js-not-implemented-yet">
            <div class="cart-detail__wrap">
                <ul class="cart-detail">
                    <li class="cart-detail__item">
                        <div class="cart-detail__item__image">
                            <img src="https://placeimg.com/71/71/any" alt="Product name">
                        </div>
                        <div class="cart-detail__item__content">
                            <a class="cart-detail__item__content__title" href="#" title="Product name">Košile Indiana</a>
                            <span class="cart-detail__item__content__price"> 1699 Kč
                                <span class="cart-detail__item__content__price__old">3099 Kč</span>
                            </span>
                            <span class="cart-detail__item__content__size"> Velikost <span class="in-badge in-bage--outline">M</span> </span>
                        </div>
                        <div class="cart-detail__item__pieces">
                            1 ks
                        </div>
                        <a href="#" class="cart-detail__item__remove">
                            <i class="svg svg-remove"></i>
                        </a>
                    </li>
                    <li class="cart-detail__item">
                        <div class="cart-detail__item__image">
                            <img src="https://placeimg.com/71/71/any" alt="Product name">
                        </div>
                        <div class="cart-detail__item__content">
                            <a class="cart-detail__item__content__title" href="#" title="Product name">Košile Indiana</a>
                            <span class="cart-detail__item__content__price"> 1699 Kč
                                <span class="cart-detail__item__content__price__old">3099 Kč</span>
                            </span>
                            <span class="cart-detail__item__content__size"> Velikost <span class="in-badge in-bage--outline">M</span> </span>
                        </div>
                        <div class="cart-detail__item__pieces">
                            1 ks
                        </div>
                        <a href="#" class="cart-detail__item__remove">
                            <i class="svg svg-remove"></i>
                        </a>
                    </li>
                    <li class="cart-detail__item">
                        <div class="cart-detail__item__image">
                            <img src="https://placeimg.com/71/71/any" alt="Product name">
                        </div>
                        <div class="cart-detail__item__content">
                            <a class="cart-detail__item__content__title" href="#" title="Product name">Košile Indiana</a>
                            <span class="cart-detail__item__content__price"> 1699 Kč
                                <span class="cart-detail__item__content__price__old">3099 Kč</span>
                            </span>
                            <span class="cart-detail__item__content__size"> Velikost <span class="in-badge in-bage--outline">M</span> </span>
                        </div>
                        <div class="cart-detail__item__pieces">
                            1 ks
                        </div>
                        <a href="#" class="cart-detail__item__remove">
                            <i class="svg svg-remove"></i>
                        </a>
                    </li>
                </ul>
                <div class="cart-detail__total">
                    <div class="cart-detail__total__text">
                        {{ 'Celkem'|trans }}
                    </div>
                    <div class="cart-detail__total__price">
                        7 597 Kč
                    </div>
                </div>
            </div>
            <div class="cart-detail__bottom">
                <div class="cart-detail__bottom__transport">
                    <div class="in-free-transport js-not-implemented-yet">
                        <div class="in-free-transport__title">
                            {{ 'Nakupte ještě za '|trans }} <span class="in-free-transport__title__price">256 Kč</span>&nbsp;{{ 'a'|trans }}<br>
                            {{ 'máte'|trans }} <span class="in-free-transport__title__important">{{ 'dopravu zdarma!'|trans }}</span>
                        </div>
                        <div class="in-free-transport__pipe">
                            <div class="in-free-transport__pipe__line" style="width: 56%;"></div>
                        </div>
                    </div>
                </div>
                <div class="cart-detail__bottom__button">
                    <a href="{{ url('front_cart') }}" class="btn btn--success">{{ 'Přejít do košíku'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
