<div id="js-cart-box" data-reload-url="{{ url('front_cart_box') }}">

    <div class="box-dropdown box-dropdown--no-right-gap js-dropdown
        {% if cart is null %}box-dropdown--without-arrow {% endif %}"
         data-type="link"
        >

        <a class="box-dropdown__select" href="{{ url('front_cart') }}">
            <div class="cart__icon">
                <i class="svg svg-cart"></i>
                {% if cart is not null %}
                    <span class="cart__icon__count">
                        {{ cart.itemsCount }}
                    </span>
                {% endif %}
            </div>
            <span class="cart__info js-cart-info">
                {% if cart is null %}
                    {{ 'Prázdný'|trans }}
                {% else %}
                    {{ productsPrice.priceWithVat|price }}
                {% endif %}
            </span>
            {% if cart is not null %}
                <i class="box-dropdown__select__arrow box-dropdown__select__arrow--up"></i>
                <i class="box-dropdown__select__arrow box-dropdown__select__arrow--down"></i>
            {% endif %}
        </div>
    </div>
</div>
