{% if categories|length > 0 %}
    {% if type is defined and type == 'prelist' %}
        <ul class="list-prelist-categories  js-tabs-content {{ cssClass|default('') }}" data-tab-id="categories">
            {% for category in categories %}
                {% if currentCategory is defined and currentCategory.isSaleType %}
                    {% set categoryUrl = url('front_sale_product_list', { friendlyUrl: findMainFriendlyUrl('front_product_list', category.id) }) %}
                {% elseif currentCategory is defined and currentCategory.isNewsType %}
                    {% set categoryUrl = url('front_news_product_list', { friendlyUrl: findMainFriendlyUrl('front_product_list', category.id) }) %}
                {% else %}
                    {% set categoryUrl = url('front_product_list', { id: category.id }) %}
                {% endif %}
                {% if loop.index0 == 2 and currentCategory.rightBannerText is not empty %}
                    <li class="list-prelist-categories__item list-prelist-categories__item--text-info">
                        <h2 class="list-prelist-categories__item__text">
                            {{ currentCategory.rightBannerText }}
                        </h2>
                    </li>
                {% elseif loop.index0 == 6 and currentCategory.leftBannerText is not empty %}
                    <li class="list-prelist-categories__item list-prelist-categories__item--text-info">
                        <h2 class="list-prelist-categories__item__text">
                            {{ currentCategory.leftBannerText }}
                        </h2>
                    </li>
                {% endif %}
                <li class="list-prelist-categories__item">
                    <a class="list-prelist-categories__item__link" href="{{ url('front_product_list', { id: category.id }) }}">
                        <div class="list-prelist-categories__item__image">
                            {{ image(category, { size: 'preList', alt: category.name }) }}
                        </div>
                        <div class="list-prelist-categories__item__info">
                            {{ category.name }}
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <ul class="list-categories js-tabs-content {{ cssClass|default('') }}" data-tab-id="categories">
            {% for category in categories %}
                {% if currentCategory is defined and currentCategory.isSaleType %}
                    {% set categoryUrl = url('front_sale_product_list', { id: category.id }) %}
                {% elseif currentCategory is defined and currentCategory.isNewsType %}
                    {% set categoryUrl = url('front_news_product_list', { id: category.id }) %}
                {% else %}
                    {% set categoryUrl = url('front_product_list', { id: category.id }) %}
                {% endif %}
                {% if brand is defined %}
                    {% set categoryUrl = categoryUrl ~ '?vyrobce=' ~ brand.name|lower %}
                {% endif %}
                <li class="list-categories__item">
                    <a href="{{ categoryUrl }}" class="list-categories__item__link">
                        <div class="list-categories__item__image">
                            {{ image(category, { alt: category.name }) }}
                        </div>
                        <div class="list-categories__item__info">
                            <p class="list-categories__item__text">
                                <span class="list-categories__item__text__name">{{ category.name }}</span>
                            </p>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}
