{% macro rightContent(categoriesWithLazyLoadedVisibleChildren, modificationClass = '', dropdownMenu, showImage, children, isSaleCategoryChild, isNewsCategoryChild, parentCategoryId) %}
    {% if categoriesWithLazyLoadedVisibleChildren|length > 0 %}
        <ul class="{% if not children %}list-menu{% else %}list-menu__submenu{% endif %} {{ modificationClass }}">
            {% for categoryWithLazyLoadedVisibleChildren in categoriesWithLazyLoadedVisibleChildren %}
                {% if not categoryWithLazyLoadedVisibleChildren.category.saleType and not categoryWithLazyLoadedVisibleChildren.category.newsType %}
                    {{ _self.mainCategory(categoryWithLazyLoadedVisibleChildren, dropdownMenu, showImage, loop.index, loop.length, isSaleCategoryChild, isNewsCategoryChild, parentCategoryId) }}
                {% endif %}
            {% endfor %}
            {% for categoryWithLazyLoadedVisibleChildren in categoriesWithLazyLoadedVisibleChildren %}
                {% if categoryWithLazyLoadedVisibleChildren.category.newsType %}
                    {{ _self.mainCategory(categoryWithLazyLoadedVisibleChildren, dropdownMenu, showImage, loop.index, loop.length, isSaleCategoryChild, isNewsCategoryChild, parentCategoryId) }}
                {% endif %}
            {% endfor %}
            {% for categoryWithLazyLoadedVisibleChildren in categoriesWithLazyLoadedVisibleChildren %}
                {% if categoryWithLazyLoadedVisibleChildren.category.saleType %}
                    {{ _self.mainCategory(categoryWithLazyLoadedVisibleChildren, dropdownMenu, showImage, loop.index, loop.length, isSaleCategoryChild, isNewsCategoryChild, parentCategoryId) }}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro mainCategory(categoryWithLazyLoadedVisibleChildren, dropdownMenu, showImage, loopIndex, loopLength, isSaleCategoryChild, isNewsCategoryChild, parentCategoryId) %}
    {% set category = categoryWithLazyLoadedVisibleChildren.category %}
    {% set hasChildren = category.hasChildren or category.saleType or category.newsType %}
    {% if isSaleCategoryChild %}
        {% set categoryUrl = url('front_sale_product_list', { id: category.id }) %}
    {% elseif isNewsCategoryChild %}
        {% set categoryUrl = url('front_news_product_list', { id: category.id }) %}
    {% else %}
        {% set categoryUrl = url('front_product_list', { id: category.id }) %}
    {% endif %}

    {% if category.level == 1 %}
        <li class="list-menu__item list-menu__item--main {% if hasChildren and dropdownMenu %}js-hover-intent{% endif %}">
            <div class="list-menu__item__select">
                <a href="{{ categoryUrl }}"
                   class="list-menu__item__link{% if hasChildren %} list-menu__item__link--with-dropdown{% endif %} list-menu__item__link--level-{{ category.level }}">
                    {{ category.name }}
                    {% if hasChildren %}
                        <i class="list-menu__item__link__arrow svg svg-triangle"></i>
                    {% endif %}
                </a>
            </div>
            {% if hasChildren and (category.saleType is same as (false) or showImage is same as (true)) and (category.newsType is same as (false) or showImage is same as (true)) %}
                <div class="list-menu__item__options">
                    {{ _self.rightContent(categoryWithLazyLoadedVisibleChildren.children, '', false, showImage, true, category.saleType, category.newsType, category.id) }}
                </div>
            {% endif %}
        </li>
    {% else %}
        {% if category.level < 3 or loopIndex < 5 %}
            <li class="list-menu__submenu__item">
                {% if showImage %}
                    <a class="list-menu__submenu__item__image" href="{{ categoryUrl }}">
                        {{ image(category, { alt: category.name, size: 'dropdown' }) }}
                    </a>
                {% endif %}
                <div class="list-menu__submenu__item__content">
                    <a href="{{ categoryUrl }}"
                       class="list-menu__submenu__item__title list-menu__submenu__item__title--level-{{ category.level }}">
                        {{ category.name }}
                    </a>
                    {% if hasChildren and category.level == 2 and not (isSaleCategoryChild or isNewsCategoryChild) %}
                        {{ _self.rightContent(categoryWithLazyLoadedVisibleChildren.children, 'list-menu__submenu--children', false, false, true, category.saleType, category.newsType, category.id) }}
                    {% endif %}
                </div>
            </li>
        {% elseif category.level == 3 and loopIndex == 5 %}
            <li class="list-menu__submenu__item">
                <a class="list-menu__submenu__item__more" href="{{ url('front_product_list', {id: parentCategoryId}) }}">
                    {{ 'a další kategorie'|transchoice(loopLength - 4, {'count': loopLength}) }}
                </a>
            </li>
        {% endif %}
    {% endif %}
{% endmacro %}

{{ _self.rightContent(categoriesWithLazyLoadedVisibleChildren, '', dropdownMenu, showImage, children, false, false, 0) }}
