{# Design - temporary hidden #}
{% if 1==2 %}
<div class="box-references">
    <div class="box-references__title">
        {{ 'Co na nás říkají zákazníci'|trans }}
    </div>
    <div class="box-references__in js-horizontal-list" data-type="references">
        <span class="js-horizontal-list-action-prev list-references__arrow list-references__arrow--prev">
            <i class="svg svg-slider-arrow"></i>
        </span>
        <div class="list-references js-horizontal-list-slides">
            <div class="list-references__item js-not-implemented-yet">
                <div class="list-references__item__header">
                    <div class="list-references__item__header__author">
                        {{ 'Lenka'|trans }}
                    </div>
                    <div class="in-rating">
                        <div class="in-rating__stars">
                            <div class="in-rating__stars__full">
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                            </div>
                            <div class="in-rating__stars__actual" style="width: 20%;">
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-references__item__text">
                    {{ 'Bezproblémový nákup. Nakoupila jsem již po několikáté a vše na jedničku.'|trans }}
                </div>
                <div class="list-references__item__date">
                    {{ '2019-05-17'|formatDate }}
                </div>
            </div>
            <div class="list-references__item js-not-implemented-yet">
                <div class="list-references__item__header">
                    <div class="list-references__item__header__author">
                        {{ 'Rosťa'|trans }}
                    </div>
                    <div class="in-rating">
                        <div class="in-rating__stars">
                            <div class="in-rating__stars__full">
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                            </div>
                            <div class="in-rating__stars__actual" style="width: 40%;">
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-references__item__text">
                    {{ 'Vracel jsem velikost a měl jsem poštovné zdarma. Na české poměry něco nevídaného. Klobou dolů.'|trans }}
                </div>
                <div class="list-references__item__date">
                    {{ '2019-05-09'|formatDate }}
                </div>
            </div>
            <div class="list-references__item js-not-implemented-yet">
                <div class="list-references__item__header">
                    <div class="list-references__item__header__author">
                        {{ 'Jarda'|trans }}
                    </div>
                    <div class="in-rating">
                        <div class="in-rating__stars">
                            <div class="in-rating__stars__full">
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                            </div>
                            <div class="in-rating__stars__actual" style="width: 60%;">
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-references__item__text">
                    {{ 'Kupoval jsem s nedůvěrou, ale materiály a střih jsou super.'|trans }}
                </div>
                <div class="list-references__item__date">
                    {{ '2019-04-29'|formatDate }}
                </div>
            </div>
            <div class="list-references__item js-not-implemented-yet">
                <div class="list-references__item__header">
                    <div class="list-references__item__header__author">
                        {{ 'Luboš'|trans }}
                    </div>
                    <div class="in-rating">
                        <div class="in-rating__stars">
                            <div class="in-rating__stars__full">
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                            </div>
                            <div class="in-rating__stars__actual" style="width: 80%;">
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-references__item__text">
                    {{ 'Kdo zná, ví. Kdo nezná ať rychle vyzkouší!'|trans }}
                </div>
                <div class="list-references__item__date">
                    {{ '2019-04-20'|formatDate }}
                </div>
            </div>
            <div class="list-references__item js-not-implemented-yet">
                <div class="list-references__item__header">
                    <div class="list-references__item__header__author">
                        {{ 'Patrik'|trans }}
                    </div>
                    <div class="in-rating">
                        <div class="in-rating__stars">
                            <div class="in-rating__stars__full">
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                            </div>
                            <div class="in-rating__stars__actual" style="width: 100%;">
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-references__item__text">
                    {{ 'Kupoval jsem si trenýrky, raději jsem si měl koupit pláštěnku.'|trans }}
                </div>
                <div class="list-references__item__date">
                    {{ '2019-05-11'|formatDate }}
                </div>
            </div>
            <div class="list-references__item js-not-implemented-yet">
                <div class="list-references__item__header">
                    <div class="list-references__item__header__author">
                        {{ 'Martin'|trans }}
                    </div>
                    <div class="in-rating">
                        <div class="in-rating__stars">
                            <div class="in-rating__stars__full">
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                            </div>
                            <div class="in-rating__stars__actual" style="width: 20%;">
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                                <i class="svg svg-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-references__item__text">
                    {{ 'Super košele.'|trans }}
                </div>
                <div class="list-references__item__date">
                    {{ '2019-05-01'|formatDate }}
                </div>
            </div>
        </div>
        <span class="js-horizontal-list-action-next list-references__arrow list-references__arrow--next">
            <i class="svg svg-slider-arrow"></i>
        </span>
    </div>
</div>
{% endif %}
