<div class="list-menu list-menu--footer js-footer-link-content">
    <ul class="list-menu__column dont-print">
        {% if isPlacementServices %}
            <li class="list-menu__item">
                <a href="{{ url(
                    'front_blogcategory_detail', {
                        'id': constant('App\\Model\\Blog\\Category\\BlogCategory::BLOG_MAIN_PAGE_CATEGORY_ID')
                    }
                ) }}"
                   class="list-menu__item__link"
                >
                    {{ 'Magazín'|trans }}
                </a>
            </li>
        {% endif %}
        {% if isPlacementShopping %}
            {% for customLink, customLinkName in customLinks %}
                {% set customLinkUrl = url(customLink) %}
                <a href="{{ customLinkUrl }}" class="list-menu__item__link">{{ customLinkName }}</a>
            {% endfor %}
        {% endif %}
        {% for article in articles %}
            <li class="list-menu__item">
                <a class="list-menu__item__link" href="{{ url('front_article_detail', { id: article.id }) }}">{{ article.name }}</a>
            </li>
        {% endfor %}
        {% if isPlacementServices %}
            <li class="list-menu__item">
                <a href="{{ url('front_store_index') }}" class="list-menu__item__link">
                    {{ 'Prodejna v Liberci'|trans }}
                </a>
            </li>
            <li class="list-menu__item">
                <a href="{{ url('front_about_us_info') }}" class="list-menu__item__link">
                    {{ 'Kontakt'|trans }}
                </a>
            </li>
        {% endif %}
    </ul>
</div>
