{% extends '@ShopsysShop/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block title %}
    {{ 'Personal information overview'|trans }}
{% endblock %}

{% block meta_description %}
    {{ parent() }}
{% endblock %}

{% block meta_robots -%}
    <meta name="robots" content="noindex">
{% endblock %}

{% block main_content %}
<div class="web__line">
    <div class="web__container">

        <h1 class="in-title in-title--big in-title--center">
            {{ title }}
        </h1>

        <div class="in-user-text margin-bottom-20">
            {{ personalDataSiteContent|raw }}
        </div>

        <div class="wrap-well wrap-well--big-padding">
            {{ form_start(form, { method: 'POST' }) }}
                <div class="wrap-article__row">
                    <div class="wrap-article__row__half">
                        {{ form_row(form.email, {errors_attr: { class: 'form-error--under' }}) }}
                    </div>
                    <div class="wrap-article__row__half">
                        {{ form_row(form.send, {label: 'Odeslat na mail'|trans, attr: {class: 'btn btn--success btn--with-input'}}) }}
                    </div>
                </div>
            {{ form_end(form) }}
            {{ form_errors(form) }}
        </div>

        {% if user is defined %}
            {{ include('@ShopsysShop/Front/Content/PersonalData/detail.html.twig') }}
        {% endif %}
    </div>
</div>

{% endblock %}
