{% extends '@ShopsysShop/Front/Layout/layoutWithoutPanel.html.twig' %}
{% import '@ShopsysShop/Front/Inline/Paginator/paginator.html.twig' as paginator %}

{% set domain = getDomain() %}

{% block title %}
    {{- blogCategory.getSeoTitle(domain.id)|default(blogCategory.name) -}}
{% endblock %}

{% block meta_description %}
    {{- blogCategory.getSeoMetaDescription(domain.id)|default(getSeoMetaDescription()) -}}
{% endblock %}

{% block main_content %}
    {% set entityName = 'blogArticles'|trans %}
    <div class="web__line">
        <div class="web__container web__container--big-padding">
            <div class="box-blog">
                <h1 class="box-blog__title">
                    {% if blogCategory.getSeoH1(domain.id) is not null %}
                        {{ blogCategory.getSeoH1(domain.id) }}
                    {% else %}
                        {{ blogCategory.name }}
                    {% endif %}
                </h1>
                <div class="box-blog__content">
                    <div class="box-blog__list">
                        {% if blogArticlePaginationResult.results|length > 0 %}
                            <div class="js-blog-list-with-paginator">
                                <ul class="list-articles-blog js-list">
                                    {% for blogArticle in blogArticlePaginationResult.results %}
                                        {% set url = url('front_blogarticle_detail', {'id': blogArticle.id}) %}
                                        <li class="list-articles-blog__item list-articles-blog__item--full-size">
                                            <div class="list-articles-blog__item__image">
                                                <a href="{{ url }}" class="list-articles-blog__item__image__link" title="{{ blogArticle.name }}">
                                                    {{ image(blogArticle, { size: 'list', alt: blogArticle.name, lazy: true }) }}
                                                </a>
                                            </div>
                                            <div class="list-articles-blog__item__content">
                                                <div class="list-tags">
                                                    <span class="list-tags__tag">
                                                        {{ lastBlogCategoryForBlogArticlesByBlogArticleId[blogArticle.id].name }}
                                                    </span>
                                                </div>
                                                <a href="{{ url }}" class="list-articles-blog__item__content__title">
                                                    <span class="underline-text">{{ blogArticle.name }}</span>
                                                </a>
                                                <div class="list-articles-blog__item__content__text">
                                                    {{ blogArticle.perex|striptags|raw }}
                                                </div>
                                                <div class="list-articles-blog__item__content__date">
                                                    {{ blogArticle.publishDate|formatLongDate }}
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>

                                <div class="box-blog__list__button">
                                    {{ paginator.loadMoreButton(blogArticlePaginationResult) }}
                                </div>
                            </div>
                        {% else %}
                            <div class="in-message in-message--info margin-bottom-20">
                                {{ 'This blog category contains no blog articles.'|trans }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="box-blog__panel">
                        <div class="box-blog__section">
                            {{ render(controller('ShopsysShopBundle:Front/BlogCategory:list')) }}
                        </div>
                        {# Design - temporary hidden #}
                        {% if 1==2 %}
                        <div class="box-blog__section">
                            <div class="box-blog__title">
                                {{ 'Nejčtenější články'|trans }}
                            </div>
                            <ul class="list-articles-blog-small js-not-implemented-yet">
                                <li class="list-articles-blog-small__item">
                                    <div class="list-articles-blog-small__item__image">
                                        <a href="#" class="list-articles-blog__item__image__link" title="{{ 'Fotky z dovolené jako od profesionála'|trans }}">
                                            <img src="https://placeimg.com/70/57/any" alt="{{ 'Fotky z dovolené jako od profesionála'|trans }}">
                                        </a>
                                    </div>
                                    <div class="list-articles-blog-small__item__content">
                                        <a href="#" class="list-articles-blog-small__item__content__title underline-small">
                                            {{ 'Fotky z dovolené jako od profesionála'|trans }}
                                        </a>
                                    </div>
                                </li>
                                <li class="list-articles-blog-small__item">
                                    <div class="list-articles-blog-small__item__image">
                                        <a href="#" class="list-articles-blog__item__image__link" title="{{ 'Bushman expedice aneb čtyři češi na kalahari'|trans }}">
                                            <img src="https://placeimg.com/70/57/any" alt="{{ 'Bushman expedice aneb čtyři češi na kalahari'|trans }}">
                                        </a>
                                    </div>
                                    <div class="list-articles-blog-small__item__content">
                                        <a href="#" class="list-articles-blog-small__item__content__title underline-small">
                                            {{ 'Bushman expedice aneb čtyři češi na kalahari'|trans }}
                                        </a>
                                    </div>
                                </li>
                                <li class="list-articles-blog-small__item">
                                    <div class="list-articles-blog-small__item__image">
                                        <a href="#" class="list-articles-blog__item__image__link" title="{{ 'Fotky z dovolené jako od profesionála'|trans }}">
                                            <img src="https://placeimg.com/70/57/any" alt="{{ 'Fotky z dovolené jako od profesionála'|trans }}">
                                        </a>
                                    </div>
                                    <div class="list-articles-blog-small__item__content">
                                        <a href="#" class="list-articles-blog-small__item__content__title underline-small">
                                            {{ 'Fotky z dovolené jako od profesionála'|trans }}
                                        </a>
                                    </div>
                                </li>
                                <li class="list-articles-blog-small__item">
                                    <div class="list-articles-blog-small__item__image">
                                        <a href="#" class="list-articles-blog__item__image__link" title="{{ 'Bushman expedice aneb čtyři češi na kalahari'|trans }}">
                                            <img src="https://placeimg.com/70/57/any" alt="{{ 'Bushman expedice aneb čtyři češi na kalahari'|trans }}">
                                        </a>
                                    </div>
                                    <div class="list-articles-blog-small__item__content">
                                        <a href="#" class="list-articles-blog-small__item__content__title underline-small">
                                            {{ 'Bushman expedice aneb čtyři češi na kalahari'|trans }}
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block last_visited_products %}
        {{ render(controller('ShopsysShopBundle:Front/LastVisitedProducts:show')) }}
    {% endblock %}

    <div class="web__line">
        <div class="web__container">
            {% cache getInstagramCacheId() {time: getInstagramCacheTime()} %}
                {{ instagramFeed() }}
            {% endcache %}
        </div>
    </div>

    <div class="web__line">
        <div class="web__container web__container--dark web__container--big-padding">
            {% include '@ShopsysShop/Front/Content/Motto/line.html.twig' %}
        </div>
    </div>
{% endblock %}
