{% import '@ShopsysShop/Front/Content/Product/deliveryDateMacro.html.twig' as deliveryDate %}

{% macro availibilityDetail(product, setDisplayNone) %}
    <div class="{% if setDisplayNone is same as (true) %}display-none {% endif %}box-detail__availability js-detail-availability js-detail-availability-{{ product.id }}">
        <span class="box-detail__availability__status" style="color: #7bbd70;">
            {% if product.calculatedSellingDenied %}
                {{ 'Product no longer on sale'|trans }}
            {% else %}
                {% if isGermanyDomain() is same as (false) %}
                    <span class="box-detail__info__availability__date">
                        {{ deliveryDate.productAvailabilityWithDeliveryDate(product) }}
                    </span>
                {% endif %}
            {% endif %}
        </span>

        {% set stocksWithoutZeroQuantityOnPickupPlaceStore = product.stocksWithoutZeroQuantityOnPickupPlaceStore(getDomain()) %}
        {% if stocksWithoutZeroQuantityOnPickupPlaceStore|length > 0 %}
            <span class="box-detail__availability__text">
                {{ 'nebo ihned na '}}
            </span>
            <a
                    href="#"
                    class="box-detail__availability__stores underline-small"
                    onclick="Shopsys.window({ content: $('.js-availability-table_{{ product.id }}').html() }); return false;"
            >
                {% transchoice stocksWithoutZeroQuantityOnPickupPlaceStore|length with { '%stocksWithoutZeroQuantityOnStoreCount%': stocksWithoutZeroQuantityOnPickupPlaceStore|length } %}
                    {1} %stocksWithoutZeroQuantityOnStoreCount% prodejně|
                    [2,Inf] %stocksWithoutZeroQuantityOnStoreCount% prodejnách
                {% endtranschoice %}
            </a>
        {% endif %}
        <div class="display-none js-availability-table_{{ product.id }}">
            <table class="table-main full-width">
                <thead>
                <tr>
                    <th>{{ 'Prodejna'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for storeWithStock in stocksWithoutZeroQuantityOnPickupPlaceStore %}
                    <tr>
                        <td>{{ storeWithStock.store.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endmacro %}


{% if variants|length > 0 or product.variants|length > 0 %}
    <div class="box-detail__availability box-detail__availability--two-lines-mobile js-product-variant-detail-select-info">
        <span class="box-detail__availability__status color-green">
            <span class="box-detail__info__availability__date">
                <span>{{ 'Dostupnost a datum doručení'|trans }}</span>
            </span>
        </span>
        <span class="box-detail__availability__text">{{ 'nejprve vyberte velikost'|trans }}</span>
    </div>
    {% for variant in variants if variant in product.variants %}
        {{ _self.availibilityDetail(variant, true) }}
    {% endfor %}
{% else %}
    {{ _self.availibilityDetail(product, false) }}
{% endif %}
