{% macro availibilityDetail(product, setDisplayNone) %}
    <div class="{% if setDisplayNone is same as (true) %}display-none {% endif %}box-detail__availability js-detail-availability js-detail-availability-{{ product.id }}">
        <span class="box-detail__availability__status js-not-implemented-yet" style="color: #7bbd70;">
            {% if product.calculatedSellingDenied %}
                {{ 'Product no longer on sale'|trans }}
            {% else %}
                {{ product.calculatedAvailability.name }}
            {% endif %}
        </span>

        {% set stocksWithoutZeroQuantityOnStoreCount = product.stocksWithoutZeroQuantityOnStore|length %}
        {% if stocksWithoutZeroQuantityOnStoreCount > 0 %}
            <span class="box-detail__availability__text">
                {{ 'nebo ihned na '}}
            </span>
            <a
                    href="#"
                    class="box-detail__availability__stores underline-small"
                    onclick="Shopsys.window({ content: $('.js-availability-table_{{ product.id }}').html() }); return false;"
            >
                {% transchoice stocksWithoutZeroQuantityOnStoreCount with { '%stocksWithoutZeroQuantityOnStoreCount%': stocksWithoutZeroQuantityOnStoreCount } %}
                    {1} %stocksWithoutZeroQuantityOnStoreCount% prodejně|
                    [2,Inf] %stocksWithoutZeroQuantityOnStoreCount% prodejnách
                {% endtranschoice %}
            </a>
        {% endif %}
        <div class="display-none js-availability-table_{{ product.id }}">
            <table class="table-main full-width">
                <thead>
                <tr>
                    <th>{{ 'Prodejna'|trans }}</th>
                    <th class="text-right">{{ 'Skladem'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for storeWithStock in product.stocksWithoutZeroQuantityOnStore %}
                    <tr>
                        <td>{{ storeWithStock.store.name }}</td>
                        <td class="text-right">{{ storeWithStock.stockQuantity }} {{ storeWithStock.product.unit.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endmacro %}


{% if variants|length > 0 or product.variants|length > 0 %}
    <div class="box-detail__availability js-detail-availability-variant-select-info">
        {{ 'Pro termín doručení a dostupnost na prodejnách si vyberte z velikostí.'|trans }}
    </div>
    {% for variant in variants if variant in product.variants %}
        {{ _self.availibilityDetail(variant, true) }}
    {% endfor %}
{% else %}
    {{ _self.availibilityDetail(product, false) }}
{% endif %}
