{% macro writeParameters(product, parameterClassName) %}
    {% set productDistinguishingParameterValue = productDistinguishingParameterValue(product) %}
    {% if productDistinguishingParameterValue.firstDistinguishingParameterValue is not null %}
        <span class="{{ parameterClassName }}">
            {{ productDistinguishingParameterValue.firstDistinguishingParameterName }}: {{ productDistinguishingParameterValue.firstDistinguishingParameterValue }}
        </span>
    {% endif %}

    {% if productDistinguishingParameterValue.secondDistinguishingParameterValue is not null %}
        <span class="{{ parameterClassName }}">
            {{ productDistinguishingParameterValue.secondDistinguishingParameterName }}:
            <span class="in-badge"
                  title="{{ productDistinguishingParameterValue.secondDistinguishingParameterValue }}">
                {{ productDistinguishingParameterValue.secondDistinguishingParameterValue }}
            </span>
        </span>
    {% endif %}
{% endmacro %}
