{% extends '@ShopsysShop/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block title %}
    {{ 'Registration'|trans }}
{% endblock %}

{% block main_content %}
<div class="web__line">
    <div class="web__container web__container--big-padding">

        <h1 class="in-title in-title--big in-title--center">{{ 'Registration'|trans }}</h1>

        <div class="wrap-well wrap-well--big-padding">
            {{ form_errors(form) }}

            {{ form_start(form) }}
                <div class="wrap-article__row">
                    <div class="wrap-article__row__half">
                        {{ form_row(form.firstName, { label: 'First name'|trans }) }}
                    </div>
                    <div class="wrap-article__row__half">
                        {{ form_row(form.lastName, { label: 'Last name'|trans }) }}
                    </div>
                </div>
                <div class="wrap-article__row">
                    <div class="wrap-article__row__full">
                        <div class="form-line">
                            <div class="form-line__input form-line__input--full">
                                <label class="input__label" for="{{ form.email.vars.id }}">
                                    {{ 'E-mail'|trans }}
                                </label>
                                {{ form_widget(form.email, { attr: {'data-request-url' : url('front_registration_exists_email') } }) }}
                            </div>
                            <div class="form-line__error">
                                {{ form_errors(form.email) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap-article__row">
                    <div class="wrap-article__row__half">
                        {{ form_row(form.password.first, {
                            label: 'Password'|trans,
                            icon: {
                                class: 'in-icon in-icon--info js-tooltip',
                                title: 'Password must be at least six characters and can\'t be the same as entered e-mail or its part before at sign.'|trans
                            }
                        }) }}
                    </div>
                    <div class="wrap-article__row__half">
                        {{ form_row(form.password.second, { label: 'Password again'|trans }) }}
                    </div>
                </div>
                {{ form_widget(form.memberOfBushmanClub, { attr: {class: 'css-checkbox'}}) }}
                <label class="css-checkbox__image" for="{{ form.memberOfBushmanClub.vars.id }}">
                    {% if bushmanClubArticle is not null %}
                        {% set articleUrl = url('front_article_detail', {'id': bushmanClubArticle.id}) %}
                        {{ 'Chci být členem <a href="%url%" target="_blank">Bushman Clubu</a>.'|trans({'%url%': articleUrl})|raw }}
                    {% else %}
                        {{ 'Chci být členem Bushman Clubu'|trans }}
                    {% endif %}
                </label>
                <br>
                {{ form_widget(form.privacyPolicy, { attr: {class: 'css-checkbox'}}) }}

                <label class="css-checkbox__image margin-bottom-10" for="{{ form.privacyPolicy.vars.id }}">
                    {% if privacyPolicyArticle is not null %}
                        {% set articleUrl = url('front_article_detail', {'id': privacyPolicyArticle.id}) %}
                        {{ 'Souhlasím se <a href="%url%" target="_blank"><span class="underline-small">zpracováním osobních údajů</span></a>.'|trans({'%url%': articleUrl})|raw }}
                    {% else %}
                        {{ 'Souhlasím se zpracováním osobních údajů.'|trans }}
                    {% endif %}
                </label>
                <span class="js-validation-errors-list js-validation-error-list-{{ form.privacyPolicy.vars.id }} form-error form-error--under display-none">
                    <ul class="form-error__list"></ul>
                </span>

                <div class="wrap-article__row">
                    <div class="wrap-article__row__full text-center margin-top-20">
                        {{ form_widget(form.save, { label: 'Register'|trans, attr: {class: 'btn btn--success'} }) }}
                    </div>
                </div>

            {{ form_end(form) }}
        </div>
    </div>
</div>


{% endblock %}
