{% extends '@ShopsysShop/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block title %}
    {{ 'Registration'|trans }}
{% endblock %}

{% block main_content %}
<div class="web__line">
    <div class="web__container">

        <h1 class="in-title in-title--big in-title--center">{{ 'Registration'|trans }}</h1>

        <div class="wrap-well wrap-well--big-padding">
            {{ form_errors(form) }}

            {{ form_start(form) }}
                <div class="wrap-article__row">
                    <div class="wrap-article__row__half">
                        {{ form_row(form.userData.firstName, { label: 'First name'|trans, attr: { class: 'form-line__input--full'}, errors_attr: { class: 'form-error--under' } }) }}
                    </div>
                    <div class="wrap-article__row__half">
                        {{ form_row(form.userData.lastName, { label: 'Last name'|trans, attr: { class: 'form-line__input--full'}, errors_attr: { class: 'form-error--under' }}) }}
                    </div>
                </div>
                <div class="wrap-article__row">
                    <div class="wrap-article__row__full">
                        <div class="form-line">
                            <div class="form-line__input form-line__input--full">
                                <label class="input__label" for="{{ form.userData.email.vars.id }}">
                                    {{ 'E-mail'|trans }}
                                </label>
                                {{ form_widget(form.userData.email, { attr: {'data-request-url' : url('front_registration_exists_email') } }) }}
                            </div>
                            <div class="form-line__error">
                                {{ form_errors(form.userData.email, {errors_attr: { class: 'form-error--under' }}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap-article__row">
                    <div class="wrap-article__row__half">
                        {{ form_row(form.userData.password.first, {
                            label: 'Password'|trans,
                            attr: { class: 'form-line__input--full'},
                            errors_attr: { class: 'form-error--under' },
                            icon: {
                                class: 'in-icon in-icon--info js-tooltip',
                                title: 'Password must be at least six characters and can\'t be the same as entered e-mail or its part before at sign.'|trans
                            }
                        }) }}
                    </div>
                    <div class="wrap-article__row__half">
                        {{ form_row(form.userData.password.second, { label: 'Password again'|trans, attr: { class: 'form-line__input--full'}, errors_attr: { class: 'form-error--under' } }) }}
                    </div>
                </div>

                <div class="wrap-article__row">
                    <div class="wrap-article__row__full">
                        <div class="form-line">
                            {{ form_widget(form.userData.memberOfBushmanClub, { attr: {class: 'css-checkbox js-checkbox-toggle', 'data-checkbox-toggle-container-id': 'js-delivery-fields' }}) }}
                            <label class="css-checkbox__image" for="{{ form.userData.memberOfBushmanClub.vars.id }}">
                                {% if bushmanClubArticle is not null %}
                                    {% set articleUrl = url('front_article_detail', {'id': bushmanClubArticle.id}) %}
                                    {{ 'Chci být členem <a href="%url%" target="_blank"><span class="underline-small">Věrnostního programu</span></a>.'|trans({'%url%': articleUrl})|raw }}
                                {% else %}
                                    {{ 'Chci být členem Věrnostního programu'|trans }}
                                {% endif %}
                            </label>
                        </div>
                    </div>
                </div>
                <div id="js-delivery-fields">
                    <div class="wrap-article__row">
                        <div class="wrap-article__row__half">
                            {{ form_row(form.deliveryAddressData.companyName, { label: 'Company name'|trans, attr: { class: 'form-line__input--full'}, errors_attr: { class: 'form-error--under' } }) }}
                        </div>
                        <div class="wrap-article__row__half">
                            {{ form_row(form.deliveryAddressData.street, { label: 'Street'|trans, attr: { class: 'form-line__input--full'}, errors_attr: { class: 'form-error--under' }}) }}
                        </div>
                    </div>
                    <div class="wrap-article__row">
                        <div class="wrap-article__row__half">
                            {{ form_row(form.deliveryAddressData.city, { label: 'City'|trans, attr: { class: 'form-line__input--full'}, errors_attr: { class: 'form-error--under' } }) }}
                        </div>
                        <div class="wrap-article__row__half">
                            {{ form_row(form.deliveryAddressData.postcode, { label: 'Postcode'|trans, attr: { class: 'form-line__input--full'}, errors_attr: { class: 'form-error--under' }}) }}
                        </div>
                    </div>
                    {% if form.deliveryAddressData.country is defined %}
                        <div class="wrap-article__row__full">
                            <div class="form-line">
                                <div class="form-line__input form-line__input--full">
                                    <label class="input__label" for="{{ form.deliveryAddressData.country.vars.id }}">
                                        {{ 'Country'|trans }}
                                    </label>
                                    {{ form_widget(form.deliveryAddressData.country) }}
                                </div>
                                <div class="form-line__error">
                                    {{ form_errors(form.deliveryAddressData.country, {errors_attr: { class: 'form-error--under' }}) }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="wrap-article__row">
                    <div class="wrap-article__row__full">
                        <div class="form-line">
                            {{ form_widget(form.privacyPolicy, { attr: {class: 'css-checkbox'}}) }}

                            <label class="css-checkbox__image margin-bottom-10" for="{{ form.privacyPolicy.vars.id }}">
                                {% if privacyPolicyArticle is not null %}
                                    {% set articleUrl = url('front_article_detail', {'id': privacyPolicyArticle.id}) %}
                                    {{ 'Souhlasím se <a href="%url%" target="_blank"><span class="underline-small">zpracováním osobních údajů</span></a>.'|trans({'%url%': articleUrl})|raw }}
                                {% else %}
                                    {{ 'Souhlasím se zpracováním osobních údajů.'|trans }}
                                {% endif %}
                            </label>
                            <span class="js-validation-errors-list js-validation-error-list-{{ form.privacyPolicy.vars.id }} form-error form-error--under display-none">
                                <ul class="form-error__list"></ul>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="wrap-article__row">
                    <div class="wrap-article__row__full text-center margin-top-20">
                        {{ form_widget(form.save, { label: 'Register'|trans, attr: {class: 'btn btn--success'} }) }}
                    </div>
                </div>

            {{ form_end(form) }}
        </div>
    </div>
</div>


{% endblock %}
