{% extends '@!ShopsysFramework/Admin/Content/Product/list.html.twig' %}

{% block btn %}
    {% if productCanBeCreated %}
        <a href="{{ url('admin_product_new') }}" class="btn btn--plus wrap-bar__btn" target="_blank">
            <i class="btn__icon">+</i>{{ 'Create new product'|trans }}
        </a>
        <a href="{{ url('admin_product_createvariant') }}" class="btn btn--plus wrap-bar__btn">
            <i class="btn__icon">+</i>{{ 'Create variant'|trans }}
        </a>
        <a href="{{ url('admin_mainvariantgroup_createmainvariantgroup') }}" class="btn btn--plus wrap-bar__btn">
            <i class="btn__icon">+</i>{{ 'Propojit produkty'|trans }}
        </a>
    {% else %}
        <a href="{{ url('admin_default_dashboard') }}" class="btn-link-style wrap-bar__btn">
            {{ 'Fill missing settings to enable creating products. More information here.'|trans }}
        </a>
        <span class="btn btn--plus wrap-bar__btn btn--disabled">
            <i class="btn__icon">+</i>{{ 'Create new product'|trans }}
        </span>
        <span class="btn btn--plus wrap-bar__btn btn--disabled">
            <i class="btn__icon">+</i>{{ 'Create variant'|trans }}
        </span>
        <span class="btn btn--plus wrap-bar__btn">
            <i class="btn__icon">+</i>{{ 'Propojit Hl. varianty'|trans }}
        </span>
    {% endif %}
{% endblock %}
