<div class="search" id="js-search-autocomplete">
    <form action="{{ url('front_product_search') }}" method="get">
        <div class="search__form">
            <div class="search__form__input">
                <input
                    type="text"
                    name="{{ SEARCH_TEXT_PARAMETER }}"
                    value="{{ searchText|escape('html_attr') }}"
                    placeholder="{{ 'Napište co hledáte'|trans }}"
                    class="input search__input"
                    id="luigis-autocomplete"
                    autocomplete="off"
                />
                <script>
                    function LBInitAutocomplete() {
                        AutoComplete({
                            Layout: 'hero',
                            TrackerId: '{{ luigisTrackerId }}',
                            Types: [
                                {
                                    type: 'product',
                                    name: '{{ 'Produkty'|trans }}',
                                    size: 7
                                },
                                {
                                    type: 'category',
                                    name: '{{ 'Kategorie'|trans }}'
                                },
                                {
                                    type: 'set',
                                    name: '{{ 'Sety'|trans }}'
                                },
                                {
                                    type: 'brand',
                                    name: '{{ 'Značky'|trans }}'
                                }
                            ],
                            Hint: function (query) {
                                return '{{ 'Pro vyhledání'|trans }} <span>' + query + '</span> {{ 'stiskněte Enter'|trans }}';
                            },
                            NoResultsMessage: function(query, numberOfResults) {
                                if (numberOfResults === 0) {
                                    return '{{ 'Pro dotaz'|trans }}'  + ' "' + query + '" ' +  '{{ 'jsme nenašli žádné výsledky'|trans }}';
                                }

                                return '{{ 'Pro dotaz'|trans }}'  + ' "' + query + '" ' + '{{ 'jsme našli' }}' + numberOfResults + '{{ 'výsledků' }}';
                            },
                            ShowAllTitle: '{{ 'Zobrazit všechny produkty'|trans }}'
                        }, '#luigis-autocomplete')
                    }
                </script>
                <script src="https://cdn.luigisbox.com/autocomplete.js" async onload="LBInitAutocomplete()"></script>
            </div>
            <div class="search__form__submit js-search-autocomplete-submit">
                <button class="search__form__submit__button btn-no-style" type="submit">
                    {% include 'Front/Svg/search.svg' %}
                </button>
            </div>
        </div>
    </form>
</div>
