{% extends '@ShopsysShop/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block title %}
    {{ 'Kontakt'|trans }}
{% endblock %}

{% block main_content %}
    <div class="web__line">
        <div class="web__container web__container--big-padding">
            <h1 class="in-title in-title--big in-title--center">
                {{ 'Kontakt'|trans }}
            </h1>
            <div class="box-contact">
                <div class="box-contact__left">
                    <div class="box-contact__block">
                        {% if getShopInfoPhoneNumber() is not null %}
                            <a href="tel:{{ getShopInfoPhoneNumber() }}" class="box-contact__block__text">
                                <i class="svg svg-phone"></i>
                                {{ 'Volejte na '|trans }} {{ getShopInfoPhoneNumber() }}
                            </a>
                        {% endif %}
                        <div class="box-contact__block__info">
                            {{ getShopInfoPhoneHours() }}
                        </div>
                    </div>
                    <div class="box-contact__block box-contact__block--no-bottom-gap">
                        <div class="box-contact__block__text">
                            <i class="svg svg-mail"></i>
                            <a class="box-contact__block__text__link underline" href="mailto:{{ getShopInfoEmail() }}" class="underline">{{ getShopInfoEmail() }}</a>
                        </div>
                        <div class="box-contact__block__info">
                            {{ 'Odpovíme Vám v nejkratším možném termínu.'|trans }}
                        </div>
                    </div>
                </div>
                <div class="box-contact__right">
                    <div class="box-contact__right__title">
                        {{ 'S čím potřebujete pomoct?'|trans }}
                    </div>
                    <div class="box-contact__right__list">
                        <ul class="list-simple">
                            <li class="list-simple__item list-simple__item--lighter">
                                <a href="/osobni-odber-na-prodejnach/" class="list-simple__item__link"><span class="underline-text">{{ 'Osobní odběr na prodejnách'|trans }}</span></a>
                            </li>
                            <li class="list-simple__item list-simple__item--lighter">
                                <a href="/bushman-club/" class="list-simple__item__link"><span class="underline-text">{{ 'Co je Bushman Klub?'|trans }}</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="wrap-article">
                <div class="wrap-article__row">
                    <div class="wrap-article__row__half padding-right-20">
                        <img src="{{ asset('/assets/frontend/images/design/contact.png')}}">
                    </div>
                    <div class="wrap-article__row__half">
                        <div class="wrap-article__row">
                            <div class="wrap-article__row__full">
                                <h4>{{ 'Provozovna'|trans }}</h4>
                            </div>
                        </div>
                        <div class="wrap-article__row padding-bottom-20">
                            <div class="wrap-article__row__half">
                                {{ 'Administrativní areál BUSHMAN'|trans }}<br>
                                {{ 'Městečko - Nespeky č.p. 75'|trans }}<br>
                                {{ '257 22 Čerčany'|trans }}<br>
                            </div>
                            <div class="wrap-article__row__half">
                                {{ 'Pondělí až pátek 9–15 hod'|trans }}<br>
                                {{ 'tel.: +420 317 712 400'|trans }}<br>
                                {{ 'fax: +420 317 712 499'|trans }}<br>
                                {{ 'office@bushman.cz'|trans }}<br>
                            </div>
                        </div>
                        <div class="wrap-article__row">
                            <div class="wrap-article__row__full">
                                <h4>{{ 'Sídlo'|trans }}</h4>
                            </div>
                        </div>
                        <div class="wrap-article__row padding-bottom-20">
                            <div class="wrap-article__row__half">
                                {{ 'Bushman Company a.s.'|trans }}<br>
                                {{ 'Lazarská 5/1719, 110 00 Praha 1'|trans }}<br>
                                {{ 'IČ: 26052679, DIČ: CZ26052679'|trans }}<br>
                            </div>
                            <div class="wrap-article__row__half">
                                {{ 'Firma zapsaná v obchodním rejstříku vedeném Městským soudem v Praze, oddíl B, vložka 8948.'|trans }}
                            </div>
                        </div>
                        <div class="wrap-article__row">
                            <div class="wrap-article__row__half">
                                {{ 'LP Komfort s.r.o.'|trans }}<br>
                                {{ 'Lazarská 5/1719, 110 00 Praha 1'|trans }}<br>
                                {{ 'IČ: 25618601, DIČ: CZ25618601'|trans }}<br>
                            </div>
                            <div class="wrap-article__row__half">
                                {{ 'Firma zapsaná v obchodním rejstříku vedeném Městským soudem v Praze, oddíl C, vložka 55269.'|trans }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap-article">
                <div class="wrap-article__row">
                    <div class="wrap-article__row__full">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2572.5853368987177!2d14.673543315559575!3d49.850248479397116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470b871241bc86ab%3A0xb8fdb42aee6cdd!2sBushman+Company+a.s.!5e0!3m2!1scs!2scz!4v1564350162889!5m2!1scs!2scz" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="wrap-well wrap-well--big-padding" id="js-contact-form-container">
                {{ render(controller('ShopsysShopBundle:Front/ContactForm:index')) }}
            </div>
        </div>
    </div>
{% endblock %}
