<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="no-js">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta http-equiv="X-UA-Compatible" content="IE=11" />
        {% block meta_robots %}{% endblock %}
        {% block meta_rel_links %}{% endblock %}

        {{ render(controller('App\\Controller\\Front\\GtmController:headAction')) }}

        {% set entryDirectory = 'frontend-style-base-' ~ getDomain().currentDomainConfig.stylesDirectory %}
        {{ encore_entry_link_tags( entryDirectory ) }}
        {% block pageStyles %}
            {% set entryDirectoryOther = 'frontend-style-other-pages-' ~ getDomain().currentDomainConfig.stylesDirectory %}
            {{ encore_entry_link_tags( entryDirectoryOther ) }}
        {% endblock %}
        {% set entryDirectoryPrint = 'frontend-print-style-' ~ getDomain().currentDomainConfig.stylesDirectory %}
        {{ encore_entry_link_tags( entryDirectoryPrint ) }}
        {% set entryDirectoryHelpers = 'frontend-style-helpers-' ~ getDomain().currentDomainConfig.stylesDirectory %}
        {{ encore_entry_link_tags( entryDirectoryHelpers ) }}

        <script>
            const isEnglishDomain = '{{ isEnglishDomain() }}' == 1;
            const isSlovakDomain = '{{ isSlovakDomain() }}' == 1;
        </script>

        {{ render(controller('App\\Controller\\Front\\HeurekaController:embedWidgetAction')) }}
        {{ render(controller('App\\Controller\\Front\\SelfCanonicalController:getSelfCanonicalLink')) }}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('public/frontend/images/favicons/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('public/frontend/images/favicons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('public/frontend/images/favicons/android-chrome-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="512x512" href="{{ asset('public/frontend/images/favicons/android-chrome-512x512.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('public/frontend/images/favicons/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('public/frontend/images/favicons/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('public/frontend/images/favicons/safari-pinned-tab.svg') }}" color="#0077b3">
        <link rel="shortcut icon" href="{{ asset('public/frontend/images/favicons/favicon.ico') }}">
        <link rel="stylesheet" href="https://cdn.luigisbox.com/autocomplete.css"/>
        <link rel="dns-prefetch" href="//live.luigisbox.com">
        <meta name="msapplication-TileColor" content="#0077b3">
        <meta name="msapplication-TileImage" content="{{ asset('public/frontend/images/favicons/mstile-144x144.png') }}">
        <meta name="msapplication-square70x70logo" content="{{ asset('public/frontend/images/favicons/mstile-70x70.png') }}">
        <meta name="msapplication-square150x150logo" content="{{ asset('public/frontend/images/favicons/mstile-150x150.png') }}">
        <meta name="msapplication-wide310x150logo" content="{{ asset('public/frontend/images/favicons/mstile-310x150.png') }}">
        <meta name="msapplication-square310x310logo" content="{{ asset('public/frontend/images/favicons/mstile-310x310.png') }}">
        <meta name="msapplication-config" content="{{ asset('public/frontend/images/favicons/browserconfig.xml') }}">
        <meta name="theme-color" content="#0077b3">

        <title>{% block title %}{{ 'Tropic Fishing'|trans }}{% endblock %} {{ getSeoTitleAddOn() }}</title>
    </head>

    <body class="web domain{{ getDomain().id }}" id="top">
        {{ render(controller('App\\Controller\\Front\\GtmController:bodyAction')) }}
        {{ render(controller('App\\Controller\\Front\\ScriptController:embedAllPagesScriptsAction')) }}
        {{ render(controller('App\\Controller\\Front\\ScriptController:embedAllPagesGoogleAnalyticsScriptAction')) }}
        {{ render(controller('App\\Controller\\Front\\ScriptController:embedAllPagesLuigisBoxScriptAction')) }}

        {% block html_body %}{% endblock %}

        {{ encore_entry_script_tags('frontend') }}
        {% block javascripts %}{% endblock %}

        {{ js_validator_config() }}
        {{ init_js_validation() }}

        {% if app.environment is same as('dev') %}
            <script async src="//localhost:35729/livereload.js"></script>
        {% endif %}
    </body>
</html>
