<div class="web__footer{% if not isCookiesConsentGiven() %} web__footer--with-cookies js-eu-cookies-consent-footer-gap{% endif %}">
    {% set shopInfoPhoneHours = getShopInfoPhoneHours() %}
    <div class="footer">
        {% block footer__links %}
            {% set domainId = getDomain().id %}

            <div class="web__line">
                <div class="web__container web__container--border-radius web__container--light">
                    <div class="footer-top">
                        <div class="footer-top__scroll-top">
                            <a href="#top" data-space-above-position="0" class="btn btn--secondary btn--big js-scroll-to-position">
                                <i class="footer-top__scroll-top__button-icon svg svg-triangle"></i>
                                {{ 'Přesunout nahoru'|trans }}
                            </a>
                        </div>

                        <div class="footer-top__wrap">
                            <div class="footer-top__links">
                                <div class="footer-top__links__column js-footer-link-wrapper">
                                    <div class="footer-top__links__title js-footer-link-title">
                                        {{ 'Naše služby'|trans }}
                                        <div class="footer-top__links__title__arrow">
                                            <i class="svg svg-triangle"></i>
                                        </div>
                                    </div>
                                    {% cache constant('App\\Model\\Article\\Article::PLACEMENT_SERVICES') {lifetime:60*60*24, domainId: domainId} %}
                                        {{ render(controller('App\\Controller\\Front\\ArticleController:footerMenuAction', { placement: constant('App\\Model\\Article\\Article::PLACEMENT_SERVICES') } )) }}
                                    {% endcache %}
                                </div>
                                <div class="footer-top__links__column js-footer-link-wrapper">
                                    <div class="footer-top__links__title js-footer-link-title">
                                        {{ 'O nákupu'|trans }}
                                        <div class="footer-top__links__title__arrow">
                                            <i class="svg svg-triangle"></i>
                                        </div>
                                    </div>
                                    {% cache constant('App\\Model\\Article\\Article::PLACEMENT_SHOPPING') {lifetime:60*60*24, domainId: domainId} %}
                                        {{ render(controller('App\\Controller\\Front\\ArticleController:footerMenuAction', { placement: constant('App\\Model\\Article\\Article::PLACEMENT_SHOPPING') } )) }}
                                    {% endcache %}
                                </div>
                            </div>

                            <div class="footer-top__info">
                                <div class="footer-top__socials">
                                    <ul class="list-socials">
                                        <li class="list-socials__item">
                                            <a class="list-socials__item__link list-socials__item__link--instagram btn-gradient" href="https://www.instagram.com/tropicfishing/" target="_blank">
                                                <span class="btn-gradient__in">{{ 'Instagram'|trans }}</span>
                                            </a>
                                        </li>
                                        <li class="list-socials__item">
                                            <a class="list-socials__item__link list-socials__item__link--facebook btn-with-border" href="https://www.facebook.com/tropicliberec.cz/" target="_blank">
                                                {{ 'Facebook'|trans }}
                                            </a>
                                        </li>
                                        <li class="list-socials__item">
                                            <a class="list-socials__item__link list-socials__item__link--youtube btn-with-border" href="https://www.youtube.com/channel/UC6o1AK-Fi_XkISYidB3NOOA" target="_blank">
                                                {{ 'Youtube'|trans }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-top__contact">
                                    <div class="footer-top__contact__text-top">
                                        {{ 'Volejte na '|trans }}
                                        <a class="footer-top__contact__link" href="tel:{{ getShopInfoPhoneNumber() }}">{{ getShopInfoPhoneNumber() }}</a>
                                        {{ 'nebo pište na'|trans }}
                                        <a class="footer-top__contact__link" href="mailto:{{ getShopInfoEmail() }}">{{ getShopInfoEmail() }}</a>
                                    </div>
                                    {% if shopInfoPhoneHours|length > 0%}
                                        <div class="footer-top__contact__text-bottom">
                                            {{ shopInfoPhoneHours }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-middle">
                        <div class="footer-middle__wrap">
                            <div class="footer-middle__left">
                                <div class="footer-middle__left__wrap">
                                    <h2 class="footer-middle__title">
                                        {{ 'Čeká na vás 500 m²,<br> kde si určitě vyberete.'|trans|raw }}
                                    </h2>
                                    <a class="footer-middle__button btn-gradient btn-gradient--green" href="{{ url('front_about_us_info') }}">
                                        <span class="btn-gradient__in">{{ 'Naše prodejna'|trans }}</span>
                                    </a>
                                </div>
                            </div>
                            <div class="footer-middle__right">
                                {% block newsletter_subscription %}
                                    {% cache "newsletter_form" {lifetime:60*60*24, domainId: domainId} %}
                                        {{ render(controller('App\\Controller\\Front\\NewsletterController:subscriptionAction')) }}
                                    {% endcache %}
                                {% endblock %}
                            </div>
                        </div>
                        <div class="footer-middle__awards">
                            <div class="footer-middle__awards__left">
                                <div class="footer-middle__awards__item">
                                    <img src="{{ asset('public/frontend/images/heureka2017.png') }}" alt="{{ 'Heureka award'|trans }}">
                                </div>
                                <div class="footer-middle__awards__item">
                                    <img src="{{ asset('public/frontend/images/heureka2018.png') }}" alt="{{ 'Heureka award'|trans }}">
                                </div>
                                <div class="footer-middle__awards__item">
                                    <img src="{{ asset('public/frontend/images/heureka2019.png') }}" alt="{{ 'Heureka award'|trans }}">
                                </div>
                            </div>
                            <div class="footer-middle__awards__right">
                                <div class="footer-middle__awards__heureka">
                                    <a href="{{ getHeurekaReviewsUrl() }}" target="_blank" title="Heureka.cz - ověřené hodnocení obchodu TROPIC LIBEREC s.r.o.">
                                        <img src="https://im9.cz/cb/19416-11.png" height="130" width="340" alt="Heureka.cz - ověřené hodnocení obchodu TROPIC LIBEREC s.r.o." style="border: 0;">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block footer__copyright %}
            {% cache 'footer_copyright' {lifetime:60*60*24, domainId: getDomain().id} %}
                <div class="web__line">
                    <footer class="web__container web__container--transparent footer-bottom">
                        <div class="footer-bottom__domains">
                            <div class="footer-bottom__domains__item">
                                {% if isSlovakDomain() is same as (true) %}
                                    <img class="footer-bottom__domains__item__icon" src="{{ asset('public/frontend/images/czechia.png') }}" alt="{{ 'Czechia'|trans }}"/>
                                    <a class="footer-bottom__domains__item__link" href="{{ findUrlByDomainId('front_homepage', [], 1)}}">{{ 'Zboží do Česka'|trans }}</a>
                                {% else %}
                                    <img class="footer-bottom__domains__item__icon" src="{{ asset('public/frontend/images/slovakia.png') }}" alt="{{ 'Slovakia'|trans }}"/>
                                    <a class="footer-bottom__domains__item__link" href="{{ findUrlByDomainId('front_homepage', [], 2)}}">{{ 'Tovar na Slovensko'|trans }}</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="footer-bottom__copyright dont-print">
                            {{ 'Copyright © ' ~ 'now'|date('Y') ~ ', Tropic Fishing s.r.o. Všechna práva vyhrazena.'|trans }}
                        </div>
                        <div class="footer-bottom__rules">
                            {{ 'Podle zákona o evidenci tržeb je prodávající povinen vystavit kupujícímu účtenku. Zároveň je povinen zaevidovat přijatou tržbu u správce daně online; v případě technického výpadku pak nejpozději do 48 hodin.'|trans }}
                        </div>
                        <div class="footer-bottom__shopsys dont-print">
                            {{ 'E-shop na míru od'|trans }}
                            {% if isEnglishDomain() is same as (true) %}
                                <a href="https://www.shopsys.com" title="{{ 'Shopsys Framework'|trans }}" target="_blank" class="footer-bottom__shopsys__link">
                                    <img class="footer-bottom__shopsys__image" src="{{ asset('public/frontend/images/shopsys.svg') }}" alt="{{ 'Shopsys Framework'|trans }}">
                                </a>
                            {% else %}
                                <a href="https://www.shopsys.cz" title="{{ 'Shopsys Framework'|trans }}" target="_blank" class="footer-bottom__shopsys__link">
                                    <img class="footer-bottom__shopsys__image" src="{{ asset('public/frontend/images/shopsys.svg') }}" alt="{{ 'Shopsys Framework'|trans }}">
                                </a>
                            {% endif %}
                        </div>
                    </footer>
                </div>
            {% endcache %}
        {% endblock %}
    </div>
</div>
