{% block footer %}
    <div class="footer">
        {% block footer__links %}
            {% set domainId = getDomain().id %}

            <div class="web__line">
                <div class="web__container web__container--light web__container--border-radius-bottom">
                    <div class="footer-top">
                        <div class="footer-top__info">
                            <div class="footer-top__socials">
                                <ul class="list-socials">
                                    <li class="list-socials__item">
                                        <a class="list-socials__item__link btn-gradient" href="https://www.facebook.com/shopsyscz/" target="_blank">
                                            <span class="btn-gradient__in">{{ 'Instagram'|trans }}</span>
                                        </a>
                                    </li>
                                    <li class="list-socials__item">
                                        <a class="list-socials__item__link list-socials__item__link--facebook btn-with-border" href="https://www.instagram.com/shopsyscz/" target="_blank">
                                            {{ 'Facebook'|trans }}
                                        </a>
                                    </li>
                                    <li class="list-socials__item">
                                        <a class="list-socials__item__link list-socials__item__link--youtube btn-with-border" href="https://www.youtube.com/user/netdevelo" target="_blank">
                                            {{ 'Youtube'|trans }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer-top__contact">
                                <div class="box-contact">
                                    <div class="box-contact__block">
                                        <div class="box-contact__block__text">
                                            <i class="svg svg-phone"></i>
                                            {{ 'Volejte na '|trans }}
                                            <a href="tel:{{ getShopInfoPhoneNumber() }}">
                                                {{ getShopInfoPhoneNumber() }}
                                            </a>
                                        </div>
                                        <div class="box-contact__block__info">
                                            {{ getShopInfoPhoneHours() }}
                                        </div>
                                    </div>
                                    <div class="box-contact__block">
                                        <div class="box-contact__block__text">
                                            <i class="svg svg-mail"></i>
                                            <a href="mailto:{{ getShopInfoEmail() }}">{{ getShopInfoEmail() }}</a>
                                        </div>
                                        <div class="box-contact__block__info">
                                            {{ 'Odpovíme Vám v co nejkratší možné době.'|trans }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-top__links">
                            <div class="footer-top__links__column js-footer-link-wrapper">
                                <div class="footer-top__links__title js-footer-link-title">
                                    {{ 'O nás'|trans }}
                                    <div class="footer-top__links__title__arrow">
                                        <i class="svg svg-arrow"></i>
                                    </div>
                                </div>
                                {{ render(controller('App\\Controller\\Front\\ArticleController:footerMenuAction', { placement: constant('App\\Model\\Article\\Article::PLACEMENT_ABOUT') } )) }}
                            </div>
                            <div class="footer-top__links__column js-footer-link-wrapper">
                                <div class="footer-top__links__title js-footer-link-title">
                                    {{ 'Naše služby'|trans }}
                                    <div class="footer-top__links__title__arrow">
                                        <i class="svg svg-arrow"></i>
                                    </div>
                                </div>
                                {{ render(controller('App\\Controller\\Front\\ArticleController:footerMenuAction', { placement: constant('App\\Model\\Article\\Article::PLACEMENT_SERVICES') } )) }}
                            </div>
                            <div class="footer-top__links__column js-footer-link-wrapper">
                                <div class="footer-top__links__title js-footer-link-title">
                                    {{ 'O nákupu'|trans }}
                                    <div class="footer-top__links__title__arrow">
                                        <i class="svg svg-arrow"></i>
                                    </div>
                                </div>
                                {{ render(controller('App\\Controller\\Front\\ArticleController:footerMenuAction', { placement: constant('App\\Model\\Article\\Article::PLACEMENT_SHOPPING') } )) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        <div class="web__line">
            <footer class="web__container web__container--transparent footer-bottom">
                <div class="footer-bottom__copyright dont-print">
                    {{ 'Copyright © ' ~ 'now'|date('Y') ~ ', Shopsys s.r.o. Všechna práva vyhrazena.'|trans }}
                </div>
                <div class="footer-bottom__shopsys dont-print">
                    {{ 'E-shop na míru od'|trans }}
                    <a href="https://www.shopsys.com" title="{{ 'Shopsys Framework'|trans }}" target="_blank" class="footer-bottom__shopsys__link">
                        <img class="footer-bottom__shopsys__image" src="{{ asset('assets/frontend/images/shopsys.svg') }}" alt="{{ 'Shopsys Framework'|trans }}">
                    </a>
                </div>
            </footer>
        </div>
    </div>
{% endblock %}
