{% extends 'Front/Layout/base.html.twig' %}
{% use 'Front/Layout/header.html.twig' %}

{% block headerClass %}{% endblock %}
{% block headerLayoutClass %}{% endblock %}

{% block html_body %}
    {% set adminLoggedAsCustomer = app.session.has(constant('Shopsys\\FrameworkBundle\\Model\\Security\\LoginAsUserFacade::SESSION_LOGIN_AS')) %}
    {% if adminLoggedAsCustomer or isMailerSettingUnusual() %}
        <div class="window-bar dont-print">
            {% if adminLoggedAsCustomer %}
                <div class="window-bar__item">
                    {{ 'Attention! You are administrator logged in as the customer.'|trans }}
                    <a href="{{ url('front_logout', { _csrf_token: csrf_token('frontend_logout')}) }}">{{ 'Log out'|trans }}</a>
                </div>
            {% endif %}
            {% if isMailerSettingUnusual() %}
                <div class="window-bar__item">
                    {{ getMailerSettingInfo() }}
                </div>
            {% endif %}
        </div>
    {% endif %}
    <div class="web__in">
        <div class="web__line">
            <div class="web__header {{ block('headerLayoutClass') }}">
                {{ block('header') }}
            </div>

            {% block infoRow %}
                {% if isInfoRowVisible() %}
                    <div class="web__container" id="js-info-row" data-now="{{ 'now'|formatDateCore(constant('App\\Component\\InfoRow\\InfoRowFacade::COOKIE_CLOSED_AT_FORMAT')) }}">
                        <div class="box-info-row">
                            {{ getInfoRowText() }}
                        </div>
                    </div>
                {% endif %}
            {% endblock %}

            {% block content %}{% endblock %}

            {% block footer %}
                {% embed 'Front/Layout/footer.html.twig' %}{% endembed %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
