{% macro paginatorNavigation(paginationResult, entityName, pageQueryParameter = 'page', paginationInfo = true, paging = true) %}
    <div class="in-paging">
        {% set route = getRoute() %}
        {% set routeParams = getAllRequestParams() %}
        {% set pageCount = paginationResult.pageCount %}
        {% if paginationInfo %}
            <strong class="in-paging__info">
                {{ 'Displaying'|trans }} {{ entityName|default('records'|trans)|trim }}
                {{ paginationResult.fromItem }} - <span class="js-pagination-to-item">{{ paginationResult.toItem }}</span>
                {{ 'from'|trans }}
                <span class="js-paging-total-count">{{ paginationResult.totalCount }}</span>
            </strong>
        {% endif %}

        {% if paging %}
            <div class="in-paging__control">
                {% if pageCount > 1 %}
                    {% if paginationResult.page > 1 %}
                        {% set page = paginationResult.page - 1 %}
                        {% if page == 1 %}
                            {% set page = null %}
                        {% endif %}
                        {% set routeParams = routeParams|merge({(pageQueryParameter): page}) %}
                        <a class="in-paging__control__item in-paging__control__item--arrow" href="{{ path(route, routeParams) }}" rel ="prev">&lt;</a>

                        {% set routeParams = routeParams|merge({(pageQueryParameter): null}) %}
                        {% if paginationResult.page == 2 %}
                            <a class="in-paging__control__item in-paging__control__item--num" href="{{ path(route, routeParams) }}" rel="prev">1</a>
                        {% else %}
                            <a class="in-paging__control__item in-paging__control__item--num" href="{{ path(route, routeParams) }}">1</a>
                        {% endif %}
                    {% else %}
                        <span class="in-paging__control__item in-paging__control__item--arrow in-paging__control__item--arrow--inactive">&lt;</span>
                    {% endif %}

                    {% set pagerExpand = 2 %}

                    {% if paginationResult.page > pagerExpand + 2 %}
                        <span class="in-paging__control__item in-paging__control__item--separate">...</span>
                    {% endif %}

                    {% for page in (paginationResult.page - pagerExpand)..(paginationResult.page) if page > 1 and page < paginationResult.page %}
                        {% set routeParams = routeParams|merge({(pageQueryParameter): page}) %}
                        {% if page == (paginationResult.page - 1) %}
                            <a class='in-paging__control__item in-paging__control__item--num' href="{{ path(route, routeParams) }}" rel="prev">{{ page }}</a>
                        {% else %}
                            <a class='in-paging__control__item in-paging__control__item--num' href="{{ path(route, routeParams) }}">{{ page }}</a>
                        {% endif %}
                    {% endfor %}

                    <span class="in-paging__control__item in-paging__control__item--num in-paging__control__item in-paging__control__item--num--active">{{ paginationResult.page }}</span>

                    {% for page in (paginationResult.page + 1)..(paginationResult.page + pagerExpand) if page > paginationResult.page and page < pageCount %}
                        {% set routeParams = routeParams|merge({(pageQueryParameter): page}) %}
                        {% if page == (paginationResult.page + 1) %}
                            <a class="in-paging__control__item in-paging__control__item--num" href="{{ path(route, routeParams) }}" rel="next">{{ page }}</a>
                        {% else %}
                            <a class="in-paging__control__item in-paging__control__item--num" href="{{ path(route, routeParams) }}">{{ page }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if paginationResult.page <= pageCount - pagerExpand - 2 %}
                        <span class="in-paging__control__item in-paging__control__item--separate">...</span>
                    {% endif %}

                    {% if paginationResult.page < pageCount %}
                        {% set routeParams = routeParams|merge({(pageQueryParameter): pageCount}) %}
                        {% if paginationResult.page == (pageCount - 1) %}
                            <a class="in-paging__control__item in-paging__control__item--num" href="{{ path(route, routeParams) }}" rel="next">{{ pageCount }}</a>
                        {% else %}
                            <a class="in-paging__control__item in-paging__control__item--num" href="{{ path(route, routeParams) }}">{{ pageCount }}</a>
                        {% endif %}

                        {% set routeParams = routeParams|merge({(pageQueryParameter): paginationResult.page + 1}) %}
                        <a class="in-paging__control__item in-paging__control__item--arrow in-paging__control__item in-paging__control__item--arrow" href="{{ path(route, routeParams) }}" rel="next">&gt;</a>
                    {% else %}
                        <span class="in-paging__control__item in-paging__control__item--arrow in-paging__control__item--arrow--inactive">&gt;</span>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro metaRobots(paginationResult, disableIndexing, disableIndexingAndFollowing) %}
    {% if (paginationResult.page != 1 and isUserAgentSeznamBot()) or (disableIndexing and disableIndexingAndFollowing is same as(false)) %}
        <meta name="robots" content="noindex, follow">
    {% elseif (disableIndexingAndFollowing) %}
        <meta name="robots" content="noindex, nofollow">
    {% else %}
        <meta name="robots" content="index, follow">
    {% endif %}
{% endmacro %}

{% macro relLinks(paginationResult, pageQueryParameter = 'page') -%}
    {% if paginationResult.pageCount > 1 -%}
        {% set route = getRoute() -%}
        {% set routeParams = getAllRequestParams() -%}
        {% if not paginationResult.firstPage -%}
            {% set page = paginationResult.previousPage -%}
            {% set routeParams = routeParams|merge({(pageQueryParameter): page}) -%}
            <link rel="prev" href="{{ path(route, routeParams) }}">
        {% endif %}
        {% if not paginationResult.lastPage -%}
            {% set page = paginationResult.nextPage -%}
            {% set routeParams = routeParams|merge({(pageQueryParameter): page}) -%}
            <link rel="next" href="{{ path(route, routeParams) }}">
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro loadMoreButton(paginationResult, url = '', pageQueryParameter = 'page') %}
    <a class="btn btn--big js-load-more-button"
           data-page="{{ paginationResult.page }}"
           data-page-size="{{ paginationResult.pageSize }}"
           data-pagination-to-item="{{ paginationResult.toItem }}"
           data-total-count="{{ paginationResult.totalCount }}"
           data-url="{{ url }}"
           data-page-query-parameter="{{ pageQueryParameter }}"
    />
    </a>
{% endmacro %}

{% macro loadPreviousButton(paginationResult, pageQueryParameter = 'page') %}
    {% if paginationResult.pageCount > 1 -%}
        {% set route = getRoute() -%}
        {% set routeParams = getAllRequestParams() -%}
        {% if not paginationResult.firstPage -%}
            {% set page = paginationResult.previousPage -%}
            {% set routeParams = routeParams|merge({(pageQueryParameter): page}) -%}
                <a  class ="btn btn--big box-button_previous" href="{{ path(route, routeParams) }}" rel="prev">
                    {{ '< PREVIOUS'|trans }}
                </a>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro loadNextButton(paginationResult, pageQueryParameter = 'page') %}
    {% if paginationResult.pageCount > 1 -%}
        {% set route = getRoute() -%}
        {% set routeParams = getAllRequestParams() -%}
        {% if not paginationResult.lastPage -%}
            {% set page = paginationResult.nextPage -%}
            {% set routeParams = routeParams|merge({(pageQueryParameter): page}) -%}
                <a class ="btn btn--big box-button_next" href="{{ path(route, routeParams) }}" rel="next">
                    {{ 'NEXT >'|trans }}
                </a>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro titleAddon(paginationResult) %}
    {% if paginationResult.page > 1 %}
        {{ 'strana %page% z %pageCount%'|trans({'%page%': paginationResult.page, '%pageCount%': paginationResult.pageCount}) }}
    {% endif %}
{% endmacro %}

