<div class="box-reasons-to-buy">
    <div class="box-reasons-to-buy__left">
        <h2 class="box-reasons-to-buy__title">{{ '6 důvodů, proč nakoupit u nás'|trans }}</h2>
        <a class="box-reasons-to-buy__link js-not-implemented-yet" href="">{{ 'Poznejte nás'|trans }}</a>
    </div>
    <div class="box-reasons-to-buy__right">
        <ul class="list-reasons-to-buy">
            <li class="list-reasons-to-buy__item">
                <div class="list-reasons-to-buy__item__icon">
                    {% include 'Front/Svg/delivery.svg' %}
                </div>
                <p class="list-reasons-to-buy__item__text">
                    {{ 'Doprava ZDARMA od 1 000 Kč'|trans }}
                </p>
            </li>
            <li class="list-reasons-to-buy__item">
                <div class="list-reasons-to-buy__item__icon">
                    {% include 'Front/Svg/heart.svg' %}
                </div>
                <p class="list-reasons-to-buy__item__text">
                    {{ 'Rybářům pomáháme od roku 2003'|trans }}
                </p>
            </li>
            <li class="list-reasons-to-buy__item">
                <div class="list-reasons-to-buy__item__icon">
                    {% include 'Front/Svg/purse.svg' %}
                </div>
                <p class="list-reasons-to-buy__item__text">
                    {{ 'Garance nejvýhodnější cenové nabídky'|trans }}
                </p>
            </li>
            <li class="list-reasons-to-buy__item">
                <div class="list-reasons-to-buy__item__icon">
                    {% include 'Front/Svg/address.svg' %}
                </div>
                <p class="list-reasons-to-buy__item__text">
                    {{ 'Moderní'|trans }}
                    <a class="list-reasons-to-buy__item__text__link js-not-implemented-yet" href="">{{ 'prodejna v centru'|trans }}</a>
                    {{ 'Liberce'|trans }}
                </p>
            </li>
            <li class="list-reasons-to-buy__item">
                <div class="list-reasons-to-buy__item__icon">
                    {% include 'Front/Svg/box.svg' %}
                </div>
                <p class="list-reasons-to-buy__item__text">
                    {{ 'Každý týden'|trans }}
                    <a class="list-reasons-to-buy__item__text__link js-not-implemented-yet" href="">{{ 'nová nabídka'|trans }}</a>
                    {{ 'za výhodné ceny'|trans }}
                </p>
            </li>
            <li class="list-reasons-to-buy__item">
                <div class="list-reasons-to-buy__item__icon">
                    {% include 'Front/Svg/like.svg' %}
                </div>
                <p class="list-reasons-to-buy__item__text">
                    {{ 'Rybařině rozumíme. V týmu je i'|trans }}
                    <a class="list-reasons-to-buy__item__text__link js-not-implemented-yet" href="">{{ 'mistr světa'|trans }}</a>
                </p>
            </li>
        </ul>
    </div>
</div>
