{% set aboutUsArticle = findVisibleArticleBySettingValue(constant('App\\Component\\Setting\\Setting::ABOUT_US_ARTICLE_ID')) %}

<div class="box-reasons-to-buy">
    <div class="box-reasons-to-buy__left">
        <h2 class="box-reasons-to-buy__title">{{ '6 důvodů, proč nakoupit u nás'|trans }}</h2>
        {% if aboutUsArticle is not null %}
        <a class="box-reasons-to-buy__link" href="{{ url(
            'front_article_detail', {
                'id': aboutUsArticle.id
            }
        ) }}">{{ 'Poznejte nás'|trans }}</a>
        {% endif %}
    </div>
    <div class="box-reasons-to-buy__right">
        <ul class="list-reasons-to-buy">
            <li class="list-reasons-to-buy__item">
                <div class="list-reasons-to-buy__item__icon">
                    {% include 'Front/Svg/delivery.svg' %}
                </div>
                <p class="list-reasons-to-buy__item__text">
                    {{ 'Doprava při nákupu nad 1000 Kč zdarma'|trans }}
                </p>
                {% if getDomain().locale is same as(constant('\\App\\Component\\Domain\\DomainHelper::CZECH_LOCALE')) %}
                    <i class="svg svg-info in-icon in-icon--info in-icon--static js-tooltip" data-toggle="tooltip" title="" data-original-title="{{ 'Doprava zdarma u Zásilkovny od 1000 Kč a u PPL od 2000 Kč'|trans }}"></i>
                {% endif %}
            </li>
            <li class="list-reasons-to-buy__item">
                <div class="list-reasons-to-buy__item__icon">
                    {% include 'Front/Svg/heart.svg' %}
                </div>
                <p class="list-reasons-to-buy__item__text">
                    {{ 'Založeno 2000 - tradice prodeje již 20 let'|trans }}
                </p>
            </li>
            <li class="list-reasons-to-buy__item">
                <div class="list-reasons-to-buy__item__icon">
                    {% include 'Front/Svg/purse.svg' %}
                </div>
                <p class="list-reasons-to-buy__item__text">
                    {{ 'Možnost nákupu na splátky'|trans }}
                </p>
            </li>
            <li class="list-reasons-to-buy__item">
                <div class="list-reasons-to-buy__item__icon">
                    {% include 'Front/Svg/address.svg' %}
                </div>
                <p class="list-reasons-to-buy__item__text">
                    {{ 'Možnost vrácení zboží do 30 dnů'|trans }}
                </p>
            </li>
            <li class="list-reasons-to-buy__item">
                <div class="list-reasons-to-buy__item__icon">
                    {% include 'Front/Svg/box.svg' %}
                </div>
                <p class="list-reasons-to-buy__item__text">
                    {{ 'Nejširší sortiment - v nabídce více než 100&nbsp;000 produktů'|trans|raw }}
                </p>
            </li>
            <li class="list-reasons-to-buy__item">
                <div class="list-reasons-to-buy__item__icon">
                    {% include 'Front/Svg/like.svg' %}
                </div>
                <p class="list-reasons-to-buy__item__text">
                    {{ 'Rybařině rozumíme - v teamu je i mistr světa'|trans }}
                </p>
            </li>
        </ul>
    </div>
</div>
