{% extends 'Front/Layout/layoutWithoutPanel.html.twig' %}
{% import 'Front/Content/Product/productListMacro.html.twig' as productList %}

{% block breadcrumb %}
{% endblock %}

{% block meta_description %}
    {{- metaDescription -}}
{% endblock %}

{% block title %}
    {{- title -}}
{% endblock %}

{% block main_content %}

    <div class="web__line">
        <div class="web__container">
            {% include 'Front/Content/Benefits/list.html.twig' %}
        </div>
    </div>

    {{ render(controller('App\\Controller\\Front\\AdvertController:bannerAction')) }}

    {{ render(controller('App\\Controller\\Front\\TopProductController:listAction')) }}

    {% if priceBombProducts is not empty %}
        <div class="web__line">
            <div class="web__container web__container--border-radius web__container--light">
                <div class="box-products-bomb">
                    <div class="box-products-bomb__content">
                        {{ productList.productsBomb(priceBombProducts, 'h3') }}
                        <div class="box-products-bomb__fishes">
                            <img src="{{ asset('public/frontend/images/fishes-big.svg')}}" alt="{{ 'Rybky'|trans }}">
                        </div>
                    </div>
                    <h1 class="box-products-bomb__title">
                        {{ 'Cenová'|trans }}
                        <div class="box-products-bomb__title__colored-text">
                            <span>b</span><span>o</span><span>m</span><span>b</span><span>a</span>
                        </div>
                    </h1>
                </div>
            </div>
        </div>
    {% endif %}

    {% if newProducts is not empty %}
        <div class="web__line">
            <div class="web__container web__container--no-padding">
                <div class="box-products-slider">
                    <h2 class="box-products-slider__title">
                        {{ 'Novinky'|trans }}
                    </h2>
                    {% if newsCategory is not null %}
                        <a href="{{ url('front_product_list', { id: newsCategory.id }) }}">{{ 'Přejít na všechny novinky'|trans }}</a>
                    {% endif %}
                    {{ productList.horizontalList(newProducts, '', 'h3', 'new-products', true, false, true) }}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="web__line">
        <div class="web__container web__container--border-radius web__container--dark">
            {% include 'Front/Content/Article/index.html.twig' with { blogArticles: homepageBlogArticles, articleClassModification: 'list-articles--white' } %}
        </div>
    </div>

    <div class="web__line">
        <div class="web__container">
            {% include 'Front/Content/ReasonsToBuy/index.html.twig' %}
        </div>
    </div>

    <div class="web__line">
        <div class="web__container">
            {% include 'Front/Content/Heureka/reviews.html.twig' with { reviews: heurekaReviews } %}
        </div>
    </div>

    {% block last_visited_products %}
        {{ render(controller('App\\Controller\\Front\\LastVisitedProductsController:showAction')) }}
    {% endblock %}

{% endblock %}
