{% extends 'Front/Layout/layoutWithoutPanel.html.twig' %}
{% import 'Front/Content/Product/productListMacro.html.twig' as productList %}

{% block breadcrumb %}
{% endblock %}

{% block meta_description %}
    {{- metaDescription -}}
{% endblock %}

{% block title %}
    {{- title -}}
{% endblock %}

{% block logo %}
    <h1 class="logo">
        <img src="{{ asset('public/frontend/images/logo.png') }}" alt="{{ 'Online shop'|trans }}">
    </h1>
{% endblock %}

{% block logoMobile %}
    <h1 class="logo">
        <img src="{{ asset('public/frontend/images/logo-mobile.png') }}" alt="{{ 'Online shop'|trans }}">
    </h1>
{% endblock %}

{% block main_content %}

    <div class="web__line">
        <div class="web__container">
            {% include 'Front/Content/Benefits/list.html.twig' %}
        </div>
    </div>

    {{ render(controller('App\\Controller\\Front\\AdvertController:bannerAction')) }}

    {% if topProducts is not empty %}
        <div class="web__line">
            <div class="web__container">
                <div id="top-products" class="box-top-products">
                    <h1 class="box-top-products__title">
                        {{ 'Vybíráme to nejlepší'|trans }}
                    </h1>
                    <div class="box-top-products__in">
                        {{ productList.horizontalList(topProducts, 'h3', 'top-products', false) }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if priceBombProducts is not empty %}
        <div class="web__line">
            <div class="web__container">
                <div class="box-top-products">
                    <h1 class="box-top-products__title">
                        {{ 'Cenová bomba'|trans }}
                    </h1>
                    <div class="box-top-products__in">
                        {{ productList.horizontalList(priceBombProducts, 'h3', 'top-products', false) }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="web__line">
        <div class="web__container web__container--border-radius web__container--dark">
            {% include 'Front/Content/Article/index.html.twig' with { blogArticles: homepageBlogArticles, articleClassModification: 'list-articles--white' } %}
        </div>
    </div>

    <div class="web__line">
        <div class="web__container">
            {% include 'Front/Content/ReasonsToBuy/index.html.twig' %}
        </div>
    </div>

    {% block last_visited_products %}
        {{ render(controller('App\\Controller\\Front\\LastVisitedProductsController:showAction')) }}
    {% endblock %}

{% endblock %}
