{% extends 'Front/Layout/layoutWithoutPanel.html.twig' %}
{% import 'Front/Content/Product/productListMacro.html.twig' as productList %}

{% block breadcrumb %}
{% endblock %}

{% block meta_description %}
    {{- metaDescription -}}
{% endblock %}

{% block title %}
    {{- title -}}
{% endblock %}

{% block pageStyles %}
    {% set entryDirectoryPage = 'frontend-style-homepage-' ~ getDomain().currentDomainConfig.stylesDirectory %}
    {{ encore_entry_link_tags( entryDirectoryPage ) }}
{% endblock %}

{% block main_content %}

    <div class="web__line">
        <div class="web__container">
            {% include 'Front/Content/Benefits/list.html.twig' %}
        </div>
    </div>

    {% cache 'bannersOnHomepage' {lifetime:60*60*4, domainId: domainId} %}
        {{ render(controller('App\\Controller\\Front\\AdvertController:bannerAction')) }}
    {% endcache %}

    {{ render(controller('App\\Controller\\Front\\TopProductController:listAction')) }}

    {{ render(controller('App\\Controller\\Front\\BestsellerController:listAction')) }}

    {% cache 'priceBombProducts' {lifetime:60*60*4, domainId: domainId} %}
        {{ render(controller('App\\Controller\\Front\\HomepageController:priceBombProductsAction')) }}
    {% endcache %}

    {% cache 'newProducts' {lifetime:60*60*1, domainId: domainId} %}
        {{ render(controller('App\\Controller\\Front\\HomepageController:newProductsAction')) }}
    {% endcache %}

    <div class="web__line">
        <div class="web__container web__container--border-radius web__container--dark">
            {% include 'Front/Content/Article/index.html.twig' with { blogArticles: homepageBlogArticles, articleClassModification: 'list-articles--white' } %}
        </div>
    </div>

    <div class="web__line">
        <div class="web__container">
            {% include 'Front/Content/ReasonsToBuy/index.html.twig' %}
        </div>
    </div>

    {% if heurekaReviews|length > 0 %}
        <div class="web__line">
            <div class="web__container">
                {% include 'Front/Content/Heureka/reviews.html.twig' with { reviews: heurekaReviews } %}
            </div>
        </div>
    {% endif %}

    {% block last_visited_products %}
        {{ render(controller('App\\Controller\\Front\\LastVisitedProductsController:showAction')) }}
    {% endblock %}

{% endblock %}
