{% extends 'Front/Layout/layoutWithoutPanel.html.twig' %}

{% block title %}
    {{ 'Kontakt'|trans }}
{% endblock %}

{% block main_content %}
    {% set domainId = getDomain().id %}
    <div class="web__line">
        <div class="web__container">
            <h1 class="in-title in-title--big in-title--center">
                {{ 'Kontakt'|trans }}
            </h1>
            <div class="box-contact">
                <div class="box-contact__left">
                    <div class="box-contact__block">
                        {% if getShopInfoPhoneNumber() is not null %}
                            <a href="tel:{{ getShopInfoPhoneNumber() }}" class="box-contact__block__text">
                                {% include 'Front/Svg/phone.svg' %}
                                {{ 'Volejte na '|trans }} {{ getShopInfoPhoneNumber() }}
                            </a>
                        {% endif %}
                        <div class="box-contact__block__info">
                            {{ getShopInfoPhoneHours() }}
                        </div>
                    </div>
                    <div class="box-contact__block box-contact__block--no-bottom-gap">
                        <div class="box-contact__block__text">
                            <i class="svg svg-mail"></i>
                            <a href="mailto:{{ getShopInfoEmail() }}">{{ getShopInfoEmail() }}</a>
                        </div>
                        <div class="box-contact__block__info">
                            {{ 'Odpovíme Vám v nejkratším možném termínu.'|trans }}
                        </div>
                    </div>
                </div>
                <div class="box-contact__right">
                    <div class="box-contact__right__title">
                        {{ 'S čím potřebujete pomoct?'|trans }}
                    </div>
                    {% include 'Front/Inline/Common/servicesArticlesList.html.twig' with { loyaltyProgramArticle: loyaltyProgramArticle } %}
                </div>
            </div>
            <div class="wrap-article">
                <div class="wrap-article__row">
                    <div class="wrap-article__row__half padding-right-20">
                        <img src="{{ asset('public/frontend/images/design/contact.png')}}" alt="{{ 'Sídlo'|trans }}">
                    </div>
                    <div class="wrap-article__row__half">
                        {% if domainId != 2 %}
                            <div class="wrap-article__row">
                                <div class="wrap-article__row__full">
                                    <h4>{{ 'Provozovna'|trans }}</h4>
                                </div>
                            </div>
                            <div class="wrap-article__row padding-bottom-20">
                                <div class="wrap-article__row__half">
                                    {{ 'Shopsys s.r.o.'|trans }}<br>
                                    {{ 'Koksární 1096/10'|trans }}<br>
                                    {{ '702 00 Ostrava'|trans }}<br>
                                </div>
                                <div class="wrap-article__row__half">
                                    {{ 'Pondělí až pátek 8:00 – 16:00'|trans }}<br>
                                    {{ 'tel.: +420 595 177 177'|trans }}<br>
                                    {{ 'info@shopsys.com'|trans }}<br>
                                </div>
                            </div>
                        {% endif %}
                        <div class="wrap-article__row">
                            <div class="wrap-article__row__full">
                                <h4>{{ 'Sídlo'|trans }}</h4>
                            </div>
                        </div>
                        <div class="wrap-article__row padding-bottom-20">
                            <div class="wrap-article__row__half">
                                {{ 'Shopsys s.r.o.'|trans }}<br>
                                {{ 'Koksární 1096/10, 702 00 Ostrava'|trans }}<br>
                                {{ 'IČO: 27790487, DIČ: CZ27790487'|trans }}<br>
                            </div>
                            <div class="wrap-article__row__half">
                                {{ 'Spisová značka C 51890 vedená u rejstříkového soudu v Ostravě.'|trans }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap-article">
                <div class="wrap-article__row">
                    <div class="wrap-article__row__full">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2572.1994196953005!2d18.27169985142554!3d49.85749853769071!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4713e3435efe398b%3A0xee211417a7b2e7ea!2sShopsys!5e0!3m2!1scs!2scz!4v1579251202357!5m2!1scs!2scz" width="100%" height="450" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="wrap-well wrap-well--big-padding" id="js-contact-form-container">
                {{ render(controller('App\\Controller\\Front\\ContactFormController:indexAction')) }}
            </div>
        </div>
    </div>

    <div class="web__line">
        <div class="web__container">
            {% include 'Front/Content/ReasonsToBuy/index.html.twig' %}
        </div>
    </div>

    {% block last_visited_products %}
        {{ render(controller('App\\Controller\\Front\\LastVisitedProductsController:showAction')) }}
    {% endblock %}
{% endblock %}
