{{ form_start(form, {attr: {'data-on-submit': 'contactFormAjaxSubmit'}}) }}
<div class="in-article__title text-center">{{ 'Máte dotaz?'|trans }}</div>

{{ form_errors(form) }}
<div class="wrap-article__row">
    <div class="wrap-article__row__full">
        <div class="form-line-block">
            <div class="form-line__input form-line__input--full">
                <label for="contact_form_last" class="input__label required">
                    {{ 'Vyberte dotaz'|trans }}
                </label>

                <select name="" class="js-not-implemented-yet">
                    <option value="1">{{ 'Mohu odstoupit od smlouvy?'|trans}}</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="wrap-article__row">
    <div class="wrap-article__row__half">
        {{ form_row(form.name, { label: 'Full name'|trans }) }}
    </div>
    <div class="wrap-article__row__half">
        {{ form_row(form.email, { label: 'E-mail'|trans }) }}
    </div>
</div>
<div class="wrap-article__row">
    <div class="wrap-article__row__half js-not-implemented-yet">
        <div class="form-line">
            <div class="form-line__input">
                <label for="contact_form_last" class="input__label required">
                    {{ 'Příjmení'|trans }}
                    <span class="form-input-required">*</span>
                </label>
                <input type="text" id="contact_form_lastname" name="contact_form[lastname]" required="required" class="input">
            </div>
            <div class="form-line__error">
                <span class="js-validation-errors-list js-validation-error-list-contact_form_name form-error form-error--line-block display-none" style="display: none;"><ul class="form-error__list"></ul></span>
            </div>
        </div>
    </div>
    <div class="wrap-article__row__half">
        <div class="form-line">
            <div class="form-line__input">
                <label for="contact_form_phone" class="input__label required">
                    {{ 'Telefon'|trans }}
                    <span class="form-input-required">*</span>
                </label>
                <input type="text" id="contact_form_phone" name="contact_form[phone]" required="required" class="input">
            </div>
            <div class="form-line__error">
                <span class="js-validation-errors-list js-validation-error-list-contact_form_name form-error form-error--line-block display-none" style="display: none;"><ul class="form-error__list"></ul></span>
            </div>
        </div>
    </div>
</div>
<div class="wrap-article__row">
    <div class="wrap-article__row__full">
        <div class="form-line">
            <div class="form-line__input form-line__input--full">
                <label class="input__label" for="{{ form.message.vars.id }}">
                    {{ 'Message'|trans }}
                </label>
                {{ form_widget(form.message, { rowClass: 'form-line-block', errors_attr: { class: 'form-error--line-block' } }) }}
            </div>
            <div class="form-line__error">
                {{ form_errors(form.message) }}
            </div>
        </div>
    </div>
</div>
<div class="wrap-article__row">
    <div class="wrap-article__row__full">
        {% if privacyPolicyArticle is not null %}
            {% set articleUrl = url('front_article_detail', {'id': privacyPolicyArticle.id}) %}
            {{ form_row(
                form.privacyPolicy,
                {
                    label:  'I agree with  <a href="%url%" target="_blank">privacy policy</a>.'|trans({'%url%': articleUrl}),
                    errors_attr: { class: 'form-error--choice' },
                    rawLabel:true,
                    rowClass: 'form-line-block'
                }
            )}}
        {% else %}
            {{ form_row(
                form.privacyPolicy,
                {
                    label:  'I agree with privacy policy.'|trans,
                    errors_attr: { class: 'form-error--choice' },
                    rowClass: 'form-line-block'
                }
            )}}
        {% endif %}
        <div class="text-center">
            {{ form_widget(form.send, { label: 'Odeslat zprávu'|trans, attr: {class: 'btn--success'}}) }}
        </div>
    </div>
</div>
{{ form_end(form) }}
{{ init_js_validation(form, true) }}
