{{ form_start(form, {attr: {'data-on-submit': 'contactFormAjaxSubmit'}}) }}
<div class="in-article__title text-center">{{ 'Máte dotaz?'|trans }}</div>

{{ form_errors(form) }}
<div class="wrap-article__row">
    <div class="wrap-article__row__half">
        {{ form_row(form.name, { label: 'Full name'|trans, attr: { tabindex: 1 }  }) }}
    </div>
    <div class="wrap-article__row__half">
        {{ form_row(form.email, { label: 'E-mail'|trans, attr: { tabindex: 3 }  }) }}
    </div>
</div>
<div class="wrap-article__row">
    <div class="wrap-article__row__half">
        {{ form_row(form.surname, { label: 'Příjmení'|trans, attr: { tabindex: 2 }  }) }}
    </div>
    <div class="wrap-article__row__half">
        {{ form_row(form.telephone, { label: 'Telefon'|trans, attr: { tabindex: 4 }  }) }}
    </div>
</div>
<div class="wrap-article__row">
    <div class="wrap-article__row__full">
        <div class="form-line">
            <div class="form-line__input form-line__input--full">
                <label class="input__label" for="{{ form.message.vars.id }}">
                    {{ 'Message'|trans }}
                </label>
                {{ form_widget(form.message, { rowClass: 'form-line-block', errors_attr: { class: 'form-error--line-block' }, attr: { tabindex: 5 } }) }}
            </div>
            <div class="form-line__error">
                {{ form_errors(form.message) }}
            </div>
        </div>
    </div>
</div>
<div class="wrap-article__row">
    <div class="wrap-article__row__full">
        {% if privacyPolicyArticle is not null %}
            {% set articleUrl = url('front_article_detail', {'id': privacyPolicyArticle.id}) %}
            {{ form_row(
                form.privacyPolicy,
                {
                    label:  'I agree with  <a href="%url%" target="_blank">privacy policy</a>.'|trans({'%url%': articleUrl}),
                    errors_attr: { class: 'form-error--choice' },
                    rawLabel:true,
                    rowClass: 'form-line-block'
                }
            )}}
        {% else %}
            {{ form_row(
                form.privacyPolicy,
                {
                    label:  'I agree with privacy policy.'|trans,
                    errors_attr: { class: 'form-error--choice' },
                    rowClass: 'form-line-block'
                }
            )}}
        {% endif %}
        <div class="text-center">
            {{ form_widget(form.send, { label: 'Odeslat zprávu'|trans, attr: {class: 'btn--success'}}) }}
        </div>
    </div>
</div>
{{ form_end(form) }}
{{ init_js_validation(form, true) }}
