{{ form_start(form, { attr: { 'data-on-submit': 'ajaxSubmit', 'data-success': success ? 'true' : 'false' }}) }}
    <div class="footer-newsletter">
        <div class="footer-newsletter__item footer-newsletter__item--left">
            <p class="footer-newsletter__text footer-newsletter__text--big">
                {{ 'Nenechte si ujít akční nabídky'|trans }}
            </p>
        </div>
        <div class="footer-newsletter__item">
            <div class="footer-newsletter__form">
                <div class="footer-newsletter__form__wrap">
                    <div class="footer-newsletter__form__in">
                        {{ form_widget(form.email, { attr: {placeholder: 'Váš e-mail'|trans, class: 'footer-newsletter__input'} }) }}
                        {{ form_widget(form.send, { label: 'Přihlásit'|trans, attr: { class: "footer-newsletter__form__btn" }}) }}
                    </div>
                    {{ form_errors(form.email) }}
                </div>
                {{ form_errors(form, { errors_attr: { class : 'in-message--alert display-none' } }) }}
                <div class="form-choice form-choice--white-text">
                    <span class="form-choice__line">
                        <label class="footer-newsletter__form__label" for="{{ form.privacyPolicyAgreement.vars.id }}">
                            {{ form_widget(form.privacyPolicyAgreement, {attr: { class: 'css-checkbox' }}) }}
                            <span class="css-checkbox__image">
                                {% if privacyPolicyArticle is not null %}
                                    {% set articleUrl = url('front_article_detail', {'id': privacyPolicyArticle.id}) %}
                                    {{ "I agree with <a class=\"footer-newsletter__link\" href=\"%url%\" target=\"_blank\">privacy policy</a>."|trans({'%url%': articleUrl})|raw }}
                                {% else %}
                                    {{ 'I agree with privacy policy.'|trans }}
                                {% endif %}
                            </span>
                        </label>
                        <span class="js-validation-errors-list js-validation-error-list-{{ form.privacyPolicyAgreement.vars.id }} form-error form-error--choice display-none">
                            <ul class="form-error__list"></ul>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="footer-newsletter__item">
            <p class="footer-newsletter__text">
                {{ 'Jednou za týden – novinky, akční nabídky i zákulisní informace'|trans }}
            </p>
        </div>
    </div>
{{ form_end(form) }}
{{ init_js_validation(form, true) }}
