<div class="box-login js-login-box-overlay">
    {{ init_js_validation(null, false) }}
    {{ form_start(form, {attr: {class: 'js-front-login-window'}}) }}
    {{ form_errors(form) }}
        <div class="box-login__title">
            {{ 'Jste bushman? Přihlaste se'|trans }}
        </div>
        <div class="display-none in-message in-message--alert js-login-validation-errors"></div>
        <div class="box-login__item">
            <label class="input__label">{{ 'E-mail'|trans }}</label>
            {{ form_widget(form.email, { rowClass: 'input input--big', errors_attr: { class: 'form-error--line-block' } }) }}
        </div>
        <div class="box-login__item box-login__item--move-top">
            <label class="input__label">{{ 'Password'|trans }}</label>
            {{ form_widget(form.password, { attr: { placeholder: '******** 6 nebo více znaků'|trans }, rowClass: 'input input--big', errors_attr: { class: 'form-error--line-block' } }) }}
        </div>
        <div class="box-login__item">
            {{ form_widget(form.rememberMe, { attr: {class: 'css-checkbox'}}) }}
            <label class="css-checkbox__image" for="{{ form.rememberMe.vars.id}}">
                {{ 'Remember my login'|trans }}
                <i class="svg svg-info in-icon in-icon--info js-tooltip"
                   data-toggle="tooltip" data-placement="right"
                   title="{{ 'We will remember your login on this computer for 30 days.'|trans }}"
                ></i>
            </label>
        </div>
        <div class="box-login__buttons">
            {{ form_widget(form.login, {label: 'Přihlásit se'|trans, attr: {class: 'btn box-login__buttons__login'}}) }}
            <a href="{{ url('front_registration_reset_password') }}" class="box-login__buttons__lost underline" >{{ 'Zapomenuté heslo?'|trans }}</a>
        </div>
    {{ form_end(form) }}
</div>
<div class="box-login__social">
    <div class="box-login__social__title box-login__social__title--without-buttons">
        {{ 'Chcete se stát Bushmanem?'|trans }}
        <a href="{{ url('front_registration_register') }}" class="box-login__social__title__link underline">{{ 'Registrujte se'|trans }}</a>
    </div>
    {# Design - temporary hidden #}
    {% if 1==2 %}
        <div class="box-login__social__button">
            <div class="box-login__social__facebook js-not-implemented-yet">
                <div class="box-login__social__facebook__icon">
                    <i class="svg svg-facebook"></i>
                </div>
                <div  class="box-login__social__facebook__text">
                    {{ 'Přihlásit se přes facebook'|trans }}
                </div>
            </div>
        </div>
        <div class="box-login__social__or">
            <div class="box-login__social__or__text">
                {{ 'nebo'|trans }}
            </div>
        </div>
        <div class="box-login__social__button">
            <div class="box-login__social__google js-not-implemented-yet">
                <div class="box-login__social__google__icon">
                    <i class="svg svg-google"></i>
                </div>
                <div  class="box-login__social__google__text">
                    {{ 'Přihlásit se přes Google'|trans }}
                </div>
            </div>
        </div>
    {% endif %}
</div>
