<div class="box-login js-login-box-overlay">
    {{ init_js_validation(null, false) }}
    {{ form_start(form, {attr: {class: 'js-front-login-window'}}) }}
    {{ form_errors(form) }}
        <div class="box-login__title">
            {{ 'Přihlaste se'|trans }}
        </div>
        <div class="display-none in-message in-message--alert js-login-validation-errors"></div>
        <div class="box-login__item">
            {{ form_widget(form.email, { attr: { placeholder: 'E-mail'|trans }, rowClass: 'input input--big', errors_attr: { class: 'form-error--line-block' } }) }}
        </div>
        <div class="box-login__item box-login__item--move-top">
            {{ form_widget(form.password, { attr: { placeholder: 'Heslo'|trans }, rowClass: 'input input--big', errors_attr: { class: 'form-error--line-block' } }) }}
        </div>

        {% do form.rememberMe.setRendered %}

        <div class="box-login__buttons">
            {{ form_widget(form.login, {label: 'Přihlásit se'|trans, attr: {class: 'btn btn--success'}}) }}
            <div class="box-login__buttons__lost">
                <a href="{{ url('front_registration_reset_password') }}" class="box-login__buttons__lost__link underline">
                {{ 'Zapomenuté heslo?'|trans }}</a>
            </div>
        </div>
    {{ form_end(form) }}
</div>
<div class="box-login__social">
    <div class="box-login__social__title box-login__social__title--without-buttons">
        <a href="{{ url('front_registration_register') }}" class="box-login__social__title__link underline">{{ 'Registruj se'|trans }}</a>
    </div>
</div>
