{% extends 'Front/Layout/layoutWithoutPanel.html.twig' %}

{% set orderStep = flow.getCurrentStepNumber() %}

{% block meta_robots -%}
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}
    {{ 'Order [noun]'|trans }}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block flashMessage %}
{% endblock %}

{% block infoRow %}
{% endblock %}

{% block header %}
    {% set shopInfoPhoneNumber = getShopInfoPhoneNumber() %}
    {% set shopInfoPhoneHours = getShopInfoPhoneHours() %}

    <div class="web__container web__container--border-radius web__container--dark">
        <header class="header header--small">
            <div class="header__logo">
                {% block logo %}
                    <a class="logo" href="{{ url('front_homepage') }}">
                        <img src="{{ asset('public/frontend/images/logo.png') }}" alt="{{ 'Online shop'|trans }}">
                    </a>
                {% endblock %}
            </div>
            <div class="header__contact dont-print">
                <div class="contact-us">
                    <div class="contact-us__open-hours">
                        {{ shopInfoPhoneHours }}
                    </div>
                    <a class="contact-us__phone" href="tel:{{ shopInfoPhoneNumber }}">
                        {% include 'Front/Svg/phone.svg' %}
                        <span class="contact-us__phone__text">{{ shopInfoPhoneNumber }}</span>
                    </a>
                </div>
            </div>
        </header>
    </div>
{% endblock %}

{% block main_content %}
    {{ form_start(form, { attr: { id: "js-order-form", 'data-ajax-save-url': url('front_order_save_form') }}) }}
        {% include 'Front/Content/Order/step' ~ orderStep ~ '.html.twig' %}
    {{ form_end(form) }}

    <span class="js-payment-transport-relations" data-relations="{{ paymentTransportRelations }}"></span>
{% endblock %}

{% block footer %}
    {% embed 'Front/Layout/footer.html.twig' %}
        {% if orderStep in [2,3] %}
            {% block footer__links %}{% endblock %}
        {% endif %}
    
        {% block footer__copyright %}
            <div class="web__line">
                <div class="web__container web__container--border-radius web__container--light">
                    <footer class="footer-bottom footer-bottom--small">
                        <div class="footer-bottom__copyright dont-print">
                            {{ 'Copyright © ' ~ 'now'|date('Y') ~ ', Tropic Fishing s.r.o. Všechna práva vyhrazena.'|trans }}
                        </div>
                        <div class="footer-bottom__rules">
                            {{ 'Podle zákona o evidenci tržeb je prodávající povinen vystavit kupujícímu účtenku. Zároveň je povinen zaevidovat přijatou tržbu u správce daně online; v případě technického výpadku pak nejpozději do 48 hodin.'|trans }}
                        </div>
                        <div class="footer-bottom__shopsys dont-print">
                            {{ 'E-shop na míru od'|trans }}
                            {% if isEnglishDomain() is same as (true) %}
                                <a href="https://www.shopsys.com" title="{{ 'Shopsys Framework'|trans }}" target="_blank" class="footer-bottom__shopsys__link">
                                    <img class="footer-bottom__shopsys__image" src="{{ asset('public/frontend/images/shopsys.svg') }}" alt="{{ 'Shopsys Framework'|trans }}">
                                </a>
                            {% else %}
                                <a href="https://www.shopsys.cz" title="{{ 'Shopsys Framework'|trans }}" target="_blank" class="footer-bottom__shopsys__link">
                                    <img class="footer-bottom__shopsys__image" src="{{ asset('public/frontend/images/shopsys.svg') }}" alt="{{ 'Shopsys Framework'|trans }}">
                                </a>
                            {% endif %}
                        </div>
                    </footer>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
