<div class="box-order__registration__message">
    {{ 'Váš e-mail je na e-shopu registrován.'|trans }}
</div>
<div class="box-order__registration__block">
    <a
        href="{{ url('front_login') }}"
        class="js-login-in-order-window-opener"
        data-url="{{ url('front_login_window_form') }}"
        data-email="{{ email }}"
    >
        {{ 'Přihlaste se'|trans }}
    </a>
    {{ 'a údaje vám předvyplníme.'|trans }}
</div>
