{% macro productPreviewItem(product, quantity, price, saleItem = false, canShowAvailability = true) %}
    {% import 'Front/Content/Product/shoppingItemAvailabilityMacro.html.twig' as availability %}
    <li class="list-cart-preview__item{% if product.isPohodaProductTypeSet or product.isSupplierSet %} list-cart-preview__item--sets{% endif %} js-opener-item">
        {% if product.isPohodaProductTypeSet %}
            <div class="list-cart-preview__item__wrap-image">
                {% for productSet in product.productSets %}
                    <div class="list-cart-preview__item__image list-cart-preview__item__image--sets svg svg-plus-big">
                        {{ image(productSet.item, {size: 'thumbnail'}) }}
                    </div>
                {% endfor %}
            </div>
        {% elseif product.isSupplierSet %}
            <div class="list-cart-preview__item__wrap-image">
                {% for image in getSupplierSetItemsImages(product) %}
                    <div class="list-cart-preview__item__image list-cart-preview__item__image--sets svg svg-plus-big">
                        {{ image(image, {size: 'thumbnail'}) }}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="list-cart-preview__item__image">
                {{ image(product, { size: 'mediumThumbnail' }) }}
            </div>
        {% endif %}

        <span class="list-cart-preview__item__title">
            {{ product.name }}
            {% if saleItem is same as (true) %}
                {{ ' - Výprodej'|trans }}
            {% endif %}
        </span>

        <div class="list-cart-preview__item__info">
            {% if canShowAvailability is same as (true) %}
                <div class="list-cart-preview__item__availability">
                    {{ availability.productAvailability(product, quantity, saleItem) }}
                </div>
            {% endif %}
            <div class="list-cart-preview__item__pieces">
                {{ quantity|formatNumber }}&nbsp;{{ product.unit.name }}
            </div>

            <div class="list-cart-preview__item__price">
                {{ price|priceText }}
            </div>
        </div>
    </li>
{% endmacro %}


<div class="box-preview">
    <div class="box-preview__content">
        {% if orderStep == "1" %}
            <div class="box-preview__item">
                {{ render(controller('App\\Controller\\Front\\PromoCodeController:indexAction')) }}
            </div>
        {% endif %}

        <div class="box-preview__item{% if orderStep == "1" %} box-preview__item--total{% endif %}">
            {% if orderStep > 1 %}
                <div class="box-preview__item__wrap">
                    <div class="box-preview__item__in">
                        <h2 class="in-title in-title--small in-title--dark">
                            {{ 'Vaše objednávka'|trans }}
                        </h2>
                        <div class="in-opener js-opener-container">
                            <div class="in-opener__wrap js-opener-wrap" data-opened-items="3">
                                <ul id="js-order-preview-cart" class="list-cart-preview{% if orderPreview.quantifiedProducts|length <= 3 %} list-cart-preview--without-opener{% endif %}">
                                    {% for quantifiedProductKey, quantifiedProduct in orderPreview.quantifiedProducts %}
                                        {% set quantifiedProductPrice = orderPreview.quantifiedItemsPrices[quantifiedProductKey] %}
                                        {{ _self.productPreviewItem(quantifiedProduct.product, quantifiedProduct.quantity, quantifiedProductPrice.totalPrice.priceWithVat, quantifiedProduct.isSaleItem) }}
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="in-opener__button js-opener-show-more-button">
                                <span class="in-opener__button__text">
                                    <span class="more">{{ 'Zobrazit všechny položky'|trans }}</span>
                                    <span class="less">{{ 'Skrýt položky'|trans }}</span>
                                </span>
                                 <i class="svg svg-triangle"></i>
                            </div>
                        </div>

                        {% set orderGiftProduct = orderPreview.orderGiftProduct %}
                        {% if orderGiftProduct is not null or orderPreview.gifts is not empty %}
                            <p class="box-preview__item__title">{{ 'Dárek k vaší objednávce:'|trans }}</p>
                        {% endif %}

                        <div class="in-opener js-opener-container">
                            <div class="in-opener__wrap js-opener-wrap" data-opened-items="3">
                                <ul class="list-cart-preview{% if orderPreview.gifts|length + orderGiftProduct|length <= 3 %} list-cart-preview--without-opener{% endif %}">
                                    {% if orderGiftProduct is not null %}
                                        {{ _self.productPreviewItem(orderGiftProduct, 1, orderGiftProductPrice, false, false) }}
                                    {% endif %}
                                    {% if orderPreview.gifts is not empty %}
                                        {% for gift in orderPreview.gifts %}
                                            {{ _self.productPreviewItem(gift.product, gift.quantity, gift.totalPrice, false, false) }}
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="in-opener__button js-opener-show-more-button">
                                <span class="in-opener__button__text">
                                    <span class="more">{{ 'Zobrazit všechny položky'|trans }}</span>
                                    <span class="less">{{ 'Skrýt položky'|trans }}</span>
                                </span>
                                 <i class="svg svg-triangle"></i>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <table id="js-order-preview-fees" class="table-cart-preview">
                <tbody>
                    <tr class="table-cart-preview__row">
                        <td class="table-cart-preview__cell">
                            {{ 'Za zboží bez slevy'|trans }}
                        </td>
                        <td class="table-cart-preview__cell table-cart-preview__cell--price">
                            {% if (orderPreview.simulateRegistration is same as (true) or app.user is not null) and orderPreview.isProductsPriceWithoutDiscountsLessThenDefault %}
                                {{ orderPreview.defaultProductsPriceWithoutDiscounts.priceWithVat|price }}
                            {% else %}
                                {{ orderPreview.productsPriceWithoutDiscounts.priceWithVat|price }}
                            {% endif %}
                        </td>
                    </tr>
                    {% if (orderPreview.simulateRegistration is same as (true) or app.user is not null) and orderPreview.isProductsPriceWithoutDiscountsLessThenDefault %}
                        <tr class="table-cart-preview__row">
                            <td class="table-cart-preview__cell">
                                {{ 'Sleva za registraci'|trans }}
                            </td>
                            <td class="table-cart-preview__cell table-cart-preview__cell--price table-cart-preview__cell--important">
                                - {{ orderPreview.productsPriceVsDefaultProductsPriceDifference|price }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if orderPreview.activeOrderDiscountLevel is not null %}
                        <tr class="table-cart-preview__row">
                            <td class="table-cart-preview__cell">
                                {{ 'Sleva %percent%'|trans({'%percent%': orderPreview.activeOrderDiscountLevel.discountPercent|formatPercent}) }}
                            </td>
                            <td class="table-cart-preview__cell table-cart-preview__cell--price  table-cart-preview__cell--important">
                                    -&nbsp;{{ orderPreview.orderDiscountLevelTotalDiscount.priceWithVat|price }}
                            </td>
                        </tr>
                    {% endif %}
                    {% set promocodeActive = false %}
                    {% for promoCodeId, promoCode in orderPreview.promoCodesIndexedById %}
                        {% if orderPreview.getTotalItemDiscountsIndexedByPromoCodeId[promoCodeId] is defined %}
                            {% set promocodeActive = true %}
                            <tr class="table-cart-preview__row">
                                <td class="table-cart-preview__cell">
                                    {{ 'Sleva'|trans }}
                                    <span class="next-line"></span>
                                    {% if promoCode.isUseNominalDiscount is same as (true) or promoCode.isTypeGiftCertificate %}
                                        {{ '%code%'|trans({ '%code%': promoCode.code }) }}
                                    {% else %}
                                        {{ '%code% -%percent%'|trans({ '%code%': promoCode.code, '%percent%': promoCode.percent|formatPercent }) }}
                                    {% endif %}
                                </td>
                                <td class="table-cart-preview__cell table-cart-preview__cell--price  table-cart-preview__cell--important">
                                    -&nbsp;{{ orderPreview.getTotalItemDiscountsIndexedByPromoCodeId[promoCodeId].priceWithVat|price }}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}

                    {% if orderPreview.transport is not empty %}
                        <tr class="table-cart-preview__row">
                            <td class="table-cart-preview__cell">
                                {{ 'Doprava'|trans }} - {{ orderPreview.transport.name }}
                            </td>
                            <td class="table-cart-preview__cell table-cart-preview__cell--price">
                                {{ orderPreview.transportPrice.priceWithVat|priceText }}
                            </td>
                        </tr>
                    {% endif %}

                    {% if orderPreview.payment is not empty %}
                        <tr class="table-cart-preview__row">
                            <td class="table-cart-preview__cell">
                                {{ 'Platba'|trans }} - {{ orderPreview.payment.name }}
                            </td>
                            <td class="table-cart-preview__cell table-cart-preview__cell--price">
                                {{ orderPreview.paymentPrice.priceWithVat|priceText }}
                            </td>
                        </tr>
                    {% endif %}

                    {% if orderPreview.transportFee is not empty and orderPreview.transportFee.priceWithVat.positive %}
                        <tr class="table-cart-preview__row">
                            <td class="table-cart-preview__cell">
                                {{ 'Příplatek za nadstandardní balení'|trans }}
                            </td>
                            <td class="table-cart-preview__cell table-cart-preview__cell--price">
                                {{ orderPreview.transportFee.priceWithVat|priceText }}
                            </td>
                        </tr>
                    {% endif %}

                    {% if orderPreview.roundingPrice is not empty %}
                        <tr class="table-cart-preview__row">
                            <td class="table-cart-preview__cell">
                                {{ 'Rounding'|trans }}
                            </td>
                            <td class="table-cart-preview__cell table-cart-preview__cell--price">
                                {{ orderPreview.roundingPrice.priceWithVat|price }}
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>

            <div id="js-order-preview-total-price" class="table-cart-preview table-cart-preview--without-gap">
                <div class="table-cart-preview__total">
                    {% if (orderPreview.activeOrderDiscountLevel is not null or promocodeActive) and not orderPreview.totalDiscount.isZero %}
                        <span class="table-cart-preview__total__discount">
                            {{ 'Ušetříte %price%'|trans({ '%price%': orderPreview.totalDiscount|price }) }}
                        </span>
                    {% endif %}
                    <span class="table-cart-preview__total__price-primary {% if orderPreview.activeOrderDiscountLevel is not null or promocodeActive %}table-cart-preview__total__price-primary--colored{% endif %}">
                        {{ orderPreview.totalPrice.priceWithVat|price }}
                    </span>
                </div>
            </div>
        </div>
    </div>

    {% if orderStep > 2 %}
        <div class="box-preview__conditions">
            {{ 'Kliknutím na tlačítko Odeslat objednávku'|trans }}<br>
            {{ 'souhlasím s '|trans }}
            {% if termsAndConditionsArticle is not null %}
                <a href="{{ url('front_article_detail', { id: termsAndConditionsArticle.id }) }}" target="_blank" class="box-preview__conditions__link">
                    <span>
                        {{ 'obchodními podmínkami'|trans }}
                    </span>
                </a>
            {% else %}
                {{ 'obchodními podmínkami'|trans }}
            {% endif %}
            {{ ' e-shopu a souhlasím se zpracováním'|trans}}
            {% if privacyPolicyArticle is not null %}
                <a href="{{ url('front_article_detail', { id: privacyPolicyArticle.id }) }}" target="_blank" class="box-preview__conditions__link">
                    <span>
                        {{ 'osobních údajů'|trans }}
                    </span>
                </a>
            {% else %}
                {{ 'osobních údajů'|trans }}
            {% endif %}
        </div>
    {% endif %}

    <div class="box-preview__action">
        <div class="in-action">
            <div class="in-action__back">
                {% if orderStep == 1 %}
                    <a href="{{ url('front_homepage') }}" class="in-action__link">
                        <i class="in-action__link__icon svg svg-triangle"></i>
                        <span class="in-action__link__text">{{ 'Zpět do e-shopu'|trans }}</span>
                    </a>
                {% elseif orderStep == 2 %}
                    <a href="{{ url('front_cart') }}" class="in-action__link">
                        <i class="in-action__link__icon svg svg-triangle"></i>
                        <span class="in-action__link__text">{{ 'Zpět do košíku'|trans }}</span>
                    </a>
                {% elseif orderStep == 3 %}
                    <button type="submit" name="flow_order_transition" value="back" class="in-action__link js-no-validate-button">
                        <i class="in-action__link__icon svg svg-triangle"></i>
                        <span class="in-action__link__text">{{ 'Zpět'|trans }}</span>
                    </button>
                {% endif %}
            </div>
            {# https://shopsys.atlassian.net/browse/TROPIC-203
            {% if orderStep == 1 %}
                {% if isFreeTransportAndPaymentActive %}
                    <div class="in-action__free-transport">
                        {% if isPaymentAndTransportFree %}
                            {{ 'Výborně, od nás máte'|trans }}&nbsp;<span class="in-action__free-transport__colored-text">{{ 'dopravu zdarma!'|trans }}</span>
                        {% else %}
                            {{ 'Nakupte ještě za'|trans }}&nbsp;<span class="in-action__free-transport__colored-text">{{ remainingPriceWithVat|price }}</span>&nbsp;{{ 'a máte'|trans }}
                            <span class="in-action__free-transport__colored-text">{{ 'dopravu zdarma!'|trans }}</span>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
            #}
            {% if orderPreview.quantifiedProducts > 0 and renderSubmitButton %}
                {% if orderStep == 1 %}
                    {% set continueButtonText = 'Vybrat způsob dopravy'|trans %}
                {% elseif orderStep == 2 %}
                    {% set continueButtonText = 'Zadat dodací údaje'|trans %}
                {% else %}
                    {% set continueButtonText = 'Odeslat objednávku'|trans %}
                {% endif %}
                <button type="submit" id="{{ formSubmit.vars.id }}" name="{{ formSubmit.vars.full_name }}" class="in-action__btn btn btn--success btn--large{% if orderStep == 3 %} js-order-submit-button{% endif %}">
                    {% if orderStep == 3 %}<i class="in-action__btn__icon svg svg-checked"></i>{% endif %}
                    {{ continueButtonText }}
                </button>
                {% do formSubmit.setRendered %}
            {% endif %}
        </div>
    </div>
</div>
