{% extends 'Front/Layout/layoutWithoutPanel.html.twig' %}

{% block meta_robots -%}
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}
    {{ 'Order completed'|trans }}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block main_content %}

    {{ render(controller('App\\Controller\\Front\\ScriptController:embedOrderSentPageScriptsAction', {order: order})) }}
    {{ render(controller('App\\Controller\\Front\\ScriptController:embedOrderSentPageGoogleAnalyticsScriptAction', {order: order})) }}

    <div class="web__container">
        <div class="web__main">
            <div class="web__main__content js-main-content">
            <!-- script to display on order sent page -->
                <div class="box-order-done">
                    <h1 class="box-order-done__title">{{ 'Děkujeme za vaši objednávku'|trans }}</h1>
                    <div class="box-order-done__text">
                        {{ pageContent|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if goPayData is defined and goPayData|length != 0 %}
        {% include 'Front/Inline/Payment/goPayPayment.html.twig' %}
    {% endif %}

    {% if payPalApprovalLink is defined and payPalApprovalLink is not null %}
        {% include 'Front/Inline/Payment/payPalPayment.html.twig' %}
    {% endif %}

    {% if cofidisPaymentLink is defined and cofidisPaymentLink is not null %}
        {% include 'Front/Inline/Payment/cofidisPayment.html.twig' %}
    {% endif %}

    <div class="web__line">
        <div class="web__container web__container--border-radius web__container--dark">
            {% include 'Front/Content/Article/index.html.twig' with { blogArticles: homepageBlogArticles, articleClassModification: 'list-articles--white' } %}
        </div>
    </div>

    <div class="web__line">
        <div class="web__container">
            {% include 'Front/Content/ReasonsToBuy/index.html.twig' %}
        </div>
    </div>

    <div class="web__line">
        <div class="web__container">
            {% include 'Front/Content/Heureka/reviews.html.twig' with { reviews: heurekaReviews } %}
        </div>
    </div>

{% endblock %}
