{% extends 'Front/Layout/layoutWithoutPanel.html.twig' %}

{% block meta_robots -%}
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}
    {{ 'Order completed'|trans }}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block main_content %}

    {{ render(controller('App\\Controller\\Front\\ScriptController:embedOrderSentPageScriptsAction', {order: order})) }}
    {{ render(controller('App\\Controller\\Front\\ScriptController:embedOrderSentPageGoogleAnalyticsScriptAction', {order: order})) }}

    <div class="web__container">
        <div class="web__main">
            <div class="web__main__content js-main-content">
            <!-- script to display on order sent page -->
                <div class="box-order-done">
                    <h1 class="box-order-done__title">{{ 'Děkujeme za vaši objednávku'|trans }}</h1>
                    <div class="box-order-done__text">
                        {{ pageContent|raw }}
                    </div>
                    {% if registrationForm is not null %}
                        <div class="box-order-done__club">
                            <div class="box-order-done__club__title">
                                {{ 'Stačí zadat heslo a příště už nic<br>zadávat nemusíte'|transHtml }}
                            </div>
                            <div class="box-order-done__club__text">
                                {{ 'Jako registrovaný zákazník získáte <strong>slevu %discount% %</strong> na celý sortiment, přístup k <strong>historii svých objednávek</strong> a funkci předvyplnění údajů při další objednávce.'|transHtml({
                                    '%discount%': getRegisteredCustomerPricingGroupDiscount()|formatNumber
                                }) }}
                            </div>
                            {# Save password and user name hack.
                            * The browsers need field with name 'name' to store login (password stored by field with type password).
                            * I can't create a field with a specific name in symfony.
                            * IE and Edge store login by type hidden, other by type text or email. #}

                            {{ form_start(registrationForm) }}
                                {{ form_errors(registrationForm) }}

                                <input type="text" name="name" value="{{ order.email }}" style="display: none;">
                                <input type="hidden" name="name" value="{{ order.email }}">

                                <div class="box-order-done__club__form">
                                    <div class="box-order-done__club__form__input">
                                        {{ form_row(registrationForm.newPassword.first, { label: 'Password'|trans, inputModificationClass: 'form-line__input--full' }) }}
                                        {{ form_row(registrationForm.newPassword.second, { label: 'Password again'|trans, inputModificationClass: 'form-line__input--full' }) }}
                                    </div>
                                    <div class="box-order-done__club__form__button-holder">
                                        {{ form_widget(registrationForm.submit, { label: 'Vytvořit účet'|trans, attr: { 'class': 'btn btn--success box-order-done__club__form__button' } }) }}
                                    </div>
                                </div>
                            {{ form_end(registrationForm) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if goPayData is defined and goPayData|length != 0 %}
        {% include 'Front/Inline/Payment/goPayPayment.html.twig' %}
    {% endif %}

    {% if payPalApprovalLink is defined and payPalApprovalLink is not null %}
        {% include 'Front/Inline/Payment/payPalPayment.html.twig' %}
    {% endif %}

    <div class="web__line">
        <div class="web__container web__container--border-radius web__container--dark">
            {% include 'Front/Content/Article/index.html.twig' with { blogArticles: homepageBlogArticles, articleClassModification: 'list-articles--white' } %}
        </div>
    </div>

    <div class="web__line">
        <div class="web__container">
            {% include 'Front/Content/ReasonsToBuy/index.html.twig' %}
        </div>
    </div>

{% endblock %}
