{% extends 'Front/Content/Order/step.html.twig' %}

{% block content %}
    <div class="web__line">
        <div class="web__container web__container--transparent">
            {% include 'Front/Inline/OrderProgress/index.html.twig' with {step: flow.getCurrentStepNumber()} only %}
        </div>
    </div>

    <div class="web__line">
        <div class="web__container web__container--border-radius">

            <div class="box-order">
                <div class="box-order__message">
                    {{ form_errors(form) }}
                    {{ render(controller('App\\Controller\\Front\\FlashMessageController:indexAction')) }}
                </div>
                <div class="box-order__wrap">
                    <div class="box-order__info box-order__info--delivery-details">
                        <div class="box-order__info__content box-order__info__content--full-width">
                            <div class="box-order__info__content__left">
                                <h2 class="in-title in-title--small in-title--dark">
                                    {{ 'Informace o zákazníkovi'|trans }}
                                </h2>
                                {% set isSelectedPickupPlaceTransport = transport is not empty and (transport.isPickupPlace or transport.isChooseStore) %}
                                <div class="box-order__info__row">
                                    <div class="box-order__info__row__item box-order__info__row__item--50">
                                        {{ form_row(form.firstName, { label: 'First name'|trans }) }}
                                    </div>
                                    <div class="box-order__info__row__item box-order__info__row__item--50">
                                        {{ form_row(form.lastName, { label: 'Last name'|trans }) }}
                                    </div>
                                </div>
                                {{ form_row(form.email, { label: 'E-mail'|trans, attr: {
                                    'data-is-logged-customer': is_granted('ROLE_LOGGED_CUSTOMER'),
                                    'data-url': url('front_login_notice')
                                } }) }}
                                <div class="box-order__registration">
                                    <div class="js-order-personal-info-form-email-wrapper"></div>

                                    <div class="box-order__registration__block box-order__registration__block--without-border-top js-order-registration-fields display-none">
                                        <input type="checkbox" class="display-none js-order-transport-input" data-id="{{ transport.id }}" checked>
                                        <input type="checkbox" class="display-none js-order-payment-input" data-id="{{ payment.id }}" checked>
                                        <div class="margin-top-10" id="js-password-fields">
                                            {{ form_row(form.password.first, {
                                                label: 'Password'|trans,
                                                errors_attr: { class: 'form-error--under' },
                                                icon: {
                                                    class: 'in-icon in-icon--info js-tooltip',
                                                    title: 'Password must be at least six characters and can\'t be the same as entered e-mail or its part before at sign.'|trans
                                                }
                                            }) }}
                                            {{ form_row(form.password.second, {
                                                label: 'Password again'|trans,
                                                errors_attr: { class: 'form-error--under' }
                                            }) }}
                                        </div>
                                    </div>
                                </div>
                                {{ form_row(form.telephone, { label: 'Telephone'|trans, attr: { placeholder: 'např. 603 123 456'|trans }}) }}
                            </div>

                            {% if not is_granted('ROLE_LOGGED_CUSTOMER') %}
                                <div class="box-order__info__content__right">
                                    <h3 class="box-order__info__title"><strong>{{ '3% sleva'|trans }}</strong> {{ 'za registraci může platit'|trans }} <strong>{{ 'již na tento nákup!'|trans }}</strong></h3>

                                    <div class="js-order-registration-fields display-none">
                                        {{ form_widget(form.registration, {
                                            attr: { class: 'css-checkbox js-checkbox-toggle js-order-registration-checkbox', 'data-checkbox-toggle-container-id': 'js-password-fields' }})
                                        }}
                                        <label for="{{ form.registration.vars.id }}" class="css-checkbox__image">
                                            {{ 'Chci se zaregistrovat'|trans }}
                                        </label>
                                    </div>
                                </div>
                            {% else %}
                                {% do form.registration.setRendered %}
                            {% endif %}
                        </div>

                        <div class="box-order__info__content box-order__info__content--without-gap">
                            <h2 class="in-title in-title--small in-title--dark">
                                {{ 'Doručit na adresu'|trans }}
                            </h2>

                            {% if isSelectedPickupPlaceTransport is same as (true) %}
                                {% set pickupPlaceData = pickupPlace %}
                                {% if transport.isChooseStore is same as (true) %}
                                    {% set pickupPlaceData = store %}
                                {% endif %}
                                <span>{{ "Název pobočky"|trans }}</span>&nbsp;{{ pickupPlaceData.name }} <br/>
                                <span>{{ "Ulice"|trans }}</span>&nbsp;{{ pickupPlaceData.street }} <br/>
                                <span>{{ "Město"|trans }}</span>&nbsp;{{ pickupPlaceData.city }} <br/>
                                <span>{{ "PSČ"|trans }}</span>&nbsp;{{ pickupPlaceData.postcode }} <br/>
                                {% do form.deliveryCompanyName.setRendered %}
                                {% do form.deliveryStreet.setRendered %}
                                {% do form.deliveryCity.setRendered %}
                                {% do form.deliveryPostcode.setRendered %}
                                {% do form.deliveryCountry.setRendered %}
                                {% if app.user is not null %}
                                    {% do form.deliveryAddress.setRendered %}
                                {% endif %}
                            {% else %}
                                <div id="js-delivery-address" class="margin-top-20">
                                    {% if app.user is not null %}
                                        {{ form_row(form.deliveryAddress) }}
                                    {% endif %}
                                    <div class="js-order-delivery-address-fields{% if app.user is not null and form.deliveryAddress.vars.value is not same as('') %} display-none{% endif %}">
                                        <div class="box-order__info__row">
                                            <div class="box-order__info__row__item box-order__info__row__item--50">
                                                {{ form_row(form.firstName, { label: 'First name'|trans }) }}
                                            </div>
                                            <div class="box-order__info__row__item box-order__info__row__item--50">
                                                {{ form_row(form.lastName, { label: 'Last name'|trans }) }}
                                            </div>
                                        </div>
                                        <div class="box-order__info__row">
                                            <div class="box-order__info__row__item">
                                                {{ form_row(form.deliveryCompanyName, { label: 'Do firmy'|trans, attr: { placeholder: 'nepovinné'|trans } }) }}
                                            </div>
                                        </div>
                                        <div class="box-order__info__row">
                                            <div class="box-order__info__row__item">
                                                {{ form_row(form.deliveryStreet, { label: 'Street'|trans }) }}
                                            </div>
                                        </div>
                                        <div class="box-order__info__row">
                                            <div class="box-order__info__row__item box-order__info__row__item--70">
                                                {{ form_row(form.deliveryCity, { label: 'City'|trans }) }}
                                            </div>
                                            <div class="box-order__info__row__item box-order__info__row__item--30">
                                                {{ form_row(form.deliveryPostcode, { label: 'Postcode'|trans }) }}
                                            </div>
                                        </div>
                                        <div class="box-order__info__row">
                                            <div class="box-order__info__row__item">
                                                {% if isEnglishDomain() is same as (true) %}
                                                    {{ form_row(form.deliveryCountry, { label: 'Country'|trans }) }}
                                                    <a href="{{ url('front_order_index') }}">{{ 'Změnit'|trans }}</a>
                                                {% else %}
                                                    {% do form.deliveryCountry.setRendered %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                        <div class="box-order__info__content box-order__info__content--without-gap">
                            <div class="margin-top-10">
                                {{ form_widget(form.companyCustomer, {
                                    attr: { class: 'css-checkbox js-checkbox-toggle', 'data-checkbox-toggle-container-id': 'js-company-fields' }})
                                }}
                                <label for="{{ form.companyCustomer.vars.id }}" class="css-checkbox__image">
                                    {{ 'I buy on company behalf'|trans }}
                                </label>
                            </div>
                            <div id="js-company-fields" class="margin-top-20">
                                <h2 class="in-title in-title--small in-title--dark">
                                    {{ 'Company data'|trans }} <span class="heading-addition">{{ '(If I buy on the company behalf)'|trans }}</span>
                                </h2>
                                {{ form_row(form.companyName, { label: 'Company name'|trans }) }}
                                {{ form_row(form.companyNumber, { label: 'Company number'|trans }) }}
                                {{ form_row(form.companyTaxNumber, { label: 'Tax number'|trans }) }}
                            </div>
                        </div>

                        <div class="box-order__info__content box-order__info__content--without-gap">
                            <div class="margin-top-10">
                                {{ form_widget(form.billingAddressFilled, {
                                    attr: { class: 'css-checkbox js-checkbox-toggle', 'data-checkbox-toggle-container-id': 'js-billing-address-fields' }})
                                }}
                                <label for="{{ form.billingAddressFilled.vars.id }}" class="css-checkbox__image">
                                    {{ 'Chci zadat fakturační údaje'|trans }}
                                </label>
                            </div>
                            <div id="js-billing-address-fields" class="margin-top-20">
                                <h2 class="in-title in-title--small in-title--dark">
                                    {{ 'Billing data'|trans }} <span class="heading-addition">{{ '(Tato adresa bude na daňovém dokladu. Pokud nebude vyplněna, použije se doručovací adresa.)'|trans }}</span>
                                </h2>
                                {{ form_row(form.street, { label: 'Street'|trans }) }}
                                {{ form_row(form.city, { label: 'City'|trans }) }}
                                {{ form_row(form.postcode, { label: 'Postcode'|trans }) }}
                                {{ form_row(form.country, { label: 'Country'|trans }) }}
                            </div>

                            {% do form.note.setRendered %}

                            {% if form.disallowHeurekaVerifiedByCustomers is defined %}
                                <div class="margin-top-10">
                                    {{ form_widget(form.disallowHeurekaVerifiedByCustomers, {
                                        attr: { class: 'css-checkbox' }})
                                    }}
                                    <label for="{{ form.disallowHeurekaVerifiedByCustomers.vars.id }}" class="css-checkbox__image">
                                        {{ 'Nesouhlasím se zasláním objednávky do programu Heureka Ověřeno zákazníky'|trans }}
                                    </label>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div id="js-order-preview" class="box-order__cart" data-url="{{ url('front_order_preview') }}">
                        {{ render(controller('App\\Controller\\Front\\OrderController:previewAction', {
                            transportId: transport is empty ? null : transport.id,
                            paymentId: payment is empty ? null : payment.id,
                            orderStep: '3',
                            registration: form.registration.vars.checked,
                            formSubmit: form.save
                        })) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
