<h2>{{ product.name }}</h2>
{{ 'Vložte svůj e-mail a my Vás informujeme o snížení ceny nebo o naskladnění zboží:'|trans }}
{{ form_start(form) }}
    {{ form_row(form.priceWatcher) }}
    {{ form_row(form.targetedDiscount) }}
    {{ form_row(form.availabilityWatcher) }}
    {{ form_row(form.email) }}
    * - {{ 'povinné položky' }}
    {{ form_row(form.submit) }}
{{ form_end(form) }}
{{ init_js_validation(form, false) }}
