{% macro productBox(product, variants, productMainCategory, visible, mainVariants) %}
    {% import '@ShopsysShop/Front/Inline/Product/productFlagsMacro.html.twig' as productFlags %}
    {% set domain = getDomain() %}

    <div class="box-detail {% if visible == false %}display-none{% endif %} {% if product.mainVariantGroup is not null %}js-product-detail js-product-detail-{{ product.id }}{% endif %}">
        <div class="box-detail__image">
            {% set galleryImages = getImages(product) %}
            {% set showGallery = galleryImages|length > 1 %}
            <div class="box-detail__image__main">
                {% if imageExists(product) %}
                    <a href="{{ imageUrl(product, 'original') }}" class="{{ showGallery ? 'js-gallery-main-image' : 'js-popup-image' }}">
                        {{ image(product, { itemprop: 'image' }) }}
                    </a>
                {% else %}
                    {{ noimage({ alt: product.name }) }}
                {% endif %}
            </div>
            {{ productFlags.list(product) }}

            {% if showGallery %}
                <div class="box-gallery dont-print">
                    <div class="box-gallery__in">
                        {% for galleryImage in galleryImages %}
                            <div class="box-gallery__item">
                                <a href="{{ imageUrl(galleryImage, 'original') }}" class="box-gallery__item__link js-gallery-slide-link">
                                    {{ image(galleryImage, {size: 'galleryThumbnail'}) }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="box-gallery__in">
                        <div class="box-gallery__item box-gallery__item--more">
                            <a href="#" class="box-gallery__item__link underline js-not-implemented-yet">
                                {{ 'Další'|trans }} (10)
                            </a>
                        </div>
                        <div class="box-gallery__item box-gallery__item--video">
                            <a href="#" class="box-gallery__item__link js-not-implemented-yet">
                                <i class="svg svg-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="box-detail__info">
            {% block breadcrumbDetail %}
                {{ render(controller('ShopsysShopBundle:Front/Breadcrumb:index', { routeName: getRoute(), routeParameters: getRouteParams() } )) }}
            {% endblock %}

            <h1 itemprop="name">
                {{ product.getSeoH1(domain.id)|default(product.name) }}
            </h1>

            {% if product.calculatedAvailability %}
                <div class="box-detail__info__availability">
                    {% if product.calculatedSellingDenied %}
                        {{ 'Product no longer on sale'|trans }}
                    {% else %}
                        {{ product.calculatedAvailability.name }}
                    {% endif %}
                </div>
            {% endif %}
            {% if product.mainVariantGroup is not null and mainVariants|length > 0 %}
                <dl class="box-detail__info__params">
                    <dt></dt>
                    <dd>
                        <table>
                            <tr>
                                {% for mainVariantGroupProduct in mainVariants %}
                                    {% set mainVariantGroupDistinguishingParameterValue = mainVariantGroupDistinguishingParameterValue(mainVariantGroupProduct) %}
                                    {% if mainVariantGroupDistinguishingParameterValue is not null %}
                                        <td>
                                            <button class="js-product-main-variant-select-button {{ mainVariantGroupProduct.id == product.id ? 'active'}}" data-id="{{ mainVariantGroupProduct.id }}" type="button">{{ mainVariantGroupDistinguishingParameterValue.text }}</button>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        </table>
                    </dd>
                </dl>
            {% endif %}
            {% if product.isMainVariant %}
                {% set allDistinguishingParameterValuesForProducts = distinguishingParameterValuesForProducts(variants) %}
                {% if allDistinguishingParameterValuesForProducts is not empty %}
                    <dl class="box-detail__info__params">
                        <dt></dt>
                        <dd>
                            <table>
                                <tr>
                                    {% for parameterValue, variantId in allDistinguishingParameterValuesForProducts[product.id] %}
                                        <td>
                                            <button
                                                    class="js-product-variant-select-button"
                                                    data-id="{{ variantId }}"
                                                    {{ variantId is null ? 'disabled'}} type="button"
                                            >
                                                {{ parameterValue }}
                                            </button>
                                        </td>
                                    {% endfor %}
                                </tr>
                            </table>
                        </dd>
                    </dl>
                {% endif %}
            {% endif %}
            {% if not product.isMainVariant %}
                <div class="js-product-detail-main-add-to-cart-wrapper box-detail-add">
                    {% if not product.calculatedSellingDenied %}
                        <div itemprop="offers"
                             itemscope
                             itemtype="http://schema.org/Offer"
                             class="box-detail-add__prices">
                            <div class="box-detail-add__prices__item box-detail-add__prices__item--main">
                                {{ getProductSellingPrice(product).priceWithVat|price }}
                            </div>
                            <div class="box-detail-add__prices__item">
                                {{ getProductSellingPrice(product).priceWithoutVat|price }} {{ 'excluding VAT'|trans }}
                            </div>
                            <meta itemprop="priceCurrency"
                                  content="{{ currencyCode(domain.id) }}"
                            >
                            <meta itemprop="price"
                                  content="{{ getProductSellingPrice(product).priceWithVat|moneyFormat }}"
                            >
                            <link itemprop="availability"
                                  href="{{ product.calculatedSellingDenied ? 'http://schema.org/OutOfStock' : 'http://schema.org/InStock' }}"
                            >
                        </div>
                        {{ render(controller('ShopsysShopBundle:Front/Cart:addProductForm', {product: product, type: 'large'})) }}
                    {% else %}
                        <div>
                            {{ 'This product is no longer available for purchase. Have a look at similar products <a href="%url%">here</a>.'|transHtml({"%url%": url('front_product_list', { id: productMainCategory })}) }}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            <div class="js-product-variant-price-wrapper">
                {% for variant in variants if variant in product.variants %}
                    <div class="display-none js-product-variant-price js-product-variant-price-{{ variant.id }}">
                        {% if not variant.calculatedSellingDenied %}
                            <div itemprop="offers"
                                 itemscope
                                 itemtype="http://schema.org/Offer"
                                 class="box-detail-add__prices">
                                <div class="box-detail-add__prices__item box-detail-add__prices__item--main">
                                    {{ getProductSellingPrice(variant).priceWithVat|price }}
                                </div>
                                <div class="box-detail-add__prices__item">
                                    {{ getProductSellingPrice(variant).priceWithoutVat|price }} {{ 'excluding VAT'|trans }}
                                </div>
                                <meta itemprop="priceCurrency"
                                      content="{{ currencyCode(domain.id) }}"
                                >
                                <meta itemprop="price"
                                      content="{{ getProductSellingPrice(variant).priceWithVat|moneyFormat }}"
                                >
                                <link itemprop="availability"
                                      href="{{ variant.calculatedSellingDenied ? 'http://schema.org/OutOfStock' : 'http://schema.org/InStock' }}"
                                >
                            </div>
                            {{ render(controller('ShopsysShopBundle:Front/Cart:addProductForm', {product: variant, type: 'large'})) }}
                        {% else %}
                            <div>
                                {{ 'This product is no longer available for purchase. Have a look at similar products <a href="%url%">here</a>.'|transHtml({"%url%": url('front_product_list', { id: productMainCategory })}) }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            {% spaceless %}
                <dl class="box-detail__info__params">
                    {% if product.brand %}
                        <dt>
                            {{ 'Brand'|trans }}:
                        </dt>
                        <dd>
                            <a href="{{ url('front_brand_detail', { id: product.brand.id }) }}">
                                <span itemprop="brand">{{ product.brand.name }}</span>
                            </a>
                        </dd>
                    {% endif %}

                    {% if not product.isMainVariant %}
                        {% if product.catnum %}
                            <dt>
                                {{ 'Catalogue number'|trans }}:
                            </dt>
                            <dd>
                                {{ product.catnum }}
                            </dd>
                        {% endif %}

                        {% if product.partno %}
                            <dt>
                                {{ 'Serial number'|trans }}:
                            </dt>
                            <dd>
                                {{ product.partno }}
                            </dd>
                        {% endif %}

                        {% if product.ean %}
                            <dt>
                                {{ 'EAN'|trans }}:
                            </dt>
                            <dd>
                                {{ product.ean }}
                            </dd>
                        {% endif %}
                    {% endif %}
                </dl>
            {% endspaceless %}
        </div>
    </div>
{% endmacro %}
