{% macro productBox(product, variants, productMainCategory, visible, mainVariants) %}
    {% import '@ShopsysShop/Front/Inline/Product/productFlagsMacro.html.twig' as productFlags %}
    {% set domain = getDomain() %}
    {% set showGalleryMaxCount = 3 %}

    <div class="box-detail {% if visible == false %}display-none{% endif %} {% if product.mainVariantGroup is not null %}js-product-detail js-product-detail-{{ product.id }}{% endif %}">
        <div class="box-detail__image">
            {% set galleryImages = getImages(product) %}
            {% set showGallery = galleryImages|length > 1 %}
            <div class="box-detail__image__main">
                {% if imageExists(product) %}
                    <a href="{{ imageUrl(product, 'original') }}" class="{{ showGallery ? 'js-gallery-main-image' : 'js-popup-image' }}">
                        {{ image(product, { itemprop: 'image' }) }}
                    </a>
                {% else %}
                    {{ noimage({ alt: product.name }) }}
                {% endif %}
            </div>

            {{ productFlags.list(product) }}

            {% if showGallery %}
                <div class="box-gallery dont-print js-gallery">
                    <div class="box-gallery__images">
                        {% for galleryImage in galleryImages %}
                            <div class="box-gallery__item {% if loop.index > showGalleryMaxCount %} display-none{% endif %} js-gallery-item">
                                <a href="{{ imageUrl(galleryImage, 'original') }}" class="box-gallery__item__link js-gallery-slide-link">
                                    {{ image(galleryImage, {size: 'thumbnail'}) }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="box-gallery__links">
                        {% if galleryImages|length > showGalleryMaxCount %}
                            <div class="box-gallery__item box-gallery__item--more js-gallery-item-more">
                                <a href="#" class="box-gallery__item__link underline js-not-implemented-yet">
                                    {{ 'Další'|trans }} ({{ galleryImages|length - showGalleryMaxCount }})
                                </a>
                            </div>
                        {% endif %}
                        <div class="box-gallery__item box-gallery__item--video">
                            <a href="#" class="box-gallery__item__link js-not-implemented-yet">
                                <i class="svg svg-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% include '@ShopsysShop/Front/Content/Benefits/list.html.twig' with { cssClass: 'list-benefits--small'} %}
        </div>
        <div class="box-detail__info">
            {% block breadcrumbDetail %}
                {{ render(controller('ShopsysShopBundle:Front/Breadcrumb:index', { routeName: getRoute(), routeParameters: getRouteParams() } )) }}
            {% endblock %}

            <div class="box-detail__info__title" itemprop="name">
                {{ product.getSeoH1(domain.id)|default(product.name) }}
            </div>

            <div class="box-detail__info__description js-not-implemented-yet">
                {{ 'Košile Indiana si doslova říká o nějakou výpravu. Díky klasickému zpracování však nehraje roli, jestli to bude dobrodružství městské či výprava do divočiny.'|trans }}
            </div>
            <div class="box-detail__wrap">
                {# TODO PRG: add condition for all variants to display or hide box-datail__variants #}
                <div class="box-detail__variants">
                    {% if product.mainVariantGroup is not null and mainVariants|length > 0 %}
                        <div class="box-detail__variants__title">
                            {{ 'Vyberte variantu'|trans }}
                        </div>
                        <ul class="list-variants">
                            {% for mainVariantGroupProduct in mainVariants %}
                                {% set mainVariantGroupDistinguishingParameterValue = mainVariantGroupDistinguishingParameterValue(mainVariantGroupProduct) %}
                                {% if mainVariantGroupDistinguishingParameterValue is not null %}
                                    <li class="list-variants__item__with-image js-product-main-variant-select-button {{ mainVariantGroupProduct.id == product.id ? 'active'}}" data-id="{{ mainVariantGroupProduct.id }}">
                                        {{ image(mainVariantGroupProduct, {size: 'thumbnail'}) }}
                                        <span class="list-variants__item__name">
                                            {{ mainVariantGroupDistinguishingParameterValue.text }}
                                        </span>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if product.isMainVariant %}
                        {% set allDistinguishingParameterValuesForProducts = distinguishingParameterValuesForProducts(variants) %}
                        {% if allDistinguishingParameterValuesForProducts is not empty %}
                            <div class="box-detail__variants__title box-detail__variants__title--with-top-gap">
                                {{ 'Vyberte velikost'|trans }}
                                <a href="#" class="box-detail__variants__title__link underline-small js-not-implemented-yet">{{ 'Jak vybrat správnou velikost?'}}</a>
                            </div>
                            <ul class="list-variants">
                                {% for parameterValue, variantId in allDistinguishingParameterValuesForProducts[product.id] %}
                                    <li class="list-variants__item {{ variantId is null ? 'disabled'}} js-product-variant-select-button"
                                    data-id="{{ variantId }}">{{ parameterValue }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endif %}
                </div>

                {% if product.calculatedAvailability %}
                    <div class="box-detail__availability">
                        <span class="box-detail__availability__status js-not-implemented-yet" style="color: #7bbd70;">
                            {% if product.calculatedSellingDenied %}
                                {{ 'Product no longer on sale'|trans }}
                            {% else %}
                                {{ product.calculatedAvailability.name }}
                            {% endif %}
                        </span>
                        <span class="box-detail__availability__text">
                            {{ 'nebo ihned na '}}
                        </span>
                        <a href="#" class="box-detail__availability__stores underline-small js-not-implemented-yet">
                            10 {{ ' prodejnách'|trans }}
                        </a>
                    </div>
                {% endif %}
                {# TODO PRG: add class - if no varaints - box-detail__add-basket--empty #}
                <div class="box-detail__add-basket js-product-variant-price-wrapper">
                    {% for variant in variants if variant in product.variants %}
                        <div class="display-none js-product-variant-price js-product-variant-price-{{ variant.id }}">
                            {% if not variant.calculatedSellingDenied %}
                                <div itemprop="offers"
                                itemscope
                                itemtype="http://schema.org/Offer"
                                class="box-detail-add__prices">
                                    <div class="box-detail-add__prices__item box-detail-add__prices__item--main">
                                        {{ getProductSellingPrice(variant).priceWithVat|price }}
                                    </div>
                                    <div class="box-detail-add__prices__item box-detail-add__prices__item--old js-not-implemented-yet">
                                        {{ '3099 Kč'|trans }}
                                    </div>
                                    <div class="box-detail-add__prices__item box-detail-add__prices__item--save js-not-implemented-yet">
                                        {{ 'ušetříte '|trans }} {{ '1900 Kč'|trans }}
                                    </div>
                                    <meta itemprop="priceCurrency"
                                    content="{{ currencyCode(domain.id) }}"
                                    >
                                    <meta itemprop="price"
                                    content="{{ getProductSellingPrice(variant).priceWithVat|moneyFormat }}"
                                    >
                                    <link itemprop="availability"
                                    href="{{ variant.calculatedSellingDenied ? 'http://schema.org/OutOfStock' : 'http://schema.org/InStock' }}"
                                    >
                                </div>
                                <div class="box-detail-add__club">
                                    <span class="box-detail-add__club__text">
                                        {{ 'Nebo'|trans }}
                                    </span>
                                    <span class="box-detail-add__club__price js-not-implemented-yet">
                                        {{ '1 390 Kč'|trans }}
                                    </span>
                                    <span class="box-detail-add__club__text">
                                        {{ 'pro členy'|trans }}
                                    </span>
                                    <a href="#" class="box-detail-add__club__link underline-small js-not-implemented-yet">{{ 'Bushman klubu'|trans }}</a>
                                </div>
                                {{ render(controller('ShopsysShopBundle:Front/Cart:addProductForm', {product: variant, type: 'large'})) }}
                            {% else %}
                                <div>
                                    {{ 'This product is no longer available for purchase. Have a look at similar products <a href="%url%">here</a>.'|transHtml({"%url%": url('front_product_list', { id: productMainCategory })}) }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}

                    {% if not product.isMainVariant %}
                        <div class="box-detail-add js-product-detail-main-add-to-cart-wrapper">
                            {% if not product.calculatedSellingDenied %}
                                <div itemprop="offers"
                                     itemscope
                                     itemtype="http://schema.org/Offer"
                                     class="box-detail-add__prices">
                                    <div class="box-detail-add__prices__item box-detail-add__prices__item--main">
                                        {{ getProductSellingPrice(product).priceWithVat|price }}
                                    </div>
                                    <div class="box-detail-add__prices__item box-detail-add__prices__item--old js-not-implemented-yet">
                                        {{ '3099 Kč'|trans }}
                                    </div>
                                    <div class="box-detail-add__prices__item box-detail-add__prices__item--save js-not-implemented-yet">
                                        {{ 'ušetříte '|trans }} {{ '1900 Kč'|trans }}
                                    </div>
                                    <meta itemprop="priceCurrency"
                                          content="{{ currencyCode(domain.id) }}"
                                    >
                                    <meta itemprop="price"
                                          content="{{ getProductSellingPrice(product).priceWithVat|moneyFormat }}"
                                    >
                                    <link itemprop="availability"
                                          href="{{ product.calculatedSellingDenied ? 'http://schema.org/OutOfStock' : 'http://schema.org/InStock' }}"
                                    >
                                </div>
                                <div class="box-detail-add__club">
                                    <span class="box-detail-add__club__text">
                                        {{ 'Nebo'|trans }}
                                    </span>
                                    <span class="box-detail-add__club__price js-not-implemented-yet">
                                        {{ '1 390 Kč'|trans }}
                                    </span>
                                    <span class="box-detail-add__club__text">
                                        {{ 'pro členy'|trans }}
                                    </span>
                                    <a href="#" class="box-detail-add__club__link underline-small js-not-implemented-yet">{{ 'Bushman klubu'|trans }}</a>
                                </div>
                                {{ render(controller('ShopsysShopBundle:Front/Cart:addProductForm', {product: product, type: 'large'})) }}
                            {% else %}
                                <div>
                                    {{ 'This product is no longer available for purchase. Have a look at similar products <a href="%url%">here</a>.'|transHtml({"%url%": url('front_product_list', { id: productMainCategory })}) }}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <div class="box-detail__gift">
                    <div class="box-detail__gift__image">
                        <img src="https://placeimg.com/50/50/any">
                    </div>
                    <div class="box-detail__gift__info">
                        <a href="#" class="box-detail__gift__info__title js-not-implemented-yet">
                            {{ 'Dárek'|trans }}
                            <span class="underline-small">Bushman Zebra</span>
                        </a>
                        <div class="box-detail__gift__info__text">
                            {{ 'Ke každému nákupu osuška za '}} <strong> 590 Kč</strong>
                        </div>
                    </div>
                </div>
                <div class="box-detail__action">
                    <div class="box-detail__action__title js-not-implemented-yet">
                        {{ 'AKCE'|trans }}
                    </div>
                    <div class="box-detail__action__text">
                        {{ 'Kupte bundu a na všehna trička máte '}} <span class="box-detail__action__text__highlight"> 20% {{ 'slevu'|trans }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
