{% macro productTabs(
    product,
    variants,
    productMainCategory,
    visible,
    mainVariants,
    youtubeDetail,
    productSizeArticleId,
    accessories,
    accessoriesHeadline,
    productVisibleProductCategoryDomains
) %}
    {% import '@ShopsysShop/Front/Content/Product/designHiddenStuff.html.twig' as designHiddenStuff %}
    {% set domain = getDomain() %}
    {% set descriptionHeadline = 'Popis'|trans %}
    {% set parametersHeadline = 'Parametry'|trans %}

    {% set productParameterValues = getProductParameterValues(product) %}
    {% if product.getDescription(domain.id)
        or productParameterValues > 0
    %}
    <div class="box-detail__content {% if visible == false %}display-none{% endif %} {% if product.mainVariantGroup is not null %}js-product-detail js-product-detail-{{ product.id }}{% endif %}">
        <div class="in-tab js-anchor-tabs">
            <div class="in-tab__wrap">
                <div class="in-tab__head dont-print">
                    {% if product.getDescription(domain.id) %}
                        <a href="#" class="in-tab__head__item underline js-tabs-button" data-tab-id="description">
                            {{ descriptionHeadline }}
                        </a>
                    {% endif %}
                    {% if productParameterValues > 0 %}
                        <a href="#" class="in-tab__head__item underline js-tabs-button" data-tab-id="parameters">
                            {{ parametersHeadline }}
                        </a>
                    {% endif %}
                    {{ designHiddenStuff.hiddenTabHeader() }}
                    {% if accessories|length > 0 %}
                        <a href="#" class="in-tab__head__item underline js-tabs-button" data-tab-id="accessories">
                            {{ accessoriesHeadline }}
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="in-tab__content">
                {% if product.getDescription(domain.id) %}
                    <div class="in-tab__content__title js-tabs-button active" data-tab-id="description">
                        <a href="#" class="in-tab__content__title__link underline">
                            {{ descriptionHeadline }}
                        </a>
                        <i class="svg svg-triangle"></i>
                    </div>
                    <div class="in-tab__content__item js-tabs-content active" data-tab-id="description">
                        <div class="in-user-text" itemprop="description">
                            <h3 class="in-user-text__title in-user-text__title--center">
                                {{ 'Popis'|trans }} {{ product.name }}
                            </h3>

                            {% if product.getDescription(domain.id) %}
                                <p>
                                    {{ product.getDescription(domain.id)|raw }}
                                </p>

                                {% if youtubeDetail is not null %}
                                    <div class="youtubeWrapper">
                                        <iframe
                                                width="560"
                                                height="315"
                                                src="https://www.youtube.com/embed/{{ youtubeDetail.getVideoId() }}"
                                                frameborder="0"
                                                allowfullscreen
                                        ></iframe>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                {% if product.mainVariantGroup is not null %}
                    <div class="js-product-variant-detail-wrapper">
                        <div class="js-product-variant-detail-select-info">
                            {{ 'Pro zobrazení parametrů si vyberte z velikostí.'|trans }}
                        </div>
                        {% for variant in variants %}
                            <div class="display-none js-product-variant-detail js-product-variant-detail-{{ variant.id }}">
                                {{ _self.parameters(variant, parametersHeadline, productVisibleProductCategoryDomains) }}
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ _self.parameters(product, parametersHeadline, productVisibleProductCategoryDomains) }}
                {% endif %}

                {{ designHiddenStuff.hiddenTabs() }}

            </div>
        </div>

        {{ designHiddenStuff.hiddenSets() }}

    </div>
    {% endif %}
{% endmacro %}

{% macro parameters(product, parametersHeadline, productVisibleProductCategoryDomains) %}
    {% set productParameterValues = getProductParameterValues(product) %}
    {% if productParameterValues|length > 0 %}
        <div class="in-tab__content__title js-tabs-button active" data-tab-id="parameters">
            <a href="#" class="in-tab__content__title__link underline">
                {{ parametersHeadline }}
            </a>
            <i class="svg svg-triangle"></i>
        </div>
        <div class="in-tab__content__item js-tabs-content active" data-tab-id="parameters">
            <h3 class="in-user-text__title in-user-text__title--center">
                {{ parametersHeadline }}
            </h3>
            <div class="box-detail__params">
                <div class="box-detail__params__row">
                    {% if productParameterValues > 0 %}
                    <ul class="list-params">
                        {% for productParameterValue in productParameterValues %}
                            {% if(productParameterValue.parameter.visibleOnFrontend is same as (true)) %}
                                <li class="list-params__item">
                                    <span class="list-params__item__text">
                                        <span class="list-params__item__text__name">
                                            {{ productParameterValue.parameter.name }}:
                                        </span>
                                        <span class="list-params__item__text__value">
                                            {{ productParameterValue.value.text }}
                                        </span>
                                    </span>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="box-detail__tags__row">
                    <div class="box-detail__tags__title">{{ 'Najdete v kategoriích'|trans }}</div>
                    <div class="box-detail__tags__values">
                        <div class="list-tags">
                            {% for productCategoryDomain in productVisibleProductCategoryDomains %}
                                <a href="{{ url('front_product_list', { id: productCategoryDomain.category.id }) }}" class="list-tags__tag list-tags__tag--outline">
                                    {{ productCategoryDomain.category.name }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}
