{% extends '@ShopsysShop/Front/Layout/layoutWithoutPanel.html.twig' %}
{% import '@ShopsysShop/Front/Inline/Product/productFlagsMacro.html.twig' as productFlags %}
{% import '@ShopsysShop/Front/Content/Product/productListMacro.html.twig' as productList %}
{% import '@ShopsysShop/Front/Content/Product/boxDetail.html.twig' as boxDetail %}

{% set domain = getDomain() %}
{% set descriptionHeadline = 'Popis'|trans %}
{% set parametersHeadline = 'Technical parameters'|trans %}
{% set accessoriesHeadline = 'Accessories'|trans %}
{% set referencesHeadline = 'Hodnocení'|trans %}
{% set discussionHeadline = 'Diskuze'|trans %}

{% block meta_description %}
    {{- product.getSeoMetaDescription(domain.id)|default(getSeoMetaDescription()) -}}
{% endblock %}

{% block title %}
    {{ product.getSeoTitle(domain.id)|default(product.name) }}
{% endblock %}

{% block main_content %}
    <div class="web__line">
        <div class="web__container web__container--big-padding">
            <div itemscope itemtype="http://schema.org/Product">
                <div class="js-product-variant-group">
                    {{ boxDetail.productBox(product, allVariants, productMainCategory, true, mainVariants) }}

                    {% for mainVariant in mainVariants if mainVariant.id != product.id %}
                        {{ boxDetail.productBox(mainVariant, allVariants, productMainCategory, false, mainVariants) }}
                    {% endfor %}
                </div>

                {% set productParameterValues = getProductParameterValues(product) %}
                {% if product.getDescription(domain.id)
                    or productParameterValues > 0
                    or accessories|length > 0
                %}
                <div class="box-detail__content">
                    <div class="in-tab js-responsive-tabs">
                        <div class="in-tab__wrap">
                            <div class="in-tab__head dont-print">
                                {% if product.getDescription(domain.id) %}
                                    <a href="#" class="in-tab__head__item underline js-tabs-button active" data-tab-id="description">
                                        {{ descriptionHeadline }}
                                    </a>
                                {% endif %}
                                <a href="#" class="in-tab__head__item underline js-tabs-button js-not-implemented-yet" data-tab-id="references">
                                    {{ referencesHeadline }} (3)
                                </a>
                                <a href="#" class="in-tab__head__item underline js-tabs-button js-not-implemented-yet" data-tab-id="discussion">
                                    {{ discussionHeadline }} (7)
                                </a>
                                {% if accessories|length > 0 %}
                                    <a href="#" class="in-tab__head__item underline js-tabs-button" data-tab-id="accessories">
                                        {{ accessoriesHeadline }}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="in-tab__content">
                            {% if product.getDescription(domain.id) or productParameterValues > 0 %}
                                <div class="in-tab__content__title js-tabs-button active" data-tab-id="description">
                                    <a href="#" class="in-tab__content__title__link underline">
                                        {{ descriptionHeadline }}
                                    </a>
                                    <i class="svg svg-triangle"></i>
                                </div>
                                <div class="in-tab__content__item js-tabs-content active" data-tab-id="description">
                                    <div class="in-user-text" itemprop="description">
                                        <h3 class="in-user-text__title in-user-text__title--center">
                                            {{ 'Popis'|trans }} {{ product.name }}
                                        </h3>

                                        {% if product.getDescription(domain.id) %}
                                            <p>
                                                {{ product.getDescription(domain.id)|raw }}
                                            </p>
                                        {% endif %}
                                    </div>
                                    <div class="box-detail__params">
                                        <div class="box-detail__params__column">
                                            <div class="box-detail__params__title">{{ 'Co potřebujete vědět'|trans }}</div>
                                            <ul class="list-params">
                                                <li class="list-params__item-with-icon js-not-implemented-yet">
                                                    <i class="list-params__item-with-icon__icon svg svg-facebook"></i>
                                                    <span class="list-params__item-with-icon__text">{{ 'Příroční bavlna'|trans }}</span>
                                                </li>
                                                <li class="list-params__item-with-icon js-not-implemented-yet">
                                                    <i class="list-params__item-with-icon__icon svg svg-facebook"></i>
                                                    <span class="list-params__item-with-icon__text">{{ 'Perte na 30°'|trans }}</span>
                                                </li>
                                                <li class="list-params__item-with-icon js-not-implemented-yet">
                                                    <i class="list-params__item-with-icon__icon svg svg-facebook"></i>
                                                    <span class="list-params__item-with-icon__text">{{ 'Běžné žehlení'|trans }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="box-detail__params__column box-detail__params__column--middle">
                                            {% if productParameterValues > 0 %}
                                                <div class="box-detail__params__title">{{ 'Parametry'|trans }}</div>
                                                <ul class="list-params">
                                                    {% for productParameterValue in productParameterValues %}
                                                        <li class="list-params__item">
                                                            <span class="list-params__item__text">
                                                                {{ productParameterValue.parameter.name }}&nbsp;{{ productParameterValue.value.text }}
                                                            </span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                        <div class="box-detail__params__column">
                                            <div class="box-detail__params__title">{{ 'Najdete v kategoriích'|trans }}</div>
                                            <div class="list-tags">
                                                <div class="list-tags__tag list-tags__tag--outline">
                                                    {{ 'šaty'|trans }}
                                                </div>
                                                <div class="list-tags__tag list-tags__tag--outline">
                                                    {{ 'do práce'|trans }}
                                                </div>
                                                <div class="list-tags__tag list-tags__tag--outline">
                                                    {{ 'volný střih'|trans }}
                                                </div>
                                                <div class="list-tags__tag list-tags__tag--outline">
                                                    {{ 'pro pořádné chlapy'|trans }}
                                                </div>
                                                <div class="list-tags__tag list-tags__tag--outline">
                                                    {{ 'expediční oblečení'|trans }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="in-tab__content__title js-tabs-button" data-tab-id="references">
                                <a href="#" class="in-tab__content__title__link underline">
                                    {{ referencesHeadline }}
                                </a>
                                <i class="svg svg-triangle"></i>
                            </div>
                            <div class="in-tab__content__item js-tabs-content" data-tab-id="references">
                                <h3 class="in-user-text__title in-user-text__title--center">
                                    {{ referencesHeadline }} <span class="in-user-text__subtitle js-not-implemented-yet">(3)</span>
                                </h3>
                                <div class="box-references">
                                    <div class="box-references__top js-not-implemented-yet">
                                        <div class="box-references__top__rating">
                                            <div class="box-references__top__rating__number js-not-implemented-yet">
                                                4,1
                                            </div>
                                            <div class="box-references__top__rating__count js-not-implemented-yet">
                                                {{ 'Hodnotilo '|trans }} 5 {{ 'účastníků'|trans }}
                                            </div>
                                        </div>
                                        <div class="box-references__top__stars">
                                            <div class="in-rating in-rating--big">
                                                <div class="in-rating__stars">
                                                    <div class="in-rating__stars__full">
                                                        <i class="svg svg-star"></i>
                                                        <i class="svg svg-star"></i>
                                                        <i class="svg svg-star"></i>
                                                        <i class="svg svg-star"></i>
                                                        <i class="svg svg-star"></i>
                                                    </div>
                                                    <div class="in-rating__stars__actual js-not-implemented-yet" style="width: 80%;">
                                                        <i class="svg svg-star"></i>
                                                        <i class="svg svg-star"></i>
                                                        <i class="svg svg-star"></i>
                                                        <i class="svg svg-star"></i>
                                                        <i class="svg svg-star"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#" class="box-references__top__stars__link underline js-not-implemented-yet">{{ 'Napište vlastní hodnocení produktu'|trans }}</a>
                                        </div>
                                    </div>
                                    <div class="list-references list-references--in-detail js-horizontal-list-slides">
                                        <div class="list-references__item js-not-implemented-yet">
                                            <div class="list-references__item__header">
                                                <div class="list-references__item__header__author">
                                                    {{ 'Lenka'|trans }}
                                                </div>
                                                <div class="list-references__item__date">
                                                    {{ '2019-01-20'|formatDate }}
                                                </div>
                                                <div class="in-rating">
                                                    <div class="in-rating__stars">
                                                        <div class="in-rating__stars__full">
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                        </div>
                                                        <div class="in-rating__stars__actual" style="width: 80%;">
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list-references__item__text">
                                                {{ 'Přiznaný masivní zip odkazuje na již zmíněné "péřovky". Originální prošití do tvaru loga na zadním díle však dodává bundě jedineční vzhled, který v kombinaci s použitým celopotištěným, směsovým materiálem, vzorem imituje vazbu hrotového kepru, působí moderně a konzervativně zároveň. Přední díl zdobí drobné kovové logo.'|trans }}
                                            </div>
                                        </div>
                                        <div class="list-references__item js-not-implemented-yet">
                                            <div class="list-references__item__header">
                                                <div class="list-references__item__header__author">
                                                    {{ 'Bushman Jarda'|trans }}
                                                </div>
                                                <div class="list-references__item__date">
                                                    {{ '2019-01-20'|formatDate }}
                                                </div>
                                                <div class="in-rating">
                                                    <div class="in-rating__stars">
                                                        <div class="in-rating__stars__full">
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                        </div>
                                                        <div class="in-rating__stars__actual" style="width: 80%;">
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list-references__item__text">
                                                {{ 'Co je však naprosto jisté, spolehlivě vás zahřeje.'|trans }}
                                            </div>
                                        </div>
                                        <div class="list-references__item js-not-implemented-yet">
                                            <div class="list-references__item__header">
                                                <div class="list-references__item__header__author">
                                                    {{ 'Anonym'|trans }}
                                                </div>
                                                <div class="list-references__item__date">
                                                    {{ '2019-01-20'|formatDate }}
                                                </div>
                                                <div class="in-rating">
                                                    <div class="in-rating__stars">
                                                        <div class="in-rating__stars__full">
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                        </div>
                                                        <div class="in-rating__stars__actual" style="width: 80%;">
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list-references__item__text">
                                                {{ 'Dostatečně zateplená a vybavená žebrovými náplety v dolním kraji rukávů. U krku vás proti větru bude chránit stojáček.'|trans }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-references__bottom">
                                        {{ 'Máte s produktem vlastní zkušenost?'}}
                                        <a href="#" class="box-references__bottom__link underline js-not-implemented-yet">{{ 'Napište hodnocení produktu'|trans }}</a>
                                    </div>
                                </div>
                            </div>

                            {% if accessories|length > 0 %}
                                <div class="in-tab__content__title js-tabs-button" data-tab-id="accessories">
                                    <a href="#" class="in-tab__content__title__link underline">
                                        {{ accessoriesHeadline }}
                                    </a>
                                    <i class="svg svg-triangle"></i>
                                </div>
                                <div class="in-tab__content__item js-tabs-content" data-tab-id="accessories">
                                    <h3 class="in-user-text__title in-user-text__title--center">
                                        {{ accessoriesHeadline }}
                                    </h3>
                                    {{ productList.list(accessories) }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% block last_visited_products %}
        {{ render(controller('ShopsysShopBundle:Front/LastVisitedProducts:show')) }}
    {% endblock %}
{% endblock %}
