{% extends '@ShopsysShop/Front/Layout/layoutWithoutPanel.html.twig' %}
{% import '@ShopsysShop/Front/Inline/Product/productFlagsMacro.html.twig' as productFlags %}
{% import '@ShopsysShop/Front/Content/Product/productListMacro.html.twig' as productList %}
{% import '@ShopsysShop/Front/Content/Product/boxDetail.html.twig' as boxDetail %}

{% set domain = getDomain() %}
{% set descriptionHeadline = 'Popis'|trans %}
{% set parametersHeadline = 'Parametry'|trans %}
{% set accessoriesHeadline = 'Accessories'|trans %}
{% set referencesHeadline = 'Hodnocení'|trans %}
{% set discussionHeadline = 'Diskuze'|trans %}

{% block meta_description %}
    {{- product.getSeoMetaDescription(domain.id)|default(getSeoMetaDescription()) -}}
{% endblock %}

{% block title %}
    {{ product.getSeoTitle(domain.id)|default(product.name) }}
{% endblock %}

{% block main_content %}
    <div class="web__line">
        <div class="web__container web__container--big-padding">
            <div itemscope itemtype="http://schema.org/Product">
                <div class="js-product-variant-group">
                    {{ boxDetail.productBox(product, allVariants, productMainCategory, true, mainVariants) }}

                    {% for mainVariant in mainVariants if mainVariant.id != product.id %}
                        {{ boxDetail.productBox(mainVariant, allVariants, productMainCategory, false, mainVariants) }}
                    {% endfor %}
                </div>

                {% set productParameterValues = getProductParameterValues(product) %}
                {% if product.getDescription(domain.id)
                    or productParameterValues > 0
                    or accessories|length > 0
                %}
                <div class="box-detail__content">
                    <div class="in-tab js-responsive-tabs">
                        <div class="in-tab__wrap">
                            <div class="in-tab__head dont-print">
                                {% if product.getDescription(domain.id) %}
                                    <a href="#" class="in-tab__head__item underline js-tabs-button active" data-tab-id="description">
                                        {{ descriptionHeadline }}
                                    </a>
                                {% endif %}
                                {% if productParameterValues > 0 %}
                                    <a href="#" class="in-tab__head__item underline js-tabs-button js-not-implemented-yet" data-tab-id="parameters">
                                        {{ parametersHeadline }}
                                    </a>
                                {% endif %}
                                <a href="#" class="in-tab__head__item underline js-tabs-button js-not-implemented-yet" data-tab-id="references">
                                    {{ referencesHeadline }} (3)
                                </a>
                                <a href="#" class="in-tab__head__item underline js-tabs-button js-not-implemented-yet" data-tab-id="discussion">
                                    {{ discussionHeadline }} (7)
                                </a>
                                {% if accessories|length > 0 %}
                                    <a href="#" class="in-tab__head__item underline js-tabs-button" data-tab-id="accessories">
                                        {{ accessoriesHeadline }}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="in-tab__content">
                            {% if product.getDescription(domain.id) %}
                                <div class="in-tab__content__title js-tabs-button active" data-tab-id="description">
                                    <a href="#" class="in-tab__content__title__link underline">
                                        {{ descriptionHeadline }}
                                    </a>
                                    <i class="svg svg-triangle"></i>
                                </div>
                                <div class="in-tab__content__item js-tabs-content active" data-tab-id="description">
                                    <div class="in-user-text" itemprop="description">
                                        <h3 class="in-user-text__title in-user-text__title--center">
                                            {{ 'Popis'|trans }} {{ product.name }}
                                        </h3>

                                        {% if product.getDescription(domain.id) %}
                                            <p>
                                                {{ product.getDescription(domain.id)|raw }}
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}

                            {% if productParameterValues > 0 %}
                                <div class="in-tab__content__title js-tabs-button active" data-tab-id="parameters">
                                    <a href="#" class="in-tab__content__title__link underline">
                                        {{ parametersHeadline }}
                                    </a>
                                    <i class="svg svg-triangle"></i>
                                </div>
                                <div class="in-tab__content__item js-tabs-content" data-tab-id="parameters">
                                    <h3 class="in-user-text__title in-user-text__title--center">
                                        {{ parametersHeadline }}
                                    </h3>
                                    <div class="box-detail__params">
                                        <div class="box-detail__params__row">
                                            <div class="box-detail__params__title">{{ 'Co potřebujete vědět'|trans }}</div>
                                            <ul class="list-params">
                                                <li class="list-params__item-with-icon js-not-implemented-yet">
                                                    <i class="list-params__item-with-icon__icon svg svg-facebook"></i>
                                                    <span class="list-params__item-with-icon__text">{{ 'Příroční bavlna'|trans }}</span>
                                                </li>
                                                <li class="list-params__item-with-icon js-not-implemented-yet">
                                                    <i class="list-params__item-with-icon__icon svg svg-facebook"></i>
                                                    <span class="list-params__item-with-icon__text">{{ 'Perte na 30°'|trans }}</span>
                                                </li>
                                                <li class="list-params__item-with-icon js-not-implemented-yet">
                                                    <i class="list-params__item-with-icon__icon svg svg-facebook"></i>
                                                    <span class="list-params__item-with-icon__text">{{ 'Běžné žehlení'|trans }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="box-detail__params__row">
                                            {% if productParameterValues > 0 %}
                                            <div class="box-detail__params__title">{{ 'Parametry'|trans }}</div>
                                            <ul class="list-params">
                                                {% for productParameterValue in productParameterValues %}
                                                <li class="list-params__item">
                                                    <span class="list-params__item__text">
                                                        <span class="list-params__item__text__name">
                                                            {{ productParameterValue.parameter.name }}:
                                                        </span>
                                                        <span class="list-params__item__text__value">
                                                            {{ productParameterValue.value.text }}
                                                        </span>
                                                    </span>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                        </div>
                                        <div class="box-detail__params__row">
                                            <div class="box-detail__params__title">{{ 'Najdete v kategoriích'|trans }}</div>
                                            <div class="list-tags">
                                                <div class="list-tags__tag list-tags__tag--outline">
                                                    {{ 'šaty'|trans }}
                                                </div>
                                                <div class="list-tags__tag list-tags__tag--outline">
                                                    {{ 'do práce'|trans }}
                                                </div>
                                                <div class="list-tags__tag list-tags__tag--outline">
                                                    {{ 'volný střih'|trans }}
                                                </div>
                                                <div class="list-tags__tag list-tags__tag--outline">
                                                    {{ 'pro pořádné chlapy'|trans }}
                                                </div>
                                                <div class="list-tags__tag list-tags__tag--outline">
                                                    {{ 'expediční oblečení'|trans }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="in-tab__content__title js-tabs-button" data-tab-id="references">
                                <a href="#" class="in-tab__content__title__link underline js-not-implemented-yet">
                                    {{ referencesHeadline }} (3)
                                </a>
                                <i class="svg svg-triangle"></i>
                            </div>
                            <div class="in-tab__content__item js-tabs-content" data-tab-id="references">
                                <h3 class="in-user-text__title in-user-text__title--center">
                                    {{ referencesHeadline }} <span class="in-user-text__subtitle js-not-implemented-yet">(3)</span>
                                </h3>
                                <div class="box-references">
                                    <div class="box-references__top js-not-implemented-yet">
                                        <div class="box-references__top__rating">
                                            <div class="box-references__top__rating__number js-not-implemented-yet">
                                                4,1
                                            </div>
                                            <div class="box-references__top__rating__count js-not-implemented-yet">
                                                {{ 'Hodnotilo '|trans }} 5 {{ 'účastníků'|trans }}
                                            </div>
                                        </div>
                                        <div class="box-references__top__stars">
                                            <div class="in-rating in-rating--big">
                                                <div class="in-rating__stars">
                                                    <div class="in-rating__stars__full">
                                                        <i class="svg svg-star"></i>
                                                        <i class="svg svg-star"></i>
                                                        <i class="svg svg-star"></i>
                                                        <i class="svg svg-star"></i>
                                                        <i class="svg svg-star"></i>
                                                    </div>
                                                    <div class="in-rating__stars__actual js-not-implemented-yet" style="width: 80%;">
                                                        <i class="svg svg-star"></i>
                                                        <i class="svg svg-star"></i>
                                                        <i class="svg svg-star"></i>
                                                        <i class="svg svg-star"></i>
                                                        <i class="svg svg-star"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="box-references__top___stars__text">
                                                <a href="#" class="box-references__top__stars__link underline js-not-implemented-yet">{{ 'Napište vlastní hodnocení produktu'|trans }}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-references list-references--in-detail js-horizontal-list-slides">
                                        <div class="list-references__item js-not-implemented-yet">
                                            <div class="list-references__item__header">
                                                <div class="list-references__item__header__author">
                                                    {{ 'Lenka'|trans }}
                                                </div>
                                                <div class="list-references__item__date">
                                                    {{ '2019-01-20'|formatDate }}
                                                </div>
                                                <div class="in-rating">
                                                    <div class="in-rating__stars">
                                                        <div class="in-rating__stars__full">
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                        </div>
                                                        <div class="in-rating__stars__actual" style="width: 80%;">
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list-references__item__text">
                                                {{ 'Přiznaný masivní zip odkazuje na již zmíněné "péřovky". Originální prošití do tvaru loga na zadním díle však dodává bundě jedineční vzhled, který v kombinaci s použitým celopotištěným, směsovým materiálem, vzorem imituje vazbu hrotového kepru, působí moderně a konzervativně zároveň. Přední díl zdobí drobné kovové logo.'|trans }}
                                            </div>
                                        </div>
                                        <div class="list-references__item js-not-implemented-yet">
                                            <div class="list-references__item__header">
                                                <div class="list-references__item__header__author">
                                                    {{ 'Bushman Jarda'|trans }}
                                                </div>
                                                <div class="list-references__item__date">
                                                    {{ '2019-01-20'|formatDate }}
                                                </div>
                                                <div class="in-rating">
                                                    <div class="in-rating__stars">
                                                        <div class="in-rating__stars__full">
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                        </div>
                                                        <div class="in-rating__stars__actual" style="width: 80%;">
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list-references__item__text">
                                                {{ 'Co je však naprosto jisté, spolehlivě vás zahřeje.'|trans }}
                                            </div>
                                        </div>
                                        <div class="list-references__item js-not-implemented-yet">
                                            <div class="list-references__item__header">
                                                <div class="list-references__item__header__author">
                                                    {{ 'Anonym'|trans }}
                                                </div>
                                                <div class="list-references__item__date">
                                                    {{ '2019-01-20'|formatDate }}
                                                </div>
                                                <div class="in-rating">
                                                    <div class="in-rating__stars">
                                                        <div class="in-rating__stars__full">
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                        </div>
                                                        <div class="in-rating__stars__actual" style="width: 80%;">
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                            <i class="svg svg-star"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list-references__item__text">
                                                {{ 'Dostatečně zateplená a vybavená žebrovými náplety v dolním kraji rukávů. U krku vás proti větru bude chránit stojáček.'|trans }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-references__bottom">
                                        {{ 'Máte s produktem vlastní zkušenost?'}}<br class="box-discussion__bottom__next-line">
                                        <a href="#" class="box-references__bottom__link underline js-not-implemented-yet">{{ 'Napište hodnocení produktu'|trans }}</a>
                                    </div>
                                </div>
                            </div>

                            <div class="in-tab__content__title js-tabs-button" data-tab-id="discussion">
                                <a href="#" class="in-tab__content__title__link underline js-not-implemented-yet">
                                    {{ discussionHeadline }} (7)
                                </a>
                                <i class="svg svg-triangle"></i>
                            </div>
                            <div class="in-tab__content__item js-tabs-content" data-tab-id="discussion">
                                <h3 class="in-user-text__title in-user-text__title--center">
                                    {{ discussionHeadline }} <span class="in-user-text__subtitle js-not-implemented-yet">(7)</span>
                                </h3>
                                <div class="box-discussion">
                                    <div class="list-discussion">
                                        <div class="list-discussion__item js-not-implemented-yet">
                                            <div class="list-discussion__item__image">
                                                <img src="https://placeimg.com/62/69/people" alt="Pro pořádné chlapy">
                                            </div>
                                            <div class="list-discussion__item__text">
                                                {{ 'Přiznaný masivní zip odkazuje na již zmíněné "péřovky". Originální prošití do tvaru loga na zadním díle však dodává bundě jedineční vzhled, který v kombinaci s použitým celopotištěným, směsovým materiálem, vzorem imituje vazbu hrotového kepru, působí moderně a konzervativně zároveň. Přední díl zdobí drobné kovové logo.'|trans }}

                                                <div class="list-discussion__item__info">
                                                    <div class="list-discussion__item__info__author">
                                                        {{ 'Radoslav Kratochvíl'|trans }}
                                                    </div>
                                                    <div class="list-discussion__item__date">
                                                        {{ '2019-01-20'|formatDate }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-discussion__item list-discussion__item--reply list-discussion__item--highlight js-not-implemented-yet">
                                            <div class="list-discussion__item__image">
                                                <img src="https://placeimg.com/62/69/people" alt="Pro pořádné chlapy">
                                            </div>
                                            <div class="list-discussion__item__text">
                                                {{ 'Máte pravdu a velmi dobrý postřeh! Masivní zip odkazuje na péřovku a má originální prošití do tvaru našeho loga. Děkujeme za názor a tady máte klíčenku.'|trans }}

                                                <div class="list-discussion__item__bottom">
                                                    <div class="list-discussion__item__bottom__author">
                                                        {{ 'Tomáš Malý - Bushman specialista'|trans }}
                                                    </div>
                                                    <div class="list-discussion__item__date">
                                                        {{ '2019-01-20'|formatDate }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-discussion__item list-discussion__item--reply js-not-implemented-yet">
                                            <div class="list-discussion__item__image">
                                                <img src="https://placeimg.com/62/69/people" alt="Pro pořádné chlapy">
                                            </div>
                                            <div class="list-discussion__item__text">
                                                {{ 'Děkuju, klíčenku budu rád používat. Mějte se.'|trans }}

                                                <div class="list-discussion__item__bottom">
                                                    <div class="list-discussion__item__bottom__author">
                                                        {{ 'Radoslav Kratochvíl'|trans }}
                                                    </div>
                                                    <div class="list-discussion__item__date">
                                                        {{ '2019-01-20'|formatDate }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-discussion__item js-not-implemented-yet">
                                            <div class="list-discussion__item__image">
                                                <img src="https://placeimg.com/62/69/people" alt="Pro pořádné chlapy">
                                            </div>
                                            <div class="list-discussion__item__text">
                                                {{ 'Můžu potvrdit výše uvedené recenze. Bunda je opravdu kvalitní, dobře se nosí a i po týdnu jsem necítil pot ani hlínu.'|trans }}

                                                <div class="list-discussion__item__bottom">
                                                    <div class="list-discussion__item__bottom__author">
                                                        {{ 'Jan Novák'|trans }}
                                                    </div>
                                                    <div class="list-discussion__item__date">
                                                        {{ '2019-01-20'|formatDate }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-discussion__item js-not-implemented-yet">
                                            <div class="list-discussion__item__image">
                                                <img src="https://placeimg.com/62/69/people" alt="Pro pořádné chlapy">
                                            </div>
                                            <div class="list-discussion__item__text">
                                                {{ 'Můžu potvrdit výše uvedené recenze. Bunda je opravdu kvalitní, dobře se nosí a i po týdnu jsem necítil pot ani hlínu.'|trans }}

                                                <div class="list-discussion__item__bottom">
                                                    <div class="list-discussion__item__bottom__author">
                                                        {{ 'Jan Novák'|trans }}
                                                    </div>
                                                    <div class="list-discussion__item__date">
                                                        {{ '2019-01-20'|formatDate }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-discussion__item js-not-implemented-yet">
                                            <div class="list-discussion__item__image">
                                                <img src="https://placeimg.com/62/69/people" alt="Pro pořádné chlapy">
                                            </div>
                                            <div class="list-discussion__item__text">
                                                {{ 'Kolega Novák má dobrý češtin. Pošlete mu tu klíčenku taky. Můžu potvrdit výše uvedené recenze. Bunda je opravdu kvalitní, dobře se nosí a i po týdnu jsem necítil pot ani hlínu.'|trans }}

                                                <div class="list-discussion__item__bottom">
                                                    <div class="list-discussion__item__bottom__author">
                                                        {{ 'Jan Novák'|trans }}
                                                    </div>
                                                    <div class="list-discussion__item__date">
                                                        {{ '2019-01-20'|formatDate }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-discussion__item list-discussion__item--reply list-discussion__item--highlight js-not-implemented-yet">
                                            <div class="list-discussion__item__image">
                                                <img src="https://placeimg.com/62/69/people" alt="Pro pořádné chlapy">
                                            </div>
                                            <div class="list-discussion__item__text">
                                                {{ 'To máme radost a posíláme!'|trans }}

                                                <div class="list-discussion__item__bottom">
                                                    <div class="list-discussion__item__bottom__author">
                                                        {{ 'Tomáš Malý - Bushman specialista'|trans }}
                                                    </div>
                                                    <div class="list-discussion__item__date">
                                                        {{ '2019-01-20'|formatDate }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-discussion__item list-discussion__item--reply js-not-implemented-yet">
                                            <div class="list-discussion__item__image">
                                                <img src="https://placeimg.com/62/69/people" alt="Pro pořádné chlapy">
                                            </div>
                                            <div class="list-discussion__item__text">
                                                {{ 'Děkuju pané Malý :)'|trans }}

                                                <div class="list-discussion__item__bottom">
                                                    <div class="list-discussion__item__bottom__author">
                                                        {{ 'Jan Novák'|trans }}
                                                    </div>
                                                    <div class="list-discussion__item__date">
                                                        {{ '2019-01-20'|formatDate }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-discussion__bottom">
                                        {{ 'Chcete se na něco zeptat?'}}<br class="box-discussion__bottom__next-line">
                                        <a href="#" class="box-discussion__bottom__link underline js-not-implemented-yet">{{ 'Vložte nový komentář'|trans }}</a>
                                    </div>
                                </div>
                            </div>

                            {% if accessories|length > 0 %}
                                <div class="in-tab__content__title js-tabs-button" data-tab-id="accessories">
                                    <a href="#" class="in-tab__content__title__link underline">
                                        {{ accessoriesHeadline }}
                                    </a>
                                    <i class="svg svg-triangle"></i>
                                </div>
                                <div class="in-tab__content__item js-tabs-content" data-tab-id="accessories">
                                    <h3 class="in-user-text__title in-user-text__title--center">
                                        {{ accessoriesHeadline }}
                                    </h3>
                                    {{ productList.list(accessories) }}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    {# TODO PGR: set set #}
                    <div class="box-detail-sets">
                        <div class="box-detail-sets__item js-not-implemented-yet">
                            <div class="box-detail-sets__item__product">
                                <div class="box-detail-sets__item__product__image">
                                    <img src="https://placeimg.com/60/60/any" alt="{{ 'Šátek Etna'|trans }}" class="js-not-implemented-yet">
                                </div>
                                <div class="box-detail-sets__item__product__info">
                                    <span class="box-detail-sets__item__product__title">{{ 'Šátek Etna'|trans }}</span>
                                    <div class="box-detail-sets__item__product__availability">
                                        <span class="box-detail__availability__status js-not-implemented-yet" style="color: #7bbd70;">
                                            {% if product.calculatedSellingDenied %}
                                                {{ 'Product no longer on sale'|trans }}
                                            {% else %}
                                                {{ product.calculatedAvailability.name }}
                                            {% endif %}
                                        </span>
                                        <br class="box-detail__availability__next-line">
                                    </div>
                                </div>
                            </div>
                            {% if not product.calculatedSellingDenied %}
                                <div class="box-detail-sets__item__add-basket">
                                    <div itemprop="offers"
                                    itemscope
                                    itemtype="http://schema.org/Offer"
                                    class="box-detail-add__prices">
                                        {# TODO PRG: add sets item data #}
                                        <div class="box-detail-add__prices__item box-detail-add__prices__item--main js-not-implemented-yet">
                                            {{ getProductSellingPrice(product).priceWithVat|price }}
                                        </div>
                                        <div class="box-detail-add__prices__item box-detail-add__prices__item--old js-not-implemented-yet">
                                            {{ '3099 Kč'|trans }}
                                        </div>
                                        <div class="box-detail-add__prices__item box-detail-add__prices__item--save js-not-implemented-yet">
                                            {{ 'ušetříte '|trans }} {{ '1900 Kč'|trans }}
                                        </div>
                                    </div>
                                    <div class="box-detail-add__club">
                                        <span class="box-detail-add__club__text">
                                            {{ 'Nebo'|trans }}
                                        </span>
                                        <span class="box-detail-add__club__price js-not-implemented-yet">
                                            {{ '1 390 Kč'|trans }}
                                        </span>
                                        <span class="box-detail-add__club__text">
                                            {{ 'pro členy'|trans }}
                                        </span>
                                        <a href="#" class="box-detail-add__club__link underline-small js-not-implemented-yet">{{ 'Bushman klubu'|trans }}</a>
                                    </div>
                                    {# TODO PRG: add sets item data #}
                                    {{ render(controller('ShopsysShopBundle:Front/Cart:addProductForm', {product: product, type: 'large'})) }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="box-detail-sets__item js-not-implemented-yet">
                            <div class="box-detail-sets__item__product">
                                <div class="box-detail-sets__item__product__image">
                                    <img src="https://placeimg.com/60/60/any" alt="{{ 'Šátek Etna'|trans }}" class="js-not-implemented-yet">
                                </div>
                                <div class="box-detail-sets__item__product__info">
                                    <span class="box-detail-sets__item__product__title">{{ 'Šátek Etna'|trans }}</span>
                                    <div class="box-detail-sets__item__product__availability">
                                        <span class="box-detail__availability__status js-not-implemented-yet" style="color: #7bbd70;">
                                            {% if product.calculatedSellingDenied %}
                                                {{ 'Product no longer on sale'|trans }}
                                            {% else %}
                                                {{ product.calculatedAvailability.name }}
                                            {% endif %}
                                        </span>
                                        <br class="box-detail__availability__next-line">
                                    </div>
                                </div>
                            </div>
                            <div class="box-detail-sets__item__variants">
                                <div class="box-detail__variants box-detail__variants--in-sets">
                                    {% if product.mainVariantGroup is not null and mainVariants|length > 0 %}
                                        <div class="box-detail__variants__title">
                                            {{ 'Vyberte variantu'|trans }}
                                            <a href="#" class="box-detail__variants__title__link underline-small js-not-implemented-yet">{{ 'Jak vybrat správnou velikost'}}</a>
                                        </div>
                                        <ul class="list-variants">
                                            {% for mainVariantGroupProduct in mainVariants %}
                                                {% set mainVariantGroupDistinguishingParameterValue = mainVariantGroupDistinguishingParameterValue(mainVariantGroupProduct) %}
                                                {% if mainVariantGroupDistinguishingParameterValue is not null %}
                                                    <li class="list-variants__item js-not-implemented-yet" data-id="{{ mainVariantGroupProduct.id }}">
                                                        <span class="list-variants__item__name">
                                                            {{ mainVariantGroupDistinguishingParameterValue.text }}
                                                        </span>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="box-detail-sets__item__add-basket">
                                <div itemprop="offers"
                                itemscope
                                itemtype="http://schema.org/Offer"
                                class="box-detail-add__prices">
                                    {# TODO PRG: add sets item data #}
                                    <div class="box-detail-add__prices__item box-detail-add__prices__item--main js-not-implemented-yet">
                                        {#{ getProductSellingPrice(product).priceWithVat|price }#}
                                    </div>
                                    <div class="box-detail-add__prices__item box-detail-add__prices__item--old js-not-implemented-yet">
                                        {{ '3099 Kč'|trans }}
                                    </div>
                                    <div class="box-detail-add__prices__item box-detail-add__prices__item--save js-not-implemented-yet">
                                        {{ 'ušetříte '|trans }} {{ '1900 Kč'|trans }}
                                    </div>
                                </div>
                                <div class="box-detail-add__club">
                                    <span class="box-detail-add__club__text">
                                        {{ 'Nebo'|trans }}
                                    </span>
                                    <span class="box-detail-add__club__price js-not-implemented-yet">
                                        {{ '1 390 Kč'|trans }}
                                    </span>
                                    <span class="box-detail-add__club__text">
                                        {{ 'pro členy'|trans }}
                                    </span>
                                    <a href="#" class="box-detail-add__club__link underline-small js-not-implemented-yet">{{ 'Bushman klubu'|trans }}</a>
                                </div>
                                {# TODO PRG: add sets item data #}
                                {{ render(controller('ShopsysShopBundle:Front/Cart:addProductForm', {product: product, type: 'large'})) }}
                            </div>
                        </div>
                    </div>
                </div>

                {% endif %}
            </div>
        </div>
    </div>

    {% block last_visited_products %}
        {{ render(controller('ShopsysShopBundle:Front/LastVisitedProducts:show')) }}
    {% endblock %}

    {% if productBlogArticles|length > 0 %}
        <div class="web__line">
            <div class="web__container web__container--big-padding">
                <div class="box-articles">
                    <div class="box-articles__title-big">
                        {{ 'Produkt byl v těchto příbězích'|trans }}
                    </div>
                    <div class="box-articles__title-small">
                        {{ 'Podívejte se, kde všude'|trans }}
                        {{ product.name }}
                        {{ 'byl v hlavní roli'|trans }}
                    </div>
                    {% include '@ShopsysShop/Front/Content/Article/list.html.twig' with { blogArticles: productBlogArticles } %}
                    <div class="box-articles__bottom">
                        <a href="{{ url('front_blogcategory_detail', { id: constant('Shopsys\\ShopBundle\\Model\\Blog\\Category\\BlogCategory::BLOG_MAIN_PAGE_CATEGORY_ID')}) }}" class="box-articles__bottom__link underline">{{ 'Přejít na výpis všech článků'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="web__line">
        <div class="web__container web__container--big-padding">
            {% include '@ShopsysShop/Front/Content/References/list.html.twig' %}
        </div>
    </div>

    <div class="web__line">
        <div class="web__container">
            {% cache getInstagramCacheId() {time: getInstagramCacheTime()} %}
                {{ instagramFeed() }}
            {% endcache %}
        </div>
    </div>

    <div class="web__line">
        <div class="web__container web__container--dark web__container--big-padding">
            {% include '@ShopsysShop/Front/Content/Motto/line.html.twig' %}
        </div>
    </div>
{% endblock %}
