{% extends '@ShopsysShop/Front/Layout/layoutWithoutPanel.html.twig' %}
{% import '@ShopsysShop/Front/Inline/Product/productFlagsMacro.html.twig' as productFlags %}
{% import '@ShopsysShop/Front/Content/Product/productListMacro.html.twig' as productList %}
{% import '@ShopsysShop/Front/Content/Product/boxDetail.html.twig' as boxDetail %}

{% set domain = getDomain() %}
{% set accessoriesHeadline = 'Dolaďte svůj outfit'|trans %}

{% block meta_description %}
    {{- product.getSeoMetaDescription(domain.id)|default(getSeoMetaDescription()) -}}
{% endblock %}

{% block title %}
    {{ product.getSeoTitle(domain.id)|default(product.name) }}
{% endblock %}

{% block breadcrumbDetail %}
    {{ render(controller('ShopsysShopBundle:Front/Breadcrumb:index', { routeName: getRoute(), routeParameters: getRouteParams() } )) }}
{% endblock %}

{% block main_content %}
    <div class="web__line">
        <div class="web__container web__container--big-padding">
            <div itemscope itemtype="http://schema.org/Product">
                <div class="js-product-variant-group">
                    {{ boxDetail.productBox(product, allVariants, productMainCategory, true, mainVariants, youtubeDetail, productSizeArticleId, bushmanClubArticle, accessories, accessoriesHeadline, productVisibleProductCategoryDomains) }}

                    {% for mainVariant in mainVariants if mainVariant.id != product.id %}
                        {{ boxDetail.productBox(mainVariant, allVariants, productMainCategory, false, mainVariants, youtubeDetailForMainVariants[mainVariant.id], productSizeArticleId, bushmanClubArticle, accessories, accessoriesHeadline, productVisibleProductCategoryDomains) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% if accessories|length > 0 %}
        <div class="web__line js-tabs-button js-tabs-content" data-tab-id="accessories">
            <div class="web__container web__container--big-padding">
                <div class="box-accessories">
                    <h2 class="in-title in-title--big in-title--center box-accessories__title">
                        {{ accessoriesHeadline }}
                    </h2>
                    {{ productList.horizontalList(accessories, [], "list-accessories-products", 'h3', 'accessories-products') }}
                </div>
            </div>
        </div>
    {% endif %}

    {% block last_visited_products %}
        {{ render(controller('ShopsysShopBundle:Front/LastVisitedProducts:show')) }}
    {% endblock %}

    {% if productBlogArticles|length > 0 %}
        <div class="web__line">
            <div class="web__container web__container--big-padding">
                <div class="box-articles">
                    <div class="box-articles__title-big">
                        {{ 'Inspiraci hledej v příbězích'|trans }}
                    </div>
                    <div class="box-articles__title-small">
                        {{ 'V hlavní roli'|trans }}
                        {{ product.name }}.
                        {{ 'Přečti si více'|trans }}:
                    </div>
                    {% include '@ShopsysShop/Front/Content/Article/list.html.twig' with { blogArticles: productBlogArticles } %}
                    <div class="box-articles__bottom">
                        <a href="{{ url('front_blogcategory_detail', { id: constant('Shopsys\\ShopBundle\\Model\\Blog\\Category\\BlogCategory::BLOG_MAIN_PAGE_CATEGORY_ID')}) }}" class="box-articles__bottom__link underline">{{ 'Přejít na výpis všech článků'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="web__line">
        <div class="web__container web__container--big-padding">
            {% include '@ShopsysShop/Front/Content/References/list.html.twig' %}
        </div>
    </div>

    <div class="web__line">
        <div class="web__container web__container--no-padding">
            {% cache getInstagramCacheId() {time: getInstagramCacheTime()} %}
                {{ instagramFeed() }}
            {% endcache %}
        </div>
    </div>

    {% include '@ShopsysShop/Front/Content/Motto/line.html.twig' %}

{% endblock %}
