{% macro filterForm(filterForm, actionUrl, resetUrl, searchText, page, productFilterCountData, priceRange) %}
    {{ form_start(filterForm, { action: actionUrl }) }}
        {% form_theme filterForm '@ShopsysShop/Front/Content/Product/filterFormTheme.html.twig' %}

        {% import '@ShopsysShop/Front/Content/Product/selectedFilterBoxMacro.html.twig' as selectedFilterBox %}

        {% set isSearch = page == 'search' %}

        {% if isSearch %}
            <input
                type="hidden"
                name="{{ constant('Shopsys\\ShopBundle\\Controller\\Front\\ProductController::SEARCH_TEXT_PARAMETER') }}"
                value="{{ searchText|escape('html_attr') }}"
            />
        {% endif %}
        {% do filterForm.minimalPrice.setRendered %}
        {% do filterForm.maximalPrice.setRendered %}

        {{ selectedFilterBox.filterBox(filterForm, resetUrl) }}
        <div class="box-filter__choice">
            <div class="box-filter__title">
                {{ 'Cena'|trans }}
            </div>
            <div class="box-filter__price js-not-implemented-yet">
                <div
                class="box-price-slider js-range-slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
                data-minimum-input-id="{{ filterForm.minimalPrice.vars.id }}"
                data-minimal-value="{{ priceRange.minimalPrice|moneyFormat }}"
                data-maximum-input-id="{{ filterForm.maximalPrice.vars.id }}"
                data-maximal-value="{{ priceRange.maximalPrice|moneyFormat }}"
                ></div>

                <div class="box-price-slider__form">
                    <div class="box-price-slider__form__input box-price-slider__form__input--left">
                        {{ form_widget(filterForm.minimalPrice, {attr: { class: 'js-product-filter-call-change-after-reset js-no-validate'}}) }}
                        <label for="{{ filterForm.minimalPrice.vars.id }}" class="input__label required">
                            {{ 'Od'|trans }}
                        </label>
                        <input id="{{ filterForm.minimalPrice.vars.id }}" type="text" class="input" value="{{ priceRange.minimalPrice|moneyFormat }}" id="minimalPrice">
                    </div>
                    <div class="box-price-slider__form__input box-price-slider__form__input--right">
                        {{ form_widget(filterForm.maximalPrice, {attr: { class: 'js-product-filter-call-change-after-reset js-no-validate'}}) }}
                        <label for="{{ filterForm.maximalPrice.vars.id }}" class="input__label required">
                            {{ 'Do'|trans }}
                        </label>
                        <input id="{{ filterForm.maximalPrice.vars.id }}" type="text" class="input" value="{{ priceRange.maximalPrice|moneyFormat }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="box-filter__choice">
            <div class="box-filter__title">
                {{ 'Velikost'|trans }}
            </div>
            <ul class="list-variants list-variants--filter js-not-implemented-yet">
                <li class="list-variants__item disabled">34</li>
                <li class="list-variants__item">36</li>
                <li class="list-variants__item">38</li>
                <li class="list-variants__item">40</li>
                <li class="list-variants__item disabled">42</li>
                <li class="list-variants__item active">S</li>
                <li class="list-variants__item active">M</li>
                <li class="list-variants__item">L</li>
                <li class="list-variants__item disabled">XL</li>
            </ul>
        </div>
        <div class="box-filter__choice">
            <div class="box-filter__title">
                {{ 'Barva'|trans }}
            </div>
            <ul class="list-variants list-variants--filter js-not-implemented-yet">
                <li class="list-variants__item-color active" style="background-color: #fff;"><i class="svg svg-checked"></i></li>
                <li class="list-variants__item-color" style="background-color: #ef9c00;"><i class="svg svg-checked"></i></li>
                <li class="list-variants__item-color" style="background-color: #f5d62c;"><i class="svg svg-checked"></i></li>
                <li class="list-variants__item-color" style="background-color: #eb5013;"><i class="svg svg-checked"></i></li>
                <li class="list-variants__item-color active" style="background-color: #000;"><i class="svg svg-checked"></i></li>
                <li class="list-variants__item-color" style="background-color: #ec5da5;"><i class="svg svg-checked"></i></li>
                <li class="list-variants__item-color" style="background-color: #027ec6;"><i class="svg svg-checked"></i></li>
                <li class="list-variants__item-color" style="background-color: #f7b6ec;"><i class="svg svg-checked"></i></li>
                <li class="list-variants__item-color" style="background-color: #774646;"><i class="svg svg-checked"></i></li>
            </ul>
        </div>
        <div class="box-filter__choice">
            <label class="form-choice">
                <span class="form-choice__line">
                    {{ form_widget(filterForm.inStock, { attr: { class: 'css-checkbox'}}) }}
                    <span class="css-checkbox__image">
                        {{ 'Products in stock only'|trans }}
                        {% if productFilterCountData is not null %}
                            <span
                                class="js-product-filter-count"
                                data-form-id="{{ filterForm.inStock.vars.id }}"
                            >
                                ({{ productFilterCountData.countInStock }})
                            </span>
                        {% endif %}
                    </span>
                </span>
            </label>
        </div>

        {% if filterForm.flags is empty %}
            {% do filterForm.flags.setRendered %}
        {% else %}
            <div class="box-filter__title">
                {{ 'Flags'|trans }}
            </div>
            <div class="box-filter__choice" id="{{ filterForm.flags.vars.id }}">
                {% for flagForm in filterForm.flags %}
                    <label class="form-choice">
                        <span class="form-choice__line">
                            {{ form_widget(flagForm, { attr: { class: 'css-checkbox'}}) }}
                            <span class="css-checkbox__image">
                                {{ flagForm.vars.label }}
                                {% if productFilterCountData is not null %}
                                    <span
                                        class="js-product-filter-count"
                                        data-form-id="{{ flagForm.vars.id }}"
                                    >
                                        {% if not flagForm.vars.checked %}
                                            ({% if filterForm.flags.vars.data is not empty %}+{% endif %}{{ productFilterCountData.countByFlagId[flagForm.vars.value]|default(0) }})
                                        {% endif %}
                                    </span>
                                {% endif %}
                            </span>
                        </span>
                    </label>
                {% endfor %}
            </div>
        {% endif %}

        {% if filterForm.brands is empty %}
            {% do filterForm.brands.setRendered %}
        {% else %}
            <div class="box-filter__title">
                {{ 'Brand'|trans }}
            </div>
            <div class="box-filter__choice" id="{{ filterForm.brands.vars.id }}">
                {% for brandForm in filterForm.brands %}
                    <label class="form-choice">
                        {{ form_widget(brandForm, { attr: { class: 'form-choice__input css-checkbox'} }) }}
                        <span class="form-choice__label css-checkbox__image">
                            {{ brandForm.vars.label }}
                            {% if productFilterCountData is not null %}
                                <span
                                    class="js-product-filter-count"
                                    data-form-id="{{ brandForm.vars.id }}"
                                >
                                    {% set brandCount = productFilterCountData.countByBrandId[brandForm.vars.value]|default(0) %}
                                    {% if not brandForm.vars.checked %}
                                        ({% if filterForm.brands.vars.data is not empty and brandCount > 0 %}+{% endif %}{{ brandCount }})
                                    {% endif %}
                                </span>
                            {% endif %}
                        </span>
                    </label>
                {% endfor %}
            </div>
        {% endif %}

        {% if isSearch or filterForm.parameters is empty %}
            {% do filterForm.parameters.setRendered %}
        {% else %}
            <div class="box-filter__parameters">
                <div id="{{ filterForm.parameters.vars.id }}">
                    {% for parameterId, parameterForm in filterForm.parameters %}
                        <div class="js-product-filter-parameter">
                            <div class="box-filter__choice" id="{{ parameterForm.vars.id }}">
                                <span class="box-filter__title js-product-filter-parameter-label">
                                    {{ parameterForm.vars.label }}:
                                </span>
                                {% for parameterValueForm in parameterForm %}
                                    <label class="form-choice js-product-filter-parameter-value">
                                        {{ form_widget(parameterValueForm, { attr: { class: 'form-choice__input css-checkbox'} }) }}
                                        <span class="form-choice__label css-checkbox__image">
                                            {{ parameterValueForm.vars.label }}
                                            {% if productFilterCountData is not null %}
                                                <span
                                                    class="js-product-filter-count"
                                                    data-form-id="{{ parameterValueForm.vars.id }}"
                                                >
                                                    {% if not parameterValueForm.vars.checked %}
                                                        (
                                                            {%- if parameterForm.vars.data is not empty %}+{% endif -%}
                                                            {{- productFilterCountData.countByParameterIdAndValueId[parameterId][parameterValueForm.vars.value]|default(0) -}}
                                                        )
                                                    {% endif %}
                                                </span>
                                            {% endif %}
                                        </span>
                                    </label>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="box-filter__action">

            <a class="btn js-product-filter-reset-button" href="{{ resetUrl }}">{{ 'Clear filter'|trans }}</a>
            {{ form_widget(filterForm.search, { label: 'View results'|trans, attr: {class: 'js-product-filter-show-result-button btn--primary' } }) }}
        </div>

    {{ form_end(filterForm) }}
{% endmacro %}
