{% extends '@ShopsysShop/Front/Layout/layoutWithoutPanel.html.twig' %}
{% import '@ShopsysShop/Front/Inline/Paginator/paginator.html.twig' as paginator %}
{% import '@ShopsysShop/Front/Content/Product/filterFormMacro.html.twig' as productFilterForm %}
{% import '@ShopsysShop/Front/Content/Product/productListMacro.html.twig' as productList %}
{% import '@ShopsysShop/Front/Content/Blog/Article/blogArticleInCategoryMacro.html.twig' as blogArticleList %}

{% set domain = getDomain() %}

{% block meta_robots %}
    {{ paginator.metaRobots(paginationResult) }}
{% endblock %}

{% block meta_description %}
    {{- category.getSeoMetaDescription(domain.id)|default(getSeoMetaDescription()) -}}
{% endblock %}

{% block title %}
    {{ category.getSeoTitle(domain.id)|default(category.name) }}
{% endblock %}

{% block main_content %}
    <div class="box-list">
        <div class="web__line">
            <div class="web__container">
                <div class="box-list__row">
                    <div class="box-list__row__column">
                        <h1 class="box-list__title">
                            {{ category.getSeoH1(domain.id)|default(category.name) }}
                        </h1>
                    </div>
                    <div class="box-list__row__column box-list__row__column--right">
                        {{ render(controller('ShopsysShopBundle:Front/Product:selectOrderingModeForList')) }}
                    </div>
                </div>
            </div>
        </div>

        {#
            TODO HIDDEN: https://app.yodiz.com/plan/pages/board.vz?cid=10273#/app/tk-36563
            Category description

            {% if category.legendaryCategory %}
                <div class="web__line">
                    <div class="web__container">
                        <div class="box-category">
                            <div class="box-category__description in-user-text">
                                {{ category.getDescription(domain.id)|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        #}
{#
        <div class="web__line">
            <div class="web__container">
                <div class="list-grid-images">
                    <ul class="list-grid-images__category-advantages">
                        <li class="list-grid-images__category-advantages__item">
                            <img class="list-grid-images__category-advantages__item__image left" src="https://placeimg.com/285/100/any" alt="Pro pořádné chlapy">
                            <div class="list-grid-images__category-advantages__item__button right">
                                <span class="double-lined">
                                    {{ 'Praktické'|trans }}
                                </span>
                            </div>
                        </li>
                        <li class="list-grid-images__category-advantages__item">
                            <img class="list-grid-images__category-advantages__item__image center" src="https://placeimg.com/285/100/any" alt="Pro pořádné chlapy">
                            <div class="list-grid-images__category-advantages__item__button center">
                                <span class="double-lined">
                                    {{ 'Zipy, které vydrží'|trans }}
                                </span>
                            </div>
                        </li>
                        <li class="list-grid-images__category-advantages__item left">
                            <img class="list-grid-images__category-advantages__item__image right" src="https://placeimg.com/285/100/any" alt="Pro pořádné chlapy">
                            <div class="list-grid-images__category-advantages__item__button left">
                                <span class="double-lined">
                                    {{ 'Roky ověřené'|trans }}
                                </span>
                            </div>
                        </li>
                        <li class="list-grid-images__category-advantages__item center">
                            <img class="list-grid-images__category-advantages__item__image center" src="https://placeimg.com/285/100/any" class="" alt="Pro pořádné chlapy">
                            <div class="list-grid-images__category-advantages__item__button center">
                                <span class="double-lined">
                                    {{ 'Praktické a stylové'|trans }}
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
#}
        {#
            TODO HIDDEN: https://app.yodiz.com/plan/pages/board.vz?cid=10273#/app/tk-36562
            List of subcategories

            {% if visibleChildren is not empty %}
            <div class="web__line">
                <div class="web__container">
                    <h2>{{ 'List of subcategories'|trans }}</h2>

                    {% include '@ShopsysShop/Front/Content/Category/categoryList.html.twig' with {'categories': visibleChildren} %}
                </div>
            </div>
            {% endif %}
        #}
        <div class="web__line">
            <div class="web__container">
                <div class="box-list__wrap js-product-list-with-filter js-tabs-content" data-tab-id="products">
                    {% if paginationResult.results|length > 0 or filterFormSubmitted %}
                        <div class="box-list__panel js-product-list-panel">
                            <div class="box-filter js-product-filter">
                                {% set categoryUrl = url('front_product_list', { id: category.id }) %}
                                {{ productFilterForm.filterForm(
                                    filterForm,
                                    categoryUrl,
                                    categoryUrl,
                                    null,
                                    'product_list',
                                    productFilterCountData,
                                    priceRange,
                                    filterFormSubmitted
                                ) }}
                            </div>
                        </div>
                    {% endif %}

                    <div class="box-list__content js-product-list-ajax-filter-products-with-controls">
                        {% include '@ShopsysShop/Front/Content/Product/productsWithControls.html.twig' with {paginationResult: paginationResult, filterFormSubmitted: filterFormSubmitted} %}
                    </div>
                </div>
            </div>
        </div>

        {% if category.legendaryCategory != true %}
            <div class="web__line">
                <div class="web__container web__container--top-line">
                    <div class="box-list__bottom">
                        <div class="box-list__bottom__description">
                            <div class="box-list__bottom__title">
                                {{ category.name }}
                            </div>
                            <div class="box-list__bottom__description__text in-user-text js-category-description ">
                                {{ category.getDescription(domain.id)|raw }}
                            </div>
                        </div>
                        {% if categoriesBlogArticles|length > 0 %}
                            <div class="box-list__bottom__article">
                                <div class="box-list__bottom__title">
                                    {{ 'Mohlo by vás zajímat'|trans }}
                                </div>
                                {% include '@ShopsysShop/Front/Content/Article/list.html.twig' with { blogArticles: categoriesBlogArticles, cssClass: 'list-articles--product-list' } %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

        {# 
            TODO PRG: https://app.yodiz.com/plan/pages/board.vz?cid=10273#/app/tk-36606
            Pridať vypis blogu na produkt list

            <div class="web__line">
                <div class="web__container">
                    <div class="box-articles">
                        <h1 class="box-articles__title-big">
                            {{ 'Shopsys magazín'|trans }}
                        </h1>
                        <div class="box-articles__title-small">
                            {{ 'Představujeme trendy, radíme jak trénovat a ukazujeme naši firmu'|trans }}
                        </div>
                        {% include '@ShopsysShop/Front/Content/Article/list.html.twig' with { blogArticles: blogArticles } %}
                        <div class="box-articles__bottom">
                            <a href="{{ url('front_blogcategory_detail', { id: constant('Shopsys\\ShopBundle\\Model\\Blog\\Category\\BlogCategory::BLOG_MAIN_PAGE_CATEGORY_ID')}) }}" class="box-articles__bottom__link underline">{{ 'Přejít na výpis všech článků'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        #}

        {% block last_visited_products %}
            {{ render(controller('ShopsysShopBundle:Front/LastVisitedProducts:show')) }}
        {% endblock %}

        {#
            TODO HIDDEN: https://app.yodiz.com/plan/pages/board.vz?cid=10273#/app/tk-36555
            Refenreces

            <div class="web__line">
                <div class="web__container">
                    {% include '@ShopsysShop/Front/Content/References/list.html.twig' %}
                </div>
            </div>
        #}

        {#
            TODO HIDDEN: https://app.yodiz.com/plan/pages/board.vz?cid=10273#/app/tk-36554
            Instagram list image 

            <div class="web__line">
                <div class="web__container web__container--no-padding">
                    {% cache getInstagramCacheId() {time: getInstagramCacheTime()} %}
                        {{ instagramFeed() }}
                    {% endcache %}
                </div>
            </div>
        #}

        {% include '@ShopsysShop/Front/Content/Motto/line.html.twig' %}

    </div>
{% endblock %}
