{% extends '@ShopsysShop/Front/Layout/layoutWithPanel.html.twig' %}

{% set domain = getDomain() %}

{% block meta_description %}
    {{- category.getSeoMetaDescription(domain.id)|default(getSeoMetaDescription()) -}}
{% endblock %}

{% block title %}
    {{ category.getSeoTitle(domain.id)|default(category.name) }}
{% endblock %}

{% block main_content %}
    <div class="box-list">
        {{ render(controller('ShopsysShopBundle:Front/Advert:box',{'positionName' : 'productList'})) }}
        <h1>
            {{ category.getSeoH1(domain.id)|default(category.name) }}
        </h1>
        {{ render(controller('ShopsysShopBundle:Front/Category:categoryList', {categories: visibleChildren})) }}
        {{ render(controller('ShopsysShopBundle:Front/BestsellingProduct:list', { category: category })) }}
    </div>

    {% block last_visited_products %}
        {{ render(controller('ShopsysShopBundle:Front/LastVisitedProducts:show')) }}
    {% endblock %}

{% endblock %}
