{% import '@ShopsysShop/Front/Content/Product/productListMacro.html.twig' as productList %}
{% import '@ShopsysShop/Front/Inline/Paginator/paginator.html.twig' as paginator %}

{% if paginationResult.results|length > 0 %}
    <div class="js-product-list-with-paginator">
        <div class="box-list__filter-opener">
            <span class="btn js-product-filter-opener">{{ 'Filtrovat produkty'|trans }}</span>
        </div>
        {{ productList.list(paginationResult.results, variantsIndexedByMainVariantId) }}

        <div class="text-center margin-bottom-20">
            {{ paginator.loadMoreButton(paginationResult) }}
        </div>
    </div>
{% else %}
    <div class="in-message in-message--info margin-bottom-20">
        {% if (filterFormSubmited) %}
            {{ 'No results matching filter'|trans }}
        {% elseif searchText is defined %}
            {{ 'Search didn\'t find any products.'|trans }}
        {% elseif category is defined %}
            {{ 'This category contains no products.'|trans }}
        {% else %}
            {{ 'No products found for this brand'|trans }}
        {% endif %}
    </div>
{% endif %}
