{% macro list(products, variantsIndexedByMainVariantId, productsIndexedByMainVariantGroup, listCssClass, productHeadingTagName) %}
    {% import '@ShopsysShop/Front/Inline/Product/productFlagsMacro.html.twig' as productFlags %}
    {% set domain = getDomain() %}

    <ul class="list-products js-list js-product-list {{ listCssClass|default('') }}">
        {% for product in products %}
            {# Design - temporary hidden #}
            {% if 1==2 %}
                {% if loop.index == 7 %}
                    <li class="list-products__item list-products__item--doubled list-products__item--image">
                        {% include '@ShopsysShop/Front/Inline/PromoImage/index.html.twig' with {cssClass: 'box-promo-image--product-list'} only %}
                    </li>
                {% endif %}
            {% endif %}
            <li class="list-products__item
                {# Design - temporary hidden #}
                {% if 1==2 %}
                    {% if loop.index == 4 %} list-products__item--doubled {% endif %}
                {% endif %}
                {% if product.mainVariantGroup is not null %} list-products__item--with-variants {% endif %}
                js-list-products-item">
                <div class="list-products__item__in">
                    {% set productSellingPrice = getProductSellingPrice(product) %}
                    <a href="{{ url('front_product_detail', {'id': product.id}) }}" class="list-products__item__block">
                        <div class="list-products__item__image dont-print">
                            {{ image(product, { size: 'list', alt: product.name, lazy: true }) }}
                            {{ productFlags.list(getProductFlagsWithFreeTransportAndPaymentFlag(productSellingPrice, product, 1), 'in-flag--in-list') }}
                        </div>

                        <div class="list-products__item__info">
                            <{{ productHeadingTagName|default('h2') }} class="list-products__item__info__title">
                                {{ product.name|striptags|raw }}
                            </{{ productHeadingTagName|default('h2') }}>

                            {% if productSellingPrice is not null %}
                                <div class="list-products__item__info__price">
                                    <div class="list-products__item__info__price__item__main">
                                        {% if productSellingPrice.priceFrom %}
                                            {{ 'from %price%'|trans({'%price%': productSellingPrice.priceWithVat|price}) }}
                                        {% else %}
                                            {{ productSellingPrice.priceWithVat|price }}
                                        {% endif %}
                                        {% if productSellingPrice.isActionPrice and not productSellingPrice.priceFrom %}
                                            <div class="list-products__item__info__price__item__old">
                                                {{ productSellingPrice.defaultProductPrice.priceWithVat|price }}
                                            </div>
                                            <div class="list-products__item__info__price__item__discount">
                                                -{{ productSellingPrice.pricePercentageDifference|formatPercent }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="list-products__item__info__price__item">
                                        {% if productSellingPrice.priceFrom %}
                                            {{ 'from %price%'|trans({'%price%': productSellingPrice.priceWithVat|price}) }}
                                        {% else %}
                                            {{ productSellingPrice.priceWithVat|price }}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}

                            <div class="list-products__item__info__availability">
                                {% if variantsIndexedByMainVariantId|length > 0 and product.id in variantsIndexedByMainVariantId|keys %}
                                    {% set secondDistinguishingParameters = distinguishingParameterValuesForProducts(variantsIndexedByMainVariantId[product.id]) %}
                                    {% if product.id in secondDistinguishingParameters|keys %}
                                        {% for parameterValue, variantId in secondDistinguishingParameters[product.id] %}
                                            <span class="in-badge in-badge--product-list">{{ parameterValue }}</span>
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                                <div class="list-products__item__info__availability__spacer"></div>
                                <div class="list-products__item__info__availability__text" style="color: #7bbd70;">
                                    {{ product.calculatedAvailability.getName }}
                                </div>

                                {# Temporary remove unnecessary stores availability #}
                                {#<div class="list-products__item__info__availability__stores js-not-implemented-yet" style="color: #7bbd70;">
                                    #}{# TODO PRG: do not remove element - only remove text inside if needed#}{#
                                    {{ 'K dispozici v Hradci Králové'|trans }}
                                </div>#}
                            </div>

                            {% if productsIndexedByMainVariantGroup is not null
                                and product.mainVariantGroup is not null
                                and product.mainVariantGroup.id in productsIndexedByMainVariantGroup|keys
                            %}
                                {% set productsForMainVariantGroup = productsIndexedByMainVariantGroup[product.mainVariantGroup.id] %}
                                <div class="list-products__item__variants">
                                    {% if productsForMainVariantGroup|length >= 5 %}
                                        <span class="js-variantsSlider-action-prev list-products__item__variants__arrow list-products__item__variants__arrow--prev">
                                            <i class="svg svg-slider-arrow"></i>
                                        </span>
                                    {% endif %}
                                    <div class="list-products__item__variants__slider js-variantsSlider-slides">
                                        {% for product in productsForMainVariantGroup %}
                                            <div class="list-products__item__variants__image">
                                                {{ image(product, { size: 'thumbnail', alt: product.name, lazy: true }) }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    {% if productsForMainVariantGroup|length >= 5 %}
                                        <span class="js-variantsSlider-action-next list-products__item__variants__arrow list-products__item__variants__arrow--next">
                                            <i class="svg svg-slider-arrow"></i>
                                        </span>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro horizontalList(products, variantsIndexedByMainVariantId, listCssClass = 'list-products', productHeadingTagName, type) %}
    <div class="{{ listCssClass }} js-horizontal-list" data-type="{{ type }}" data-count-of-product="{{ products|length }}">

        <span class="{{ listCssClass }}__arrow {{ listCssClass }}__arrow--prev js-horizontal-list-action-prev">
            <i class="svg svg-slider-arrow"></i>
        </span>

        <div class="{{ listCssClass }}__in">
            {% set domain = getDomain() %}

            <div class="{{ listCssClass }}__list js-horizontal-list-slides">
                {% for product in products %}
                    <div class="{{ listCssClass }}__item">
                        <div class="{{ listCssClass }}__item__in">
                            <a href="{{ url('front_product_detail', {'id': product.id}) }}" class="{{ listCssClass }}__item__block">
                                <div class="{{ listCssClass }}__item__image dont-print">
                                    {{ image(product, { size: 'list', alt: product.name, lazy: true }) }}
                                </div>

                                <div class="{{ listCssClass }}__item__info">

                                    <{{ productHeadingTagName|default('h2') }} class="{{ listCssClass }}__item__info__title">
                                        {{ product.name|striptags|raw }}
                                    </{{ productHeadingTagName|default('h2') }}>

                                    {% set productSellingPrice = getProductSellingPrice(product) %}

                                    {% if productSellingPrice is not null %}
                                        <div class="{{ listCssClass }}__item__info__price">
                                            <div class="{{ listCssClass }}__item__info__price__item__main">
                                                {% if productSellingPrice.priceFrom %}
                                                    {{ 'from %price%'|trans({'%price%': productSellingPrice.priceWithVat|price}) }}
                                                {% else %}
                                                    {{ productSellingPrice.priceWithVat|price }}
                                                {% endif %}
                                                {% if productSellingPrice.isActionPrice and not productSellingPrice.priceFrom %}
                                                    <div class="{{ listCssClass }}__item__info__price__item__old">
                                                        {{ productSellingPrice.defaultProductPrice.priceWithVat|price }}
                                                    </div>
                                                    <div class="{{ listCssClass }}__item__info__price__item__discount">
                                                    -{{ productSellingPrice.pricePercentageDifference|formatPercent }}
                                                {% endif %}
                                            </div>
                                            <div class="{{ listCssClass }}__item__info__price__item">
                                                {% if productSellingPrice.priceFrom %}
                                                    {{ 'from %price%'|trans({'%price%': productSellingPrice.priceWithVat|price}) }}
                                                {% else %}
                                                    {{ productSellingPrice.priceWithVat|price }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}

                                    <div class="{{ listCssClass }}__item__info__availability">
{#                                        {{ 'Vaše velikost'|trans }}#}
                                        {% if variantsIndexedByMainVariantId|length > 0 and product.id in variantsIndexedByMainVariantId|keys %}
                                            {% set secondDistinguishingParameters = distinguishingParameterValuesForProducts(variantsIndexedByMainVariantId[product.id]) %}
                                            {% if product.id in secondDistinguishingParameters|keys %}
                                                {% for parameterValue, variantId in secondDistinguishingParameters[product.id] %}
                                                    <span class="in-badge">{{ parameterValue }}</span>
                                                {% endfor %}
                                            {% endif %}
                                        {% endif %}
{#                                        {{ product.calculatedAvailability.getName }}#}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <span class="{{ listCssClass }}__arrow {{ listCssClass }}__arrow--next js-horizontal-list-action-next">
            <i class="svg svg-slider-arrow"></i>
        </span>
    </div>

{% endmacro %}
