{% extends '@ShopsysShop/Front/Layout/layoutWithoutPanel.html.twig' %}
{% import '@ShopsysShop/Front/Inline/Paginator/paginator.html.twig' as paginator %}
{% import '@ShopsysShop/Front/Content/Product/filterFormMacro.html.twig' as productFilterForm %}
{% import '@ShopsysShop/Front/Content/Product/productListMacro.html.twig' as productList %}

{% block title %}
    {{ 'Search results for "%searchText%"'|trans({ '%searchText%': searchText }) }}
{% endblock %}

{% block meta_robots %}
    {{ paginator.metaRobots(paginationResult) }}
{% endblock %}

{% block main_content %}
    <div class="web__line">
        <div class="web__container">
            <div class="box-search">
                <div class="box-search__title">
                    {{ 'Výsledky výrazu:'|trans }}
                </div>
                <div class="box-search__input">
                    {{ render(controller('ShopsysShopBundle:Front/Search:box')) }}
                </div>
            </div>
        </div>
    </div>

    {% if
        foundCategories|length > 0
        or paginationResult.results|length > 0
    %}
        <div class="web__line">
            <div class="web__container">
                <div class="in-tab in-tab--full-width js-anchor-tabs">
                    <div class="in-tab__wrap in-tab__wrap--small-gap">
                        <div class="in-tab__head dont-print">
                            {% if foundCategories|length > 0 %}
                                <a href="#" class="in-tab__head__item underline js-tabs-button" data-tab-id="categories">
                                    {{ 'Kategorie'|trans }} ({{ foundCategories|length }})
                                </a>
                            {% endif %}
                            {% if paginationResult.results|length > 0 %}
                                <a href="#" class="in-tab__head__item underline js-tabs-button" data-tab-id="products">
                                    {{ 'Produkty'|trans }} ({{ paginationResult.totalCount }})
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="web__line">
        <div class="web__container">
            {% include '@ShopsysShop/Front/Content/Category/categoryList.html.twig' with {'categories': foundCategories, 'cssClass': 'list-categories--four-on-row', 'title': 'Nalezené kategorie'|trans, 'showText': false } %}
        </div>
    </div>

    <div class="web__line">
        <div class="web__container">
            <div class="box-list__row">
                <div class="box-list__row__column"></div>
                <div class="box-list__row__column box-list__row__column--order">
                    {{ render(controller('ShopsysShopBundle:Front/Product:selectOrderingModeForSearch')) }}
                </div>
            </div>
        </div>
    </div>

    <div class="web__line">
        <div class="web__container">
            <div class="box-list__wrap js-product-list-with-filter js-tabs-content" data-tab-id="products">
                {% if paginationResult.results|length > 0 or filterFormSubmitted %}
                    <div class="box-list__panel js-product-list-panel">
                        <div class="box-filter js-product-filter">
                            {{ productFilterForm.filterForm(
                                filterForm,
                                url('front_product_search'),
                                url('front_product_search', { (SEARCH_TEXT_PARAMETER) : searchText }),
                                searchText,
                                'search',
                                productFilterCountData,
                                priceRange,
                                filterFormSubmitted
                            ) }}
                        </div>
                    </div>
                {% endif %}

                <div class="box-list__content js-product-list-ajax-filter-products-with-controls">
                    {% include '@ShopsysShop/Front/Content/Product/productsWithControls.html.twig' with {paginationResult: paginationResult, filterFormSubmitted: filterFormSubmitted, searchText: searchText} %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
