{% extends '@!ShopsysFramework/Admin/Form/theme.html.twig' %}

{% block product_widget %}
    <span class="js-product-picker-container{% if attr.containerClass is defined %} {{ attr.containerClass }}{% endif %}" data-placeholder="{{ placeholder }}">
        <span class="form-line__item">
            <input
                    class="input js-product-picker-label"
                    value="{{ productName|default(placeholder) }}"
                    disabled="disabled"
                    readonly="readonly"
            />
        </span>
        <span class="form-line__item">
            <button
                    type="button"
                    data-product-picker-url="{{ url('admin_productpicker_picksingle', {allowMainVariants: allow_main_variants, allowVariants: allow_variants}) }}"
                    class="js-product-picker-create-picker-button btn btn--default"
                    title="{{ 'Click to go to product section'|trans }}"
                    type="button"
            >
                ...
            </button>
        </span>
        {% if enableRemove %}
            <a href="#" class="js-product-picker-remove-button display-none">
                {{ 'Remove'|trans }}
            </a>
        {% endif %}
        {{- form_widget(form, {attr: {class: 'js-product-picker-input'}}) -}}
    </span>
{% endblock product_widget %}

{% macro productsWidgetItem(product, form, sortable) %}
    <tr class="js-products-picker-item table-form__row">
        <td class="table-form__cell">
            {% if sortable %}
                <span class="js-products-picker-item-handle table-form__cell__move">
                    <span class="in-icon in-icon--move svg svg-move"></span>
                </span>
            {% endif %}
            <span class="js-products-picker-item-product-name">
                {% if product is not null %}
                    <a href="{{ url('admin_product_edit', {id: product.id}) }}" target="_blank" class="btn-link-style btn-link-style--iconic-l">
                        <span>{{ product|productListDisplayName }}</span>&nbsp;<i class="svg svg-forward-page"></i>
                    </a>
                {% endif %}
            </span>
        </td>
        <td class="table-form__cell table-form__cell--actions">
            <span class="cursor-pointer js-products-picker-item-button-delete">
                <span class="svg svg-circle-cross in-icon"></span>
                {{ form_widget(form, {attr: {class: 'js-products-picker-item-input'}}) }}
            </span>
        </td>
    </tr>
{% endmacro %}

{% block products_list_row -%}
    {% if top_info_title is not empty %}
        <strong>{{ top_info_title }}</strong>
    {% endif %}
    <div class="wrap-divider">
        <div class="form-group">
            <div class="form-group__title">
                {{- form_label(form) -}}

                <div class="form-group__error">
                    {{- form_errors(form) -}}
                </div>
            </div>
            {{- form_widget(form) -}}
        </div>
    </div>
{%- endblock %}

{% block products_list_label -%}
    {{ label }}
{% endblock -%}

{% block products_list_widget %}
    <table class="table-form">
        <thead>
        <tr class="table-form__row">
            <td class="table-form__cell">{{ 'Name'|trans }}</td>
        </tr>
        </thead>
        <tbody>
        {% for product in form.vars.products %}
            <tr class="table-form__row">
                <td class="table-form__cell">
                {% if product is not null %}
                    <a href="{{ url('admin_product_edit', {id: product.id}) }}" target="_blank" class="btn-link-style btn-link-style--iconic-l">
                        <span>{{ product|productListDisplayName }}</span>&nbsp;<i class="svg svg-forward-page"></i>
                    </a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
