{% extends '@!ShopsysFramework/Admin/Form/theme.html.twig' %}

{% block product_widget %}
    <span class="js-product-picker-container{% if attr.containerClass is defined %} {{ attr.containerClass }}{% endif %}" data-placeholder="{{ placeholder }}">
        <span class="form-line__item">
            <input
                    class="input js-product-picker-label"
                    value="{{ productName|default(placeholder) }}"
                    disabled="disabled"
                    readonly="readonly"
            />
        </span>
        <span class="form-line__item">
            <button
                    type="button"
                    data-product-picker-url="{{ url('admin_productpicker_picksingle', {allowMainVariants: allow_main_variants, allowVariants: allow_variants}) }}"
                    class="js-product-picker-create-picker-button btn btn--default"
                    title="{{ 'Click to go to product section'|trans }}"
                    type="button"
            >
                ...
            </button>
        </span>
        {% if enableRemove %}
            <a href="#" class="js-product-picker-remove-button display-none">
                {{ 'Remove'|trans }}
            </a>
        {% endif %}
        {{- form_widget(form, {attr: {class: 'js-product-picker-input'}}) -}}
    </span>
{% endblock product_widget %}

{% macro productsWidgetItem(product, form, sortable) %}
    <tr class="js-products-picker-item table-form__row">
        <td class="table-form__cell">
            {% if sortable %}
                <span class="js-products-picker-item-handle table-form__cell__move">
                    <span class="in-icon in-icon--move svg svg-move"></span>
                </span>
            {% endif %}
            <span class="js-products-picker-item-product-name">
                {% if product is not null %}
                    <a href="{{ url('admin_product_edit', {id: product.id}) }}" target="_blank" class="btn-link-style btn-link-style--iconic-l">
                        <span>{{ product|productListDisplayName }}</span>&nbsp;<i class="svg svg-forward-page"></i>
                    </a>
                {% endif %}
            </span>
        </td>
        <td class="table-form__cell table-form__cell--actions">
            <span class="cursor-pointer js-products-picker-item-button-delete">
                <span class="svg svg-circle-cross in-icon"></span>
                {{ form_widget(form, {attr: {class: 'js-products-picker-item-input'}}) }}
            </span>
        </td>
    </tr>
{% endmacro %}

{# copy-pasted from parent, just "js-symbol-after-input" class added #}
{# see https://github.com/shopsys/shopsys/pull/1707 #}
{% block appendix_block %}
    {% if symbolAfterInput is defined %}
        <span class="form-line__item form-line__item--text form-line__item--fixed-width-left js-symbol-after-input">{{ symbolAfterInput }}</span>
    {% endif %}
    {% if attr.icon is defined %}
        <i class="svg svg-{{ attr.iconType|default('info') }} in-icon cursor-help form-line__item form-line__item--info js-tooltip"
           data-toggle="tooltip" data-placement="{{ attr.iconPlacement|default('right') }}"
           title="{{ attr.iconTitle|default('') }}"
        ></i>
    {% endif %}
{%- endblock %}

{% block label_info_block %}
    {% if attr.labelIcon is defined %}
        <i class="svg svg-{{ attr.labelIconType|default('info') }} in-icon cursor-help form-line__item form-line__item--info js-tooltip"
           data-toggle="tooltip" data-placement="{{ attr.labelIconPlacement|default('right') }}"
           title="{{ attr.labelIconTitle|default('') }}"
        ></i>
    {% endif %}
{%- endblock %}

{% block products_list_row -%}
    {% if top_info_title is not empty %}
        <strong>{{ top_info_title }}</strong>
    {% endif %}
    <div class="wrap-divider">
        <div class="form-group">
            <div class="form-group__title">
                {{- form_label(form) -}}

                <div class="form-group__error">
                    {{- form_errors(form) -}}
                </div>
            </div>
            {{- form_widget(form) -}}
        </div>
    </div>
{%- endblock %}

{% block products_list_label -%}
    {{ label }}
{% endblock -%}

{% block products_list_widget %}
    <table class="table-form">
        <thead>
        <tr class="table-form__row">
            <td class="table-form__cell">{{ 'Name'|trans }}</td>
        </tr>
        </thead>
        <tbody>
        {% for product in form.vars.products %}
            <tr class="table-form__row">
                <td class="table-form__cell">
                {% if product is not null %}
                    <a href="{{ url('admin_product_edit', {id: product.id}) }}" target="_blank" class="btn-link-style btn-link-style--iconic-l">
                        <span>{{ product|productListDisplayName }}</span>&nbsp;<i class="svg svg-forward-page"></i>
                    </a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block product_group_items_list_row -%}
    <div class="wrap-divider">
        <div class="form-group">
            {% if top_info_title is not empty %}
                <strong>{{ top_info_title }}</strong>
            {% endif %}
            {{- form_widget(form) -}}
        </div>
    </div>
{%- endblock %}

{% block product_group_items_list_widget %}
    {% if form.vars.product_group_items is not empty %}
        <table class="table-form">
            <thead>
            <tr class="table-form__row">
                <td class="table-form__cell">{{ 'Name'|trans }}</td>
                <td class="table-form__cell">{{ 'Počet kusů'|trans }}</td>
            </tr>
            </thead>
            <tbody>
            {% for product_item in form.vars.product_group_items %}
                {% if product_item is not null %}
                <tr class="table-form__row">
                    <td class="table-form__cell">
                        <a href="{{ url('admin_product_edit', {id: product_item.item.id}) }}" target="_blank" class="btn-link-style btn-link-style--iconic-l">
                            <span>{{ product_item.item|productListDisplayName }}</span>&nbsp;<i class="svg svg-forward-page"></i>
                        </a>
                    </td>
                    <td class="table-form__cell">
                        {{ product_item.item_count }}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block form_label %}
    {% apply spaceless %}
        {% if label is not same as(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label class="{{ isCheckbox|default(false) or isSimple|default(false) ? '' : 'form-line__label' }}"{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {% if raw is not defined %}
                    {{ label }}{% if not isCheckbox|default(false) %}:{% endif %}
                {% else %}
                    {{ label|raw }}{% if not isCheckbox|default(false) %}:{% endif %}
                {% endif %}
                {% if required %}
                    <span class="js-form-compulsory form-compulsory {{ isCheckbox|default(false) or isSimple|default(false) ? '' : 'form-line__compulsory' }} {{ compulsoryClass|default('') }}">
                            <img src="{{ asset('public/admin/images/icons/star.png') }}" />
                        </span>
                {% endif %}

                <div class="form-choice__info">
                    {{- block('label_info_block') -}}
                </div>
            </label>
        {% endif %}
    {% endapply %}
{% endblock form_label %}