<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="{{ app.request.locale }}" class="ie7 no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="{{ app.request.locale }}" class="ie8 no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="{{ app.request.locale }}" class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="{{ app.request.locale }}" class="no-js"> <!--<![endif]-->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta http-equiv="X-UA-Compatible" content="IE=11" />
        {% block meta_robots %}{% endblock %}

        {{ render(controller('ShopsysShopBundle:Front/Gtm:head')) }}

        <link rel="stylesheet" type="text/css" href="{{ asset('assets/frontend/styles/index' ~ getDomain().id ~ '_' ~ getCssVersion() ~ '.css') }}" media="screen, projection">
        <!--[if lte IE 8 ]>
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/frontend/styles/index' ~ getDomain().id ~ '_' ~ getCssVersion() ~ '-ie8.css') }}" media="screen, projection">
        <![endif]-->

        <link rel="stylesheet" type="text/css" href="{{ asset('assets/frontend/styles/print' ~ getDomain().id ~ '_' ~ getCssVersion() ~ '.css') }}" media="print">
        <script>
            var isGermanDomain = '{{ isGermanyDomain() }}' == 1;
        </script>
        {# bootstrap/tooltip.js must be imported before bootstrap/popover.js #}
        {{ importJavascripts([
            'bundles/bmatznerjquery/js/jquery.min.js',
            'bundles/bmatznerjquery/js/jquery-migrate.js',
            'bundles/fpjsformvalidator/js/fp_js_validator.js',
        ]) }}
        {{ js_validator_config() }}
        {{ init_js_validation() }}

        {{ render(controller('ShopsysShopBundle:Front/Heureka:embedWidget')) }}

        {% block javascripts %}{% endblock %}

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('/assets/frontend/images/favicons/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('/assets/frontend/images/favicons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/assets/frontend/images/favicons/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('/assets/frontend/images/favicons/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('/assets/frontend/images/favicons/safari-pinned-tab.svg') }}" color="#e79c00">
        <link rel="shortcut icon" href="{{ asset('/assets/frontend/images/favicons/favicon.ico') }}">
        <meta name="msapplication-TileColor" content="#e79c00">
        <meta name="msapplication-TileImage" content="{{ asset('/assets/frontend/images/favicons/mstile-144x144.png') }}">
        <meta name="msapplication-config" content="{{ asset('/assets/frontend/images/favicons/browserconfig.xml') }}">
        <meta name="theme-color" content="#e79c00">

        <title>{% block title %}{{ 'BUSHMAN E-shop - kvalitní outdoorové a volnočasové oblečení'|trans }}{% endblock %} {{ getSeoTitleAddOn() }}</title>
    </head>

    <body class="web domain{{ getDomain().id }}">
        {{ render(controller('ShopsysShopBundle:Front/Gtm:body')) }}
        {{ render(controller('ShopsysShopBundle:Front/Script:embedAllPagesScripts')) }}
        {{ render(controller('ShopsysShopBundle:Front/Script:embedAllPagesGoogleAnalyticsScript')) }}

        {% block html_body %}{% endblock %}

        {% if app.environment == 'dev' %}
            <script async src="//localhost:35729/livereload.js"></script>
        {% endif %}


        {{ importJavascripts([
            'frontend/plugins/*.js',
            'common/components/escape.js',
            'common/components/keyCodes.js',
            'common/register.js',
            'common/bootstrap/tooltip.js',
            'common/bootstrap/popover.js',
            'common/plugins/*.js',
            'frontend/validation/form/*.js',
            'common/validation/*.js',
            'frontend/cart/*.js',
            'frontend/order/*.js',
            'frontend/product/*.js',
            'frontend/blog/*.js',
            'common/*.js',
            'frontend/*.js',
            'common/components/*.js',
            'frontend/components/*.js',
        ]) }}

        {% block javascripts_bottom %}{% endblock %}
    </body>
</html>
