{% block header %}

    {% set shopInfoPhoneNumber = getShopInfoPhoneNumber() %}
    {% set shopInfoPhoneHours = getShopInfoPhoneHours() %}
    {% set shopInfoEmail = getShopInfoEmail() %}
    <div class="top-bar">
        <div class="top-bar__in">

            <ul class="top-bar__menu">
                {{ render(controller('ShopsysShopBundle:Front/Article:headerList')) }}
                <li class="top-bar__menu__item">
                    <a href="{{ url(
                        'front_blogcategory_detail', {
                            'id': constant('Shopsys\\ShopBundle\\Model\\Blog\\Category\\BlogCategory::BLOG_MAIN_PAGE_CATEGORY_ID')
                        }
                    ) }}"
                       class="top-bar__menu__item__link"
                    >
                        {{ 'Blog'|trans }}
                    </a>
                </li>
                <li class="top-bar__menu__item">
                    <a href="#" class="top-bar__menu__item__link js-not-implemented-yet">
                        {{ 'O nás'|trans }}
                    </a>
                </li>
                <li class="top-bar__menu__item">
                    <a href="{{ url('front_store_index') }}" class="top-bar__menu__item__link">
                        {{ 'Prodejny'|trans }}
                    </a>
                </li>
            </ul>

            <ul class="top-bar__menu top-bar__menu--right">
                <li class="top-bar__menu__item">
                    <span class="top-bar__menu__item__text">
                        <strong class="top-bar__menu__item__text__title top-bar__menu__item__text__spacer">{{ 'Buď bushman a měj zdarma'|trans }}:</strong>
                        <br class="top-bar__menu__next-line">
                        <br class="top-bar__menu__next-line">
                        <br class="top-bar__menu__next-line">
                        <span class="top-bar__menu__item__text__mobile">
                            {{ 'Využijte'|trans}}:
                        </span>
                        {{ 'Poštovné'|trans }}
                        <span class="top-bar__menu__item__text__spacer">—</span>
                        {{ 'Výměnu'|trans }}
                        <span class="top-bar__menu__item__text__spacer">—</span>
                        {{ 'Záruku 25 let'|trans }}
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="web__container">
        <header class="header {{ block('headerClass') }}">
            <div class="header__menu dont-print">
                {{ render(controller('ShopsysShopBundle:Front/Category:horizontalMenu')) }}
                <div class="all-categories">
                    <span class="all-categories__title">
                        {{ 'Všechny kategorie'|trans }}
                    </span>
                    <span class="all-categories__arrow"></span>

                    <span class="all-categories__content">
                        {{ render(controller('ShopsysShopBundle:Front/Category:hoverMenu')) }}
                    </span>
                </div>
            </div>

            <div class="header__logo">
                {% block logo %}
                <a class="logo" href="{{ url('front_homepage') }}">
                    <img src="{{ asset('assets/frontend/images/logo.png') }}" alt="{{ 'Online shop'|trans }}">
                </a>
                {% endblock %}
            </div>

            <div class="header__right dont-print">

                <div class="box-dropdown box-dropdown--without-arrow box-dropdown--small-padding header__right__menu js-hover-intent">
                    <div class="box-dropdown__select">
                        <i class="header__right__search__icon-menu svg svg-burger-menu"></i>
                    </div>
                    <div class="box-dropdown__options box-dropdown__options--menu js-dropdown-options">
                        {{ render(controller('ShopsysShopBundle:Front/Category:horizontalMenuMobile')) }}
                        {{ render(controller('ShopsysShopBundle:Front/Category:hoverMenu')) }}
                    </div>
                </div>

                <div class="box-dropdown box-dropdown--without-arrow box-dropdown--small-padding header__right__search js-hover-intent">
                    <div class="box-dropdown__select">
                        <i class="header__right__search__icon-search svg svg-search"></i>
                    </div>
                    <div class="box-dropdown__options box-dropdown__options--search js-dropdown-options">
                        {{ render(controller('ShopsysShopBundle:Front/Search:box')) }}
                    </div>
                </div>

                <div class="box-dropdown js-hover-intent">
                    <div class="box-dropdown__select">
                        {{ 'Váš účet'|trans }}
                        <i class="box-dropdown__select__arrow box-dropdown__select__arrow--up"></i>
                        <i class="box-dropdown__select__arrow box-dropdown__select__arrow--down"></i>
                    </div>
                    <div class="box-dropdown__options box-dropdown__options--login js-dropdown-options">
                        {% if is_granted('ROLE_LOGGED_CUSTOMER') %}
                            <li class="box-dropdown__options__item js-dropdown-item'">
                                <a href="{{ url('front_customer_edit') }}" class="menu-iconic__item__link">
                                    <i class="svg svg-user"></i>
                                    <span>
                                        {{ app.user.firstName }} {{ app.user.lastName }}
                                    </span>
                                </a>
                                <ul class="menu-iconic__sub">
                                    <li class="menu-iconic__sub__item">
                                        <a href="{{ url('front_customer_edit') }}" class="menu-iconic__sub__item__link">{{ 'Personal data'|trans }}</a>
                                    </li>
                                    <li class="menu-iconic__sub__item">
                                        <a href="{{ url('front_customer_orders') }}" class="menu-iconic__sub__item__link">{{ 'My orders'|trans }}</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="box-dropdown__options__item js-dropdown-item'">
                                <a href="{{ url('front_logout', { _csrf_token: csrf_token('frontend_logout')}) }}" class="js-logout-link-desktop menu-iconic__item__link">
                                    <span>
                                        {{ 'Log out'|trans }}
                                    </span>
                                </a>
                            </li>
                        {% else %}
                            {{ render(controller('ShopsysShopBundle:Front/Login:windowForm')) }}
                        {% endif %}
                    </div>
                </div>

                {{ render(controller('ShopsysShopBundle:Front/Cart:box')) }}
            </div>
        </header>
    </div>
{% endblock %}
