{% block header %}

    {% set shopInfoPhoneNumber = getShopInfoPhoneNumber() %}
    {% set shopInfoPhoneHours = getShopInfoPhoneHours() %}
    {% set shopInfoEmail = getShopInfoEmail() %}
    <div class="web__container web__container--transparent">
        <div class="top-bar">
            <div class="top-bar__in">
                <ul class="top-bar__menu top-bar__menu--mobile-visible">
                    <li class="top-bar__menu__item">
                        <span class="top-bar__menu__item__text">
                            <a class="top-bar__menu__item__text__phone" href="tel:{{ shopInfoPhoneNumber }}">
                                <strong>{{ shopInfoPhoneNumber }}</strong>
                            </a>
                            {{ shopInfoPhoneHours }}
                        </span>
                    </li>
                </ul>

                <ul class="top-bar__menu">
                    {{ render(controller('ShopsysShopBundle:Front/Article:headerList')) }}
                    <li class="top-bar__menu__item">
                        <a href="{{ url(
                            'front_blogcategory_detail', {
                                'id': constant('Shopsys\\ShopBundle\\Model\\Blog\\Category\\BlogCategory::BLOG_MAIN_PAGE_CATEGORY_ID')
                            }
                        ) }}"
                        class="top-bar__menu__item__link"
                        >
                            {{ 'Blog'|trans }}
                        </a>
                    </li>
                    {% set thirdArticleOnHeader = getArticleBySettingValue(constant('Shopsys\\ShopBundle\\Component\\Setting\\Setting::THIRD_ARTICLE_ON_HEADER_MENU_ARTICLE_ID')) %}
                    {% if thirdArticleOnHeader is not null %}
                        <li class="top-bar__menu__item">
                            <a href="{{ url('front_article_detail', { id: thirdArticleOnHeader.id }) }}" class="top-bar__menu__item__link">
                                {{ thirdArticleOnHeader.name }}
                            </a>
                        </li>
                    {% endif %}
                    <li class="top-bar__menu__item">
                        <a href="{{ url('front_store_index') }}" class="top-bar__menu__item__link">
                            {{ 'Prodejny'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="web__container web__container--border-radius-top">
        <header class="header {{ block('headerClass') }}">
            <div class="header__logo">
                {% block logo %}
                <a class="logo" href="{{ url('front_homepage') }}">
                    <img src="{{ asset('assets/frontend/images/logo.png') }}" alt="{{ 'Online shop'|trans }}">
                </a>
                {% endblock %}
            </div>

            <div class="header__right dont-print">
                <div class="header__right__menu">
                    <div class="box-dropdown box-dropdown--without-arrow box-dropdown--small-padding js-hover-intent">
                        <div class="box-dropdown__select">
                            <i class="header__right__search__icon-menu svg svg-burger-menu"></i>
                        </div>
                        <div class="box-dropdown__options box-dropdown__options--menu js-dropdown-options">
                            {% cache 'categories_mobile_for_domain_' ~ getDomain().id {time: 60 * 60 * 24} %}
                                {{ render(controller('ShopsysShopBundle:Front/Category:horizontalMenuMobile')) }}
                                {{ render(controller('ShopsysShopBundle:Front/Category:hoverMenu', { dropdownMenu: false })) }}
                            {% endcache %}
                        </div>
                    </div>
                </div>

                <div class="header__right__search">
                    <div class="box-dropdown box-dropdown--search box-dropdown--without-arrow box-dropdown--small-padding js-hover-intent js-search-opener">
                        <div class="box-dropdown__select">
                            <i class="svg svg-search"></i>
                        </div>
                        <div class="box-dropdown__options box-dropdown__options--search js-dropdown-options">
                            {{ render(controller('ShopsysShopBundle:Front/Search:box')) }}
                        </div>
                    </div>
                </div>

                <div class="header__right__actions">
                    <div class="header__right__actions__item">
                        <div class="box-dropdown box-dropdown--without-background box-dropdown--without-arrow js-hover-intent">
                            <div class="box-dropdown__select">
                                {% if is_granted('ROLE_LOGGED_CUSTOMER') %}
                                    {{ 'Váš účet'|trans }}
                                {% else %}
                                    {{ 'Přihlášení'|trans }}
                                {% endif %}
                            </div>
                            <div class="box-dropdown__options
                                {% if is_granted('ROLE_LOGGED_CUSTOMER') %}
                                    box-dropdown__options--logged
                                {% else %}
                                    box-dropdown__options--login
                                {% endif %}
                                js-dropdown-options">
                                {% if is_granted('ROLE_LOGGED_CUSTOMER') %}
                                    <div class="box-dropdown__options__item js-dropdown-item'">
                                        <a href="{{ url('front_customer_edit') }}" class="menu-iconic__item__link">
                                            <span class="underline">
                                                {{ app.user.firstName }} {{ app.user.lastName }}
                                            </span>
                                        </a>
                                    </div>
                                    <div class="box-dropdown__options__item js-dropdown-item'">
                                        <a href="{{ url('front_customer_orders') }}" class="menu-iconic__item__link">
                                            <span class="underline">
                                                {{ 'My orders'|trans }}
                                            </span>
                                        </a>
                                    </div>
                                    <div class="box-dropdown__options__item js-dropdown-item'">
                                        <a href="{{ url('front_logout', { _csrf_token: csrf_token('frontend_logout')}) }}" class="menu-iconic__item__link js-logout-link-desktop">
                                            <span class="underline">
                                                {{ 'Log out'|trans }}
                                            </span>
                                        </a>
                                    </div>
                                {% else %}
                                    {{ render(controller('ShopsysShopBundle:Front/Login:windowForm')) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="header__right__actions__item">
                        {{ render(controller('ShopsysShopBundle:Front/Cart:box')) }}
                    </div>
                </div>
            </div>

            <div class="header__menu dont-print">
                {% cache 'categories_for_domain_' ~ getDomain().id {time: 60 * 60 * 24} %}
                    {{ render(controller('ShopsysShopBundle:Front/Category:hoverMenu')) }}
                {% endcache %}
            </div>
        </header>
    </div>
{% endblock %}
