{% block header %}

    {% set shopInfoPhoneNumber = getShopInfoPhoneNumber() %}
    {% set shopInfoPhoneHours = getShopInfoPhoneHours() %}
    {% set shopInfoEmail = getShopInfoEmail() %}
    <div class="top-bar">
        <div class="top-bar__in">

            <ul class="top-bar__menu">
                <li class="top-bar__menu__item">
                    <a href="#" class="top-bar__menu__item__link js-not-implemented-yet">
                        {{ 'Bushman club'|trans }}
                    </a>
                </li>
                <li class="top-bar__menu__item">
                    <a href="#" class="top-bar__menu__item__link js-not-implemented-yet">
                        {{ 'Naše hodnoty'|trans }}
                    </a>
                </li>
                <li class="top-bar__menu__item">
                    <a href="#" class="top-bar__menu__item__link js-not-implemented-yet">
                        {{ 'Blog'|trans }}
                    </a>
                </li>
                <li class="top-bar__menu__item">
                    <a href="#" class="top-bar__menu__item__link js-not-implemented-yet">
                        {{ 'O nás'|trans }}
                    </a>
                </li>
                <li class="top-bar__menu__item">
                    <a href="#" class="top-bar__menu__item__link js-not-implemented-yet">
                        {{ 'Prodejny'|trans }}
                    </a>
                </li>
            </ul>

            <ul class="top-bar__menu top-bar__menu--right">
                <li class="top-bar__menu__item">
                    <span href="#" class="top-bar__menu__item__text">
                        <strong class="top-bar__menu__item__text top-bar__menu__item__text__spacer">{{ 'Buď bushman a měj zdarma'|trans }}:</strong>
                        {{ 'Poštovné'|trans }}
                        <span class="top-bar__menu__item__text__spacer">—</span>
                        {{ 'Výměnu'|trans }}
                        <span class="top-bar__menu__item__text__spacer">—</span>
                        {{ 'Záruku 25 let'|trans }}
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="web__container">
        <header class="header">
            <div class="header__menu dont-print">
                {{ render(controller('ShopsysShopBundle:Front/Category:horizontalMenu')) }}
                <div class="all-categories">
                    <span class="all-categories__title">
                        {{ 'Všechny kategorie'|trans }}
                    </span>
                    <span class="all-categories__arrow"></span>

                    <span class="all-categories__content">
                        <div class="all-categories__content__left">
                            <ul class="list-menu__column-single">
                                <li class="list-menu__title">
                                    <a href="#" class="list-menu__item__link underline">
                                        {{ 'Pro opravdové muže'|trans }}
                                    </a>
                                </li>
                                <li class="list-menu__title">
                                    <a href="#" class="list-menu__item__link underline">
                                        {{ 'Bushman Classic'|trans }}
                                    </a>
                                </li>
                                <li class="list-menu__title">
                                    <a href="#" class="list-menu__item__link underline">
                                        {{ 'Nová kolekce'|trans }}
                                    </a>
                                </li>
                                <li class="list-menu__title">
                                    <a href="#" class="list-menu__item__link underline">
                                        {{ 'Tipy na dárky'|trans }}
                                    </a>
                                </li>
                                <li class="list-menu__title">
                                    <a href="#" class="list-menu__item__link underline">
                                        {{ 'Výprodej/Black friday'|trans }}
                                    </a>
                                </li>
                                <li class="list-menu__title">
                                    <a href="#" class="list-menu__item__link underline">
                                        {{ 'Pro firmy'|trans }}
                                    </a>
                                </li>
                            </ul>
                            <ul class="list-menu__column-single list-menu__column-single--with-icon">
                                <li class="list-menu__title">
                                    <i class="svg svg-mail"></i>
                                    <a href="#" class="list-menu__item__link underline">
                                        {{ 'Dárkové certifikáty'|trans }}
                                    </a>
                                </li>
                                <li class="list-menu__title">
                                    <i class="svg svg-mail"></i>
                                    <a href="#" class="list-menu__item__link underline">
                                        {{ 'Outlet'|trans }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="all-categories__content__right">
                            {{ render(controller('ShopsysShopBundle:Front/Category:hoverMenu')) }}
                        </div>
                    </span>
                </div>
            </div>

            <div class="header__logo">
                {% block logo %}
                <a class="logo" href="{{ url('front_homepage') }}">
                    <img src="{{ asset('assets/frontend/images/logo.png') }}" alt="{{ 'Online shop'|trans }}">
                </a>
                {% endblock %}
            </div>

            <div class="header__right dont-print">

                <div class="box-dropdown box-dropdown--without-arrow box-dropdown--small-padding header__right__search js-dropdown">
                    <div class="box-dropdown__select">
                        <i class="header__right__search__icon svg svg-search"></i>
                    </div>
                    <div class="box-dropdown__options box-dropdown__options--mobile-move-extra-big js-dropdown-options">
                        {{ render(controller('ShopsysShopBundle:Front/Search:box')) }}
                    </div>
                </div>

                <div class="box-dropdown js-dropdown">
                    <div class="box-dropdown__select">
                        {{ 'Váš účet'|trans }}
                        <i class="box-dropdown__select__arrow box-dropdown__select__arrow--up"></i>
                        <i class="box-dropdown__select__arrow box-dropdown__select__arrow--down"></i>
                    </div>
                    <div class="box-dropdown__options box-dropdown__options--mobile-move-big js-dropdown-options">
                        {% if is_granted('ROLE_LOGGED_CUSTOMER') %}
                            <li class="box-dropdown__options__item js-dropdown-item'">
                                <a href="{{ url('front_customer_edit') }}" class="menu-iconic__item__link">
                                    <i class="svg svg-user"></i>
                                    <span>
                                        {{ app.user.firstName }} {{ app.user.lastName }}
                                    </span>
                                </a>
                                <ul class="menu-iconic__sub">
                                    <li class="menu-iconic__sub__item">
                                        <a href="{{ url('front_customer_edit') }}" class="menu-iconic__sub__item__link">{{ 'Personal data'|trans }}</a>
                                    </li>
                                    <li class="menu-iconic__sub__item">
                                        <a href="{{ url('front_customer_orders') }}" class="menu-iconic__sub__item__link">{{ 'My orders'|trans }}</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="box-dropdown__options__item js-dropdown-item'">
                                <a href="{{ url('front_logout', { _csrf_token: csrf_token('frontend_logout')}) }}" class="js-logout-link-desktop menu-iconic__item__link">
                                    <span>
                                        {{ 'Log out'|trans }}
                                    </span>
                                </a>
                            </li>
                        {% else %}
                            <div class="box-login">
                                <div class="box-login__title">
                                    {{ 'Jste bushman? Přihlaste se'|trans }}
                                </div>
                                <div class="box-login__item">
                                    <input type="text" class="input input--big" name="username">
                                </div>
                                <div class="box-login__item">
                                    <input type="password" class="input input--big" name="password">
                                </div>
                                <div class="box-login__buttons">
                                    <input type="submit" name="login-button" class="btn box-login__buttons__login" value="{{ 'Přihlásit se'|trans }}">
                                    <a href="{{ url('front_registration_reset_password') }}" class="box-login__buttons__lost underline" >{{ 'Zapomenuté heslo?'|trans }}</a>
                                </div>
                            </div>
                            <div class="box-login__social">
                                <div class="box-login__social__title">
                                    {{ 'Chcete se stát Bushmanem?'|trans }}
                                    <a href="{{ url('front_registration_register') }}" class="box-login__social__title__link underline">{{ 'Registrujte se'|trans }}</a>
                                </div>
                                <div class="box-login__social__button">
                                    <div class="box-login__social__facebook">
                                        <div class="box-login__social__facebook__icon">
                                            <i class="svg svg-facebook"></i>
                                        </div>
                                        <div  class="box-login__social__facebook__text">
                                            {{ 'Přihlásit se přes facebook'|trans }}
                                        </div>
                                    </div>
                                </div>
                                <div class="box-login__social__or">
                                    <div class="box-login__social__or__text">
                                        {{ 'nebo'|trans }}
                                    </div>
                                </div>
                                <div class="box-login__social__button">
                                    <div class="box-login__social__google">
                                        <div class="box-login__social__google__icon">
                                            <i class="svg svg-google"></i>
                                        </div>
                                        <div  class="box-login__social__google__text">
                                            {{ 'Přihlásit se přes Google'|trans }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

                {{ render(controller('ShopsysShopBundle:Front/Cart:box')) }}
            </div>
        </header>
    </div>
    {{ render(controller('ShopsysShopBundle:Front/Advert:box',{'positionName' : 'header'})) }}
{% endblock %}
