{% block header %}

    {% set shopInfoPhoneNumber = getShopInfoPhoneNumber() %}
    {% set shopInfoPhoneHours = getShopInfoPhoneHours() %}
    {% set shopInfoEmail = getShopInfoEmail() %}
    <div class="top-bar">
        <div class="top-bar__in">

            <ul class="top-bar__menu">
                {{ render(controller('ShopsysShopBundle:Front/Article:headerList')) }}
                <li class="top-bar__menu__item">
                    <a href="{{ url(
                        'front_blogcategory_detail', {
                            'id': constant('Shopsys\\ShopBundle\\Model\\Blog\\Category\\BlogCategory::BLOG_MAIN_PAGE_CATEGORY_ID')
                        }
                    ) }}"
                       class="top-bar__menu__item__link"
                    >
                        {{ 'Blog'|trans }}
                    </a>
                </li>
                {% set thirdArticleOnHeader = getArticleBySettingValue(constant('Shopsys\\ShopBundle\\Component\\Setting\\Setting::THIRD_ARTICLE_ON_HEADER_MENU_ARTICLE_ID')) %}
                {% if thirdArticleOnHeader is not null %}
                    <li class="top-bar__menu__item">
                        <a href="{{ url('front_article_detail', { id: thirdArticleOnHeader.id }) }}" class="top-bar__menu__item__link">
                            {{ thirdArticleOnHeader.name }}
                        </a>
                    </li>
                {% endif %}
                <li class="top-bar__menu__item">
                    <a href="{{ url('front_store_index') }}" class="top-bar__menu__item__link">
                        {{ 'Prodejny'|trans }}
                    </a>
                </li>
            </ul>

            <ul class="top-bar__menu top-bar__menu--right">
                <li class="top-bar__menu__item">
                    <span class="top-bar__menu__item__text">
                        <strong class="top-bar__menu__item__text__title top-bar__menu__item__text__spacer">
                            {{ 'Buď bushman a měj výhodnější'|trans }}:
                        </strong>
                        <br class="top-bar__menu__next-line">
                        <br class="top-bar__menu__next-line">
                        <br class="top-bar__menu__next-line">
                        <span class="top-bar__menu__item__text__mobile">
                            {{ 'využij výhodnější'|trans}}
                        </span>

                        {{ 'ceny a podmínky nákupu'|trans}}
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="web__container">
        <header class="header {{ block('headerClass') }}">
            <div class="header__menu dont-print">
                {{ render(controller('ShopsysShopBundle:Front/Category:horizontalMenu')) }}
                <div class="all-categories js-hover-intent">
                    <span class="all-categories__title">
                        {{ 'Všechny kategorie'|trans }}
                    </span>
                    <span class="all-categories__arrow"></span>

                    <span class="all-categories__content">
                        {% cache 'categories_hover_for_domain_' ~ getDomain().id {time: 60 * 60 * 24} %}
                            {{ render(controller('ShopsysShopBundle:Front/Category:hoverMenu')) }}
                        {% endcache %}
                    </span>
                </div>
            </div>

            <div class="header__logo">
                {% block logo %}
                <a class="logo" href="{{ url('front_homepage') }}">
                    <img src="{{ asset('assets/frontend/images/logo.png') }}" alt="{{ 'Online shop'|trans }}">
                </a>
                {% endblock %}
            </div>

            <div class="header__right dont-print">

                <div class="box-dropdown box-dropdown--without-arrow box-dropdown--small-padding header__right__menu js-hover-intent">
                    <div class="box-dropdown__select">
                        <i class="header__right__search__icon-menu svg svg-burger-menu"></i>
                    </div>
                    <div class="box-dropdown__options box-dropdown__options--menu js-dropdown-options">
                        {{ render(controller('ShopsysShopBundle:Front/Category:horizontalMenuMobile')) }}
                        {% cache 'categories_mobile_hover_for_domain_' ~ getDomain().id {time: 60 * 60 * 24} %}
                            {{ render(controller('ShopsysShopBundle:Front/Category:hoverMenu')) }}
                        {% endcache %}
                    </div>
                </div>

                <div class="box-dropdown box-dropdown--without-arrow box-dropdown--small-padding header__right__search js-hover-intent js-search-opener">
                    <div class="box-dropdown__select">
                        <i class="header__right__search__icon-search svg svg-search"></i>
                    </div>
                    <div class="box-dropdown__options box-dropdown__options--search js-dropdown-options">
                        {{ render(controller('ShopsysShopBundle:Front/Search:box')) }}
                    </div>
                </div>

                <div class="box-dropdown js-hover-intent">
                    <div class="box-dropdown__select">
                        {% if is_granted('ROLE_LOGGED_CUSTOMER') %}
                            {{ 'Váš účet'|trans }}
                        {% else %}
                            {{ 'Přihlas se'|trans }}
                        {% endif %}
                        <i class="box-dropdown__select__arrow box-dropdown__select__arrow--up"></i>
                        <i class="box-dropdown__select__arrow box-dropdown__select__arrow--down"></i>
                    </div>
                    <div class="box-dropdown__options
                        {% if is_granted('ROLE_LOGGED_CUSTOMER') %}
                            box-dropdown__options--logged
                        {% else %}
                            box-dropdown__options--login
                        {% endif %}
                         js-dropdown-options">
                        {% if is_granted('ROLE_LOGGED_CUSTOMER') %}
                            <div class="box-dropdown__options__item js-dropdown-item'">
                                <a href="{{ url('front_customer_edit') }}" class="menu-iconic__item__link">
                                    <span class="underline">
                                        {{ app.user.firstName }} {{ app.user.lastName }}
                                    </span>
                                </a>
                            </div>
                            <div class="box-dropdown__options__item js-dropdown-item'">
                                <a href="{{ url('front_customer_orders') }}" class="menu-iconic__item__link">
                                    <span class="underline">
                                        {{ 'My orders'|trans }}
                                    </span>
                                </a>
                            </div>
                            <div class="box-dropdown__options__item js-dropdown-item'">
                                <a href="{{ url('front_logout', { _csrf_token: csrf_token('frontend_logout')}) }}" class="menu-iconic__item__link menu-iconic__item__link--last js-logout-link-desktop">
                                    <span class="underline">
                                        {{ 'Log out'|trans }}
                                    </span>
                                </a>
                            </div>
                        {% else %}
                            {{ render(controller('ShopsysShopBundle:Front/Login:windowForm')) }}
                        {% endif %}
                    </div>
                </div>

                {{ render(controller('ShopsysShopBundle:Front/Cart:box')) }}
            </div>
        </header>
    </div>
{% endblock %}
