{% extends '@ShopsysShop/Front/Layout/base.html.twig' %}
{% use '@ShopsysShop/Front/Layout/header.html.twig' %}
{% use '@ShopsysShop/Front/Layout/footer.html.twig' %}

{% block headerClass %}{% endblock %}

{% block html_body %}
    {% set adminLoggedAsCustomer = is_granted(constant('Shopsys\\FrameworkBundle\\Model\\Security\\Roles::ROLE_ADMIN_AS_CUSTOMER')) %}
    {% if adminLoggedAsCustomer or isMailerSettingUnusual() %}
        <div class="window-bar dont-print">
            {% if adminLoggedAsCustomer %}
                <div class="window-bar__item">
                    {{ 'Attention! You are administrator logged in as the customer.'|trans }}
                    <a href="{{ url('front_logout', { _csrf_token: csrf_token('frontend_logout')}) }}">{{ 'Log out'|trans }}</a>
                </div>
            {% endif %}
            {% if isMailerSettingUnusual() %}
                <div class="window-bar__item">
                    {{ getMailerSettingInfo() }}
                </div>
            {% endif %}
        </div>
    {% endif %}
    <div class="web__in">
        <div class="web__line">
            <div class="web__header">
                {{ block('header') }}
                {% block infoRow %}
                    {% if isInfoRowVisible() %}
                        <div class="web__container web__container--big-padding" id="js-info-row" data-now="{{ 'now'|date(constant('Shopsys\\ShopBundle\\Component\\InfoRow\\InfoRowFacade::COOKIE_CLOSED_AT_FORMAT')) }}">
                            <div class="box-info-row">
                                {{ getInfoRowText() }}
                                <span class="box-info-row__close js-info-row__close" >
                                    <i class="svg svg-remove-thin"></i>
                                </span>
                            </div>
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
            <div class="web__container">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <div class="web__footer{% if not isCookiesConsentGiven() %} web__footer--with-cookies js-eu-cookies-consent-footer-gap{% endif %}">
        {{ block('footer') }}
    </div>
    {% if not isCookiesConsentGiven() %}
        {% set cookiesArticle = findCookiesArticleByDomainId(getDomain().id) %}
        <div class="box-cookies dont-print js-eu-cookies">
            <div class="box-cookies__title">
                {{ 'Cookies nejsou sušenky'|trans }}
            </div>

            <div class="box-cookies__text">
                <span class="display-none-tablet display-inline-block">
                    {{ 'Sbíráme anonymní data a měříme, abychom náš web mohli dále vylepšovat. Souhlasíte se sběrem cookies?'|trans }}
                </span>
                <span class="display-none display-inline-block-tablet">
                    {{ 'Souhlasíte se sběrem cookies?'|trans }}
                </span>
            </div>
            <div class="box-cookies__buttons">
                <button class="btn btn--success box-cookies__buttons__agree js-eu-cookies-consent-button" type="button">{{ 'V pořádku'|trans }}</button>
                <span class="box-cookies__buttons__link__wrap">
                    {% if cookiesArticle is not null %}
                        <a class="box-cookies__buttons__link underline" href="{{ url('front_article_detail', { id: cookiesArticle.id }) }}" target="_blank">
                            {{- 'More information'|trans -}}
                        </a>
                    {% endif %}
                </span>
            </div>

            <div class="box-cookies__close js-eu-cookies-close-button"><i class="svg svg-remove"></i></div>
        </div>
    {% endif %}
{% endblock %}
