{% extends '@ShopsysShop/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block title %}
    {{ 'Order could not be paid'|trans }}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block main_content %}
<div class="web__line">
    <div class="web__container web__container--big-padding">
        <h1 class="in-title in-title--center in-title--big">{{ 'Order has been created but there were problems during payment'|trans }}</h1>

        <p class="in-user-text text-center">{{ 'There were problems during payment of created order with number %orderNumber%.'|trans({ '%orderNumber%' : order.number }) }}</p>
        <p class="in-user-text text-center">
            <a href="{{ url('front_order_repeat_gopay_payment', { urlHash: order.urlHash }) }}">
                {{ 'Klikněte zde pro zopakování úhrady objednávky'|trans }}
            </a>
        </p>
    </div>
</div>
{% endblock %}
