
<div class="box-preview">
    <div class="box-preview__title">
        <span class="box-preview__title__text double-lined">
            {{ 'Vaše objednávka'|trans }}
        </span>
    </div>
    <div class="box-preview__row box-preview__row--dark">
        {% if orderStep == "1" %}
            <div class="box-preview__coupone">
                <div class="box-preview__coupone__title">
                    {{ 'Máte slevový kód?'|trans }}
                </div>
                <div class="box-preview__coupone__input">
                    <label for="orderCoupone" class="input__label">{{ 'Zadejte kód'|trans }}</label>
                    <input type="text" id="orderCoupone" class="input" name="coupone" value="">
                </div>
            </div>
        {% endif %}
        <table class="table-cart-preview">
            <tbody>
                {% if orderStep != "1" %}
                    {% for quantifiedProductKey, quantifiedProduct in orderPreview.quantifiedProducts %}
                        {% set quantifiedProductPrice = orderPreview.quantifiedItemsPrices[quantifiedProductKey] %}
                        {% set quantifiedProductDiscount = orderPreview.quantifiedItemsDiscounts[quantifiedProductKey] %}
                        <tr class="table-cart-preview__row">
                            <td class="table-cart-preview__cell">
                                <strong>{{ quantifiedProduct.quantity|formatNumber }} {{ quantifiedProduct.product.unit.name }}</strong>
                                {{ quantifiedProduct.product.name }}
                            </td>
                            <td class="table-cart-preview__cell table-cart-preview__cell--price">
                                {{ quantifiedProductPrice.totalPrice.priceWithVat|price }}
                            </td>
                        </tr>
                        {% if quantifiedProductDiscount is not null %}
                            <tr>
                                <td class="table-cart-preview__cell">
                                    {{ 'Promo code'|trans }} {{ (-orderPreview.promoCodeDiscountPercent)|formatPercent }}
                                </td>
                                <td class="table-cart-preview__cell table-cart-preview__cell--price">
                                    {{ quantifiedProductDiscount.inverse.priceWithVat|price }}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <tr class="table-cart-preview__row">
                    <td class="table-cart-preview__cell js-not-implemented-yet">
                        {{ 'Sleva'|trans }}
                        <span class="next-line"></span> {{ '(kód VANOCE2018)'|trans }}
                    </td>
                    <td class="table-cart-preview__cell table-cart-preview__cell--price  table-cart-preview__cell--important">
                        -500 kč
                    </td>
                </tr>

                <tr class="table-cart-preview__row">
                    <td class="table-cart-preview__cell js-not-implemented-yet">
                        {{ 'Doprava (29.1. u vás)'|trans }}
                    </td>
                    <td class="table-cart-preview__cell table-cart-preview__cell--price">
                        {{ 'zdarma'|trans }}
                    </td>
                </tr>

                {% if orderPreview.transport is not empty %}
                    <tr class="table-cart-preview__row">
                        <td class="table-cart-preview__cell">
                            {{ 'Shipping method'|trans }} {{ orderPreview.transport.name }}
                        </td>
                        <td class="table-cart-preview__cell table-cart-preview__cell--price">
                            {{ orderPreview.transportPrice.priceWithVat|priceText }}
                        </td>
                    </tr>
                {% endif %}

                {% if orderPreview.payment is not empty %}
                    <tr class="table-cart-preview__row">
                        <td class="table-cart-preview__cell">
                            {{ 'Payment method'|trans }} {{ orderPreview.payment.name }}
                        </td>
                        <td class="table-cart-preview__cell table-cart-preview__cell--price">
                            {{ orderPreview.paymentPrice.priceWithVat|priceText }}
                        </td>
                    </tr>
                {% endif %}

                {% if orderPreview.roundingPrice is not empty %}
                    <tr class="table-cart-preview__row">
                        <td class="table-cart-preview__cell">
                            {{ 'Rounding'|trans }}
                        </td>
                        <td class="table-cart-preview__cell table-cart-preview__cell--price">
                            {{ orderPreview.roundingPrice.priceWithVat|price }}
                        </td>
                    </tr>
                {% endif %}

                <tr class="table-cart-preview__row">
                    <td class="table-cart-preview__cell">
                        {{ 'Total price including VAT'|trans }}
                    </td>
                    <td class="table-cart-preview__cell table-cart-preview__cell--price">
                        {{ orderPreview.totalPrice.priceWithVat|price }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="box-preview__row">
        <table class="table-cart-preview__total">
            <tr class="table-cart-preview__total__row">
                <td class="table-cart-preview__total__cell">
                    {{ 'Celkem'|trans }}
                </td>
                <td class="table-cart-preview__total__price-primary">
                    {{ orderPreview.totalPrice.priceWithVat|price }}
                </td>
            </tr>
            <tr class="table-cart-preview__total__row">
                <td class="table-cart-preview__total__cell">
                </td>
                <td class="table-cart-preview__total__price-secondary">
                    {{ orderPreview.totalPrice.priceWithoutVat|price }} {{ 'bez DPH'|trans }}
                </td>
            </tr>
        </table>
        <div class="in-action">
            {% if orderPreview.quantifiedProducts > 0 %}
                {#{ form_row(form.submit, { label: 'Order [verb]'|trans, attr: { class: 'btn btn--success in-action__btn in-action__btn--big'}}) }#}
                <input type="submit" class="in-action__btn btn btn--success btn--full-width" name="cart_form[submit]" value="{{ 'Pokračovat v objednávce'|trans }}">
            {% endif %}

            {% if orderStep != "1" %}
                <a href="{{ url('front_homepage') }}" class="btn in-action__btn">
                    {{ 'Back to buying'|trans }}
                </a>
            {% endif %}
        </div>

</div>
