{% import '@ShopsysShop/Front/Inline/Product/distinguishingParameterMacro.html.twig' as distinguishingParameter %}

{% macro productPreviewItem(product, quantity, price) %}
    <li class="list-cart-preview__item">
        <div class="list-cart-preview__item__image">
            {{ image(product.productForCreatingImageAccordingToVariant, { size: 'thumbnail' }) }}
        </div>
        <div class="list-cart-preview__item__pieces">
            {{ quantity|formatNumber }} {{ product.unit.name }}
        </div>
        <div class="list-cart-preview__item__name">
            <span class="list-cart-preview__item__name__title">
                {{ product.name }}
            </span>
            {{ distinguishingParameter.writeParameters(product, 'list-cart-preview__item__name__text') }}
        </div>
        <div class="list-cart-preview__item__price">
            {{ price|price }}
        </div>
    </li>
{% endmacro %}


<div class="box-preview">
    <div class="box-preview__title">
        {{ 'Vaše objednávka'|trans }}
    </div>
    {% if orderStep == "1" %}
        {{ render(controller('ShopsysShopBundle:Front/PromoCode:index')) }}
    {% endif %}
    <div class="box-preview__row box-preview__row--no-bottom">
        {% if orderStep > 1 %}
            <ul class="list-cart-preview">
                {% for quantifiedProductKey, quantifiedProduct in orderPreview.quantifiedProducts %}
                    {% set quantifiedProductPrice = orderPreview.quantifiedItemsPrices[quantifiedProductKey] %}
                    {{ _self.productPreviewItem(quantifiedProduct.product, quantifiedProduct.quantity, quantifiedProductPrice.totalPrice.priceWithVat) }}
                {% endfor %}
                {% if orderPreview.gifts is not empty %}
                    <li>{{ 'Dárky k vaší objednávce:' }}</li>
                    {% for gift in orderPreview.gifts %}
                        {{ _self.productPreviewItem(gift.product, gift.quantity, gift.totalPrice) }}
                    {% endfor %}
                {% endif %}
            </ul>
        {% endif %}

        <table id="js-order-preview-fees" class="table-cart-preview">
            <tbody>
                {% if orderPreview.promoCode is not null %}
                    <tr class="table-cart-preview__row">
                        <td class="table-cart-preview__cell">
                            {{ 'Sleva'|trans }}
                            <span class="next-line"></span> {{ '(kód %code%)'|trans({ '%code%': orderPreview.promoCode.code }) }}
                        </td>
                        <td class="table-cart-preview__cell table-cart-preview__cell--price  table-cart-preview__cell--important">
                            - {{ orderPreview.totalDiscount.priceWithVat|price }}
                        </td>
                    </tr>
                {% endif %}

                <tr class="table-cart-preview__row">
                    <td class="table-cart-preview__cell js-not-implemented-yet">
                        {{ 'Doprava (29.1. u vás)'|trans }}
                    </td>
                    <td class="table-cart-preview__cell table-cart-preview__cell--price">
                        {{ 'zdarma'|trans }}
                    </td>
                </tr>

                {% if orderPreview.transport is not empty %}
                    <tr class="table-cart-preview__row">
                        <td class="table-cart-preview__cell">
                            {{ 'Doprava'|trans }} - {{ orderPreview.transport.name }}
                        </td>
                        <td class="table-cart-preview__cell table-cart-preview__cell--price">
                            {{ orderPreview.transportPrice.priceWithVat|priceText }}
                        </td>
                    </tr>
                {% endif %}

                {% if orderPreview.payment is not empty %}
                    <tr class="table-cart-preview__row">
                        <td class="table-cart-preview__cell">
                            {{ 'Platba'|trans }} - {{ orderPreview.payment.name }}
                        </td>
                        <td class="table-cart-preview__cell table-cart-preview__cell--price">
                            {{ orderPreview.paymentPrice.priceWithVat|priceText }}
                        </td>
                    </tr>
                {% endif %}

                {% if orderPreview.roundingPrice is not empty %}
                    <tr class="table-cart-preview__row">
                        <td class="table-cart-preview__cell">
                            {{ 'Rounding'|trans }}
                        </td>
                        <td class="table-cart-preview__cell table-cart-preview__cell--price">
                            {{ orderPreview.roundingPrice.priceWithVat|price }}
                        </td>
                    </tr>
                {% endif %}
                {% if orderStep == "1" %}
                    <tr class="table-cart-preview__row">
                        <td class="table-cart-preview__cell">
                            {{ 'Za zboží'|trans }}
                        </td>
                        <td class="table-cart-preview__cell table-cart-preview__cell--price">
                            {{ orderPreview.totalPrice.priceWithVat|price }}
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="box-preview__row {% if orderStep != "1" %} box-preview__row--thin-top-border{% endif %}">
        <div id="js-order-preview-total-price" class="table-cart-preview">
            <table class="table-cart-preview__total">
                <tr class="table-cart-preview__total__row">
                    <td class="table-cart-preview__total__cell">
                        {{ 'Celkem'|trans }}
                    </td>
                    <td class="table-cart-preview__total__price-primary">
                        {{ orderPreview.totalPrice.priceWithVat|price }}
                    </td>
                </tr>
                <tr class="table-cart-preview__total__row">
                    <td class="table-cart-preview__total__cell">
                    </td>
                </tr>
            </table>
        </div>
        <div class="in-action in-action--column">
            {% if orderStep > 2 %}
                <div class="box-preview__conditions">
                    {{ 'Kliknutím na tlačítko Odeslat objednávku'|trans }}<br>
                    {{ 'souhlasím s '|trans }}
                    <a href="#" target="_blank" class="box-preview__conditions__link js-not-implemented-yet">
                        <span class="underline-small">
                            {{ 'obchodními podmínkami'|trans }}
                        </span>
                    </a>
                    {{ ' e-shopu.'|trans}}
                </div>
            {% endif %}

            {% if orderPreview.quantifiedProducts > 0 and renderSubmitButton %}
                {% if orderStep == 1 %}
                    {% set continueButtonText = 'Pokračovat v objednávce'|trans %}
                {% elseif orderStep == 2 %}
                    {% set continueButtonText = 'Vyplnit dodací údaje'|trans %}
                {% else %}
                    {% set continueButtonText = 'Odeslat objednávku'|trans %}
                {% endif %}
                {{  form_widget(formSubmit, { label: continueButtonText, attr: { class: 'btn btn--success btn--full-width box-preview__button'}}) }}
            {% endif %}

            <div class="in-action__back">
                {% if orderStep == 1 %}
                    <i class="svg svg-triangle"></i>
                    <a href="{{ url('front_homepage') }}" class="in-action__link underline">
                        {{ 'Zpět do e-shopu'|trans }}
                    </a>
                {% elseif orderStep == 2 %}
                    <i class="svg svg-triangle"></i>
                    <a href="{{ url('front_cart') }}" class="in-action__link underline">
                        {{ 'Zpět do košíku'|trans }}
                    </a>
                {% elseif orderStep == 3 %}
                    <button type="submit" name="flow_order_transition" value="back" class="in-action__link underline js-no-validate-button">
                        {{ 'Back to shipping and payment selection'|trans }}
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
