{% extends '@ShopsysShop/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block meta_robots -%}
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}
    {{ 'Order completed'|trans }}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block main_content %}

    {{ render(controller('ShopsysShopBundle:Front/Script:embedOrderSentPageScripts', {order: order})) }}
    {{ render(controller('ShopsysShopBundle:Front/Script:embedOrderSentPageGoogleAnalyticsScript', {order: order})) }}

    <div class="web__container">
        <div class="web__main">
            <div class="web__main__content js-main-content">
            <!-- script to display on order sent page -->
                <div class="box-order-done">
                    <h1 class="box-order-done__title">{{ 'Děkujeme za vaši objednávku'|trans }}</h1>
                    <div class="box-order-done__text">
                        {{ pageContent|raw }}
                    </div>
                    {#
                    <div class="box-order-done__club">
                        <div class="box-order-done__club__title">
                            {{ 'Stačí zadat heslo a příště už nic'|trans }} <br>
                            {{ 'zadávat nemusíte'|trans }}
                        </div>
                        <div class="box-order-done__club__text">
                            {{ 'Jako člen Bushman Clubu budete mít přístup k'|trans }}
                            <strong>{{ 'historii svých objednávek,'|trans }}</strong>
                            {{ 'možnost získat'|trans }} <br>
                            {{ '25 let záruku zdarma, objednat směnnou zásilku nebo '|trans }}
                            <strong>{{ 'získat 3% slevu'|trans }}</strong>
                            {{ 'na celý sortiment'|trans }}.
                        </div>
                        {# Save password and user name hack.
                        * The browsers need field with name 'name' to store login (password stored by field with type password).
                        * I can't create a field with a specific name in symfony.
                        * IE and Edge store login by type hidden, other by type text or email.

                        <input type="text" name="name" value="{{ order.email }}" style="display: none;">
                        <input type="hidden" name="name" value="{{ order.email }}">

                        <div class="box-order-done__club__form js-not-implemented-yet">
                            <div class="form-line">
                                <div class="form-line__input box-order-done__club__form__input">
                                    <label for="registration_form_password_first" class="input__label required">
                                        {{ 'Heslo'|trans }}
                                        <span class="form-input-required">*</span>
                                    </label>
                                    <input type="password" id="registration_form_password_first" name="registration_form[password][first]" required="required" autocomplete="off" class="input form-input-error">
                                </div>
                                <div class="form-line__button box-order-done__club__form__button-holder">
                                    <button type="submit" name="" class="btn btn--success btn--with-input box-order-done__club__form__button">{{ 'Vytvořit účet'|trans }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    #}
                </div>
            </div>
        </div>
    </div>

    {% if goPayData is defined and goPayData|length != 0 %}
        {% include '@ShopsysShop/Front/Inline/Payment/goPayPayment.html.twig' %}
    {% endif %}

    {% if payPalApprovalLink is defined and payPalApprovalLink is not null %}
        {% include '@ShopsysShop/Front/Inline/Payment/payPalPayment.html.twig' %}
    {% endif %}

    <div class="web__line">
        <div class="web__container">
            <div class="box-articles">
                <div class="box-articles__title-big">
                    {{ 'Načerpejte inspiraci'|trans }}
                </div>
                <div class="box-articles__title-small">
                    {{ 'Zážitky z cest si nenecháváme pro sebe'|trans }}
                </div>
                {% include '@ShopsysShop/Front/Content/Article/list.html.twig' with { blogArticles: homepageBlogArticles } %}
                <div class="box-articles__bottom">
                    <a href="{{ url('front_blogcategory_detail', { id: constant('Shopsys\\ShopBundle\\Model\\Blog\\Category\\BlogCategory::BLOG_MAIN_PAGE_CATEGORY_ID')}) }}" class="box-articles__bottom__link underline">{{ 'Přejít na výpis všech článků'|trans }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="web__line">
        <div class="web__container web__container--no-padding">
            {% cache getInstagramCacheId() {time: getInstagramCacheTime()} %}
                {{ instagramFeed() }}
            {% endcache %}
        </div>
    </div>

{% endblock %}
