{% extends '@ShopsysShop/Front/Content/Order/step.html.twig' %}

{% block h1 %}{% endblock %}

{% block content %}
<div class="web__line">
    <div class="web__container web__container--big-padding">

        <h1 class="in-title in-title--big in-title--center in-title--dark">
            {{ 'Dodací údaje'|trans }}
        </h1>

        <div class="box-order">
            <div class="box-order__info">
                <div class="box-order__info__top">
                    {% include '@ShopsysShop/Front/Inline/OrderProgress/index.html.twig' with {step: flow.getCurrentStepNumber()} only %}
                </div>

                {% set isSelectedPickupPlaceTransport = transport is not empty and (transport.isPickupPlace or transport.isChooseStore) %}


                <fieldset>
                    <div class="box-order__title">
                        <h2 class="in-title in-title--small in-title--dark">
                            {{ 'Osobní údaje'|trans }}
                        </h2>
                    </div>

                    {% if isSelectedPickupPlaceTransport is same as (true) %}
                        {{ form_row(form.deliveryFirstName, { label: 'First name'|trans }) }}
                        {{ form_row(form.deliveryLastName, { label: 'Last name'|trans }) }}
                    {% endif %}

                    {{ form_row(form.email, { label: 'E-mail'|trans }) }}

                    {% if isSelectedPickupPlaceTransport is same as (true) %}
                        {{ form_row(form.deliveryTelephone, { required: true, label: 'Telephone'|trans }) }}
                    {% endif %}
                </fieldset>

                <fieldset>
                    <div class="box-order__title">
                        <h2 class="in-title in-title--small in-title--dark">
                            {{ 'Shipping address'|trans }}
                        </h2>
                    </div>
                    {% if isSelectedPickupPlaceTransport is same as (true) %}
                        {% set pickupPlaceData = pickupPlace %}
                        {% if transport.isChooseStore is same as (true) %}
                            {% set pickupPlaceData = store %}
                        {% endif %}

                        <div class="box-order__info">
                            <span>{{ "Název pobočky"|trans }}</span>&nbsp;{{ pickupPlaceData.name }} <br/>
                            <span>{{ "Ulice"|trans }}</span>&nbsp;{{ pickupPlaceData.street }} <br/>
                            <span>{{ "Město"|trans }}</span>&nbsp;{{ pickupPlaceData.city }} <br/>
                            <span>{{ "PSČ"|trans }}</span>&nbsp;{{ pickupPlaceData.postcode }} <br/>
                            {% do form.deliveryCompanyName.setRendered %}
                            {% do form.deliveryStreet.setRendered %}
                            {% do form.deliveryCity.setRendered %}
                            {% do form.deliveryPostcode.setRendered %}
                            {% do form.deliveryCountry.setRendered %}
                        </div>
                    {% else %}
                        <div id="js-delivery-address-fields" class="margin-top-20">
                            {{ form_row(form.deliveryFirstName, { label: 'First name'|trans }) }}
                            {{ form_row(form.deliveryLastName, { label: 'Last name'|trans }) }}
                            {{ form_row(form.deliveryCompanyName, { label: 'Company'|trans }) }}
                            {{ form_row(form.deliveryTelephone, { label: 'Telephone'|trans }) }}
                            {{ form_row(form.deliveryStreet, { label: 'Street'|trans }) }}
                            {{ form_row(form.deliveryCity, { label: 'City'|trans }) }}
                            {{ form_row(form.deliveryPostcode, { label: 'Postcode'|trans }) }}

                            {% if getDomain().locale is same as (
                                constant('Shopsys\\ShopBundle\\Component\\Domain\\DomainHelper::GERMAN_LOCALE')
                            ) %}
                                {{ form_row(form.deliveryCountry, { label: 'Country'|trans }) }}
                                <a href="{{ url('front_order_index') }}">{{ 'Změnit'|trans }}</a>
                            {% else %}
                                {% do form.deliveryCountry.setRendered %}
                            {% endif %}
                        </div>
                    {% endif %}
                </fieldset>

                <fieldset>
                    <div class="box-order__title">
                        <h2 class="in-title in-title--small in-title--dark">
                            {{ 'Company data'|trans }} <span class="heading-addition">{{ '(If I buy on the company behalf)'|trans }}</span>
                        </h2>
                    </div>
                    {{ form_widget(form.companyCustomer, {
                        attr: { class: 'css-checkbox js-checkbox-toggle', 'data-checkbox-toggle-container-id': 'js-company-fields' }})
                    }}
                    <label for="{{ form.companyCustomer.vars.id }}" class="css-checkbox__image">
                        {{ 'I buy on company behalf'|trans }}
                    </label>
                    <div id="js-company-fields" class="margin-top-20">
                        {{ form_row(form.companyName, { label: 'Company name'|trans }) }}
                        {{ form_row(form.companyNumber, { label: 'Company number'|trans }) }}
                        {{ form_row(form.companyTaxNumber, { label: 'Tax number'|trans }) }}
                    </div>
                </fieldset>

                <fieldset>
                    <div class="box-order__title">
                        <h2 class="in-title in-title--small in-title--dark">
                            {{ 'Billing data'|trans }} <span class="heading-addition">{{ '(Tato adresa bude na daňovém dokladu. Pokud nebude vyplněna, použije se doručovací adresa.)'|trans }}</span>
                        </h2>
                    </div>
                    {{ form_widget(form.billingAddressFilled, {
                        attr: { class: 'css-checkbox js-checkbox-toggle', 'data-checkbox-toggle-container-id': 'js-billing-address-fields' }})
                    }}
                    <label for="{{ form.billingAddressFilled.vars.id }}" class="css-checkbox__image">
                        {{ 'Vyplním fakturační údaje'|trans }}
                    </label>

                    <br><br>

                    <div id="js-billing-address-fields">
                        {{ form_row(form.firstName, { label: 'First name'|trans }) }}
                        {{ form_row(form.lastName, { label: 'Last name'|trans }) }}
                        {{ form_row(form.telephone, { label: 'Telephone'|trans }) }}
                        {{ form_row(form.street, { label: 'Street'|trans }) }}
                        {{ form_row(form.city, { label: 'City'|trans }) }}
                        {{ form_row(form.postcode, { label: 'Postcode'|trans }) }}
                        {{ form_row(form.country, { label: 'Country'|trans }) }}
                    </div>
                </fieldset>

                <fieldset>
                    <div class="box-order__title">
                        <h2 class="in-title in-title--small in-title--dark">
                            {{ 'Note'|trans }}
                        </h2>
                    </div>
                    {{ form_row(form.note, { label: 'Contact us'|trans }) }}
                </fieldset>

                <fieldset>
                    <div class="form-line">
                        {{ form_row(form.newsletterSubscription, { attr: { class: 'css-checkbox' }}) }}
                        <label class="css-checkbox__image" for="{{ form.newsletterSubscription.vars.id }}">
                            {{ 'I want to subscribe to the newsletter'|trans }}
                        </label>
                        {% if form.disallowHeurekaVerifiedByCustomers is defined %}
                            {{ form_row(form.disallowHeurekaVerifiedByCustomers, { label: 'I do not agree with sending a Customer Verified satisfaction questionnaire that helps improve your service'|trans }) }}
                        {% endif %}
                    </div>
                </fieldset>
            </div>
            <div id="js-order-preview" class="box-order__cart" data-url="{{ url('front_order_preview') }}">
                {{ render(controller('ShopsysShopBundle:Front/Order:preview', {
                    transportId: transport is empty ? null : transport.id,
                    paymentId: payment is empty ? null : payment.id,
                    orderStep: '3',
                    formSubmit: form.save
                })) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
