{% extends '@ShopsysShop/Front/Content/Order/step.html.twig' %}

{% block h1 %}{% endblock %}

{% block content %}
<div class="web__line">
    <div class="web__container web__container--big-padding">
        <div class="box-order">
            <div class="box-order__info">
                <div class="box-order__info__top">
                    {% include '@ShopsysShop/Front/Inline/OrderProgress/index.html.twig' with {step: flow.getCurrentStepNumber()} only %}
                </div>

                {% set isSelectedPickupPlaceTransport = transport is not empty and (transport.isPickupPlace or transport.isChooseStore) %}

                <div class="box-order__title">
                    <h2 class="box-order__title__text double-lined">
                        {{ 'Osobní údaje'|trans }}
                    </h2>
                </div>

                <fieldset>
                    {{ form_row(form.email, { label: 'E-mail'|trans }) }}
                </fieldset>

                <div class="box-order__title">
                    <h2 class="box-order__title__text double-lined">
                        {{ 'Shipping address'|trans }} {% if isSelectedPickupPlaceTransport is not same as (true) %} <span class="heading-addition">{{ 'Zboží bude doručeno na tuto adresu.'|trans }}</span>{% endif %}
                    </h2>
                </div>
                <fieldset>
                    {% if isSelectedPickupPlaceTransport is same as (true) %}
                        {% set pickupPlaceData = pickupPlace %}
                        {% if transport.isChooseStore is same as (true) %}
                            {% set pickupPlaceData = store %}
                        {% endif %}

                        <div class="box-order__info">
                            <span>{{ "Název pobočky"|trans }}</span>&nbsp;{{ pickupPlaceData.name }} <br/>
                            <span>{{ "Ulice"|trans }}</span>&nbsp;{{ pickupPlaceData.street }} <br/>
                            <span>{{ "Město"|trans }}</span>&nbsp;{{ pickupPlaceData.city }} <br/>
                            <span>{{ "PSČ"|trans }}</span>&nbsp;{{ pickupPlaceData.postcode }} <br/>
                            {% do form.deliveryFirstName.setRendered %}
                            {% do form.deliveryLastName.setRendered %}
                            {% do form.deliveryCompanyName.setRendered %}
                            {% do form.deliveryTelephone.setRendered %}
                            {% do form.deliveryStreet.setRendered %}
                            {% do form.deliveryCity.setRendered %}
                            {% do form.deliveryPostcode.setRendered %}
                            {% do form.deliveryCountry.setRendered %}
                        </div>
                    {% else %}
                        <div id="js-delivery-address-fields" class="margin-top-20">
                            {{ form_row(form.deliveryFirstName, { label: 'First name'|trans }) }}
                            {{ form_row(form.deliveryLastName, { label: 'Last name'|trans }) }}
                            {{ form_row(form.deliveryCompanyName, { label: 'Company'|trans }) }}
                            {{ form_row(form.deliveryTelephone, { label: 'Telephone'|trans }) }}
                            {{ form_row(form.deliveryStreet, { label: 'Street'|trans }) }}
                            {{ form_row(form.deliveryCity, { label: 'City'|trans }) }}
                            {{ form_row(form.deliveryPostcode, { label: 'Postcode'|trans }) }}

                            {% if getDomain().locale is same as ('de') %}
                                {{ form_row(form.deliveryCountry, { label: 'Country'|trans }) }}
                                <a href="{{ url('front_order_index') }}">{{ 'Změnit'|trans }}</a>
                            {% else %}
                                {% do form.deliveryCountry.setRendered %}
                            {% endif %}
                        </div>
                    {% endif %}
                </fieldset>

                <div class="box-order__title">
                    <h2 class="box-order__title__text double-lined">
                        {{ 'Company data'|trans }} <span class="heading-addition">{{ '(If I buy on the company behalf)'|trans }}</span>
                    </h2>
                </div>
                <fieldset>
                    {{ form_widget(form.companyCustomer, {
                        attr: { class: 'css-checkbox js-checkbox-toggle', 'data-checkbox-toggle-container-id': 'js-company-fields' }})
                    }}
                    <label for="{{ form.companyCustomer.vars.id }}" class="css-label-checkbox">
                        {{ 'I buy on company behalf'|trans }}
                    </label>
                    <div id="js-company-fields" class="margin-top-20">
                        {{ form_row(form.companyName, { label: 'Company name'|trans }) }}
                        {{ form_row(form.companyNumber, { label: 'Company number'|trans }) }}
                        {{ form_row(form.companyTaxNumber, { label: 'Tax number'|trans }) }}
                    </div>
                </fieldset>

                <div class="box-order__title">
                    <h2 class="box-order__title__text double-lined">
                        {{ 'Billing data'|trans }} <span class="heading-addition">{{ '(Tato adresa bude na daňovém dokladu. Pokud nebude vyplněna, použije se doručovací adresa.)'|trans }}</span>
                    </h2>
                </div>
                <fieldset>
                    {{ form_widget(form.billingAddressFilled, {
                        attr: { class: 'css-checkbox js-checkbox-toggle', 'data-checkbox-toggle-container-id': 'js-billing-address-fields' }})
                    }}
                    <label for="{{ form.billingAddressFilled.vars.id }}" class="css-label-checkbox">
                        {{ 'Vyplním fakturační údaje'|trans }}
                    </label>

                    <br><br>

                    <div id="js-billing-address-fields">
                        {{ form_row(form.firstName, { label: 'First name'|trans }) }}
                        {{ form_row(form.lastName, { label: 'Last name'|trans }) }}
                        {{ form_row(form.telephone, { label: 'Telephone'|trans }) }}
                        {{ form_row(form.street, { label: 'Street'|trans }) }}
                        {{ form_row(form.city, { label: 'City'|trans }) }}
                        {{ form_row(form.postcode, { label: 'Postcode'|trans }) }}
                        {{ form_row(form.country, { label: 'Country'|trans }) }}
                    </div>
                </fieldset>

                <div class="box-order__title">
                    <h2 class="box-order__title__text double-lined">
                        {{ 'Note'|trans }}
                    </h2>
                </div>
                <fieldset>
                    {{ form_row(form.note, { label: 'Contact us'|trans }) }}
                </fieldset>

                {% if termsAndConditionsArticle is not null %}
                    <div class="box-order__title">
                        <h2 class="box-order__title__text double-lined">
                            {{ 'Terms and conditions'|trans }}
                        </h2>
                    </div>
                    <div class="box-condition">
                        <div class="box-condition__in">
                            <iframe name="js-terms-and-conditions-frame" width="100%" src="{{ url('front_order_terms_and_conditions') }}"></iframe>
                        </div>
                        <div class="box-condition__control">
                            <button id="js-terms-and-conditions-print" class="btn btn--small" type="button">{{ 'Print'|trans }}</button>
                            <a href="{{ url('front_order_terms_and_conditions_download') }}" class="btn btn--small">{{ 'Download'|trans }}</a>
                        </div>
                    </div>
                {% endif %}
                <fieldset>
                    <div class="form-line">

                        {{ form_widget(form.legalConditionsAgreement, { attr: { class: 'css-checkbox' }}) }}
                        <label for="{{ form.legalConditionsAgreement.vars.id }}" class="css-label-checkbox">
                            {% if privacyPolicyArticle is not null and termsAndConditionsArticle is not null %}
                                {% set privacyPolicyUrl = url('front_article_detail', {'id': privacyPolicyArticle.id}) %}
                                {% set termsAndConditionsUrl = url('front_article_detail', {'id': termsAndConditionsArticle.id}) %}
                                {{ 'I agree with <a href="%termsAndConditionsUrl%" target="_blank">terms and conditions</a> and <a href="%privacyPolicyUrl%" target="_blank">privacy policy</a>.'|trans({'%privacyPolicyUrl%': privacyPolicyUrl, '%termsAndConditionsUrl%': termsAndConditionsUrl})|raw }}
                            {% elseif privacyPolicyArticle is not null %}
                                {% set privacyPolicyUrl = url('front_article_detail', {'id': privacyPolicyArticle.id}) %}
                                {{ 'I agree with terms and conditions and <a href="%privacyPolicyUrl%" target="_blank">privacy policy</a>.'|trans({'%privacyPolicyUrl%': privacyPolicyUrl })|raw }}
                            {% elseif termsAndConditionsArticle is not null %}
                                {% set termsAndConditionsUrl = url('front_article_detail', {'id': termsAndConditionsArticle.id}) %}
                                {{ 'I agree with <a href="%termsAndConditionsUrl%" target="_blank">terms and conditions</a> and privacy policy.'|trans({'%termsAndConditionsUrl%': termsAndConditionsUrl })|raw }}
                            {% else %}
                                {{ 'I agree with terms and conditions and privacy policy.'|trans }}
                            {% endif %}
                        </label>
                        <span class="js-validation-errors-list js-validation-error-list-{{ form.legalConditionsAgreement.vars.id }} form-error form-error--choice display-none">
                            <span class="form-error__icon">
                                <i class="svg svg-warning"></i>
                            </span>
                            <ul class="form-error__list"></ul>
                        </span>
                    </div>
                    {{ form_row(form.newsletterSubscription, { label: 'I want to subscribe to the newsletter'|trans }) }}
                    {% if form.disallowHeurekaVerifiedByCustomers is defined %}
                        {{ form_row(form.disallowHeurekaVerifiedByCustomers, { label: 'I do not agree with sending a Customer Verified satisfaction questionnaire that helps improve your service'|trans }) }}
                    {% endif %}
                </fieldset>
            </div>
            <div id="js-order-preview" class="box-order__cart" data-url="{{ url('front_order_preview') }}">
                {{ render(controller('ShopsysShopBundle:Front/Order:preview', {
                    transportId: transport is empty ? null : transport.id,
                    paymentId: payment is empty ? null : payment.id,
                    orderStep: '3',
                    formSubmit: form.save
                })) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
