<div class="box-promo-image {{ cssClass }}">
    <img src="{{ asset('assets/frontend/images/homepage_ideo_bann_1.jpg') }}" alt="{{ 'Vážím si všech 80 000 bushmanů'|trans }}">
    <div class="box-promo-image__title double-lined-hard">
        <span class="box-promo-image__title__text">
            {{ 'Vážím si všech'|trans }} 80&nbsp;000 {{ 'bushmanů'|trans }}
        </span>
    </div>
    <div class="box-promo-image__content">
        <div class="box-promo-image__content__description">
            {{ '„Když jsem zakládal projekt BUSHMAN, chtěl jsem'|trans }}<br>
            {{ 'vytvořit něco obyčejně přirozeného, a přitom pořádného.'|trans }}<br>
            {{ 'Pro lidi s životním názorem, který nás spojuje.“'|trans }}<br>
            {{ 'Jindřich Melichar'|trans }}<br>
        </div>
        <div class="box-promo-image__content__button">
            {% if bushmanClubArticle is not null %}
                <a href="{{ url('front_article_detail', { id: bushmanClubArticle.id }) }}" class="btn btn--secondary">{{ 'Do Bushman Clubu'|trans }}</a>
            {% endif %}
        </div>
    </div>
</div>
