<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div style="font-family: 'Kanit'; width:633px;">
        <div style="float:left; width:50%; padding-right:45px;">
            <div style="text-align: right; margin-bottom: 110px;">
                <img style="display: inline-block;" src="./public/frontend/images/logo.png" alt="{{ 'Logo'|trans }}">
            </div>
            <div style="flaot:right; width: 270px; display: inline-block;">
                <img style="width: 100%" src="./public/frontend/images/fishes-big.svg" alt="{{ 'Fishes'|trans }}">
            </div>
        </div>
        <div style="float:left; width:50%; padding-left:45px; border-left:2px solid #0077b3;">
            <p style="font-size:27px; line-height:16px; font-weight:700; text-transform:uppercase; margin-top:0px; margin-bottom:25px;{% if greyscale is same as(false) %}color:#0077b3;{% else %}color:#000;{% endif %}">
                {{ 'Dárkový<br> poukaz<br> v hodnotě'|trans|raw }}
            </p>
            <p style="font-size:66px; line-height:40px; font-weight:700; margin-bottom:25px;{% if greyscale is same as(false) %}color:#0077b3;{% else %}color:#000;{% endif %}">
                {{ giftCertificateValue|priceWithCurrency(giftCertificateCurrency) }}
            </p>
            <div style="height: 70px;">
                <p style="margin:0px; padding:0px; font-size:14px; line-height:14px;{% if greyscale is same as(false) %}color:#0077b3;{% else %}color:#000;{% endif %}">
                    {{ giftCertificateCode }}
                </p>
                {% if giftCertificateValidTo is not empty %}
                    <p style="margin:0px; padding:0px; font-size:12px; line-height:12px;{% if greyscale is same as(false) %}color:#0077b3;{% else %}color:#000;{% endif %}">
                        {{ 'Platný do:'|trans }} <strong>{{ giftCertificateValidTo|formatDateTime }}</strong>
                    </p>            
                {% endif %}
            </div>
            <p style="margin:0px; padding:0px; font-size:10px; line-height:10px;{% if greyscale is same as(false) %}color:#0077b3;{% else %}color:#000;{% endif %}">
                {{ 'Kód vložte v pokladně při dokočení objednávky.'|trans }}
            </p>
            <p style="margin:0px; padding:0px; font-size:10px; line-height:10px;{% if greyscale is same as(false) %}color:#0077b3;{% else %}color:#000;{% endif %}">
                {{ 'Platnost poukazu je 12 měsíců od zakoupení.'|trans }}
            </p>
            <p style="margin:0px; padding:0px; font-size:10px; line-height:10px;{% if greyscale is same as(false) %}color:#0077b3;{% else %}color:#000;{% endif %}">
                {{ 'TROPIC LIBEREC s.r.o., Vyhlídková 655, Liberec 25, IČO: <strong>25415981</strong>'|trans|raw }}
            </p>
            <a style="display:block; margin:0px 0px 10px 0px; padding:0px; font-size:10px; line-height:10px;{% if greyscale is same as(false) %}color:#0077b3;{% else %}color:#000;{% endif %}" href="http://www.tropicfishing.cz/">
                <strong>{{ 'http://www.tropicfishing.cz/'|trans }}</strong>
            </a>
        </div>
    </div>
</body>
</html>
