<div class="web__line">
    <div class="web__container web__container--no-padding">
        <div class="list-grid-images">
            <ul class="list-grid-images__portrait">
                {% if fourthRectangle is not null %}
                    <li class="list-grid-images__portrait__item">
                        <a href="{{ fourthRectangle.link }}" class="list-grid-images__portrait__link">
                            {{ image(fourthRectangle, {size: 'rectangle', alt: fourthRectangle.name}) }}
                            {{ image(fourthRectangle, {type: 'mobile', alt: fourthRectangle.name}) }}
                        </a>
                    </li>
                {% endif %}
            </ul>
            <ul class="list-grid-images__landscape">
                {% if firstSquare is not null %}
                    <li class="list-grid-images__landscape__item">
                        <a href="{{ firstSquare.link }}" class="list-grid-images__landscape__link">
                            {{ image(firstSquare, {size: 'square', alt: firstSquare.name}) }}
                        </a>
                    </li>
                {% endif %}
                {% if secondSquare is not null %}
                    <li class="list-grid-images__landscape__item">
                        <a href="{{ secondSquare.link }}" class="list-grid-images__landscape__link">
                            {{ image(secondSquare, {size: 'square', alt: secondSquare.name}) }}
                        </a>
                    </li>
                {% endif %}
                {% if thirdSquare is not null %}
                    <li class="list-grid-images__landscape__item">
                        <a href="{{ thirdSquare.link }}" class="list-grid-images__landscape__link">
                            {{ image(thirdSquare, {size: 'square', alt: thirdSquare.name}) }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
