<div class="box-reviews">
    <div class="box-reviews__top">
        <h3 class="box-reviews__title">
            {{ 'Hodnocení našich zákazníků'|trans }}
        </h3>
        <a class="box-reviews__subtitle" href="https://obchody.heureka.cz/tropicliberec-cz/recenze/">
            {{ 'Další hodnocení zákazníků'|trans }}
        </a>
    </div>
    <div class="box-reviews__heureka">
        {% for review in reviews %}
            {% set ratingValue = (review.totalRating / 0.5) * 10 %}
            <div class="box-reviews__heureka__item">
                <div class="box-reviews__heureka__rating">
                    <p class="box-reviews__heureka__rating__value">{{ ratingValue }}%</p>
                    <div class="in-rating">
                        <ul class="in-rating__list in-rating__list--full">
                            <li class="in-rating__list__item">
                                <i class="svg svg-star"></i>
                            </li>
                            <li class="in-rating__list__item">
                                <i class="svg svg-star"></i>
                            </li>
                            <li class="in-rating__list__item">
                                <i class="svg svg-star"></i>
                            </li>
                            <li class="in-rating__list__item">
                                <i class="svg svg-star"></i>
                            </li>
                            <li class="in-rating__list__item">
                                <i class="svg svg-star"></i>
                            </li>
                        </ul>
                        <ul class="in-rating__list in-rating__list--value" style="width: {{ ratingValue }}%">
                            <li class="in-rating__list__item">
                                <i class="svg svg-star"></i>
                            </li>
                            <li class="in-rating__list__item">
                                <i class="svg svg-star"></i>
                            </li>
                            <li class="in-rating__list__item">
                                <i class="svg svg-star"></i>
                            </li>
                            <li class="in-rating__list__item">
                                <i class="svg svg-star"></i>
                            </li>
                            <li class="in-rating__list__item">
                                <i class="svg svg-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="box-reviews__heureka__content">
                    <div class="box-reviews__heureka__content__top">
                        {% if review.name is empty %}
                            {{ 'Ověřený zákazník'|trans }}
                        {% else %}
                            {{ review.name|raw }}
                        {% endif %} {{ review.addedAt|formatDate }}
                    </div>
                    <div class="review__content__bottom">
                        {% if review.summary %}
                            {{ review.summary|raw }}
                        {% endif %}
                        {% if review.pros %}
                            <i class="svg svg-plus"></i> {{ review.pros|raw }}
                        {% endif %}
                        {% if review.cons %}
                            <i class="svg svg-minus"></i> {{ review.cons|raw }}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>