<div class="box-reviews">
    <h3 class="box-reviews__title">
        {{ 'Hodnocení našich zákazníků'|trans }}
        <a href="https://obchody.heureka.cz/tropicliberec-cz/recenze/">
            {{ 'Další hodnocení zákazníků'|trans }}
        </a>
    </h3>
    <div class="box-reviews__heureka">
        {% for review in reviews %}
            {% set ratingValue = (review.totalRating / 0.5) * 10 %}
            <div class="box-reviews__heureka__item">
                <div class="box-reviews__heureka__rating">
                    <div class="box-reviews__heureka__rating__value">
                        {{ ratingValue }}%
                    {% for star in range(1, review.totalRating|round) %}
                        <i class="svg svg-star"></i>
                    {% endfor %}
                    </div>
                </div>
                <div class="box-reviews__heureka__content">
                    <div class="box-reviews__heureka__content__top">
                        {% if review.name is empty %}
                            {{ 'Ověřený zákazník'|trans }}
                        {% else %}
                            {{ review.name|raw }}
                        {% endif %} {{ review.addedAt|formatDate }}
                    </div>
                    <div class="review__content__bottom">
                        {% if review.summary %}
                            {{ review.summary|raw }}
                        {% endif %}
                        {% if review.pros %}
                            <i class="svg svg-plus"></i> {{ review.pros|raw }}
                        {% endif %}
                        {% if review.cons %}
                            <i class="svg svg-minus"></i> {{ review.cons|raw }}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>