<div class="search__autocomplete">
    <div class="search-hint" id="js-search-autocomplete-list">
        <div class="search-hint__left">
            <div class="search-hint__title">
                {{ 'Kategorie'|trans }} ({{ categoriesPaginationResult.totalCount }})
            </div>
            <ul class="search-hint__category">
                {% for category in categoriesPaginationResult.results %}
                    <li class="search-hint__category__item">
                        <a href="{{ url('front_product_list', { id: category.id }) }}" class="search-hint__category__link">
                            <span class="search-hint__category__image">
                                <i class="svg svg-folder"></i>
                            </span>
                            <span class="search-hint__category__name js-search-autocomplete-item-label">{{ category.name }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="search-hint__right">
            <div class="search-hint__title">
                {{ 'Produkty'|trans }} ({{ productsPaginationResult.totalCount }})
            </div>
            <ul class="search-hint__product">
                {% for product in productsPaginationResult.results %}
                    <li class="search-hint__product__item">
                        <a href="{{ url('front_product_detail', { id: product.id }) }}" class="search-hint__product__item__link">
                            <span class="search-hint__product__item__image">
                                <img src="{{ imageUrl(product, 'thumbnail') }}" title="{{ product.name }}" width="30" />
                            </span>
                            <span class="search-hint__product__item__name js-search-autocomplete-item-label">
                                {{ product.name }}
                                {% if not product.calculatedSellingDenied %}
                                    <span class="search-hint__product__item__price">
                                        {% set sellingPrice = getProductSellingPrice(product) %}
                                        {{ sellingPrice.priceWithVat|price }}
                                        {% if sellingPrice.isActionPrice %}
                                            <span class="search-hint__product__item__price search-hint__product__item__price--old">
                                                {{ sellingPrice.defaultProductPrice.priceWithVat|price }}
                                            </span>
                                        {% endif %}
                                    </span>
                                {% endif %}
                            </span>
                        </a>
                    </li>
                {% else %}
                    <li class="search-hint__product__item">
                        {{ 'Vyhledávání neodpovídá žádný produkt'|trans }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="search-hint__bottom">
        {% if categoriesPaginationResult.totalCount > 0 or productsPaginationResult.totalCount > 0 %}
            <a href="{{ searchUrl }}" class="btn btn--secondary search-hint__bottom__button">
                {{ 'Zobrazit všechny výsledky'|trans }}
            </a>
        {% endif %}
    </div>
</div>
