<div class="search" id="js-search-autocomplete">
    <form action="{{ url('front_product_search') }}" method="get">
        <div class="search__form">
            <div class="search__form__input">
                <input
                    type="text"
                    name="{{ SEARCH_TEXT_PARAMETER }}"
                    value="{{ searchText|escape('html_attr') }}"
                    placeholder="{{ 'Najděte si něco na sebe…'|trans }}"
                    class="input search__input"
                    id="js-search-autocomplete-input"
                    autocomplete="off"
                    data-autocomplete-url="{{ url('front_search_autocomplete') }}"
                />
            </div>
            <div class="search__form__submit">
                <button class="search__form__submit__button btn-no-style" type="submit">
                    <i class="svg svg-search"></i>
                </button>
            </div>
        </div>
        <div id="js-search-autocomplete-results"></div>
    </form>
</div>
