<div class="search" id="js-search-autocomplete">
    <form action="{{ url('front_product_search') }}" method="get">
        <div class="search__form">
            <div class="search__form__input">
                <input
                    type="text"
                    name="{{ SEARCH_TEXT_PARAMETER }}"
                    value="{{ searchText|escape('html_attr') }}"
                    placeholder="{{ 'Searching'|trans }}"
                    class="input search__input"
                    id="js-search-autocomplete-input"
                    autocomplete="off"
                    data-autocomplete-url="{{ url('front_search_autocomplete') }}"
                />
            </div>
            {% if renderButton %}
                <div class="box-search__button">
                    <input type="submit" name="" class="btn btn--success" value="{{ 'Hledat znovu'|trans }}" >
                </div>
            {% endif %}
        </div>
        <div id="js-search-autocomplete-results"></div>
    </form>
</div>
