{% extends '@ShopsysShop/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block title %}
    {{ 'Kontakt'|trans }}
{% endblock %}

{% block main_content %}
    <div class="web__line">
        <div class="web__container">
            <h1 class="in-title in-title--big in-title--center">
                {{ store.name }}
            </h1>
            <div class="box-contact">
                <div class="box-contact__left">
                    <div class="box-contact__block">
                        {% if store.telephone is not null %}
                            <a href="tel:{{ store.telephone }}" class="box-contact__block__text">
                                <i class="svg svg-phone"></i>
                                {{ 'Volejte na '|trans }} {{ store.telephone }}
                            </a>
                        {% endif %}
                        <div class="box-contact__block__info">
                            {{ store.openingHours }}
                        </div>
                    </div>
                    <div class="box-contact__block box-contact__block--no-bottom-gap">
                        <div class="box-contact__block__text">
                            <i class="svg svg-mail"></i>
                            <a class="box-contact__block__text__link" href="mailto:{{ store.email }}">{{ store.email }}</a>
                        </div>
                        <div class="box-contact__block__info">
                            {{ 'V pracovní dny odpovídáme většinou do 2 hodin'|trans }}
                        </div>
                    </div>
                </div>
                <div class="box-contact__right">
                    <div class="box-contact__right__title">
                        {{ 'Jaké služby najdete'|trans }}<br>
                        {{ 'na prodejně?'|trans }}
                    </div>
                    {% include '@ShopsysShop/Front/Inline/Common/servicesArticlesList.html.twig' with { bushmanClubArticle: bushmanClubArticle } %}
                </div>
            </div>
            <div class="wrap-article">
                <div class="wrap-article__row">
                    <div class="wrap-article__row__half">
                        {{ image(store) }}
                    </div>
                    <div class="wrap-article__row__half">
                        <iframe src="{{ store.googleMapsLink }}" width="100%" height="378" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
