{% extends '@ShopsysShop/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block title %}
    {{ 'Kontakt'|trans }}
{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block main_content %}
    <div class="web__line">
        <div class="web__container web__container--big-padding">
            <h1 class="in-title in-title--big in-title--center">
                {{ 'Prodejny'|trans }}
            </h1>
            <ul class="list-stores">
                <li class="list-stores__item js-not-implemented-yet">
                    <a href="/stores/detail" class="list-stores__item__in">
                        <div class="list-stores__item__image">
                            <img src="https://placeimg.com/520/245/any">
                        </div>
                        <div class="list-stores__item__info">
                            <div class="list-stores__item__info__name">
                                {{ 'Brno Futurum'|trans}}

                                <span class="list-stores__item__info__name__additional">
                                    {{ 'OC futurum'|trans }}
                                </span>
                            </div>
                            <div class="list-stores__item__info__open-hours">
                                {{ 'Po-Ne 10.00-20.00'|trans }}
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-stores__item js-not-implemented-yet">
                    <a href="/stores/detail" class="list-stores__item__in">
                        <div class="list-stores__item__image">
                            <img src="https://placeimg.com/520/245/any">
                        </div>
                        <div class="list-stores__item__info">
                            <div class="list-stores__item__info__name">
                                {{ 'Brno Futurum'|trans}}

                                <span class="list-stores__item__info__name__additional">
                                    {{ 'OC futurum'|trans }}
                                </span>
                            </div>
                            <div class="list-stores__item__info__open-hours">
                                {{ 'Po-Ne 10.00-20.00'|trans }}
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-stores__item js-not-implemented-yet">
                    <a href="/stores/detail" class="list-stores__item__in">
                        <div class="list-stores__item__image">
                            <img src="https://placeimg.com/520/245/any">
                        </div>
                        <div class="list-stores__item__info">
                            <div class="list-stores__item__info__name">
                                {{ 'Brno Futurum'|trans}}

                                <span class="list-stores__item__info__name__additional">
                                    {{ 'OC futurum'|trans }}
                                </span>
                            </div>
                            <div class="list-stores__item__info__open-hours">
                                {{ 'Po-Ne 10.00-20.00'|trans }}
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-stores__item js-not-implemented-yet">
                    <a href="/stores/detail" class="list-stores__item__in">
                        <div class="list-stores__item__image">
                            <img src="https://placeimg.com/520/245/any">
                        </div>
                        <div class="list-stores__item__info">
                            <div class="list-stores__item__info__name">
                                {{ 'Brno Futurum'|trans}}

                                <span class="list-stores__item__info__name__additional">
                                    {{ 'OC futurum'|trans }}
                                </span>
                            </div>
                            <div class="list-stores__item__info__open-hours">
                                {{ 'Po-Ne 10.00-20.00'|trans }}
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-stores__item js-not-implemented-yet">
                    <a href="/stores/detail" class="list-stores__item__in">
                        <div class="list-stores__item__image">
                            <img src="https://placeimg.com/520/245/any">
                        </div>
                        <div class="list-stores__item__info">
                            <div class="list-stores__item__info__name">
                                {{ 'Brno Futurum'|trans}}

                                <span class="list-stores__item__info__name__additional">
                                    {{ 'OC futurum'|trans }}
                                </span>
                            </div>
                            <div class="list-stores__item__info__open-hours">
                                {{ 'Po-Ne 10.00-20.00'|trans }}
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-stores__item js-not-implemented-yet">
                    <a href="/stores/detail" class="list-stores__item__in">
                        <div class="list-stores__item__image">
                            <img src="https://placeimg.com/520/245/any">
                        </div>
                        <div class="list-stores__item__info">
                            <div class="list-stores__item__info__name">
                                {{ 'Brno Futurum'|trans}}

                                <span class="list-stores__item__info__name__additional">
                                    {{ 'OC futurum'|trans }}
                                </span>
                            </div>
                            <div class="list-stores__item__info__open-hours">
                                {{ 'Po-Ne 10.00-20.00'|trans }}
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-stores__item js-not-implemented-yet">
                    <a href="/stores/detail" class="list-stores__item__in">
                        <div class="list-stores__item__image">
                            <img src="https://placeimg.com/520/245/any">
                        </div>
                        <div class="list-stores__item__info">
                            <div class="list-stores__item__info__name">
                                {{ 'Brno Futurum'|trans}}

                                <span class="list-stores__item__info__name__additional">
                                    {{ 'OC futurum'|trans }}
                                </span>
                            </div>
                            <div class="list-stores__item__info__open-hours">
                                {{ 'Po-Ne 10.00-20.00'|trans }}
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-stores__item js-not-implemented-yet">
                    <a href="/stores/detail" class="list-stores__item__in">
                        <div class="list-stores__item__image">
                            <img src="https://placeimg.com/520/245/any">
                        </div>
                        <div class="list-stores__item__info">
                            <div class="list-stores__item__info__name">
                                {{ 'Brno Futurum'|trans}}

                                <span class="list-stores__item__info__name__additional">
                                    {{ 'OC futurum'|trans }}
                                </span>
                            </div>
                            <div class="list-stores__item__info__open-hours">
                                {{ 'Po-Ne 10.00-20.00'|trans }}
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-stores__item js-not-implemented-yet">
                    <a href="/stores/detail" class="list-stores__item__in">
                        <div class="list-stores__item__image">
                            <img src="https://placeimg.com/520/245/any">
                        </div>
                        <div class="list-stores__item__info">
                            <div class="list-stores__item__info__name">
                                {{ 'Brno Futurum'|trans}}

                                <span class="list-stores__item__info__name__additional">
                                    {{ 'OC futurum'|trans }}
                                </span>
                            </div>
                            <div class="list-stores__item__info__open-hours">
                                {{ 'Po-Ne 10.00-20.00'|trans }}
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
