{% extends '@ShopsysShop/Front/Layout/layoutWithoutPanel.html.twig' %}
{% import '@ShopsysShop/Front/Content/Product/productListMacro.html.twig' as productList %}

{% block breadcrumb %}
{% endblock %}

{% block meta_description %}
    {{- metaDescription -}}
{% endblock %}

{% block title %}
    {{- title -}}
{% endblock %}

{% block logo %}
    <h1 class="logo">
        <img src="{{ asset('assets/frontend/images/logo.png') }}" alt="{{ 'Online shop'|trans }}">
    </h1>
{% endblock %}

{% block main_content %}

    <div class="web__line">
        <div class="web__container web__container--big-padding">
            <div class="list-grid-images">
                <ul class="list-grid-images__landscape">
                    <li class="list-grid-images__landscape__item">
                        <a href="#" class="list-grid-images__landscape__link js-not-implemented-yet">
                            <img src="https://placeimg.com/397/306/any/grayscale" alt="Pro pořádné chlapy">
                            <div class="list-grid-images__button">
                                 <span class="btn btn--secondary">{{ 'Pro pořádné chlapy'|trans }}</span>
                            </div>
                        </a>
                    </li>
                    <li class="list-grid-images__landscape__item">
                        <a href="#" class="list-grid-images__landscape__link js-not-implemented-yet">
                            <img src="https://placeimg.com/397/306/any/grayscale" alt="Pro pořádné chlapy">
                            <div class="list-grid-images__button">
                                 <span class="btn btn--secondary">{{ 'Kempování'|trans }}</span>
                            </div>
                        </a>
                    </li>
                    <li class="list-grid-images__landscape__item">
                        <a href="#" class="list-grid-images__landscape__link js-not-implemented-yet">
                            <img src="https://placeimg.com/397/306/any/grayscale" alt="Pro pořádné chlapy">
                            <div class="list-grid-images__button">
                                 <span class="btn btn--secondary">{{ 'Hvězda zahradnictví'|trans }}</span>
                            </div>
                        </a>
                    </li>
                    <li class="list-grid-images__landscape__item">
                        <a href="#" class="list-grid-images__landscape__link js-not-implemented-yet">
                            <img src="https://placeimg.com/397/306/any/grayscale" alt="Pro pořádné chlapy">
                            <div class="list-grid-images__button">
                                 <span class="btn btn--secondary">{{ 'Pro pořádné chlapy'|trans }}</span>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="list-grid-images__portrait">
                    <li class="list-grid-images__portrait__item">
                        <a href="#" class="list-grid-images__portrait__link js-not-implemented-yet">
                            <img src="https://placeimg.com/393/626/any/grayscale" alt="Pro pořádné chlapy">
                            <div class="list-grid-images__button">
                                 <span class="btn btn--secondary">{{ 'Šití na míru'|trans }}</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="web__line">
        <div class="web__container web__container--big-padding">
            {% include '@ShopsysShop/Front/Content/Benefits/list.html.twig' %}
        </div>
    </div>

    <div class="web__line">
        <div class="web__container">
            <div class="box-special-offer js-not-implemented-yet">
                <div class="box-special-offer__colored">
                    <span class="box-special-offer__colored__title-small">
                        {{ 'Legendární kapsáče jsou zpět'|trans }}
                    </span>

                    <span class="box-special-offer__colored__title">
                        {{ 'Silnější než kdy předtím...'|trans }}
                    </span>
                    <a href="#" class="box-special-offer__colored__button btn js-not-implemented-yet">{{ 'Prohlédnout'|trans }}</a>
                </div>
                <div class="box-special-offer__grayscale">
                    <img class="box-special-offer__grayscale__image js-not-implemented-yet" src="{{ asset('assets/frontend/images/design/special-offer.png') }}" alt="{{ 'Special offer'|trans }}">

                    <div class="box-special-offer__grayscale__title">
                        <span class="box-special-offer__grayscale__title__text double-lined">
                            {{ 'Jindra má na sobě'|trans }}
                        </span>
                    </div>
                    <ul class="box-special-offer__products">
                        <li class="box-special-offer__products__item js-not-implemented-yet">
                            <div class="box-special-offer__products__item__image">
                                <img src="https://placeimg.com/101/101/any" alt="Product name">
                            </div>
                            <div class="box-special-offer__products__item__content">
                                <a class="box-special-offer__products__item__content__title" href="#" title="Product name">Košile Indiana</a>
                                <span class="box-special-offer__products__item__content__price"> 1699 Kč
                                    <span class="box-special-offer__products__item__content__price__old">3099 Kč</span>
                                </span>
                                <span class="box-special-offer__products__item__content__size"> {{ 'Vaše velikost'|trans }} <span class="in-badge in-badge--outline">M</span> {{ 'skladem'|trans }} </span>
                            </div>
                        </li>
                        <li class="box-special-offer__products__item js-not-implemented-yet">
                            <div class="box-special-offer__products__item__image">
                                <img src="https://placeimg.com/101/101/any" alt="Product name">
                            </div>
                            <div class="box-special-offer__products__item__content">
                                <a class="box-special-offer__products__item__content__title" href="#" title="Product name">Košile Indiana</a>
                                <span class="box-special-offer__products__item__content__price"> 1699 Kč
                                    <span class="box-special-offer__products__item__content__price__old">3099 Kč</span>
                                </span>
                                <span class="box-special-offer__products__item__content__size"> {{ 'Vaše velikost'|trans }} <span class="in-badge in-badge--outline">M</span> {{ 'skladem'|trans }} </span>
                            </div>
                        </li>
                        <li class="box-special-offer__products__item js-not-implemented-yet">
                            <div class="box-special-offer__products__item__image">
                                <img src="https://placeimg.com/101/101/any" alt="Product name">
                            </div>
                            <div class="box-special-offer__products__item__content">
                                <a class="box-special-offer__products__item__content__title" href="#" title="Product name">Košile Indiana</a>
                                <span class="box-special-offer__products__item__content__price"> 1699 Kč
                                    <span class="box-special-offer__products__item__content__price__old">3099 Kč</span>
                                </span>
                                <span class="box-special-offer__products__item__content__size"> {{ 'Vaše velikost'|trans }} <span class="in-badge in-badge--outline">M</span> {{ 'skladem'|trans }} </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% if topProducts is not empty %}
        <div class="web__line">
            <div class="web__container web__container--big-padding">
                <div id="top-products" class="box-top-products">
                    <div class="box-top-products__title">
                        {{ 'Bushmani mají nejraději'|trans }}
                    </div>
                    <ul class="box-top-products__tabs">
                        <li class="box-top-products__tabs__item js-not-implemented-yet">
                            <a href="#" class="box-top-products__tabs__item__link underline">
                                {{ 'Muži'|trans }}
                            </a>
                        </li>
                        <li class="box-top-products__tabs__item js-not-implemented-yet">
                            <a href="#" class="box-top-products__tabs__item__link underline">
                                {{ 'Ženy'|trans }}
                            </a>
                        </li>
                        <li class="box-top-products__tabs__item js-not-implemented-yet">
                            <a href="#" class="box-top-products__tabs__item__link underline">
                                {{ 'Děti'|trans }}
                            </a>
                        </li>
                        <li class="box-top-products__tabs__item js-not-implemented-yet">
                            <a href="#" class="box-top-products__tabs__item__link underline">
                                {{ 'Doplňky'|trans }}
                            </a>
                        </li>
                    </ul>
                    <div class="box-top-products__in">
                        {{ productList.horizontalList(topProducts, "list-top-products", 'h3', 'top-products') }}
                    </div>
                    <div class="box-top-products__bottom">
                        <a href="#" class="box-top-products__bottom__link underline js-not-implemented-yet">{{ 'Prozkoumat všechny legendární produkty'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="web__line">
        <div class="web__container">
            {% include '@ShopsysShop/Front/Inline/PromoImage/index.html.twig' with {cssClass: ''} only %}
                </div>
                </div>

    <div class="web__line">
        <div class="web__container web__container--big-padding">
            <ul class="list-article-main">
                <li class="list-article-main__item js-not-implemented-yet">
                    <div class="list-article-main__item__image">
                        <img src="https://placeimg.com/254/383/any/grayscale" alt="{{ 'Pomáháme'|trans }}">
                    </div>
                    <div class="list-article-main__item__content">
                        <div class="list-article-main__item__content__title">
                            {{ 'Pomáháme'|trans }}
                        </div>
                        <div class="list-article-main__item__content__text">
                            {{ 'V rámci kampaně Water for Afrika pro UNICEF jsme přišpěli na vyčištění téměř 10 000 000 litrů vody!'|trans }}
                        </div>
                        <div class="list-article-main__item__content__bottom">
                            <a class="list-article-main__item__content__bottom__button btn" href="#" class="btn">{{ 'Pomáhejte s námi'|trans }}</a>
                        </div>
                    </div>
                </li>
                <li class="list-article-main__item js-not-implemented-yet">
                    <div class="list-article-main__item__image">
                        <img src="https://placeimg.com/254/383/any/grayscale" alt="{{ 'Pomáháme'|trans }}">
                    </div>
                    <div class="list-article-main__item__content">
                        <div class="list-article-main__item__content__title">
                            {{ 'Děkujeme Vám'|trans }}
                        </div>
                        <div class="list-article-main__item__content__text">
                            {{ 'Bushmanství nás spojuje, vaše příběhy a názory nás inspirují. I proto jsou prodejny spíše místem setkání než pouze nákupu.'|trans }}
                        </div>
                        <div class="list-article-main__item__content__bottom">
                            <a class="list-article-main__item__content__bottom__button btn" href="#" class="btn">{{ 'Poznejte nás'|trans }}</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="web__line">
        <div class="web__container web__container--big-padding">
            <div class="box-articles">
                <div class="box-articles__title-big">
                    {{ 'Načerpejte inspiraci'|trans }}
                </div>
                <div class="box-articles__title-small">
                    {{ 'Zážitky z cest si nenecháváme pro sebe'|trans }}
                </div>
                {% include '@ShopsysShop/Front/Content/Article/list.html.twig' with { blogArticles: homepageBlogArticles } %}
                <div class="box-articles__bottom">
                    <a href="{{ url('front_blogcategory_detail', { id: constant('Shopsys\\ShopBundle\\Model\\Blog\\Category\\BlogCategory::BLOG_MAIN_PAGE_CATEGORY_ID')}) }}" class="box-articles__bottom__link underline">{{ 'Přejít na výpis všech článků'|trans }}</a>
                </div>
            </div>
        </div>
    </div>

    {% block last_visited_products %}
        {{ render(controller('ShopsysShopBundle:Front/LastVisitedProducts:show')) }}
    {% endblock %}

    <div class="web__line">
        <div class="web__container web__container--big-padding">
            {% include '@ShopsysShop/Front/Content/References/list.html.twig' %}
        </div>
    </div>

    <div class="web__line">
        <div class="web__container">
            {% include '@ShopsysShop/Front/Content/ImagesLine/list.html.twig' %}
        </div>
            </div>

    <div class="web__line">
        <div class="web__container web__container--dark web__container--big-padding">
            {% include '@ShopsysShop/Front/Content/Motto/line.html.twig' %}
        </div>
    </div>

{% endblock %}
