{% extends '@ShopsysShop/Front/Layout/layoutWithoutPanel.html.twig' %}
{% import '@ShopsysShop/Front/Content/Product/productListMacro.html.twig' as productList %}

{% block breadcrumb %}
{% endblock %}

{% block meta_description %}
    {{- metaDescription -}}
{% endblock %}

{% block title %}
    {{- title -}}
{% endblock %}

{% block logo %}
    <h1 class="logo">
        <img src="{{ asset('assets/frontend/images/logo.png') }}" alt="{{ 'Online shop'|trans }}">
    </h1>
{% endblock %}

{% block main_content %}

    <div class="web__line">
        <div class="web__container web__container--big-padding">
            <div class="list-grid-images">
                <ul class="list-grid-images__landscape">
                    <li class="list-grid-images__landscape__item">
                        <a href="#" class="list-grid-images__landscape__link">
                            <img src="https://placeimg.com/640/408/any/grayscale" alt="Pro pořádné chlapy">
                            <div class="list-grid-images__button">
                                 <span class="btn btn--secondary">{{ 'Pro pořádné chlapy'|trans }}</span>
                            </div>
                        </a>
                    </li>
                    <li class="list-grid-images__landscape__item">
                        <a href="#" class="list-grid-images__landscape__link">
                            <img src="https://placeimg.com/640/408/any/grayscale" alt="Pro pořádné chlapy">
                            <div class="list-grid-images__button">
                                 <span class="btn btn--secondary">{{ 'Kempování'|trans }}</span>
                            </div>
                        </a>
                    </li>
                    <li class="list-grid-images__landscape__item">
                        <a href="#" class="list-grid-images__landscape__link">
                            <img src="https://placeimg.com/640/408/any/grayscale" alt="Pro pořádné chlapy">
                            <div class="list-grid-images__button">
                                 <span class="btn btn--secondary">{{ 'Hvězda zahradnictví'|trans }}</span>
                            </div>
                        </a>
                    </li>
                    <li class="list-grid-images__landscape__item">
                        <a href="#" class="list-grid-images__landscape__link">
                            <img src="https://placeimg.com/640/408/any/grayscale" alt="Pro pořádné chlapy">
                            <div class="list-grid-images__button">
                                 <span class="btn btn--secondary">{{ 'Pro pořádné chlapy'|trans }}</span>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="list-grid-images__portrait">
                    <li class="list-grid-images__portrait__item">
                        <a href="#" class="list-grid-images__portrait__link">
                            <img src="https://placeimg.com/393/500/any/grayscale" alt="Pro pořádné chlapy">
                            <div class="list-grid-images__button">
                                 <span class="btn btn--secondary">{{ 'Šití na míru'|trans }}</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {% if sliderItems is not empty %}
        <div class="box-slider">
            <div id="js-slider-homepage" class="box-slider__in">
                {% for item in sliderItems %}
                    <div class="box-slider__item">
                        <a href = "{{ item.link }}">{{ image(item) }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="web__line">
        <div class="web__container web__container--big-padding">
            <ul class="list-benefits">
                <li class="list-benefits__item">
                    <span class="list-benefits__item__icon">
                        <i class="svg svg-drops"></i>
                    </span>
                    <span class="list-benefits__item__text">
                        {{ 'Naši bundu budou nosit ještě vaše děti'|trans }}
                    </span>
                </li>
                <li class="list-benefits__item">
                    <span class="list-benefits__item__icon">
                        <i class="svg svg-box"></i>
                    </span>
                    <span class="list-benefits__item__text">
                        {{ 'Vše co nabízíme, máme skladem'|trans }}
                    </span>
                </li>
                <li class="list-benefits__item">
                    <span class="list-benefits__item__icon">
                        <i class="svg svg-hand"></i>
                    </span>
                    <span class="list-benefits__item__text">
                        {{ 'Neměň se, my se taky neměníme'|trans }}
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <div class="web__line">
        <div class="web__container">
            <div class="box-special-offer">
                <div class="box-special-offer__colored">
                    <span class="box-special-offer__colored__title-small">
                        {{ 'Legendární kapsáče jsou zpět'|trans }}
                    </span>

                    <span class="box-special-offer__colored__title">
                        {{ 'Silnější než kdy předtím...'|trans }}
                    </span>
                    <a href="#" class="box-special-offer__colored__button btn">{{ 'Prohlédnout'|trans }}</a>
                </div>
                <div class="box-special-offer__grayscale">
                    <img class="box-special-offer__grayscale__image" src="{{ asset('assets/frontend/images/design/special-offer.png') }}" alt="{{ 'Special offer'|trans }}">

                    <div class="box-special-offer__grayscale__title">
                        <span class="box-special-offer__grayscale__title__text double-lined">
                            {{ 'Jindra má na sobě'}}
                        </span>
                    </div>
                    <ul class="box-special-offer__products">
                        <li class="box-special-offer__products__item">
                            <div class="box-special-offer__products__item__image">
                                <img src="https://placeimg.com/101/101/any" alt="Product name">
                            </div>
                            <div class="box-special-offer__products__item__content">
                                <a class="box-special-offer__products__item__content__title" href="#" title="Product name">Košile Indiana</a>
                                <span class="box-special-offer__products__item__content__price"> 1699 Kč
                                    <span class="box-special-offer__products__item__content__price box-special-offer__products__item__content__price--old">3099 Kč</span>
                                </span>
                                <span class="box-special-offer__products__item__content__size"> {{ 'Vaše velikost'|trans }} <span class="in-badge in-bage--outline">M</span> {{ 'skladem'|trans }} </span>
                            </div>
                        </li>
                        <li class="box-special-offer__products__item">
                            <div class="box-special-offer__products__item__image">
                                <img src="https://placeimg.com/101/101/any" alt="Product name">
                            </div>
                            <div class="box-special-offer__products__item__content">
                                <a class="box-special-offer__products__item__content__title" href="#" title="Product name">Košile Indiana</a>
                                <span class="box-special-offer__products__item__content__price"> 1699 Kč
                                    <span class="box-special-offer__products__item__content__price box-special-offer__products__item__content__price--old">3099 Kč</span>
                                </span>
                                <span class="box-special-offer__products__item__content__size"> {{ 'Vaše velikost'|trans }} <span class="in-badge in-bage--outline">M</span> {{ 'skladem'|trans }} </span>
                            </div>
                        </li>
                        <li class="box-special-offer__products__item">
                            <div class="box-special-offer__products__item__image">
                                <img src="https://placeimg.com/101/101/any" alt="Product name">
                            </div>
                            <div class="box-special-offer__products__item__content">
                                <a class="box-special-offer__products__item__content__title" href="#" title="Product name">Košile Indiana</a>
                                <span class="box-special-offer__products__item__content__price"> 1699 Kč
                                    <span class="box-special-offer__products__item__content__price box-special-offer__products__item__content__price--old">3099 Kč</span>
                                </span>
                                <span class="box-special-offer__products__item__content__size"> {{ 'Vaše velikost'|trans }} <span class="in-badge in-bage--outline">M</span> {{ 'skladem'|trans }} </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {{ render(controller('ShopsysShopBundle:Front/Category:top')) }}

    {% if topProducts is not empty %}
        <div id="top-products">
            <h2>{{ 'Special offers'|trans }}</h2>
            {{ productList.list(topProducts, null, 'h3') }}
        </div>
    {% endif %}

    {% block last_visited_products %}
        {{ render(controller('ShopsysShopBundle:Front/LastVisitedProducts:show')) }}
    {% endblock %}


{% endblock %}
