{% extends '@ShopsysShop/Front/Layout/layoutWithoutPanel.html.twig' %}
{% import '@ShopsysShop/Front/Content/Product/productListMacro.html.twig' as productList %}

{% block breadcrumb %}
{% endblock %}

{% block meta_description %}
    {{- metaDescription -}}
{% endblock %}

{% block title %}
    {{- title -}}
{% endblock %}

{% block logo %}
    <h1 class="logo">
        <img src="{{ asset('assets/frontend/images/logo.png') }}" alt="{{ 'Online shop'|trans }}">
    </h1>
{% endblock %}

{% block main_content %}

    <div class="web__line">
        <div class="web__container web__container--big-padding">
            <div class="box-hp-images">
                <ul class="box-hp-images__landscape">
                    <li class="box-hp-images__landscape__item">
                        <a href="#" class="box-hp-images__landscape__link">
                            <img src="https://placeimg.com/640/408/any" alt="Pro pořádné chlapy">
                            <div class="box-hp-images__landscape__item__button">
                                 <span class="btn btn--secondary">{{ 'Pro pořádné chlapy'|trans }}</span>
                            </div>
                        </a>
                    </li>
                    <li class="box-hp-images__landscape__item">
                        <a href="#" class="box-hp-images__landscape__link">
                            <img src="https://placeimg.com/640/408/any" alt="Pro pořádné chlapy">
                            <div class="box-hp-images__landscape__item__button">
                                 <span class="btn btn--secondary">{{ 'Kempování'|trans }}</span>
                            </div>
                        </a>
                    </li>
                    <li class="box-hp-images__landscape__item">
                        <a href="#" class="box-hp-images__landscape__link">
                            <img src="https://placeimg.com/640/408/any" alt="Pro pořádné chlapy">
                            <div class="box-hp-images__landscape__item__button">
                                 <span class="btn btn--secondary">{{ 'Hvězda zahradnictví'|trans }}</span>
                            </div>
                        </a>
                    </li>
                    <li class="box-hp-images__landscape__item">
                        <a href="#" class="box-hp-images__landscape__link">
                            <img src="https://placeimg.com/640/408/any" alt="Pro pořádné chlapy">
                            <div class="box-hp-images__landscape__item__button">
                                 <span class="btn btn--secondary">{{ 'Pro pořádné chlapy'|trans }}</span>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="box-hp-images__portrait">
                    <li class="box-hp-images__portrait__item">
                        <a href="#" class="box-hp-images__portrait__link">
                            <img src="https://placeimg.com/393/500/any" alt="Pro pořádné chlapy">
                            <div class="box-hp-images__portrait__item__button">
                                 <span class="btn btn--secondary">{{ 'Pro pořádné chlapy'|trans }}</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {% if sliderItems is not empty %}
        <div class="box-slider">
            <div id="js-slider-homepage" class="box-slider__in">
                {% for item in sliderItems %}
                    <div class="box-slider__item">
                        <a href = "{{ item.link }}">{{ image(item) }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {{ render(controller('ShopsysShopBundle:Front/Category:top')) }}

    {% if topProducts is not empty %}
        <div id="top-products">
            <h2>{{ 'Special offers'|trans }}</h2>
            {{ productList.list(topProducts, null, 'h3') }}
        </div>
    {% endif %}

    {% block last_visited_products %}
        {{ render(controller('ShopsysShopBundle:Front/LastVisitedProducts:show')) }}
    {% endblock %}


{% endblock %}
