{% extends '@ShopsysShop/Front/Layout/layoutWithoutPanel.html.twig' %}
{% import '@ShopsysShop/Front/Content/Product/productListMacro.html.twig' as productList %}

{% block breadcrumb %}
{% endblock %}

{% block meta_description %}
    {{- metaDescription -}}
{% endblock %}

{% block title %}
    {{- title -}}
{% endblock %}

{% block logo %}
    <h1 class="logo">
        <img src="{{ asset('assets/frontend/images/logo.png') }}" alt="{{ 'Online shop'|trans }}">
    </h1>
{% endblock %}

{% block headerClass %}header--no-gap{% endblock %}

{% block main_content %}

    {{ render(controller('ShopsysShopBundle:Front/Advert:banner')) }}
    <div class="web__line">
        <div class="web__container web__container--big-padding">
            {% include '@ShopsysShop/Front/Content/Benefits/list.html.twig' %}
        </div>
    </div>
    {{ render(controller('ShopsysShopBundle:Front/Advert:bigBannerOnHomepage')) }}

    {% if topProducts is not empty %}
        <div class="web__line">
            <div class="web__container web__container--big-padding">
                <div id="top-products" class="box-top-products">
                    <div class="box-top-products__title">
                        {{ 'Bushmani mají nejraději'|trans }}
                    </div>
                    {# Design - temporary hidden #}
                    {% if 1==2 %}
                    <ul class="box-top-products__tabs">
                        <li class="box-top-products__tabs__item js-not-implemented-yet">
                            <a href="#" class="box-top-products__tabs__item__link underline">
                                {{ 'Muži'|trans }}
                            </a>
                        </li>
                        <li class="box-top-products__tabs__item js-not-implemented-yet">
                            <a href="#" class="box-top-products__tabs__item__link underline">
                                {{ 'Ženy'|trans }}
                            </a>
                        </li>
                        <li class="box-top-products__tabs__item js-not-implemented-yet">
                            <a href="#" class="box-top-products__tabs__item__link underline">
                                {{ 'Děti'|trans }}
                            </a>
                        </li>
                        <li class="box-top-products__tabs__item js-not-implemented-yet">
                            <a href="#" class="box-top-products__tabs__item__link underline">
                                {{ 'Doplňky'|trans }}
                            </a>
                        </li>
                    </ul>
                    {% endif %}
                    <div class="box-top-products__in">
                        {{ productList.horizontalList(topProducts, variantsIndexedByMainVariantId, "list-top-products", 'h3', 'top-products', 5) }}
                    </div>
                    <div class="box-top-products__bottom">
                        <a href="#" class="box-top-products__bottom__link underline js-not-implemented-yet">{{ 'Prozkoumat všechny legendární produkty'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="web__line">
        <div class="web__container">
            {% include '@ShopsysShop/Front/Inline/PromoImage/index.html.twig' with {cssClass: ''} only %}
        </div>
    </div>

    <div class="web__line">
        <div class="web__container web__container--big-padding">
            <ul class="list-article-main">
                <li class="list-article-main__item js-not-implemented-yet">
                    <div class="list-article-main__item__image">
                        <img class="js-lazy-load" src="{{ imagePlaceholder() }}" data-original="https://placeimg.com/254/383/any/grayscale" alt="{{ 'Pomáháme'|trans }}">
                    </div>
                    <div class="list-article-main__item__content">
                        <div class="list-article-main__item__content__title">
                            {{ 'Pomáháme'|trans }}
                        </div>
                        <div class="list-article-main__item__content__text">
                            {{ 'V rámci kampaně Water for Afrika pro UNICEF jsme přišpěli na vyčištění téměř 10 000 000 litrů vody!'|trans }}
                        </div>
                        <div class="list-article-main__item__content__bottom">
                            <a class="list-article-main__item__content__bottom__button btn" href="#" class="btn">{{ 'Pomáhejte s námi'|trans }}</a>
                        </div>
                    </div>
                </li>
                <li class="list-article-main__item js-not-implemented-yet">
                    <div class="list-article-main__item__image">
                        <img class="js-lazy-load" src="{{ imagePlaceholder() }}" data-original="https://placeimg.com/254/383/any/grayscale" alt="{{ 'Pomáháme'|trans }}">
                    </div>
                    <div class="list-article-main__item__content">
                        <div class="list-article-main__item__content__title">
                            {{ 'Děkujeme Vám'|trans }}
                        </div>
                        <div class="list-article-main__item__content__text">
                            {{ 'Bushmanství nás spojuje, vaše příběhy a názory nás inspirují. I proto jsou prodejny spíše místem setkání než pouze nákupu.'|trans }}
                        </div>
                        <div class="list-article-main__item__content__bottom">
                            <a class="list-article-main__item__content__bottom__button btn" href="#" class="btn">{{ 'Poznejte nás'|trans }}</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="web__line">
        <div class="web__container web__container--big-padding">
            <div class="box-articles">
                <div class="box-articles__title-big">
                    {{ 'Načerpejte inspiraci'|trans }}
                </div>
                <div class="box-articles__title-small">
                    {{ 'Zážitky z cest si nenecháváme pro sebe'|trans }}
                </div>
                {% include '@ShopsysShop/Front/Content/Article/list.html.twig' with { blogArticles: homepageBlogArticles } %}
                <div class="box-articles__bottom">
                    <a href="{{ url('front_blogcategory_detail', { id: constant('Shopsys\\ShopBundle\\Model\\Blog\\Category\\BlogCategory::BLOG_MAIN_PAGE_CATEGORY_ID')}) }}" class="box-articles__bottom__link underline">{{ 'Přejít na výpis všech článků'|trans }}</a>
                </div>
            </div>
        </div>
    </div>

    {% block last_visited_products %}
        {{ render(controller('ShopsysShopBundle:Front/LastVisitedProducts:show')) }}
    {% endblock %}

    <div class="web__line">
        <div class="web__container web__container--big-padding">
            {% include '@ShopsysShop/Front/Content/References/list.html.twig' %}
        </div>
    </div>

    <div class="web__line">
        <div class="web__container">
            {% cache getInstagramCacheId() {time: getInstagramCacheTime()} %}
                {{ instagramFeed() }}
            {% endcache %}
        </div>
    </div>

    <div class="web__line">
        <div class="web__container web__container--dark web__container--big-padding">
            {% include '@ShopsysShop/Front/Content/Motto/line.html.twig' %}
        </div>
    </div>

{% endblock %}
