{% extends '@ShopsysShop/Front/Layout/layoutWithoutPanel.html.twig' %}
{% import '@ShopsysShop/Front/Content/Product/productListMacro.html.twig' as productList %}

{% block breadcrumb %}
{% endblock %}

{% block meta_description %}
    {{- metaDescription -}}
{% endblock %}

{% block title %}
    {{- title -}}
{% endblock %}

{% block logo %}
    <h1 class="logo">
        <img src="{{ asset('assets/frontend/images/logo.png') }}" alt="{{ 'Online shop'|trans }}">
    </h1>
{% endblock %}

{% block main_content %}

    {{ render(controller('ShopsysShopBundle:Front/Advert:banner')) }}
    <div class="web__line">
        <div class="web__container">
            {% include '@ShopsysShop/Front/Content/Benefits/list.html.twig' %}
        </div>
    </div>

    {#  
        TODO HIDDEN: https://app.yodiz.com/plan/pages/board.vz?cid=10273#/app/tk-36543
        Big banner on homepage

        {{ render(controller('ShopsysShopBundle:Front/Advert:bigBannerOnHomepage')) }}
    
    #}

    {% if topProducts is not empty %}
        <div class="web__line">
            <div class="web__container">
                <div id="top-products" class="box-top-products">
                    <h1 class="box-top-products__title">
                        {{ 'Vybíráme to nejlepší na říjen'|trans }}
                    </h1>
                    <div class="box-top-products__in">
                        {{ productList.horizontalList(topProducts, variantsIndexedByMainVariantId, "list-top-products", 'h3', 'top-products') }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="web__line">
        <div class="web__container">
            <div class="box-articles">
                <h2 class="box-articles__title-big">
                    {{ 'Shopsys magazín'|trans }}
                </h2>
                <div class="box-articles__title-small">
                    {{ 'Představujeme trendy, radíme jak trénovat a ukazujeme naši firmu'|trans }}
                </div>
                {% include '@ShopsysShop/Front/Content/Article/list.html.twig' with { blogArticles: homepageBlogArticles } %}
                <div class="box-articles__bottom">
                    <a href="{{ url('front_blogcategory_detail', { id: constant('Shopsys\\ShopBundle\\Model\\Blog\\Category\\BlogCategory::BLOG_MAIN_PAGE_CATEGORY_ID')}) }}" class="box-articles__bottom__link underline">{{ 'Přejít na výpis všech článků'|trans }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="web__line">
        <div class="web__container">
            <ul class="list-article-main">
                <li class="list-article-main__item">
                    <div class="list-article-main__item__image" style="background: url({{ asset('assets/frontend/images/homepage_ideo_bann_2.jpg') }}); background-position: center; background-size: cover; background-repeat: no-repeat;">
                    </div>
                    <div class="list-article-main__item__content">
                        <div class="list-article-main__item__content__title">
                            {{ 'Specialisti na běh'|trans }}
                        </div>
                        <div class="list-article-main__item__content__text">
                            {{ 'Zaměřujeme se na triatlon. Proto vám dokážeme poradit vybrat správné cyklistické a plavecké vybavení, ale také běžecké.'|trans }}
                        </div>
                        <div class="list-article-main__item__content__bottom">
                            {% if ourStoryArticle is not null %}
                                <a class="list-article-main__item__content__bottom__button btn btn--success" href="{{ url('front_article_detail', { id: ourStoryArticle.id }) }}" class="btn">{{ 'Vše pro běhání'|trans }}</a>
                            {% endif %}
                        </div>
                    </div>
                </li>
                <li class="list-article-main__item">
                    <div class="list-article-main__item__image" style="background: url({{ asset('assets/frontend/images/homepage_ideo_bann_3.jpg') }}); background-position: center; background-size: cover; background-repeat: no-repeat;">
                    </div>
                    <div class="list-article-main__item__content">
                        <div class="list-article-main__item__content__title">
                            {{ 'Poradíme s plaváním'|trans }}
                        </div>
                        <div class="list-article-main__item__content__text">
                            {{ 'Nemusíte mít za sebou naplavaných tisíce kilometrů, abyste zlepšili techniku a také výdrž. Poradíme vám.'|trans }}
                        </div>
                        <div class="list-article-main__item__content__bottom">
                            {% if ourValuesArticle is not null %}
                                <a class="list-article-main__item__content__bottom__button btn btn--success" href="{{ url('front_article_detail', { id: ourValuesArticle.id }) }}" class="btn">{{ 'Plavecké potřeby'|trans }}</a>
                            {% endif %}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    {#
        TODO HIDDEN: https://app.yodiz.com/plan/pages/board.vz?cid=10273#/app/tk-36553
        Big banner

        <div class="web__line">
            <div class="web__container">
                {% include '@ShopsysShop/Front/Inline/PromoImage/index.html.twig' with {cssClass: '', bushmanClubArticle: bushmanClubArticle } only %}
            </div>
        </div>
    #}

    {% block last_visited_products %}
        {{ render(controller('ShopsysShopBundle:Front/LastVisitedProducts:show')) }}
    {% endblock %}

{% endblock %}
