{% extends '@ShopsysShop/Front/Layout/layoutWithoutPanel.html.twig' %}
{% import '@ShopsysShop/Front/Content/Product/productListMacro.html.twig' as productList %}

{% block breadcrumb %}
{% endblock %}

{% block meta_description %}
    {{- metaDescription -}}
{% endblock %}

{% block title %}
    {{- title -}}
{% endblock %}

{% block logo %}
    <h1 class="logo">
        <img src="{{ asset('assets/frontend/images/logo.png') }}" alt="{{ 'Online shop'|trans }}">
    </h1>
{% endblock %}

{% block main_content %}

    <div class="web__line">
        <div class="web__container web__container--big-padding">
            <div class="list-grid-images">
                <ul class="list-grid-images__landscape">
                    <li class="list-grid-images__landscape__item">
                        <a href="#" class="list-grid-images__landscape__link js-not-implemented-yet">
                            <img src="https://placeimg.com/640/408/any/grayscale" alt="Pro pořádné chlapy">
                            <div class="list-grid-images__button">
                                 <span class="btn btn--secondary">{{ 'Pro pořádné chlapy'|trans }}</span>
                            </div>
                        </a>
                    </li>
                    <li class="list-grid-images__landscape__item">
                        <a href="#" class="list-grid-images__landscape__link js-not-implemented-yet">
                            <img src="https://placeimg.com/640/408/any/grayscale" alt="Pro pořádné chlapy">
                            <div class="list-grid-images__button">
                                 <span class="btn btn--secondary">{{ 'Kempování'|trans }}</span>
                            </div>
                        </a>
                    </li>
                    <li class="list-grid-images__landscape__item">
                        <a href="#" class="list-grid-images__landscape__link js-not-implemented-yet">
                            <img src="https://placeimg.com/640/408/any/grayscale" alt="Pro pořádné chlapy">
                            <div class="list-grid-images__button">
                                 <span class="btn btn--secondary">{{ 'Hvězda zahradnictví'|trans }}</span>
                            </div>
                        </a>
                    </li>
                    <li class="list-grid-images__landscape__item">
                        <a href="#" class="list-grid-images__landscape__link js-not-implemented-yet">
                            <img src="https://placeimg.com/640/408/any/grayscale" alt="Pro pořádné chlapy">
                            <div class="list-grid-images__button">
                                 <span class="btn btn--secondary">{{ 'Pro pořádné chlapy'|trans }}</span>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="list-grid-images__portrait">
                    <li class="list-grid-images__portrait__item">
                        <a href="#" class="list-grid-images__portrait__link js-not-implemented-yet">
                            <img src="https://placeimg.com/393/500/any/grayscale" alt="Pro pořádné chlapy">
                            <div class="list-grid-images__button">
                                 <span class="btn btn--secondary">{{ 'Šití na míru'|trans }}</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {% if sliderItems is not empty %}
        <div class="box-slider">
            <div id="js-slider-homepage" class="box-slider__in">
                {% for item in sliderItems %}
                    <div class="box-slider__item">
                        <a href = "{{ item.link }}">{{ image(item) }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="web__line">
        <div class="web__container web__container--big-padding">
            <ul class="list-benefits">
                <li class="list-benefits__item">
                    <span class="list-benefits__item__icon">
                        <i class="svg svg-drops"></i>
                    </span>
                    <span class="list-benefits__item__text">
                        {{ 'Naši bundu budou nosit ještě vaše děti'|trans }}
                    </span>
                </li>
                <li class="list-benefits__item">
                    <span class="list-benefits__item__icon">
                        <i class="svg svg-box"></i>
                    </span>
                    <span class="list-benefits__item__text">
                        {{ 'Vše co nabízíme, máme skladem'|trans }}
                    </span>
                </li>
                <li class="list-benefits__item">
                    <span class="list-benefits__item__icon">
                        <i class="svg svg-hand"></i>
                    </span>
                    <span class="list-benefits__item__text">
                        {{ 'Neměň se, my se taky neměníme'|trans }}
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <div class="web__line">
        <div class="web__container">
            <div class="box-special-offer js-not-implemented-yet">
                <div class="box-special-offer__colored">
                    <span class="box-special-offer__colored__title-small">
                        {{ 'Legendární kapsáče jsou zpět'|trans }}
                    </span>

                    <span class="box-special-offer__colored__title">
                        {{ 'Silnější než kdy předtím...'|trans }}
                    </span>
                    <a href="#" class="box-special-offer__colored__button btn js-not-implemented-yet">{{ 'Prohlédnout'|trans }}</a>
                </div>
                <div class="box-special-offer__grayscale">
                    <img class="box-special-offer__grayscale__image js-not-implemented-yet" src="{{ asset('assets/frontend/images/design/special-offer.png') }}" alt="{{ 'Special offer'|trans }}">

                    <div class="box-special-offer__grayscale__title">
                        <span class="box-special-offer__grayscale__title__text double-lined">
                            {{ 'Jindra má na sobě'|trans }}
                        </span>
                    </div>
                    <ul class="box-special-offer__products">
                        <li class="box-special-offer__products__item js-not-implemented-yet">
                            <div class="box-special-offer__products__item__image">
                                <img src="https://placeimg.com/101/101/any" alt="Product name">
                            </div>
                            <div class="box-special-offer__products__item__content">
                                <a class="box-special-offer__products__item__content__title" href="#" title="Product name">Košile Indiana</a>
                                <span class="box-special-offer__products__item__content__price"> 1699 Kč
                                    <span class="box-special-offer__products__item__content__price__old">3099 Kč</span>
                                </span>
                                <span class="box-special-offer__products__item__content__size"> {{ 'Vaše velikost'|trans }} <span class="in-badge in-bage--outline">M</span> {{ 'skladem'|trans }} </span>
                            </div>
                        </li>
                        <li class="box-special-offer__products__item js-not-implemented-yet">
                            <div class="box-special-offer__products__item__image">
                                <img src="https://placeimg.com/101/101/any" alt="Product name">
                            </div>
                            <div class="box-special-offer__products__item__content">
                                <a class="box-special-offer__products__item__content__title" href="#" title="Product name">Košile Indiana</a>
                                <span class="box-special-offer__products__item__content__price"> 1699 Kč
                                    <span class="box-special-offer__products__item__content__price__old">3099 Kč</span>
                                </span>
                                <span class="box-special-offer__products__item__content__size"> {{ 'Vaše velikost'|trans }} <span class="in-badge in-bage--outline">M</span> {{ 'skladem'|trans }} </span>
                            </div>
                        </li>
                        <li class="box-special-offer__products__item js-not-implemented-yet">
                            <div class="box-special-offer__products__item__image">
                                <img src="https://placeimg.com/101/101/any" alt="Product name">
                            </div>
                            <div class="box-special-offer__products__item__content">
                                <a class="box-special-offer__products__item__content__title" href="#" title="Product name">Košile Indiana</a>
                                <span class="box-special-offer__products__item__content__price"> 1699 Kč
                                    <span class="box-special-offer__products__item__content__price__old">3099 Kč</span>
                                </span>
                                <span class="box-special-offer__products__item__content__size"> {{ 'Vaše velikost'|trans }} <span class="in-badge in-bage--outline">M</span> {{ 'skladem'|trans }} </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="web__line">
        <div class="web__container">
            <div class="box-promo-image js-not-implemented-yet">
                <img src="https://placeimg.com/1440/432/any/grayscale" alt="{{ 'Vážím si všech 80 000 bushmanů'|trans }}">
                <div class="box-promo-image__title double-lined-hard">
                    <span class="box-promo-image__title__text">
                        {{ 'Vážím si všech'|trans }} 80&nbsp;000 {{ 'bushmanů'|trans }}
                    </span>
                </div>
                <div class="box-promo-image__description">
                    {{ 'Jsem Jindra, otec všech bushmanů. Je potřeba, aby'|trans }}<br>
                    {{ 'tento text přesně vystihnul atmosféru nové strategie.'|trans }}<br>
                    {{ 'Celá část je vývzou pro registraci nových členů.'|trans }}
                </div>
                <div class="box-promo-image__button">
                    <a href="#" class="btn btn--secondary">{{ 'Chci se stát bushmanem'|trans }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="web__line">
        <div class="web__container web__container--big-padding">
            <ul class="list-article-main">
                <li class="list-article-main__item js-not-implemented-yet">
                    <div class="list-article-main__item__image">
                        <img src="https://placeimg.com/254/383/any/grayscale" alt="{{ 'Pomáháme'|trans }}">
                    </div>
                    <div class="list-article-main__item__content">
                        <div class="list-article-main__item__content__title">
                            {{ 'Pomáháme'|trans }}
                        </div>
                        <div class="list-article-main__item__content__text">
                            {{ 'V rámci kampaně Water for Afrika pro UNICEF jsme přišpěli na vyčištění téměř 10 000 000 litrů vody!'|trans }}
                        </div>
                        <div class="list-article-main__item__content__bottom">
                            <a class="list-article-main__item__content__bottom__button btn" href="#" class="btn">{{ 'Pomáhejte s námi'|trans }}</a>
                        </div>
                    </div>
                </li>
                <li class="list-article-main__item js-not-implemented-yet">
                    <div class="list-article-main__item__image">
                        <img src="https://placeimg.com/254/383/any/grayscale" alt="{{ 'Pomáháme'|trans }}">
                    </div>
                    <div class="list-article-main__item__content">
                        <div class="list-article-main__item__content__title">
                            {{ 'Děkujeme Vám'|trans }}
                        </div>
                        <div class="list-article-main__item__content__text">
                            {{ 'Bushmanství nás spojuje, vaše příběhy a názory nás inspirují. I proto jsou prodejny spíše místem setkání než pouze nákupu.'|trans }}
                        </div>
                        <div class="list-article-main__item__content__bottom">
                            <a class="list-article-main__item__content__bottom__button btn" href="#" class="btn">{{ 'Poznejte nás'|trans }}</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="web__line">
        <div class="web__container web__container--big-padding">
            <div class="list-articles__title-big">
                {{ 'Načerpejte inspiraci'|trans }}
            </div>
            <div class="list-articles__title-small">
                {{ 'Zážitky z cest si nenecháváme pro sebe'|trans }}
            </div>
            <ul class="list-articles">
                <li class="list-articles__item js-not-implemented-yet">
                    <div class="list-articles__item__image">
                        <a href="#" class="list-articles__item__image__link">
                            <img src="https://placeimg.com/210/170/any" alt="Bushman expedice aneb čtyři češi na kalahari">
                        </a>
                    </div>
                    <div class="list-articles__item__content">
                        <div class="list-articles__item__flags">
                            <span class="list-articles__item__flags__flag">
                                {{ 'Reportáže z cest'|trans }}
                            </span>
                        </div>
                        <a href="#" class="list-articles__item__content__title underline">
                            Bushman expedice aneb čtyři češi na kalahari
                        </a>
                        <div class="list-articles__item__content__text">
                            Je to tu zase. Po roce mne opět čeká cesta Afriky. S třemi kamarády se chystáme procestovat autem Národní park Kgalagadi, tedy poušť Kalahari na hranicích JAR, Botswany a Namibie. Máme v plánu poznat jižní a střední část parku.
                        </div>
                    </div>
                </li>
                <li class="list-articles__item js-not-implemented-yet">
                    <div class="list-articles__item__image">
                        <a href="#" class="list-articles__item__image__link">
                            <img src="https://placeimg.com/210/170/any" alt="Bushman expedice aneb čtyři češi na kalahari">
                        </a>
                    </div>
                    <div class="list-articles__item__content">
                        <div class="list-articles__item__flags">
                            <span class="list-articles__item__flags__flag">
                                {{ 'Fotografování s Bushmanem'|trans }}
                            </span>
                        </div>
                        <a href="#" class="list-articles__item__content__title underline">
                            Fotky z dovolené jako od profesionála
                        </a>
                        <div class="list-articles__item__content__text">
                            Už cestou na dovolenou si plánujete, jaké fantastické snímky místní krajiny a fauny pořídíte. Ve vašich představách jsou stejně hezké nebo dokonce ještě hezčí, než od profesionálů. Jenomže realita bývá trochu jiná… Jak to tedy udělat, aby bylo opravdu čím se chlubit po návratu?
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    {{ render(controller('ShopsysShopBundle:Front/Category:top')) }}

    {% if topProducts is not empty %}
        <div id="top-products">
            <h2>{{ 'Special offers'|trans }}</h2>
            {{ productList.list(topProducts, null, 'h3') }}
        </div>
    {% endif %}

    {% block last_visited_products %}
        {{ render(controller('ShopsysShopBundle:Front/LastVisitedProducts:show')) }}
    {% endblock %}


{% endblock %}
