{% extends '@ShopsysFramework/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Upřesňující informace pro hlášku z přenosu'|trans }}{% endblock %}
{% block h1 %}{{ 'Upřesňující informace pro hlášku z přenosu'|trans }} {% endblock %}

{% block btn %}
    <a href="{{ url('admin_transferissue_list') }}" class="btn wrap-bar__btn">
        {{ 'Zpět na seznam'|trans }}
    </a>
{% endblock %}

{% block main_content %}
    <h2>{{ 'Hláška:'|trans }} "{{ message }}"</h2>
    {{ gridView.render() }}
{% endblock %}
