<ul class="list-benefits {{ cssClass|default('') }}">
    <li class="list-benefits__item">
        <span class="list-benefits__item__icon">
            <i class="svg svg-exchange"></i>
        </span>
        <span class="list-benefits__item__text">
            {{ 'Vrácení zdarma <strong>do 30 dnů</strong>'|trans|raw }}
        </span>
    </li>
    <li class="list-benefits__item">
        <span class="list-benefits__item__icon">
            <i class="svg svg-delivery-truck"></i>
        </span>
        <span class="list-benefits__item__text">
            {{ 'Doprava zdarma při nákupu <strong>nad 2 500 Kč</strong>'|trans|raw }}
        </span>
    </li>
    <li class="list-benefits__item">
        <span class="list-benefits__item__icon">
            <i class="svg svg-towel"></i>
        </span>
        <span class="list-benefits__item__text">
            {{ 'Vyzkoušení zdarma na'|trans }}
            {#
                TODO PRG: https://app.yodiz.com/plan/pages/board.vz?cid=10273#/app/tk-36549
            #}
            <a class="list-benefits__item__text__link js-not-implemented-yet" href="">
                <strong>{{ 'prodejně v Praze'|trans }}</strong>
            </a>
        </span>
    </li>
</ul>
