{% extends '@ShopsysShop/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block title %}
    {{- article.seoTitle|default(article.name) -}}
{% endblock %}

{% block meta_description %}
    {{- article.seoMetaDescription|default(getSeoMetaDescription()) -}}
{% endblock %}

{% block main_content %}
    <h1 class="in-article__title">
        {% if article.seoH1 is not null %}
            {{ article.seoH1 }}
        {% else %}
            {{ article.name }}
        {% endif %}
    </h1>

    <div class="in-article__date">{{ article.createdAt|date('j.n.Y') }}</div>

    <div class="in-article__text in-user-text">
        {{ article.text|raw }}
    </div>
{% endblock %}
