<ul class="list-articles">
    {% for blogArticle in blogArticles %}
        <li class="list-articles__item">
            <div class="list-articles__item__image">
                <a href="{{ url('front_blogarticle_detail', {'id': blogArticle.id}) }}" class="list-articles__item__image__link">
                    {{ image(blogArticle, { size: 'list', alt: blogArticle.name, lazy: true }) }}
                </a>
            </div>
            <div class="list-articles__item__content">
                <div class="list-tags">
                    {{ render(controller('ShopsysShopBundle:Front/BlogArticle:mainBlogCategoryForBlogArticle', { blogArticle: blogArticle, spanClass: 'list-tags__tag' })) }}
                </div>
                <a href="{{ url('front_blogarticle_detail', {'id': blogArticle.id}) }}" class="list-articles__item__content__title underline">
                    {{ blogArticle.name }}
                </a>
                <div class="list-articles__item__content__text">
                    {{ blogArticle.perex }}
                </div>
                <div class="list-articles__item__content__date">
                    {{ blogArticle.createdAt|formatLongDate }}
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
