{% extends '@ShopsysFramework/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Seznam promo produktů'|trans }}{% endblock %}
{% block h1 %}{{ 'Seznam promo produktů'|trans }}{% endblock %}

{% block btn %}
    <a href="{{ url('admin_promoproduct_new') }}" class="btn btn--plus wrap-bar__btn">
        <i class="btn__icon">+</i>
        {{ 'Vytvořit nový promo produkt'|trans }}
    </a>
{% endblock %}

{% block main_content %}
    {{ render(controller('ShopsysFrameworkBundle:Admin/Domain:domainTabs')) }}

    {{ gridView.render() }}
{% endblock %}
