{% macro discountExclusionNotice(product, registrationDiscountExclusionText, promoDiscountExclusionText, allDiscountExclusionText, classModification = '') %}
    {% set domainId = getDomain().id %}

    {% if (product.isRegistrationDiscountDisabled(domainId) and product.isPromoDiscountDisabled(domainId)) or product.isInAnySaleStock %}
        {{ _self.discountExclusionNoticeDetail(allDiscountExclusionText, classModification) }}
    {% elseif product.isRegistrationDiscountDisabled(domainId) %}
        {{ _self.discountExclusionNoticeDetail(registrationDiscountExclusionText, classModification) }}
    {% elseif product.isPromoDiscountDisabled(domainId) %}
        {{ _self.discountExclusionNoticeDetail(promoDiscountExclusionText, classModification) }}
    {% endif %}
{% endmacro %}

{% macro discountExclusionNoticeDetail(discountExclusionText, classModification) %}
    {% if discountExclusionText is not empty %}
        <div class="in-discount-message {{ classModification }}">
            <div class="in-discount-message__icon">
                {% include 'Front/Svg/info.svg' %}
            </div>
            {{ discountExclusionText }}
        </div>
    {% endif %}
{% endmacro %}
