{% macro discountExclusionNotice(product, registrationDiscountExclusionText, promoDiscountExclusionText, allDiscountExclusionText, classModification = '') %}
    {% if (product.isRegistrationDiscountDisabled and product.isPromoDiscountDisabled) or product.isInAnySaleStock %}
        {{ _self.discountExclusionNoticeDetail(allDiscountExclusionText, classModification) }}
    {% elseif product.isRegistrationDiscountDisabled %}
        {{ _self.discountExclusionNoticeDetail(registrationDiscountExclusionText, classModification) }}
    {% elseif product.isPromoDiscountDisabled %}
        {{ _self.discountExclusionNoticeDetail(promoDiscountExclusionText, classModification) }}
    {% endif %}
{% endmacro %}

{% macro discountExclusionNoticeDetail(discountExclusionText, classModification) %}
    {% if discountExclusionText is not empty %}
        <div class="box-detail-add__message {{ classModification }}">
            <div class="box-detail-add__message__icon">
                {% include 'Front/Svg/info.svg' %}
            </div>
            {{ discountExclusionText }}
        </div>
    {% endif %}
{% endmacro %}